<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_37_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,236},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,236},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,158},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_37_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_37.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a34006513bbcf6838fff7a2035397d3b:1/1$</string>
            <key>textureFileName</key>
            <string>effect_37.png</string>
        </dict>
    </dict>
</plist>
