<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_38_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,186},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,186},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,140},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,140},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,140},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,140},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,94},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,94},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,48},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,48},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,48},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,48},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,94},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>effect_38_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,94},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_38.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c0616b6f030e14c15b9d0aa1d83f33f:1/1$</string>
            <key>textureFileName</key>
            <string>effect_38.png</string>
        </dict>
    </dict>
</plist>
