<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_32_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{475,278}}</string>
                <key>offset</key>
                <string>{58,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{475,278}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,2},{451,276}}</string>
                <key>offset</key>
                <string>{45,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,0},{451,276}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,298},{445,282}}</string>
                <key>offset</key>
                <string>{25,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{445,282}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,598},{459,292}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{459,292}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,296}}</string>
                <key>offset</key>
                <string>{14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{481,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{433,296}}</string>
                <key>offset</key>
                <string>{27,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{433,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,300},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,300},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,300},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,300},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,300},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,300},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,300},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,300},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,300},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,300},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,598},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,598},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{419,296}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,296}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{419,294}}</string>
                <key>offset</key>
                <string>{23,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,294}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
            <key>effect_32_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{419,294}}</string>
                <key>offset</key>
                <string>{23,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{419,294}}</string>
                <key>sourceSize</key>
                <string>{607,356}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_32.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4a177912cc42e7cf981e165256591d5:1/1$</string>
            <key>textureFileName</key>
            <string>effect_32.png</string>
        </dict>
    </dict>
</plist>
