<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_27_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1160},{198,116}}</string>
                <key>offset</key>
                <string>{-3,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,447},{198,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1160},{198,116}}</string>
                <key>offset</key>
                <string>{-3,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,447},{198,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1160},{198,116}}</string>
                <key>offset</key>
                <string>{-3,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,447},{198,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,412},{214,214}}</string>
                <key>offset</key>
                <string>{-2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,364},{214,214}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,412},{214,214}}</string>
                <key>offset</key>
                <string>{-2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,364},{214,214}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,412},{214,214}}</string>
                <key>offset</key>
                <string>{-2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,364},{214,214}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{234,408}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,172},{234,408}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{234,408}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,172},{234,408}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{234,408}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,172},{234,408}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,628},{252,530}}</string>
                <key>offset</key>
                <string>{-11,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,52},{252,530}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,628},{252,530}}</string>
                <key>offset</key>
                <string>{-11,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,52},{252,530}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,628},{252,530}}</string>
                <key>offset</key>
                <string>{-11,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,52},{252,530}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1128},{360,538}}</string>
                <key>offset</key>
                <string>{-1,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,48},{360,538}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1128},{360,538}}</string>
                <key>offset</key>
                <string>{-1,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,48},{360,538}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1128},{360,538}}</string>
                <key>offset</key>
                <string>{-1,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,48},{360,538}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,574},{362,552}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,46},{362,552}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,574},{362,552}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,46},{362,552}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,574},{362,552}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,46},{362,552}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,574},{362,552}}</string>
                <key>offset</key>
                <string>{1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,46},{362,552}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{364,564}}</string>
                <key>offset</key>
                <string>{0,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,43},{364,564}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{364,564}}</string>
                <key>offset</key>
                <string>{0,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,43},{364,564}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{364,564}}</string>
                <key>offset</key>
                <string>{0,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,43},{364,564}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{364,564}}</string>
                <key>offset</key>
                <string>{0,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,43},{364,564}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{376,570}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,42},{376,570}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{376,570}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,42},{376,570}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{376,570}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,42},{376,570}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{376,570}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,42},{376,570}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,570}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,44},{404,570}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,570}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,44},{404,570}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,570}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,44},{404,570}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,570}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,44},{404,570}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{310,304}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,293},{310,304}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{310,304}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,293},{310,304}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{310,304}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,293},{310,304}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>effect_27_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{310,304}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,293},{310,304}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_27.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02e049558e9e62b2fb338bf7da5b5881:1/1$</string>
            <key>textureFileName</key>
            <string>effect_27.png</string>
        </dict>
    </dict>
</plist>
