<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{166,240}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,34},{166,240}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{166,240}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,34},{166,240}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{166,240}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,34},{166,240}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,246}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{172,246}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,246}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{172,246}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,246}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{172,246}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,264}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{174,264}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,264}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{174,264}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,264}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{174,264}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,698},{150,220}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,57},{150,220}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,698},{150,220}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,57},{150,220}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,698},{150,220}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,57},{150,220}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,476},{154,224}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,47},{154,224}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,476},{154,224}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,47},{154,224}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,476},{154,224}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,47},{154,224}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,242},{154,232}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{154,232}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,242},{154,232}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{154,232}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,242},{154,232}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{154,232}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{158,238}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{158,238}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{158,238}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{158,238}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{158,238}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{158,238}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{162,242}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{162,242}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{162,242}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{162,242}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{162,242}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{162,242}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,492},{164,204}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,51},{164,204}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,492},{164,204}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,51},{164,204}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,492},{164,204}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,51},{164,204}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,250},{170,240}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,34},{170,240}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,250},{170,240}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,34},{170,240}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>effect_3_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,250},{170,240}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,34},{170,240}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88deed0da53bf888a018e766e470ceb6:1/1$</string>
            <key>textureFileName</key>
            <string>effect_3.png</string>
        </dict>
    </dict>
</plist>
