<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_30_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,116},{100,112}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,77},{100,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,116},{100,112}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,77},{100,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,116},{100,112}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,77},{100,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,116},{100,112}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,77},{100,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,112}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,78},{102,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,112}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,78},{102,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,112}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,78},{102,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,112}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,78},{102,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,176}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{102,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,176}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{102,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,176}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{102,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,176}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{102,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{40,76}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{40,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{40,76}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{40,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{40,76}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{40,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{40,76}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{40,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{58,112}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,53},{58,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{58,112}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,53},{58,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{58,112}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,53},{58,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{58,112}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,53},{58,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{62,116}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,40},{62,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{62,116}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,40},{62,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{62,116}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,40},{62,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{62,116}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,40},{62,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,80},{22,82}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,38},{22,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,80},{22,82}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,38},{22,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,80},{22,82}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,38},{22,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_30_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,80},{22,82}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,38},{22,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_30.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2fe445a28f01d03fe1bc3f02d86f55e:1/1$</string>
            <key>textureFileName</key>
            <string>effect_30.png</string>
        </dict>
    </dict>
</plist>
