<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,424}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{420,424}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,424}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{420,424}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,424}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{420,424}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,424}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{420,424}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,424}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{420,424}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{418,424}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{418,424}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{418,424}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{418,424}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{418,424}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{418,424}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{418,424}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{418,424}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{418,424}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{418,424}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,428},{380,418}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{380,418}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,428},{380,418}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{380,418}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,428},{380,418}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{380,418}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,428},{380,418}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{380,418}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,428},{380,418}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{380,418}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{278,256}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,109},{278,256}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{278,256}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,109},{278,256}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{278,256}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,109},{278,256}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{278,256}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,109},{278,256}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{278,256}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,109},{278,256}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{126,114}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,182},{126,114}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{126,114}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,182},{126,114}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{126,114}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,182},{126,114}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{126,114}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,182},{126,114}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>effect_16_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{126,114}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,182},{126,114}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_16.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7211f157cf6f969c9185780e0c59f87d:1/1$</string>
            <key>textureFileName</key>
            <string>effect_16.png</string>
        </dict>
    </dict>
</plist>
