<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_31_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{178,180}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{178,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_31_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,556},{178,182}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{178,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_31_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{180,184}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{180,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_31_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{178,188}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{178,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_31_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,184}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_31_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{180,184}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{180,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_31_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,372},{180,182}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{180,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_31_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,188},{180,182}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{180,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_31_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,88},{82,82}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,55},{82,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_31_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{82,84}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,54},{82,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_31.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0f0c97a76b59476ed82ca3d0f3dc6c2:1/1$</string>
            <key>textureFileName</key>
            <string>effect_31.png</string>
        </dict>
    </dict>
</plist>
