<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tmgp.gedou"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- MOUNT_UNMOUNT_FILESYSTEMS 是创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- TODO SDK接入 接入支付需要设置屏幕兼容声明 START -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />
    <!-- TODO SDK接入 接入支付需要设置屏幕兼容声明 END -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-feature android:glEsVersion="0x00020000" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- TODO SDK接入 数据上报配置, InstallChannel为int START -->
        <meta-data
            android:name="APPKEY_DENGTA"
            android:value="0I300D5HI60CVRDK" />
        <meta-data
            android:name="InstallChannel"
            android:value="ChannelIdMenifest" />
        <!-- TODO SDK接入 数据上报配置, InstallChannel为int  END -->


        <!-- 接入大厅游戏必须设置这个meta-data start -/->
        <meta-data
            android:name="QQGameHallMark"
            android:value="QQGameHallMark" />
        <meta-data
            android:name="QQGameHallAuthorVer"
            android:value="10000" />
        <!-/- 接入大厅游戏必须设置这个meta-data end -->


        <!-- TODO SDK接入 微信接入配置 START -->
        <activity
            android:name="com.tencent.tmgp.gedou.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="WXEntryActivity"
            android:launchMode="singleTop"
            android:taskAffinity="com.example.wegame.diff" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxcde873f99466f74a" />
            </intent-filter>
        </activity>
        <!-- TODO SDK接入 微信接入配置 END -->


        <!-- TODO SDK接入 QQ接入配置 START -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1000000477" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- TODO SDK接入 QQ接入配置 END -->


        <!-- TODO 内置浏览器 START -->
        <activity
            android:name="com.tencent.msdk.webview.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- TODO 内置浏览器 END -->

		<!-- 
		接入QQGame大厅
		长按home键不能出现自己的应用图标：
		androidManifest.xml文件中所有Activity的android:launchMode设置为默认值(即不设置)或者是singleTop, 不能设置为singleTask或singleInstance.
		-->
        <activity
            android:name="com.wonpee.battle.DragonBattleActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

            <!-- QQGame大厅 intent-filter start -/->
            <intent-filter>
                <action android:name="com.tencent.tmgp.gedou" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-/- QQGame大厅 intent-filter end -->


            <!-- intent-filter start -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- intent-filter end -->
        </activity>
    </application>

</manifest>