<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flash0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,9}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{356,9}}</string>
                <key>sourceSize</key>
                <string>{362,17}</string>
            </dict>
            <key>flash0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,2},{352,7}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{352,7}}</string>
                <key>sourceSize</key>
                <string>{362,17}</string>
            </dict>
            <key>flash0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{356,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{356,5}}</string>
                <key>sourceSize</key>
                <string>{362,17}</string>
            </dict>
            <key>flash0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{352,3}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{352,3}}</string>
                <key>sourceSize</key>
                <string>{362,17}</string>
            </dict>
            <key>flash0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{276,3}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,6},{276,3}}</string>
                <key>sourceSize</key>
                <string>{362,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AttackFlash.png</string>
            <key>size</key>
            <string>{64,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:623e5c5a0116069885031feddb439f74:1/1$</string>
            <key>textureFileName</key>
            <string>AttackFlash.png</string>
        </dict>
    </dict>
</plist>
