<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pao_dj3301.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,970},{129,51}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,141},{129,51}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3302.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,917},{129,51}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,141},{129,51}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3303.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,752},{147,163}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{147,163}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3304.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,806},{147,163}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{147,163}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3305.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,806},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3306.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,203},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3307.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,404},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3308.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,605},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3310.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3311.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,203},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3312.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,404},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3314.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3315.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,203},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3317.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,199}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{149,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3320.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,404},{147,199}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{147,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3321.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,605},{147,199}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{147,199}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pao_dj3322.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,605},{145,195}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,2},{145,195}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pao_dj.pvr.ccz</string>
            <key>size</key>
            <string>{650,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebbdc6f7ab7978e939da3c3314dc373d:1/1$</string>
            <key>textureFileName</key>
            <string>pao_dj.pvr.ccz</string>
        </dict>
    </dict>
</plist>
