<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa5220.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{268,106}}</string>
                <key>offset</key>
                <string>{83,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,281},{268,106}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5221.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{268,106}}</string>
                <key>offset</key>
                <string>{83,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,281},{268,106}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5222.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{322,100}}</string>
                <key>offset</key>
                <string>{107,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,287},{322,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5223.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{322,100}}</string>
                <key>offset</key>
                <string>{107,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,287},{322,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5224.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,104},{288,98}}</string>
                <key>offset</key>
                <string>{85,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,288},{288,98}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5225.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,104},{288,98}}</string>
                <key>offset</key>
                <string>{85,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,288},{288,98}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{280,64}}</string>
                <key>offset</key>
                <string>{85,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,282},{280,64}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{280,64}}</string>
                <key>offset</key>
                <string>{85,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,282},{280,64}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5228.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,110},{322,70}}</string>
                <key>offset</key>
                <string>{107,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,287},{322,70}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5229.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,110},{322,70}}</string>
                <key>offset</key>
                <string>{107,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,287},{322,70}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5230.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5231.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5232.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5233.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5234.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5235.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5236.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5237.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5238.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5239.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5240.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5241.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5242.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5243.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5244.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5245.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5246.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,138}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,247},{324,138}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5247.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,138}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,247},{324,138}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_3_3003_c.pvr.ccz</string>
            <key>size</key>
            <string>{942,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf67955aebe2a07081c6006859f42a33:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_3_3003_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
