<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,212},{96,158}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,123},{96,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,212},{96,158}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,123},{96,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,372},{118,150}}</string>
                <key>offset</key>
                <string>{-21,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,132},{118,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,372},{118,150}}</string>
                <key>offset</key>
                <string>{-21,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,132},{118,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,372},{118,150}}</string>
                <key>offset</key>
                <string>{-21,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,132},{118,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,530},{144,120}}</string>
                <key>offset</key>
                <string>{-24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,112},{144,120}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,530},{144,120}}</string>
                <key>offset</key>
                <string>{-24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,112},{144,120}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,530},{144,120}}</string>
                <key>offset</key>
                <string>{-24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,112},{144,120}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,530},{144,120}}</string>
                <key>offset</key>
                <string>{-24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,112},{144,120}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,530},{144,120}}</string>
                <key>offset</key>
                <string>{-24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,112},{144,120}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,790},{156,114}}</string>
                <key>offset</key>
                <string>{-38,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,142},{156,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,790},{156,114}}</string>
                <key>offset</key>
                <string>{-38,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,142},{156,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,790},{156,114}}</string>
                <key>offset</key>
                <string>{-38,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,142},{156,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,524},{148,118}}</string>
                <key>offset</key>
                <string>{-44,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,189},{148,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,524},{148,118}}</string>
                <key>offset</key>
                <string>{-44,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,189},{148,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,524},{148,118}}</string>
                <key>offset</key>
                <string>{-44,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,189},{148,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,674},{160,110}}</string>
                <key>offset</key>
                <string>{-40,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,198},{160,110}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,674},{160,110}}</string>
                <key>offset</key>
                <string>{-40,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,198},{160,110}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,674},{160,110}}</string>
                <key>offset</key>
                <string>{-40,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,198},{160,110}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,150},{194,74}}</string>
                <key>offset</key>
                <string>{-22,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,217},{194,74}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,150},{194,74}}</string>
                <key>offset</key>
                <string>{-22,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,217},{194,74}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,150},{194,74}}</string>
                <key>offset</key>
                <string>{-22,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,217},{194,74}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,140},{196,70}}</string>
                <key>offset</key>
                <string>{-19,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,236},{196,70}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,140},{196,70}}</string>
                <key>offset</key>
                <string>{-19,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,236},{196,70}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,140},{196,70}}</string>
                <key>offset</key>
                <string>{-19,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,236},{196,70}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{168,66}}</string>
                <key>offset</key>
                <string>{-8,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,253},{168,66}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{168,66}}</string>
                <key>offset</key>
                <string>{-8,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,253},{168,66}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,822},{156,92}}</string>
                <key>offset</key>
                <string>{-15,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,206},{156,92}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,822},{156,92}}</string>
                <key>offset</key>
                <string>{-15,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,206},{156,92}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,822},{156,92}}</string>
                <key>offset</key>
                <string>{-15,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,206},{156,92}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,676},{144,106}}</string>
                <key>offset</key>
                <string>{-28,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,183},{144,106}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,676},{144,106}}</string>
                <key>offset</key>
                <string>{-28,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,183},{144,106}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,526},{104,134}}</string>
                <key>offset</key>
                <string>{-40,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,149},{104,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,526},{104,134}}</string>
                <key>offset</key>
                <string>{-40,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,149},{104,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,226},{144,148}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,125},{144,148}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,226},{144,148}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,125},{144,148}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,372},{138,148}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,104},{138,148}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,372},{138,148}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,104},{138,148}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,836},{110,144}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,111},{110,144}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,836},{110,144}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,111},{110,144}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,370},{116,158}}</string>
                <key>offset</key>
                <string>{-19,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,146},{116,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,370},{116,158}}</string>
                <key>offset</key>
                <string>{-19,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,146},{116,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,370},{116,158}}</string>
                <key>offset</key>
                <string>{-19,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,146},{116,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,370},{116,158}}</string>
                <key>offset</key>
                <string>{-19,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,146},{116,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,674},{136,140}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,145},{136,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,674},{136,140}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,145},{136,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,674},{136,140}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,145},{136,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,674},{136,140}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,145},{136,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,522},{128,150}}</string>
                <key>offset</key>
                <string>{-36,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,136},{128,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,522},{128,150}}</string>
                <key>offset</key>
                <string>{-36,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,136},{128,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,522},{128,150}}</string>
                <key>offset</key>
                <string>{-36,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,136},{128,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,522},{128,150}}</string>
                <key>offset</key>
                <string>{-36,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,136},{128,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{114,170}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,116},{114,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{114,170}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,116},{114,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{114,170}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,116},{114,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{114,170}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,116},{114,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,370},{154,128}}</string>
                <key>offset</key>
                <string>{-28,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,158},{154,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,370},{154,128}}</string>
                <key>offset</key>
                <string>{-28,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,158},{154,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,370},{154,128}}</string>
                <key>offset</key>
                <string>{-28,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,158},{154,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{246,98}}</string>
                <key>offset</key>
                <string>{-45,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,178},{246,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{246,98}}</string>
                <key>offset</key>
                <string>{-45,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,178},{246,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{246,98}}</string>
                <key>offset</key>
                <string>{-45,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,178},{246,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{208,136}}</string>
                <key>offset</key>
                <string>{-32,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,143},{208,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{208,136}}</string>
                <key>offset</key>
                <string>{-32,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,143},{208,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{208,136}}</string>
                <key>offset</key>
                <string>{-32,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,143},{208,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{208,136}}</string>
                <key>offset</key>
                <string>{-32,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,143},{208,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{208,136}}</string>
                <key>offset</key>
                <string>{-32,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,143},{208,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{184,146}}</string>
                <key>offset</key>
                <string>{-35,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,149},{184,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{184,146}}</string>
                <key>offset</key>
                <string>{-35,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,149},{184,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{184,146}}</string>
                <key>offset</key>
                <string>{-35,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,149},{184,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{184,146}}</string>
                <key>offset</key>
                <string>{-35,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,149},{184,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0901.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,212},{138,156}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,130},{138,156}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0902.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{106,182}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,96},{106,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0903.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{106,182}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,96},{106,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0904.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{106,182}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,96},{106,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0905.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{122,162}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,101},{122,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0906.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{122,162}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,101},{122,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0907.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{122,162}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,101},{122,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0908.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{122,162}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,101},{122,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0909.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,632},{122,156}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,102},{122,156}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0910.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,632},{122,156}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,102},{122,156}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0911.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,632},{122,156}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,102},{122,156}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0912.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,632},{122,156}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,102},{122,156}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0913.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,196}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,90},{150,196}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0914.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,196}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,90},{150,196}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0915.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,196}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,90},{150,196}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0916.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,226},{126,142}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,145},{126,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0917.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,226},{126,142}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,145},{126,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0918.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,816},{124,136}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,151},{124,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_1.pvr.ccz</string>
            <key>size</key>
            <string>{618,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:151f538ab42081b1f550482f82e7c8a9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
