<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa5401.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5402.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5403.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5404.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5405.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5406.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5407.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5408.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5409.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5410.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5411.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5412.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5413.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5414.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5415.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{314,110}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,209},{314,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{314,110}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,209},{314,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5418.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{442,134}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,193},{442,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,134}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,193},{442,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,134}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,193},{442,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5429.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,138},{220,114}}</string>
                <key>offset</key>
                <string>{-74,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,203},{220,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5430.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,138},{220,114}}</string>
                <key>offset</key>
                <string>{-74,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,203},{220,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5431.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,138},{194,114}}</string>
                <key>offset</key>
                <string>{-57,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,205},{194,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5432.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,138},{194,114}}</string>
                <key>offset</key>
                <string>{-57,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,205},{194,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5433.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,138},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_3_3005_b.pvr.ccz</string>
            <key>size</key>
            <string>{890,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:113cff6e10724ff25a4d16a1c5d81c5a:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_3_3005_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
