<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa4701.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4702.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4703.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4704.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4705.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4710.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{142,72}}</string>
                <key>offset</key>
                <string>{55,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,199},{142,72}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4711.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{142,72}}</string>
                <key>offset</key>
                <string>{55,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,199},{142,72}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4712.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{160,80}}</string>
                <key>offset</key>
                <string>{48,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,204},{160,80}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4713.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{160,80}}</string>
                <key>offset</key>
                <string>{48,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,204},{160,80}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4714.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{234,62}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,223},{234,62}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4715.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{234,62}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,223},{234,62}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4716.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,238},{212,68}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,217},{212,68}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4717.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,238},{212,68}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,217},{212,68}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4718.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4721.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4722.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4723.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4724.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4725.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4726.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4727.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,232},{164,164}}</string>
                <key>offset</key>
                <string>{44,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,126},{164,164}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4728.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,208},{120,190}}</string>
                <key>offset</key>
                <string>{68,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,100},{120,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4729.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,212},{128,186}}</string>
                <key>offset</key>
                <string>{66,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,88},{128,186}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4730.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,212},{128,186}}</string>
                <key>offset</key>
                <string>{66,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,88},{128,186}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4731.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,212},{128,186}}</string>
                <key>offset</key>
                <string>{66,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,88},{128,186}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4732.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,212},{136,178}}</string>
                <key>offset</key>
                <string>{64,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,88},{136,178}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4733.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,212},{136,178}}</string>
                <key>offset</key>
                <string>{64,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,88},{136,178}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4734.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4735.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4736.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4737.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4738.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{228,196}}</string>
                <key>offset</key>
                <string>{39,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,121},{228,196}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4739.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{218,186}}</string>
                <key>offset</key>
                <string>{44,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,128},{218,186}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4740.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{204,198}}</string>
                <key>offset</key>
                <string>{43,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,127},{204,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4741.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{204,198}}</string>
                <key>offset</key>
                <string>{43,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,127},{204,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4742.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{208,182}}</string>
                <key>offset</key>
                <string>{39,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,133},{208,182}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4743.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4744.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4745.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4746.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4747.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4748.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4749.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4750.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4751.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4752.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4753.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4754.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4755.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4756.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4757.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,308},{66,92}}</string>
                <key>offset</key>
                <string>{-48,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,191},{66,92}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4758.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,308},{66,92}}</string>
                <key>offset</key>
                <string>{-48,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,191},{66,92}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4759.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,222},{156,94}}</string>
                <key>offset</key>
                <string>{-31,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,192},{156,94}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4760.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,222},{156,94}}</string>
                <key>offset</key>
                <string>{-31,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,192},{156,94}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4761.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,88}}</string>
                <key>offset</key>
                <string>{40,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,198},{306,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4762.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,88}}</string>
                <key>offset</key>
                <string>{40,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,198},{306,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_3_b.pvr.ccz</string>
            <key>size</key>
            <string>{1000,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:835fd2ef3dafaffb254d04f771bfc678:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_3_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
