<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa5248.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,82},{396,132}}</string>
                <key>offset</key>
                <string>{72,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,253},{396,132}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5249.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,82},{396,132}}</string>
                <key>offset</key>
                <string>{72,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,253},{396,132}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5250.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,158}}</string>
                <key>offset</key>
                <string>{60,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,237},{398,158}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5251.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,158}}</string>
                <key>offset</key>
                <string>{60,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,237},{398,158}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5252.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{444,78}}</string>
                <key>offset</key>
                <string>{93,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,291},{444,78}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5253.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{444,78}}</string>
                <key>offset</key>
                <string>{93,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,291},{444,78}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_3_3003_d.pvr.ccz</string>
            <key>size</key>
            <string>{848,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5d6ad4e27a2649f9b488ed5e92bbf4c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_3_3003_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
