<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paojian0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,368},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,368},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_2_2007_d.pvr.ccz</string>
            <key>size</key>
            <string>{750,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d51c01c306f55776a28afeeaef8a08f:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_2_2007_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
