<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa3022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,190}}</string>
                <key>offset</key>
                <string>{92,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,143},{204,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa3023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,190}}</string>
                <key>offset</key>
                <string>{92,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,143},{204,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa3024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{204,178}}</string>
                <key>offset</key>
                <string>{92,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,155},{204,178}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa3025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{204,178}}</string>
                <key>offset</key>
                <string>{92,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,155},{204,178}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa3026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{204,176}}</string>
                <key>offset</key>
                <string>{92,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,157},{204,176}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa3027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{204,176}}</string>
                <key>offset</key>
                <string>{92,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,157},{204,176}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa3028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{204,180}}</string>
                <key>offset</key>
                <string>{92,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,157},{204,180}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa3029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{204,180}}</string>
                <key>offset</key>
                <string>{92,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,157},{204,180}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa3030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{204,180}}</string>
                <key>offset</key>
                <string>{92,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,157},{204,180}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_2_2001_c.pvr.ccz</string>
            <key>size</key>
            <string>{208,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa76820e425a0e40f5a0d801934090d3:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_2_2001_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
