<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa4101.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,562},{122,74}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,152},{122,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4102.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,562},{122,74}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,152},{122,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4103.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,562},{122,74}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,152},{122,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4104.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,400},{128,74}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,152},{128,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4105.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,400},{128,74}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,152},{128,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4106.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,400},{128,74}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,152},{128,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{134,72}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,154},{134,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{134,72}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,154},{134,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{134,72}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,154},{134,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{142,72}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,154},{142,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{142,72}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,154},{142,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{142,72}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,154},{142,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{150,76}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,151},{150,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{150,76}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,151},{150,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{150,76}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,151},{150,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4116.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,68},{92,66}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,151},{92,66}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4117.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,68},{92,66}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,151},{92,66}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4118.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,68},{92,66}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,151},{92,66}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4119.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{94,64}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,152},{94,64}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4120.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{94,64}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,152},{94,64}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4121.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{94,64}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,152},{94,64}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4122.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,276},{96,62}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,153},{96,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4123.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,276},{96,62}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,153},{96,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4124.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,276},{96,62}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,153},{96,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4125.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,212},{96,62}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,154},{96,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4126.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,212},{96,62}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,154},{96,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4127.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,212},{96,62}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,154},{96,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4128.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,340},{88,58}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,156},{88,58}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{122,74}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,152},{122,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{122,74}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,152},{122,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{122,74}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,152},{122,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{126,74}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,152},{126,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{126,74}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,152},{126,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{126,74}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,152},{126,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{136,84}}</string>
                <key>offset</key>
                <string>{-7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,142},{136,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4508.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{136,84}}</string>
                <key>offset</key>
                <string>{-7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,142},{136,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4509.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{136,84}}</string>
                <key>offset</key>
                <string>{-7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,142},{136,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4510.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{142,84}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,142},{142,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{142,84}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,142},{142,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{142,84}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,142},{142,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,84}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,143},{150,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,84}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,143},{150,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,84}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,143},{150,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4516.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,136},{90,74}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,143},{90,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4517.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,136},{90,74}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,143},{90,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4518.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,136},{90,74}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,143},{90,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_3_a.pvr.ccz</string>
            <key>size</key>
            <string>{250,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8626a6f523b2bb2bcfffd7f656ae896:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_3_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
