<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herob2101.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,410},{132,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,93},{132,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2102.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,410},{132,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,93},{132,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2103.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,410},{132,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,93},{132,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2104.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,546},{132,130}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{132,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2105.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,546},{132,130}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{132,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2106.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,546},{132,130}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{132,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2107.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,546},{132,130}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{132,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2108.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,546},{132,130}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{132,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2109.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,546},{132,130}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,97},{132,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2110.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,140},{138,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,93},{138,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2111.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,140},{138,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,93},{138,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2112.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,140},{138,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,93},{138,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2113.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{144,136}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,92},{144,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2114.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{144,136}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,92},{144,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2115.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{144,136}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,92},{144,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{142,134}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,93},{142,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{142,134}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,93},{142,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{142,134}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,93},{142,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2119.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,268},{100,124}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,96},{100,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2120.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,268},{100,124}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,96},{100,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2121.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,268},{100,124}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,96},{100,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2122.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,520},{100,120}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,99},{100,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2123.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,520},{100,120}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,99},{100,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2124.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,520},{100,120}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,99},{100,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{96,120}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,99},{96,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{96,120}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,99},{96,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{96,120}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,99},{96,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2501.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{132,142}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,85},{132,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2502.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{132,142}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,85},{132,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2503.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{132,142}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,85},{132,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2504.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,276},{132,136}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,91},{132,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2505.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,276},{132,136}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,91},{132,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2506.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,276},{132,136}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,91},{132,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2507.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,410},{132,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,93},{132,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2508.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,410},{132,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,93},{132,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2509.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,410},{132,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,93},{132,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2510.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{138,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,93},{138,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{138,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,93},{138,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{138,134}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,93},{138,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{144,140}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,88},{144,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{144,140}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,88},{144,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{144,140}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,88},{144,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,146}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{142,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,146}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{142,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,146}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{142,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2519.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,140},{102,134}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,86},{102,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2520.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,140},{102,134}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,86},{102,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2521.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,140},{102,134}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,86},{102,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2522.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,276},{108,130}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,90},{108,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2523.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,276},{108,130}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,90},{108,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2524.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,276},{108,130}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,90},{108,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2525.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,136},{106,130}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,89},{106,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2526.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,136},{106,130}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,89},{106,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2527.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,136},{106,130}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,89},{106,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2528.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,394},{98,124}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,95},{98,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>herob2529.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,394},{98,124}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,95},{98,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_2_b.pvr.ccz</string>
            <key>size</key>
            <string>{509,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65e26cc4b36013a51e0ae1be194206d4:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_2_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
