<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa1501.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1502.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1503.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1504.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1505.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1506.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1507.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1508.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1509.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1510.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,78}}</string>
                <key>offset</key>
                <string>{-9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,117},{232,78}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,78}}</string>
                <key>offset</key>
                <string>{-9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,117},{232,78}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{222,72}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,117},{222,72}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{222,72}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,117},{222,72}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{212,66}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,117},{212,66}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{212,66}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,117},{212,66}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{210,72}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,113},{210,72}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{210,72}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,113},{210,72}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1519.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,224},{186,58}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,127},{186,58}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1520.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,224},{186,58}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,127},{186,58}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1521.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,224},{188,56}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,127},{188,56}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1522.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,224},{188,56}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,127},{188,56}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1523.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,224},{178,48}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,132},{178,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>heroa1524.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_1_1006_a.pvr.ccz</string>
            <key>size</key>
            <string>{244,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b1f93ec335238b8b604ac5c2ee35dd7:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_1_1006_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
