<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{203,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{203,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,115}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,61},{209,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1104.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{203,109}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{203,109}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1106.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{205,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{205,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1107.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{203,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1108.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{203,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,115}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,61},{209,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1110.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{203,109}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1111.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{203,109}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1112.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{205,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{205,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1113.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{203,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1114.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{203,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,115}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,61},{209,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1116.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{203,109}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1117.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{203,109}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1118.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{205,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{205,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1119.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{203,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1120.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{203,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,115}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,61},{209,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1122.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{203,109}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1123.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{203,109}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1124.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{205,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{205,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1125.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{203,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1126.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{203,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,115}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,61},{209,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1128.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{203,109}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1129.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{203,109}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{203,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa1130.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{205,109}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{205,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_1_1002_a.pvr.ccz</string>
            <key>size</key>
            <string>{830,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20d888969ace521bf5afd7942c320f18:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_1_1002_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
