<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero5201.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,754},{258,200}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,215},{258,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5202.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,754},{258,200}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,215},{258,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5203.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,754},{258,200}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,215},{258,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5204.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,192},{278,192}}</string>
                <key>offset</key>
                <string>{39,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,225},{278,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5205.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,192},{278,192}}</string>
                <key>offset</key>
                <string>{39,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,225},{278,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5206.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,192},{278,192}}</string>
                <key>offset</key>
                <string>{39,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,225},{278,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5207.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,192},{278,192}}</string>
                <key>offset</key>
                <string>{39,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,225},{278,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{344,186}}</string>
                <key>offset</key>
                <string>{126,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,234},{344,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5209.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,560},{272,192}}</string>
                <key>offset</key>
                <string>{38,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,227},{272,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5210.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,560},{272,192}}</string>
                <key>offset</key>
                <string>{38,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,227},{272,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{334,194}}</string>
                <key>offset</key>
                <string>{122,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,225},{334,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5212.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{262,188}}</string>
                <key>offset</key>
                <string>{44,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,229},{262,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5213.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{262,188}}</string>
                <key>offset</key>
                <string>{44,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,229},{262,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5214.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{344,180}}</string>
                <key>offset</key>
                <string>{127,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,239},{344,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5215.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,566},{268,192}}</string>
                <key>offset</key>
                <string>{38,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,226},{268,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5216.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,566},{268,192}}</string>
                <key>offset</key>
                <string>{38,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,226},{268,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,192}}</string>
                <key>offset</key>
                <string>{122,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,226},{348,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5218.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,560},{272,192}}</string>
                <key>offset</key>
                <string>{38,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,227},{272,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5219.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,560},{272,192}}</string>
                <key>offset</key>
                <string>{38,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,227},{272,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{334,194}}</string>
                <key>offset</key>
                <string>{122,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,225},{334,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5221.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{262,188}}</string>
                <key>offset</key>
                <string>{44,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,229},{262,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5222.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{262,188}}</string>
                <key>offset</key>
                <string>{44,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,229},{262,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5223.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{344,180}}</string>
                <key>offset</key>
                <string>{127,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,239},{344,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5224.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,566},{268,192}}</string>
                <key>offset</key>
                <string>{38,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,226},{268,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5225.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,566},{268,192}}</string>
                <key>offset</key>
                <string>{38,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,226},{268,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,192}}</string>
                <key>offset</key>
                <string>{122,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,226},{348,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{302,182}}</string>
                <key>offset</key>
                <string>{82,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,236},{302,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5228.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{302,182}}</string>
                <key>offset</key>
                <string>{82,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,236},{302,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5229.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{302,182}}</string>
                <key>offset</key>
                <string>{82,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,236},{302,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5230.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,382},{278,176}}</string>
                <key>offset</key>
                <string>{41,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,241},{278,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5231.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,382},{278,176}}</string>
                <key>offset</key>
                <string>{41,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,241},{278,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5232.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,382},{278,176}}</string>
                <key>offset</key>
                <string>{41,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,241},{278,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5233.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,382},{278,176}}</string>
                <key>offset</key>
                <string>{41,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,241},{278,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5234.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,382},{278,176}}</string>
                <key>offset</key>
                <string>{41,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,241},{278,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5235.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,386},{276,178}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,243},{276,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5236.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,386},{276,178}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,243},{276,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5237.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,386},{276,178}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,243},{276,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5238.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,386},{276,178}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,243},{276,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5239.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,386},{276,178}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,243},{276,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5240.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,386},{276,178}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,243},{276,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5241.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,386},{276,178}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,243},{276,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5242.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,184},{326,196}}</string>
                <key>offset</key>
                <string>{101,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,223},{326,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5243.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{328,198}}</string>
                <key>offset</key>
                <string>{106,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,221},{328,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5244.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{328,198}}</string>
                <key>offset</key>
                <string>{106,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,221},{328,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5245.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{328,198}}</string>
                <key>offset</key>
                <string>{106,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,221},{328,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5246.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{328,198}}</string>
                <key>offset</key>
                <string>{106,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,221},{328,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5247.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{328,198}}</string>
                <key>offset</key>
                <string>{106,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,221},{328,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5248.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{328,198}}</string>
                <key>offset</key>
                <string>{106,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,221},{328,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5249.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{328,198}}</string>
                <key>offset</key>
                <string>{106,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,221},{328,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5250.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{328,198}}</string>
                <key>offset</key>
                <string>{106,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,221},{328,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5251.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,760},{256,200}}</string>
                <key>offset</key>
                <string>{48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,216},{256,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5252.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,760},{256,200}}</string>
                <key>offset</key>
                <string>{48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,216},{256,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5253.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,760},{256,200}}</string>
                <key>offset</key>
                <string>{48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,216},{256,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_3_3003_a.pvr.ccz</string>
            <key>size</key>
            <string>{962,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1348481328d88d5709d658762ea4844e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_3_3003_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
