<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa2101.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,126},{122,136}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,93},{122,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2102.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,126},{122,136}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,93},{122,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2103.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,126},{122,136}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,93},{122,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2104.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{122,142}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,87},{122,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2105.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{122,142}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,87},{122,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2106.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{122,142}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,87},{122,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2107.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,288},{134,132}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,97},{134,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2108.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,288},{134,132}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,97},{134,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2109.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,288},{134,132}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,97},{134,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{142,134}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,96},{142,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{142,134}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,96},{142,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{142,134}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,96},{142,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{150,138}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,93},{150,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{150,138}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,93},{150,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{150,138}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,93},{150,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{82,128}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,93},{82,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{82,128}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,93},{82,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{82,128}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,93},{82,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2119.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{84,122}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,97},{84,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2120.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{84,122}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,97},{84,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2121.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{84,122}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,97},{84,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2122.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,126},{92,120}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,99},{92,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2123.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,126},{92,120}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,99},{92,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2124.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,126},{92,120}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,99},{92,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2125.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,382},{90,120}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,99},{90,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2126.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,382},{90,120}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,99},{90,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2127.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,382},{90,120}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,99},{90,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2501.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{122,146}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,83},{122,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2502.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{122,146}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,83},{122,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2503.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{122,146}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,83},{122,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2504.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,126},{124,140}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,89},{124,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2505.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,126},{124,140}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,89},{124,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2506.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,126},{124,140}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,89},{124,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2507.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,142},{136,136}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,93},{136,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2508.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,142},{136,136}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,93},{136,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2509.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,142},{136,136}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,93},{136,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2510.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{142,138}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,92},{142,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2511.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{142,138}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,92},{142,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2512.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{142,138}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,92},{142,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,144}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,87},{150,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,144}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,87},{150,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,144}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,87},{150,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2516.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,252},{104,140}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,81},{104,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2517.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,252},{104,140}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,81},{104,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2518.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,252},{104,140}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,81},{104,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2519.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,358},{104,132}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,87},{104,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2520.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,358},{104,132}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,87},{104,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2521.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,358},{104,132}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,87},{104,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2522.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,250},{102,130}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,89},{102,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2523.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,250},{102,130}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,89},{102,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2524.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,250},{102,130}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,89},{102,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2525.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,250},{106,130}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,89},{106,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2526.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,250},{106,130}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,89},{106,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2527.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,250},{106,130}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,89},{106,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2528.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,382},{102,124}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,94},{102,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa2529.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,382},{102,124}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,94},{102,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_2_a.pvr.ccz</string>
            <key>size</key>
            <string>{680,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af0458d33566b5b2db0c091a31d8ac2f:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_2_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
