<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero2736.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,260},{222,238}}</string>
                <key>offset</key>
                <string>{-39,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,200},{222,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2737.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,260},{222,238}}</string>
                <key>offset</key>
                <string>{-39,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,200},{222,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2738.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,260},{222,238}}</string>
                <key>offset</key>
                <string>{-39,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,200},{222,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2739.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,260},{222,238}}</string>
                <key>offset</key>
                <string>{-39,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,200},{222,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2740.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{220,226}}</string>
                <key>offset</key>
                <string>{-39,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,208},{220,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2741.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{220,226}}</string>
                <key>offset</key>
                <string>{-39,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,208},{220,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2742.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{288,246}}</string>
                <key>offset</key>
                <string>{86,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,184},{288,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2743.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{288,246}}</string>
                <key>offset</key>
                <string>{86,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,184},{288,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2744.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,308}}</string>
                <key>offset</key>
                <string>{44,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,110},{236,308}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2745.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,308}}</string>
                <key>offset</key>
                <string>{44,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,110},{236,308}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2746.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,308}}</string>
                <key>offset</key>
                <string>{44,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,110},{236,308}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2747.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,308}}</string>
                <key>offset</key>
                <string>{44,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,110},{236,308}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2748.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,308}}</string>
                <key>offset</key>
                <string>{44,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,110},{236,308}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2749.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,500},{88,272}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,135},{88,272}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2750.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,500},{88,272}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,135},{88,272}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2751.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,500},{88,272}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,135},{88,272}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2752.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{256,238}}</string>
                <key>offset</key>
                <string>{-62,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,176},{256,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2753.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{256,238}}</string>
                <key>offset</key>
                <string>{-62,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,176},{256,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2754.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{256,238}}</string>
                <key>offset</key>
                <string>{-62,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,176},{256,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2755.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{256,238}}</string>
                <key>offset</key>
                <string>{-62,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,176},{256,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2756.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{204,210}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,194},{204,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2757.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{204,210}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,194},{204,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2758.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{204,210}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,194},{204,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2759.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{204,210}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,194},{204,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2760.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,224},{220,222}}</string>
                <key>offset</key>
                <string>{-56,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,202},{220,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2761.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,224},{220,222}}</string>
                <key>offset</key>
                <string>{-56,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,202},{220,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2762.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,224},{220,222}}</string>
                <key>offset</key>
                <string>{-56,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,202},{220,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2763.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,456},{312,160}}</string>
                <key>offset</key>
                <string>{63,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,281},{312,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2764.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,456},{312,160}}</string>
                <key>offset</key>
                <string>{63,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,281},{312,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2765.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{308,164}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2766.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{308,164}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2767.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{308,164}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2768.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{308,164}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2769.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{308,164}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2770.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{308,164}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2771.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{308,164}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2772.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{308,164}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2773.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,590},{312,160}}</string>
                <key>offset</key>
                <string>{61,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,281},{312,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2774.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,590},{312,160}}</string>
                <key>offset</key>
                <string>{61,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,281},{312,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2775.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,590},{312,160}}</string>
                <key>offset</key>
                <string>{61,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,281},{312,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2776.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,260},{264,194}}</string>
                <key>offset</key>
                <string>{36,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,241},{264,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2777.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,260},{264,194}}</string>
                <key>offset</key>
                <string>{36,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,241},{264,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2778.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,260},{264,194}}</string>
                <key>offset</key>
                <string>{36,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,241},{264,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2779.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,446},{178,204}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,219},{178,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2780.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,446},{178,204}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,219},{178,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2781.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,446},{178,204}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,219},{178,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_2_b.pvr.ccz</string>
            <key>size</key>
            <string>{968,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de6b60a37840bbb187328e1ad37622d0:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_2_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
