<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa4763.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,88}}</string>
                <key>offset</key>
                <string>{64,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,198},{284,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4764.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,88}}</string>
                <key>offset</key>
                <string>{64,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,198},{284,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4765.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{214,88}}</string>
                <key>offset</key>
                <string>{29,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,198},{214,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4766.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{214,88}}</string>
                <key>offset</key>
                <string>{29,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,198},{214,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4767.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,400},{174,88}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,198},{174,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4768.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,400},{174,88}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,198},{174,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4769.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,400},{174,88}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,198},{174,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4770.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,400},{174,88}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,198},{174,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4771.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{182,88}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,198},{182,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4772.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{182,88}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,198},{182,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4773.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{162,94}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,192},{162,94}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4774.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{162,94}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,192},{162,94}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4775.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{162,94}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,192},{162,94}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4776.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4777.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4778.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4779.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4780.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>heroa4801.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4802.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4803.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4804.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{92,132}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,101},{92,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4805.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,576},{116,144}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,102},{116,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4806.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{122,160}}</string>
                <key>offset</key>
                <string>{12,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,102},{122,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4807.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,852},{138,124}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,102},{138,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4808.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,268},{144,130}}</string>
                <key>offset</key>
                <string>{21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,101},{144,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4809.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,126},{156,140}}</string>
                <key>offset</key>
                <string>{26,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,103},{156,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4810.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4811.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4812.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa4813.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,722},{124,118}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,99},{124,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_3_c.pvr.ccz</string>
            <key>size</key>
            <string>{254,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:328de2a9cd5c8d034efa0f3e3b18f47f:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_3_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
