<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero2101.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,210},{184,220}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,205},{184,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2102.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,210},{184,220}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,205},{184,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2103.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,210},{184,220}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,205},{184,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2104.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,432},{182,220}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,205},{182,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2105.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,432},{182,220}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,205},{182,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2106.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,432},{182,220}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,205},{182,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2107.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,432},{182,220}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,205},{182,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2108.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,654},{180,220}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,205},{180,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2109.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,654},{180,220}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,205},{180,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2110.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,654},{180,220}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,205},{180,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2111.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,654},{180,220}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,205},{180,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2112.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,184},{180,220}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,205},{180,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2113.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,184},{180,220}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,205},{180,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2114.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,184},{180,220}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,205},{180,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2115.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,184},{180,220}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,205},{180,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2116.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{180,224}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,201},{180,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2117.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{180,224}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,201},{180,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2118.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{180,224}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,201},{180,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2119.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{180,224}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,201},{180,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2120.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,446},{182,228}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,197},{182,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2121.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,446},{182,228}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,197},{182,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2122.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,446},{182,228}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,197},{182,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2123.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,446},{182,228}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,197},{182,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2124.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,446},{184,222}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,203},{184,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2125.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,446},{184,222}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,203},{184,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2126.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,446},{184,222}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,203},{184,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2127.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,446},{184,222}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,203},{184,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,280}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,91},{200,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,280}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,91},{200,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,280}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,91},{200,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,280}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,91},{200,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,280}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,91},{200,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2206.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,670},{214,178}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,164},{214,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2207.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,670},{214,178}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,164},{214,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2208.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,670},{214,178}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,164},{214,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2209.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,670},{214,178}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,164},{214,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2210.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,670},{214,178}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,164},{214,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2501.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{206,230}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,191},{206,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2502.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{206,230}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,191},{206,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2503.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{206,230}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,191},{206,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{218,226}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,180},{218,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{218,226}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,180},{218,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{218,226}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,180},{218,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{218,228}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,191},{218,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2508.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{218,228}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,191},{218,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2509.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{218,228}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,191},{218,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2510.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{218,226}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,196},{218,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2511.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{218,226}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,196},{218,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2512.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{218,226}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,196},{218,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2513.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,462},{212,222}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,193},{212,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2514.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,462},{212,222}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,193},{212,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2515.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,462},{212,222}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,193},{212,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2516.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,462},{212,222}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,193},{212,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2517.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,686},{202,224}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,184},{202,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2518.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,676},{184,224}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{184,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2519.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,676},{184,224}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{184,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2520.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,676},{184,224}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{184,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2521.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,676},{184,224}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{184,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2522.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,676},{184,224}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{184,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2523.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{184,232}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,191},{184,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2524.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{184,232}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,191},{184,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2525.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{184,232}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,191},{184,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2526.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,210},{198,234}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,192},{198,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2527.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,210},{198,234}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,192},{198,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2528.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,210},{198,234}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,192},{198,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2529.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,230},{206,230}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,191},{206,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_2.pvr.ccz</string>
            <key>size</key>
            <string>{998,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f78d2bbda1754ab4b71fff9e0e3880c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
