<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,152}}</string>
                <key>offset</key>
                <string>{31,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,110},{164,152}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,152}}</string>
                <key>offset</key>
                <string>{31,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,110},{164,152}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{124,136}}</string>
                <key>offset</key>
                <string>{37,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,124},{124,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{124,136}}</string>
                <key>offset</key>
                <string>{37,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,124},{124,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{124,28}}</string>
                <key>offset</key>
                <string>{27,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,150},{124,28}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{124,28}}</string>
                <key>offset</key>
                <string>{27,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,150},{124,28}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,129},{212,70}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,126},{212,70}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,129},{212,70}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,126},{212,70}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,121},{208,68}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,128},{208,68}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,121},{208,68}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,128},{208,68}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,129},{204,64}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,128},{204,64}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,129},{204,64}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,128},{204,64}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,129},{204,62}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,131},{204,62}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,129},{204,62}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,131},{204,62}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,121},{186,60}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,133},{186,60}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,121},{186,60}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,133},{186,60}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,331},{182,58}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,134},{182,58}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,331},{182,58}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,134},{182,58}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,156},{178,56}}</string>
                <key>offset</key>
                <string>{23,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,134},{178,56}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,156},{178,56}}</string>
                <key>offset</key>
                <string>{23,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,134},{178,56}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,343},{170,52}}</string>
                <key>offset</key>
                <string>{22,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,135},{170,52}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,343},{170,52}}</string>
                <key>offset</key>
                <string>{22,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,135},{170,52}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,343},{144,44}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,137},{144,44}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,343},{144,44}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,137},{144,44}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-112,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-112,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-112,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-112,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-112,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-112,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-112,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-112,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{167,125}}</string>
                <key>offset</key>
                <string>{19,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{167,125}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{171,117}}</string>
                <key>offset</key>
                <string>{21,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,81},{171,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,336},{177,115}}</string>
                <key>offset</key>
                <string>{15,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,83},{177,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{179,115}}</string>
                <key>offset</key>
                <string>{14,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,82},{179,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,343},{161,65}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,122},{161,65}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>heroa0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{1,1}}</string>
                <key>offset</key>
                <string>{-112,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_1_b.pvr.ccz</string>
            <key>size</key>
            <string>{511,515}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab84f2bc0489f39df8a3fc13a15c4e3c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_1_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
