<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paobz1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{342,160}}</string>
                <key>offset</key>
                <string>{-19,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,135},{342,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{342,160}}</string>
                <key>offset</key>
                <string>{-19,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,135},{342,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,618},{376,322}}</string>
                <key>offset</key>
                <string>{-33,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,76},{376,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,618},{376,322}}</string>
                <key>offset</key>
                <string>{-33,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,76},{376,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{420,322}}</string>
                <key>offset</key>
                <string>{15,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,76},{420,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{420,322}}</string>
                <key>offset</key>
                <string>{15,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,76},{420,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{388,322}}</string>
                <key>offset</key>
                <string>{6,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,76},{388,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{388,322}}</string>
                <key>offset</key>
                <string>{6,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,76},{388,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,596},{384,322}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,76},{384,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,596},{384,322}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,76},{384,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,320}}</string>
                <key>offset</key>
                <string>{-20,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,80},{434,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,320}}</string>
                <key>offset</key>
                <string>{-20,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,80},{434,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{402,270}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,130},{402,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{402,270}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,130},{402,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paobz1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,346},{370,270}}</string>
                <key>offset</key>
                <string>{-12,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,130},{370,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_paobz_1001_a.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b8aeab4fdee745572e5262fe1eef825:1/1$</string>
            <key>textureFileName</key>
            <string>Role_paobz_1001_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
