<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,274},{28,28}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,109},{28,28}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,850},{100,100}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{100,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,744},{104,104}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,75},{104,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,852},{106,106}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,74},{106,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,744},{106,106}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,72},{106,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,582},{140,160}}</string>
                <key>offset</key>
                <string>{-26,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{140,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,582},{132,160}}</string>
                <key>offset</key>
                <string>{-30,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{132,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,574},{56,80}}</string>
                <key>offset</key>
                <string>{-88,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,125},{56,80}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,574},{56,80}}</string>
                <key>offset</key>
                <string>{-88,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,125},{56,80}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,186},{94,146}}</string>
                <key>offset</key>
                <string>{-73,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,57},{94,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,186},{94,146}}</string>
                <key>offset</key>
                <string>{-73,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,57},{94,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,758},{216,176}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{216,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,758},{216,176}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{216,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,376},{244,184}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{244,184}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,192},{250,182}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{250,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,192},{250,182}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{250,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{252,182}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{252,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{252,182}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{252,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{268,188}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{268,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{268,188}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{268,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,562},{236,194}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{236,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{236,226}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{236,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{234,222}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{234,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,270}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{278,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{222,222}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{222,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,758},{212,208}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,50},{212,208}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,376},{204,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,67},{204,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,376},{196,184}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,51},{196,184}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1029.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,376},{196,184}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,51},{196,184}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroa1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,186},{188,186}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,52},{188,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_1_1001_b.pvr.ccz</string>
            <key>size</key>
            <string>{841,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a74877e9c7cd0b1a7dffbb3f715898a:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_1_1001_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
