<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{138,176}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{138,176}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{138,176}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{138,176}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{138,176}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{138,176}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{136,176}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{136,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{136,176}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{136,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{136,176}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{136,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{136,176}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{136,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{136,176}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{136,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{136,176}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{136,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{138,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{138,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{138,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{138,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{138,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{138,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,110},{138,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,144},{140,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,110},{140,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,144},{140,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,110},{140,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,144},{140,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,110},{140,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,144},{140,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,110},{140,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,144},{140,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,110},{140,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,144},{140,176}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,110},{140,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{140,178}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,108},{140,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{140,178}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,108},{140,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{140,178}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,108},{140,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{140,178}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,108},{140,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{140,178}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,108},{140,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{140,178}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,108},{140,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{146,130}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,81},{146,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{146,130}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,81},{146,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{146,130}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,81},{146,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{146,130}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,81},{146,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{146,130}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,81},{146,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,134},{168,78}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,110},{168,78}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,134},{168,78}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,110},{168,78}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,134},{168,78}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,110},{168,78}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,134},{168,78}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,110},{168,78}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,134},{168,78}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,110},{168,78}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,142},{150,162}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,120},{150,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,142},{150,162}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,120},{150,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,142},{150,162}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,120},{150,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,144},{148,168}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,123},{148,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,144},{148,168}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,123},{148,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,144},{148,168}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,123},{148,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,144},{148,168}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,123},{148,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,142},{150,160}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,125},{150,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,142},{150,160}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,125},{150,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,142},{150,160}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,125},{150,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,142},{150,160}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,125},{150,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,140},{148,158}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,119},{148,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,140},{148,158}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,119},{148,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,140},{148,158}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,119},{148,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{148,170}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,122},{148,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{148,170}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,122},{148,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{148,170}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,122},{148,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{148,170}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,122},{148,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,164}}</string>
                <key>offset</key>
                <string>{-13,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,124},{154,164}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,164}}</string>
                <key>offset</key>
                <string>{-13,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,124},{154,164}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,164}}</string>
                <key>offset</key>
                <string>{-13,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,124},{154,164}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,164}}</string>
                <key>offset</key>
                <string>{-13,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,124},{154,164}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_1.pvr.ccz</string>
            <key>size</key>
            <string>{1020,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09f9355415c3e7ca66f7920552faa291:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
