<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paoll5111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,742}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{446,742}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,742}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{446,742}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,742}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{446,742}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,742}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{446,742}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,742}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{446,742}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5116.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{438,718}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{438,718}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5117.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{438,718}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{438,718}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5118.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{438,718}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{438,718}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5119.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{438,718}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{438,718}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5120.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{438,718}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{438,718}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_paoll_b.pvr.ccz</string>
            <key>size</key>
            <string>{890,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fe1440652b89cba86801db6328d8ade:1/1$</string>
            <key>textureFileName</key>
            <string>Role_paoll_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
