<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1401.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,144},{106,134}}</string>
                <key>offset</key>
                <string>{-10,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,153},{106,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1402.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,144},{106,134}}</string>
                <key>offset</key>
                <string>{-10,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,153},{106,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1403.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,144},{106,134}}</string>
                <key>offset</key>
                <string>{-10,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,153},{106,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1404.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{140,128}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,159},{140,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1405.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{140,128}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,159},{140,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1406.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{140,128}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,159},{140,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,94}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{342,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,94}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{342,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,94}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{342,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,94}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{342,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,94}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{342,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,94}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,191},{342,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1413.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{176,138}}</string>
                <key>offset</key>
                <string>{21,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,164},{176,138}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1414.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{176,138}}</string>
                <key>offset</key>
                <string>{21,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,164},{176,138}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1415.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{176,138}}</string>
                <key>offset</key>
                <string>{21,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,164},{176,138}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1416.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,98},{148,146}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,143},{148,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1417.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,98},{148,146}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,143},{148,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1418.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,98},{148,146}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,143},{148,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{138,162}}</string>
                <key>offset</key>
                <string>{-19,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,125},{138,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{138,162}}</string>
                <key>offset</key>
                <string>{-19,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,125},{138,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_1_1005_a.pvr.ccz</string>
            <key>size</key>
            <string>{622,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feff8625d0481f53febf15d0673c7df0:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_1_1005_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
