<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paojian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,362},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,362},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{358,124}}</string>
                <key>offset</key>
                <string>{4,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,278},{358,124}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{358,124}}</string>
                <key>offset</key>
                <string>{4,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,278},{358,124}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,376},{372,302}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,102},{372,302}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,376},{372,302}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,102},{372,302}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>paojian0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{372,364}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_2_2007_c.pvr.ccz</string>
            <key>size</key>
            <string>{868,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:508d7b053a13e972a950a977596ffaf3:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_2_2007_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
