<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{180,94}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{180,94}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>niao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{180,94}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{180,94}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>niao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{178,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{178,94}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>niao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{178,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{178,94}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>niao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{180,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{180,94}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>niao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{180,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{180,94}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>niao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,98}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{178,98}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>niao0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,98}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{178,98}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_pao_1_b.pvr.ccz</string>
            <key>size</key>
            <string>{726,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba43eb497e4a500c10a60e2f82883f60:1/1$</string>
            <key>textureFileName</key>
            <string>Role_pao_1_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
