<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero4601.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{182,184}}</string>
                <key>offset</key>
                <string>{14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,232},{182,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4602.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{182,184}}</string>
                <key>offset</key>
                <string>{14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,232},{182,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4603.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{182,184}}</string>
                <key>offset</key>
                <string>{14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,232},{182,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4604.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,576},{198,168}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,248},{198,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4605.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,576},{198,168}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,248},{198,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4606.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,576},{198,168}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,248},{198,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4607.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,580},{122,162}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,282},{122,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4608.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,580},{122,162}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,282},{122,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4609.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,188},{176,144}}</string>
                <key>offset</key>
                <string>{-13,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,302},{176,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4610.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,188},{176,144}}</string>
                <key>offset</key>
                <string>{-13,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,302},{176,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4611.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{264,132}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,294},{264,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4612.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{264,132}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,294},{264,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4613.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,580},{160,106}}</string>
                <key>offset</key>
                <string>{-6,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,309},{160,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4614.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,580},{160,106}}</string>
                <key>offset</key>
                <string>{-6,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,309},{160,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4615.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,688},{120,138}}</string>
                <key>offset</key>
                <string>{-6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,294},{120,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4616.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,688},{120,138}}</string>
                <key>offset</key>
                <string>{-6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,294},{120,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4617.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{254,154}}</string>
                <key>offset</key>
                <string>{29,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,269},{254,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4618.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{254,154}}</string>
                <key>offset</key>
                <string>{29,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,269},{254,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4619.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{254,154}}</string>
                <key>offset</key>
                <string>{29,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,269},{254,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4620.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,334},{244,186}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,229},{244,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4621.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,334},{244,186}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,229},{244,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4622.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,334},{244,186}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,229},{244,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4901.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,372},{260,202}}</string>
                <key>offset</key>
                <string>{38,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,216},{260,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4902.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,372},{260,202}}</string>
                <key>offset</key>
                <string>{38,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,216},{260,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4903.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,372},{260,202}}</string>
                <key>offset</key>
                <string>{38,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,216},{260,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4904.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,136}}</string>
                <key>offset</key>
                <string>{28,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,224},{280,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4905.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,136}}</string>
                <key>offset</key>
                <string>{28,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,224},{280,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4906.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,214},{156,274}}</string>
                <key>offset</key>
                <string>{-36,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,157},{156,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4907.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,214},{156,274}}</string>
                <key>offset</key>
                <string>{-36,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,157},{156,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4908.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{276,140}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,189},{276,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4909.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{276,140}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,189},{276,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4910.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,748},{146,214}}</string>
                <key>offset</key>
                <string>{-35,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,132},{146,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4911.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,748},{146,214}}</string>
                <key>offset</key>
                <string>{-35,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,132},{146,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4912.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{122,250}}</string>
                <key>offset</key>
                <string>{-30,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,127},{122,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4913.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{122,250}}</string>
                <key>offset</key>
                <string>{-30,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,127},{122,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4914.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,810},{206,202}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,184},{206,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4915.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,810},{206,202}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,184},{206,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4916.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{276,210}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,205},{276,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4917.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{276,210}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,205},{276,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4918.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{250,174}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,241},{250,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4919.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{250,174}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,241},{250,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4920.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{250,174}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,241},{250,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4921.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{250,174}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,241},{250,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4922.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,746},{186,210}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,217},{186,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4923.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,746},{186,210}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,217},{186,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4924.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,746},{186,210}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,217},{186,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_3_b.pvr.ccz</string>
            <key>size</key>
            <string>{746,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34734c596abbb85c6bae7d5751ff3afd:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_3_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
