<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa5201.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,104},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5202.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,104},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5203.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,104},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5204.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,104},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5205.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,104},{1,1}}</string>
                <key>offset</key>
                <string>{-324.5,324.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,100}}</string>
                <key>offset</key>
                <string>{46,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,286},{208,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,100}}</string>
                <key>offset</key>
                <string>{46,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,286},{208,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5208.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,108},{270,100}}</string>
                <key>offset</key>
                <string>{75,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,287},{270,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5209.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,108},{270,100}}</string>
                <key>offset</key>
                <string>{75,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,287},{270,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5210.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{322,104}}</string>
                <key>offset</key>
                <string>{100,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,287},{322,104}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5211.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{322,104}}</string>
                <key>offset</key>
                <string>{100,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,287},{322,104}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5212.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{298,100}}</string>
                <key>offset</key>
                <string>{86,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,287},{298,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5213.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{298,100}}</string>
                <key>offset</key>
                <string>{86,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,287},{298,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5214.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{254,100}}</string>
                <key>offset</key>
                <string>{78,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,287},{254,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5215.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{254,100}}</string>
                <key>offset</key>
                <string>{78,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,287},{254,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5216.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{302,104}}</string>
                <key>offset</key>
                <string>{92,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,283},{302,104}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5217.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{302,104}}</string>
                <key>offset</key>
                <string>{92,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,283},{302,104}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5218.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,108},{292,100}}</string>
                <key>offset</key>
                <string>{89,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,287},{292,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>heroa5219.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,108},{292,100}}</string>
                <key>offset</key>
                <string>{89,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,287},{292,100}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_3_3003_b.pvr.ccz</string>
            <key>size</key>
            <string>{988,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d4d7e782a3d9bd5e1a1a5c0e15f855c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_3_3003_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
