<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{220,210}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,201},{220,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{220,210}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,201},{220,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{220,210}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,201},{220,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,402},{184,206}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,191},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,402},{184,206}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,191},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,402},{184,206}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,191},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,402},{184,206}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,191},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,402},{184,206}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,191},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{196,244}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,169},{196,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{196,244}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,169},{196,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{196,244}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,169},{196,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,610},{186,164}}</string>
                <key>offset</key>
                <string>{-44,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,245},{186,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,610},{186,164}}</string>
                <key>offset</key>
                <string>{-44,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,245},{186,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,536},{240,122}}</string>
                <key>offset</key>
                <string>{-24,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,298},{240,122}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,536},{240,122}}</string>
                <key>offset</key>
                <string>{-24,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,298},{240,122}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,536},{240,122}}</string>
                <key>offset</key>
                <string>{-24,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,298},{240,122}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,778},{242,86}}</string>
                <key>offset</key>
                <string>{-22,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,334},{242,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,778},{242,86}}</string>
                <key>offset</key>
                <string>{-22,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,334},{242,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,778},{242,86}}</string>
                <key>offset</key>
                <string>{-22,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,334},{242,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,714},{264,66}}</string>
                <key>offset</key>
                <string>{-25,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,366},{264,66}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,714},{264,66}}</string>
                <key>offset</key>
                <string>{-25,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,366},{264,66}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,714},{264,66}}</string>
                <key>offset</key>
                <string>{-25,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,366},{264,66}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4301.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,560},{270,64}}</string>
                <key>offset</key>
                <string>{-52,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,356},{270,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4302.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,560},{270,64}}</string>
                <key>offset</key>
                <string>{-52,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,356},{270,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4303.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,560},{270,64}}</string>
                <key>offset</key>
                <string>{-52,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,356},{270,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4304.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,552},{266,124}}</string>
                <key>offset</key>
                <string>{-57,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,290},{266,124}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4305.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,552},{266,124}}</string>
                <key>offset</key>
                <string>{-57,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,290},{266,124}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4306.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,266},{268,110}}</string>
                <key>offset</key>
                <string>{-67,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,306},{268,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4307.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,266},{268,110}}</string>
                <key>offset</key>
                <string>{-67,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,306},{268,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4308.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,266},{268,110}}</string>
                <key>offset</key>
                <string>{-67,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,306},{268,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4309.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,266},{268,110}}</string>
                <key>offset</key>
                <string>{-67,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,306},{268,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{270,148}}</string>
                <key>offset</key>
                <string>{-63,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,222},{270,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{270,148}}</string>
                <key>offset</key>
                <string>{-63,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,222},{270,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4312.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{204,262}}</string>
                <key>offset</key>
                <string>{-29,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,132},{204,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4313.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{204,262}}</string>
                <key>offset</key>
                <string>{-29,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,132},{204,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,296}}</string>
                <key>offset</key>
                <string>{-36,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,120},{182,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,296}}</string>
                <key>offset</key>
                <string>{-36,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,120},{182,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4316.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,300},{250,168}}</string>
                <key>offset</key>
                <string>{45,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,248},{250,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4317.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,300},{250,168}}</string>
                <key>offset</key>
                <string>{45,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,248},{250,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4318.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,300},{250,168}}</string>
                <key>offset</key>
                <string>{45,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,248},{250,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{258,164}}</string>
                <key>offset</key>
                <string>{43,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,252},{258,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{258,164}}</string>
                <key>offset</key>
                <string>{43,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,252},{258,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{258,164}}</string>
                <key>offset</key>
                <string>{43,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,252},{258,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{258,164}}</string>
                <key>offset</key>
                <string>{43,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,252},{258,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{258,164}}</string>
                <key>offset</key>
                <string>{43,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,252},{258,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{224,188}}</string>
                <key>offset</key>
                <string>{32,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,228},{224,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{224,188}}</string>
                <key>offset</key>
                <string>{32,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,228},{224,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{224,188}}</string>
                <key>offset</key>
                <string>{32,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,228},{224,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4401.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,820},{198,206}}</string>
                <key>offset</key>
                <string>{30,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,220},{198,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4402.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,820},{198,206}}</string>
                <key>offset</key>
                <string>{30,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,220},{198,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4403.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,214},{214,186}}</string>
                <key>offset</key>
                <string>{45,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,241},{214,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4404.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,214},{214,186}}</string>
                <key>offset</key>
                <string>{45,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,241},{214,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4405.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,482},{230,182}}</string>
                <key>offset</key>
                <string>{55,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,242},{230,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4406.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,482},{230,182}}</string>
                <key>offset</key>
                <string>{55,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,242},{230,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4407.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,248},{232,170}}</string>
                <key>offset</key>
                <string>{58,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,251},{232,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4408.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,248},{232,170}}</string>
                <key>offset</key>
                <string>{58,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,251},{232,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4409.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,798},{228,160}}</string>
                <key>offset</key>
                <string>{57,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,256},{228,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4410.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,798},{228,160}}</string>
                <key>offset</key>
                <string>{57,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,256},{228,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_3_a.pvr.ccz</string>
            <key>size</key>
            <string>{838,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86af48642a3017baae622ebf00ec829b:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_3_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
