<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero4101.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,422},{186,210}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,206},{186,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4102.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,422},{186,210}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,206},{186,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4103.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,422},{186,210}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,206},{186,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4104.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,422},{186,210}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,206},{186,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4105.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,216},{188,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,206},{188,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4106.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,216},{188,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,206},{188,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4107.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,216},{188,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,206},{188,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4108.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,216},{188,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,206},{188,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4109.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,216},{188,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,206},{188,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4110.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,216},{188,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,206},{188,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4111.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,216},{188,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,206},{188,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4112.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,216},{188,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,206},{188,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4113.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,190},{186,208}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,208},{186,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4114.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,190},{186,208}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,208},{186,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4115.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,190},{186,208}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,208},{186,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4116.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,190},{186,208}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,208},{186,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4117.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{186,208}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,208},{186,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4118.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{186,208}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,208},{186,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4119.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{186,208}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,208},{186,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4120.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{186,208}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,208},{186,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4121.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,400},{186,206}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,210},{186,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4122.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,400},{186,206}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,210},{186,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4123.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,400},{186,206}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,210},{186,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4124.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,400},{186,206}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,210},{186,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4125.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,406},{188,206}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,210},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4126.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,406},{188,206}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,210},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4127.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,406},{188,206}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,210},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4128.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,406},{188,206}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,210},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4201.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,428},{184,198}}</string>
                <key>offset</key>
                <string>{-4,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,134},{184,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4202.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,428},{184,198}}</string>
                <key>offset</key>
                <string>{-4,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,134},{184,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4203.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,428},{184,198}}</string>
                <key>offset</key>
                <string>{-4,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,134},{184,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4204.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,428},{184,198}}</string>
                <key>offset</key>
                <string>{-4,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,134},{184,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4205.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,428},{184,198}}</string>
                <key>offset</key>
                <string>{-4,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,134},{184,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,86}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,209},{242,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,86}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,209},{242,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,86}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,209},{242,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,86}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,209},{242,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,86}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,209},{242,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{204,212}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,200},{204,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{204,212}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,200},{204,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{204,212}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,200},{204,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{200,210}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,195},{200,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{200,210}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,195},{200,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{200,210}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,195},{200,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4507.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{206,216}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,195},{206,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4508.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{206,216}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,195},{206,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4509.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{206,216}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,195},{206,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4510.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,210},{208,210}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,199},{208,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4511.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,210},{208,210}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,199},{208,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4512.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,210},{208,210}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,199},{208,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4513.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{212,202}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,200},{212,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4514.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{212,202}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,200},{212,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4515.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{212,202}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,200},{212,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_3.pvr.ccz</string>
            <key>size</key>
            <string>{1014,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1860bbae1172411ba457cb1e63de9b6e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
