<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa1301.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,216},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1302.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,216},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1303.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,216},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1304.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,216},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1305.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,216},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1306.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,222},{306,142}}</string>
                <key>offset</key>
                <string>{8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,218},{306,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1307.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,222},{306,142}}</string>
                <key>offset</key>
                <string>{8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,218},{306,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{304,136}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,225},{304,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{304,136}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,225},{304,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{336,164}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,211},{336,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{336,164}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,211},{336,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{348,186}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,202},{348,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{348,186}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,202},{348,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,212}}</string>
                <key>offset</key>
                <string>{-28,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,189},{398,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1315.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,530},{260,110}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,215},{260,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1316.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,530},{260,110}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,215},{260,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{252,104}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,218},{252,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{252,104}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,218},{252,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1319.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{218,98}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,224},{218,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1320.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{218,98}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,224},{218,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_1_1005_b.pvr.ccz</string>
            <key>size</key>
            <string>{502,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bd39bce89bc96de6d9def6e988ddd23:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_1_1005_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
