<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paoll5121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,704}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,704}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,704}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,704}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,704}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,704}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,704}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,704}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,704}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,704}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5126.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{410,594}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{410,594}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5127.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{410,594}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{410,594}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5128.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{410,594}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{410,594}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5129.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{410,594}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{410,594}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5130.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{410,594}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{410,594}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_paoll_c.pvr.ccz</string>
            <key>size</key>
            <string>{816,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33cbef416b1ca5b8935a6df2c00cfb74:1/1$</string>
            <key>textureFileName</key>
            <string>Role_paoll_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
