<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero3401.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,308},{226,218}}</string>
                <key>offset</key>
                <string>{19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,207},{226,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3402.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,308},{226,218}}</string>
                <key>offset</key>
                <string>{19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,207},{226,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3403.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,278},{152,226}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,203},{152,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3404.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,278},{152,226}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,203},{152,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3405.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,278},{152,226}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,203},{152,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3406.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{120,304}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,121},{120,304}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3407.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{120,304}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,121},{120,304}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3408.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{120,304}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,121},{120,304}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{136,312}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,110},{136,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{136,312}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,110},{136,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{136,312}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,110},{136,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{136,312}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,110},{136,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{136,312}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,110},{136,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{136,312}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,110},{136,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{136,312}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,110},{136,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3416.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{306,286}}</string>
                <key>offset</key>
                <string>{20,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,130},{306,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3417.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{306,286}}</string>
                <key>offset</key>
                <string>{20,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,130},{306,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3418.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{306,286}}</string>
                <key>offset</key>
                <string>{20,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,130},{306,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,284}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,130},{318,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,284}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,130},{318,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,284}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,130},{318,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,284}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,130},{318,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,284}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,130},{318,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,284}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,130},{318,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,284}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,130},{318,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3426.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{270,274}}</string>
                <key>offset</key>
                <string>{-37,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{270,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3427.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{270,274}}</string>
                <key>offset</key>
                <string>{-37,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{270,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3428.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{270,274}}</string>
                <key>offset</key>
                <string>{-37,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{270,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3429.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,310},{314,228}}</string>
                <key>offset</key>
                <string>{-92,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,197},{314,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3430.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,310},{314,228}}</string>
                <key>offset</key>
                <string>{-92,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,197},{314,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero3431.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,310},{314,228}}</string>
                <key>offset</key>
                <string>{-92,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,197},{314,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_2_2005_a.pvr.ccz</string>
            <key>size</key>
            <string>{1006,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feba088f5558cf0d10bfe236b7dd5161:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_2_2005_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
