<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa5421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,134}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,193},{442,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,134}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,193},{442,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{438,130}}</string>
                <key>offset</key>
                <string>{28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,195},{438,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{438,130}}</string>
                <key>offset</key>
                <string>{28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,195},{438,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{436,128}}</string>
                <key>offset</key>
                <string>{28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,196},{436,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{436,128}}</string>
                <key>offset</key>
                <string>{28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,196},{436,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5427.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{288,110}}</string>
                <key>offset</key>
                <string>{-34,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,205},{288,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa5428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{288,110}}</string>
                <key>offset</key>
                <string>{-34,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,205},{288,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_3_3005_c.pvr.ccz</string>
            <key>size</key>
            <string>{446,513}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9bbebe857f9255a83dbf1c7a01734f2:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_3_3005_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
