<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{320,280}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,13},{320,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{320,280}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,13},{320,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{320,280}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,13},{320,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{320,280}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,13},{320,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{320,280}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,13},{320,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{320,280}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,13},{320,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{320,280}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,13},{320,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{320,280}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,13},{320,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{320,280}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,13},{320,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>lun0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,280}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,13},{306,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_pao_1_c.pvr.ccz</string>
            <key>size</key>
            <string>{632,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fca0080cb3a00cc8d203763986bb3ee1:1/1$</string>
            <key>textureFileName</key>
            <string>Role_pao_1_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
