<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroa0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,327},{121,81}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,78},{121,81}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,327},{121,81}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,78},{121,81}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,327},{121,81}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,78},{121,81}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{121,79}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,80},{121,79}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{121,79}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,80},{121,79}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{121,79}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,80},{121,79}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{133,87}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,72},{133,87}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{133,87}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,72},{133,87}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{133,87}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,72},{133,87}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{141,87}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,73},{141,87}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{141,87}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,73},{141,87}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{141,87}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,73},{141,87}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,83}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,78},{149,83}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,83}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,78},{149,83}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,83}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,78},{149,83}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,77},{93,75}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,76},{93,75}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,77},{93,75}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,76},{93,75}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,77},{93,75}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,76},{93,75}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{97,73}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,76},{97,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{97,73}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,76},{97,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{97,73}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,76},{97,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,492},{79,77}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,72},{79,77}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,492},{79,77}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,72},{79,77}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,492},{79,77}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,72},{79,77}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,154},{91,75}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,74},{91,75}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,154},{91,75}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,74},{91,75}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,154},{91,75}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,74},{91,75}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,231},{95,73}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,75},{95,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,231},{95,73}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,75},{95,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,231},{95,73}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,75},{95,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,306},{121,69}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,90},{121,69}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,306},{121,69}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,90},{121,69}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,306},{121,69}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,90},{121,69}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,450},{121,69}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,90},{121,69}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,450},{121,69}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,90},{121,69}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,450},{121,69}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,90},{121,69}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,176},{133,73}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,86},{133,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,176},{133,73}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,86},{133,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,176},{133,73}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,86},{133,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{141,73}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,87},{141,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{141,73}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,87},{141,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{141,73}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,87},{141,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{149,75}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,86},{149,75}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{149,75}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,86},{149,75}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{149,75}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,86},{149,75}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,571},{81,63}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,86},{81,63}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,571},{81,63}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,86},{81,63}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,571},{81,63}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,86},{81,63}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,573},{81,63}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,86},{81,63}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,573},{81,63}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,86},{81,63}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,573},{81,63}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,86},{81,63}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>heroa0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,429},{91,61}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,86},{91,61}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_1_a.pvr.ccz</string>
            <key>size</key>
            <string>{255,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c548ab86fa66726bf08184b7a175edb:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_1_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
