<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,172}}</string>
                <key>offset</key>
                <string>{-27,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,114},{178,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,172}}</string>
                <key>offset</key>
                <string>{-27,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,114},{178,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,172}}</string>
                <key>offset</key>
                <string>{-27,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,114},{178,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{126,272}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,14},{126,272}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{126,272}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,14},{126,272}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{126,272}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,14},{126,272}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{132,172}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{132,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{132,172}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{132,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{132,172}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{132,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{132,172}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{132,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{132,172}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{132,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{132,172}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{132,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{132,172}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{132,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{132,172}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{132,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{132,172}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{132,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,172}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{168,176}}</string>
                <key>offset</key>
                <string>{-28,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,112},{168,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1029.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{168,176}}</string>
                <key>offset</key>
                <string>{-28,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,112},{168,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{168,176}}</string>
                <key>offset</key>
                <string>{-28,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,112},{168,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_1_1001_a.pvr.ccz</string>
            <key>size</key>
            <string>{892,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3995d54d663a38057c8fbf4a754f90d2:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_1_1001_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
