<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero2701.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,612},{150,226}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,198},{150,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2702.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,612},{150,226}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,198},{150,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2703.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{208,238}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,185},{208,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2704.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{208,238}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,185},{208,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2705.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{208,238}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,185},{208,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2706.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{208,238}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,185},{208,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2707.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,182},{320,184}}</string>
                <key>offset</key>
                <string>{104,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,254},{320,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2708.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,182},{320,184}}</string>
                <key>offset</key>
                <string>{104,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,254},{320,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2709.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,368},{314,170}}</string>
                <key>offset</key>
                <string>{104,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,258},{314,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2710.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,368},{314,170}}</string>
                <key>offset</key>
                <string>{104,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,258},{314,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2711.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,368},{314,170}}</string>
                <key>offset</key>
                <string>{104,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,258},{314,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2712.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,368},{314,170}}</string>
                <key>offset</key>
                <string>{104,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,258},{314,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2713.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,368},{314,170}}</string>
                <key>offset</key>
                <string>{104,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,258},{314,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2714.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,368},{314,170}}</string>
                <key>offset</key>
                <string>{104,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,258},{314,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2715.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{318,186}}</string>
                <key>offset</key>
                <string>{102,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,250},{318,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2716.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{318,186}}</string>
                <key>offset</key>
                <string>{102,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,250},{318,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2717.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,764},{184,186}}</string>
                <key>offset</key>
                <string>{42,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,247},{184,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2718.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,764},{184,186}}</string>
                <key>offset</key>
                <string>{42,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,247},{184,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2719.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,764},{184,186}}</string>
                <key>offset</key>
                <string>{42,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,247},{184,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2720.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,704},{242,184}}</string>
                <key>offset</key>
                <string>{-48,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,241},{242,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2721.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,704},{242,184}}</string>
                <key>offset</key>
                <string>{-48,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,241},{242,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2722.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,704},{242,184}}</string>
                <key>offset</key>
                <string>{-48,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,241},{242,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2723.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,704},{242,184}}</string>
                <key>offset</key>
                <string>{-48,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,241},{242,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2724.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,704},{242,184}}</string>
                <key>offset</key>
                <string>{-48,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,241},{242,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2725.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,182}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,243},{344,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2726.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,182}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,243},{344,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2727.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,182}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,243},{344,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2728.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{340,178}}</string>
                <key>offset</key>
                <string>{-30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,247},{340,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2729.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{340,178}}</string>
                <key>offset</key>
                <string>{-30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,247},{340,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2730.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{340,178}}</string>
                <key>offset</key>
                <string>{-30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,247},{340,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2731.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{340,178}}</string>
                <key>offset</key>
                <string>{-30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,247},{340,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2732.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{340,178}}</string>
                <key>offset</key>
                <string>{-30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,247},{340,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2733.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{340,178}}</string>
                <key>offset</key>
                <string>{-30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,247},{340,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2734.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{292,182}}</string>
                <key>offset</key>
                <string>{-49,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,249},{292,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2735.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{292,182}}</string>
                <key>offset</key>
                <string>{-49,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,249},{292,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{232,310}}</string>
                <key>offset</key>
                <string>{12,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,51},{232,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2802.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{232,310}}</string>
                <key>offset</key>
                <string>{12,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,51},{232,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2803.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{232,310}}</string>
                <key>offset</key>
                <string>{12,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,51},{232,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2804.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,212},{252,204}}</string>
                <key>offset</key>
                <string>{-72,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,117},{252,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2805.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,212},{252,204}}</string>
                <key>offset</key>
                <string>{-72,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,117},{252,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2806.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,212},{252,204}}</string>
                <key>offset</key>
                <string>{-72,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,117},{252,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2807.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,212},{252,204}}</string>
                <key>offset</key>
                <string>{-72,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,117},{252,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2808.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,212},{252,204}}</string>
                <key>offset</key>
                <string>{-72,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,117},{252,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2809.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{306,162}}</string>
                <key>offset</key>
                <string>{65,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,272},{306,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2810.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{306,162}}</string>
                <key>offset</key>
                <string>{65,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,272},{306,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2811.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{306,162}}</string>
                <key>offset</key>
                <string>{65,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,272},{306,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2812.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{306,162}}</string>
                <key>offset</key>
                <string>{65,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,272},{306,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2813.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{306,162}}</string>
                <key>offset</key>
                <string>{65,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,272},{306,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2814.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{306,162}}</string>
                <key>offset</key>
                <string>{65,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,272},{306,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2815.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{306,162}}</string>
                <key>offset</key>
                <string>{65,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,272},{306,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2816.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{306,162}}</string>
                <key>offset</key>
                <string>{65,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,272},{306,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2817.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,540},{308,162}}</string>
                <key>offset</key>
                <string>{67,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2818.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,540},{308,162}}</string>
                <key>offset</key>
                <string>{67,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2819.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,540},{308,162}}</string>
                <key>offset</key>
                <string>{67,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{308,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2820.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,418},{264,192}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,238},{264,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2821.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,418},{264,192}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,238},{264,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2822.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,418},{264,192}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,238},{264,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2823.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,418},{264,192}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,238},{264,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2824.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,418},{264,192}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,238},{264,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2825.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,772},{178,210}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,213},{178,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2826.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,772},{178,210}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,213},{178,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2827.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,772},{178,210}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,213},{178,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero2828.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,772},{178,210}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,213},{178,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_2_a.pvr.ccz</string>
            <key>size</key>
            <string>{930,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43bb36ecfaa477fcb621056338c42cec:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_2_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
