<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero4701.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,580},{248,214}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,206},{248,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4702.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,580},{248,214}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,206},{248,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4703.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,240},{188,288}}</string>
                <key>offset</key>
                <string>{-41,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,135},{188,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4704.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,240},{188,288}}</string>
                <key>offset</key>
                <string>{-41,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,135},{188,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4705.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,240},{188,288}}</string>
                <key>offset</key>
                <string>{-41,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,135},{188,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,236}}</string>
                <key>offset</key>
                <string>{-70,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,188},{272,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,236}}</string>
                <key>offset</key>
                <string>{-70,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,188},{272,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,236}}</string>
                <key>offset</key>
                <string>{-70,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,188},{272,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,236}}</string>
                <key>offset</key>
                <string>{-70,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,188},{272,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4710.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,530},{302,184}}</string>
                <key>offset</key>
                <string>{77,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,235},{302,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4711.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,834},{176,218}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,236},{176,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4712.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,394},{258,184}}</string>
                <key>offset</key>
                <string>{-28,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,235},{258,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4713.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,394},{258,184}}</string>
                <key>offset</key>
                <string>{-28,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,235},{258,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4714.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{304,184}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,235},{304,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4715.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{304,184}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,235},{304,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4716.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{304,184}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,235},{304,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4717.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{304,184}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,235},{304,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4718.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{304,184}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,235},{304,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4719.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,394},{258,184}}</string>
                <key>offset</key>
                <string>{-28,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,235},{258,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4720.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,394},{258,184}}</string>
                <key>offset</key>
                <string>{-28,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,235},{258,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4721.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,834},{176,218}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,236},{176,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4722.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,834},{176,218}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,236},{176,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4723.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,530},{302,184}}</string>
                <key>offset</key>
                <string>{77,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,235},{302,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4724.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,530},{302,184}}</string>
                <key>offset</key>
                <string>{77,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,235},{302,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4725.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,182},{268,210}}</string>
                <key>offset</key>
                <string>{-33,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,260},{268,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4726.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,182},{268,210}}</string>
                <key>offset</key>
                <string>{-33,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,260},{268,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4727.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{310,178}}</string>
                <key>offset</key>
                <string>{96,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,241},{310,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4728.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{178,304}}</string>
                <key>offset</key>
                <string>{35,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,60},{178,304}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4729.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{288,218}}</string>
                <key>offset</key>
                <string>{-26,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,151},{288,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4730.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{288,218}}</string>
                <key>offset</key>
                <string>{-26,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,151},{288,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4731.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{288,218}}</string>
                <key>offset</key>
                <string>{-26,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,151},{288,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4732.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,530},{302,184}}</string>
                <key>offset</key>
                <string>{77,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,235},{302,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4733.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,530},{302,184}}</string>
                <key>offset</key>
                <string>{77,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,235},{302,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4734.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,796},{214,210}}</string>
                <key>offset</key>
                <string>{32,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,211},{214,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4735.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,796},{214,210}}</string>
                <key>offset</key>
                <string>{32,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,211},{214,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4736.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{292,208}}</string>
                <key>offset</key>
                <string>{-42,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,170},{292,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4737.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{292,208}}</string>
                <key>offset</key>
                <string>{-42,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,170},{292,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4738.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{292,208}}</string>
                <key>offset</key>
                <string>{-42,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,170},{292,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4739.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{292,208}}</string>
                <key>offset</key>
                <string>{-42,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,170},{292,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4740.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{292,208}}</string>
                <key>offset</key>
                <string>{-42,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,170},{292,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4741.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,212},{314,152}}</string>
                <key>offset</key>
                <string>{99,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,303},{314,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4742.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,212},{314,152}}</string>
                <key>offset</key>
                <string>{99,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,303},{314,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4743.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{322,132}}</string>
                <key>offset</key>
                <string>{95,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,321},{322,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4744.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{322,132}}</string>
                <key>offset</key>
                <string>{95,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,321},{322,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4745.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{322,132}}</string>
                <key>offset</key>
                <string>{95,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,321},{322,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4746.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{322,132}}</string>
                <key>offset</key>
                <string>{95,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,321},{322,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4747.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{322,132}}</string>
                <key>offset</key>
                <string>{95,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,321},{322,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4748.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,530},{302,184}}</string>
                <key>offset</key>
                <string>{77,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,235},{302,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4749.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,530},{302,184}}</string>
                <key>offset</key>
                <string>{77,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,235},{302,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4750.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,796},{214,210}}</string>
                <key>offset</key>
                <string>{32,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,211},{214,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4751.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,796},{214,210}}</string>
                <key>offset</key>
                <string>{32,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,211},{214,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4752.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,530},{272,182}}</string>
                <key>offset</key>
                <string>{63,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,261},{272,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero4753.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,796},{204,232}}</string>
                <key>offset</key>
                <string>{30,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,203},{204,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_3_a.pvr.ccz</string>
            <key>size</key>
            <string>{1016,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b549dd572b14e5f609c9857d5dfe9006:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_3_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
