<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paoll5101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,750}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{304,750}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,750}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{304,750}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,750}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{304,750}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,750}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{304,750}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,750}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{304,750}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5106.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{396,720}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,720}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5107.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{396,720}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,720}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5108.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{396,720}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,720}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5109.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{396,720}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,720}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
            <key>paoll5110.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{396,720}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,720}}</string>
                <key>sourceSize</key>
                <string>{450,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_paoll_a.pvr.ccz</string>
            <key>size</key>
            <string>{706,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe268dbb5e45e49e956042a076c45342:1/1$</string>
            <key>textureFileName</key>
            <string>Role_paoll_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
