<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero5101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{158,196}}</string>
                <key>offset</key>
                <string>{-32,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,259},{158,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{158,196}}</string>
                <key>offset</key>
                <string>{-32,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,259},{158,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{158,196}}</string>
                <key>offset</key>
                <string>{-32,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,259},{158,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{158,196}}</string>
                <key>offset</key>
                <string>{-32,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,259},{158,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{252,190}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,217},{252,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{252,190}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,217},{252,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{252,190}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,217},{252,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5108.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,484},{234,198}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,160},{234,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5109.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,484},{234,198}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,160},{234,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5110.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,484},{234,198}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,160},{234,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5111.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,378},{104,202}}</string>
                <key>offset</key>
                <string>{-13,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,140},{104,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5112.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,378},{104,202}}</string>
                <key>offset</key>
                <string>{-13,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,140},{104,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5113.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,378},{104,202}}</string>
                <key>offset</key>
                <string>{-13,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,140},{104,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{90,200}}</string>
                <key>offset</key>
                <string>{-14,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,128},{90,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{90,200}}</string>
                <key>offset</key>
                <string>{-14,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,128},{90,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{90,200}}</string>
                <key>offset</key>
                <string>{-14,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,128},{90,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{266,180}}</string>
                <key>offset</key>
                <string>{-17,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,141},{266,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{266,180}}</string>
                <key>offset</key>
                <string>{-17,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,141},{266,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{266,180}}</string>
                <key>offset</key>
                <string>{-17,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,141},{266,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,202}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,129},{268,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,202}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,129},{268,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,202}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,129},{268,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5123.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{130,216}}</string>
                <key>offset</key>
                <string>{4,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,119},{130,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5124.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{130,216}}</string>
                <key>offset</key>
                <string>{4,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,119},{130,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5125.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,684},{124,194}}</string>
                <key>offset</key>
                <string>{-30,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,136},{124,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5126.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,684},{124,194}}</string>
                <key>offset</key>
                <string>{-30,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,136},{124,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5127.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,134},{242,206}}</string>
                <key>offset</key>
                <string>{45,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,205},{242,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5128.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,134},{242,206}}</string>
                <key>offset</key>
                <string>{45,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,205},{242,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5129.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,134},{242,206}}</string>
                <key>offset</key>
                <string>{45,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,205},{242,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{166,186}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,233},{166,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{166,186}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,233},{166,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{166,186}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,233},{166,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5133.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,810},{190,176}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,240},{190,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5134.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,810},{190,176}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,240},{190,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5135.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,810},{190,176}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,240},{190,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5136.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,810},{190,176}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,240},{190,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5137.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,810},{190,176}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,240},{190,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5138.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,810},{190,176}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,240},{190,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5139.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,810},{190,176}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,240},{190,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5140.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,810},{190,176}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,240},{190,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5141.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,832},{130,186}}</string>
                <key>offset</key>
                <string>{-28,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,236},{130,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5142.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,832},{130,186}}</string>
                <key>offset</key>
                <string>{-28,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,236},{130,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5143.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,832},{130,186}}</string>
                <key>offset</key>
                <string>{-28,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,236},{130,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>hero5144.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,832},{130,186}}</string>
                <key>offset</key>
                <string>{-28,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,236},{130,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_3_3002_a.pvr.ccz</string>
            <key>size</key>
            <string>{498,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9d58126f37ae0cb675a66c1775c09e5:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_3_3002_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
