<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1601.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,708},{174,132}}</string>
                <key>offset</key>
                <string>{-26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,154},{174,132}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1602.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,708},{174,132}}</string>
                <key>offset</key>
                <string>{-26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,154},{174,132}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1603.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,728},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1604.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,728},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1605.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,728},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1606.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,728},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1607.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,728},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1608.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,728},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1609.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,842},{100,170}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,93},{100,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1610.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,842},{100,170}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,93},{100,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1611.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,842},{100,170}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,93},{100,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1612.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,842},{100,170}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,93},{100,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1613.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,572},{148,134}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,105},{148,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1614.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,572},{148,134}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,105},{148,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1615.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,572},{148,134}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,105},{148,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1616.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,586},{184,140}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,109},{184,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1617.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,586},{184,140}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,109},{184,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1618.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,586},{184,140}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,109},{184,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1619.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,586},{184,140}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,109},{184,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1620.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,380},{190,150}}</string>
                <key>offset</key>
                <string>{-36,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,131},{190,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1621.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,380},{190,150}}</string>
                <key>offset</key>
                <string>{-36,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,131},{190,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1622.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,380},{190,150}}</string>
                <key>offset</key>
                <string>{-36,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,131},{190,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1623.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,842},{160,140}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,148},{160,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1624.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,842},{160,140}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,148},{160,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>heroa1501.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1502.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1503.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1504.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1505.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1506.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1507.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1508.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1509.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1510.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,156}}</string>
                <key>offset</key>
                <string>{-18,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,234},{464,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,156}}</string>
                <key>offset</key>
                <string>{-18,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,234},{464,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{446,144}}</string>
                <key>offset</key>
                <string>{-27,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,234},{446,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{446,144}}</string>
                <key>offset</key>
                <string>{-27,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,234},{446,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{424,134}}</string>
                <key>offset</key>
                <string>{-18,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,232},{424,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{424,134}}</string>
                <key>offset</key>
                <string>{-18,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,232},{424,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{422,142}}</string>
                <key>offset</key>
                <string>{-17,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,227},{422,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{422,142}}</string>
                <key>offset</key>
                <string>{-17,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,227},{422,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{372,116}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,254},{372,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{372,116}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,254},{372,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1521.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{376,112}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,254},{376,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1522.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{376,112}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,254},{376,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1523.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,586},{354,94}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,266},{354,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>heroa1524.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,160},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_1_1006.pvr.ccz</string>
            <key>size</key>
            <string>{582,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac5187b0f0997621ad85236bfd1ef623:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_1_1006.pvr.ccz</string>
        </dict>
    </dict>
</plist>
