<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{174,132}}</string>
                <key>offset</key>
                <string>{-26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,154},{174,132}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1602.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{174,132}}</string>
                <key>offset</key>
                <string>{-26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,154},{174,132}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1603.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1604.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1605.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1606.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1607.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1608.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{112,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1609.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{100,170}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,93},{100,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1610.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{100,170}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,93},{100,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1611.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{100,170}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,93},{100,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1612.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{100,170}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,93},{100,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1613.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{148,134}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,105},{148,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1614.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{148,134}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,105},{148,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1615.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{148,134}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,105},{148,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1616.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{184,140}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,109},{184,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1617.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{184,140}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,109},{184,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1618.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{184,140}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,109},{184,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1619.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{184,140}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,109},{184,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1620.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{190,150}}</string>
                <key>offset</key>
                <string>{-36,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,131},{190,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1621.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{190,150}}</string>
                <key>offset</key>
                <string>{-36,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,131},{190,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1622.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{190,150}}</string>
                <key>offset</key>
                <string>{-36,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,131},{190,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1623.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{160,140}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,148},{160,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hero1624.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{160,140}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,148},{160,140}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_1_1006_b.pvr.ccz</string>
            <key>size</key>
            <string>{184,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4adb665a454ac75002bc0106d80330cb:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_1_1006_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
