<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji_zzr0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{56,194}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{56,194}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{56,194}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{56,194}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,196},{56,194}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,196},{56,194}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,196},{56,194}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,196},{56,194}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,586},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,586},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,586},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,586},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,392},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,392},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,392},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,392},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,392},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,187},{58,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,187},{58,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,187},{58,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,187},{58,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,187},{58,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{56,192}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{56,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{56,194}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{56,194}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{56,194}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_zzr0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{56,194}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{56,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daiji_zzr.pvr.ccz</string>
            <key>size</key>
            <string>{118,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:182d884fef44b513db085e95f040d61d:1/1$</string>
            <key>textureFileName</key>
            <string>daiji_zzr.pvr.ccz</string>
        </dict>
    </dict>
</plist>
