<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji_xln0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,184}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,184}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,184}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,184}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{118,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{118,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{118,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{118,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{118,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{118,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{118,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{118,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{116,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{116,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{116,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{116,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{116,184}}</string>
                <key>offset</key>
                <string>{18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{116,184}}</string>
                <key>offset</key>
                <string>{18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{116,184}}</string>
                <key>offset</key>
                <string>{18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{116,184}}</string>
                <key>offset</key>
                <string>{18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{116,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{116,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{116,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{116,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,184},{116,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{118,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{118,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{118,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{118,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{118,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{118,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{118,184}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{118,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,184}}</string>
                <key>offset</key>
                <string>{20,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,184}}</string>
                <key>offset</key>
                <string>{20,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,184}}</string>
                <key>offset</key>
                <string>{20,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,184}}</string>
                <key>offset</key>
                <string>{20,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,184}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,184}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,184}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xln0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,184}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daiji_xln.pvr.ccz</string>
            <key>size</key>
            <string>{962,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cf557888460315963f853b4b8ad0874:1/1$</string>
            <key>textureFileName</key>
            <string>daiji_xln.pvr.ccz</string>
        </dict>
    </dict>
</plist>
