<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji_oyf0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,138},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,138},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,138},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,138},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,138},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,138},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,138},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,138},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,139},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,139},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,139},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,139},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,139},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,139},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,139},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{146,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,139},{146,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{148,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{148,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{148,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{148,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{148,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{148,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{148,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_oyf0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,238}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{148,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daiji_oyf.pvr.ccz</string>
            <key>size</key>
            <string>{894,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76b95e3af483cc243a327bef43dea743:1/1$</string>
            <key>textureFileName</key>
            <string>daiji_oyf.pvr.ccz</string>
        </dict>
    </dict>
</plist>
