<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji_sj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,276}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,371},{358,276}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,276}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,371},{358,276}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,276}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,371},{358,276}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,276}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,371},{358,276}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,278}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,370},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,278}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,370},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,278}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,370},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,278}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,370},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{358,272}}</string>
                <key>offset</key>
                <string>{-36,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{358,272}}</string>
                <key>offset</key>
                <string>{-36,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{358,272}}</string>
                <key>offset</key>
                <string>{-36,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{358,272}}</string>
                <key>offset</key>
                <string>{-36,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{356,272}}</string>
                <key>offset</key>
                <string>{-35,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,376},{356,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{356,272}}</string>
                <key>offset</key>
                <string>{-35,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,376},{356,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{356,272}}</string>
                <key>offset</key>
                <string>{-35,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,376},{356,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{356,272}}</string>
                <key>offset</key>
                <string>{-35,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,376},{356,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,556},{358,270}}</string>
                <key>offset</key>
                <string>{-36,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,270}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,556},{358,270}}</string>
                <key>offset</key>
                <string>{-36,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,270}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,556},{358,270}}</string>
                <key>offset</key>
                <string>{-36,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,270}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,556},{358,270}}</string>
                <key>offset</key>
                <string>{-36,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,270}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,556},{360,268}}</string>
                <key>offset</key>
                <string>{-37,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,378},{360,268}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,556},{360,268}}</string>
                <key>offset</key>
                <string>{-37,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,378},{360,268}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,556},{360,268}}</string>
                <key>offset</key>
                <string>{-37,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,378},{360,268}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,556},{360,268}}</string>
                <key>offset</key>
                <string>{-37,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,378},{360,268}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,280},{360,274}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,372},{360,274}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,280},{360,274}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,372},{360,274}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,280},{360,274}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,372},{360,274}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>daiji_sj0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,280},{360,274}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,372},{360,274}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daiji_sj.pvr.ccz</string>
            <key>size</key>
            <string>{818,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1794bfa29be233250549f06f8ab7af0:1/1$</string>
            <key>textureFileName</key>
            <string>daiji_sj.pvr.ccz</string>
        </dict>
    </dict>
</plist>
