<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji_qf0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{112,210}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,146},{112,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{112,210}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,146},{112,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{112,210}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,146},{112,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{112,210}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,146},{112,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,210}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,146},{112,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,210}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,146},{112,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,210}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,146},{112,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,210}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,146},{112,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_qf0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{112,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{112,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daiji_qf.pvr.ccz</string>
            <key>size</key>
            <string>{750,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:090e496246035e8e050f4375e5b783c0:1/1$</string>
            <key>textureFileName</key>
            <string>daiji_qf.pvr.ccz</string>
        </dict>
    </dict>
</plist>
