<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji_xz0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,200},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,200},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,200},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,200},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,326},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,326},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,326},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,326},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,164},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,164},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,164},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,164},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{160,194}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,151},{160,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,149},{160,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,149},{160,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,149},{160,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,149},{160,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_xz0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{158,196}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daiji_xz.pvr.ccz</string>
            <key>size</key>
            <string>{520,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24331f0434432e6edf481a3595e1d9fc:1/1$</string>
            <key>textureFileName</key>
            <string>daiji_xz.pvr.ccz</string>
        </dict>
    </dict>
</plist>
