<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji_wyy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,80},{72,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,180},{72,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,80},{72,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,180},{72,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,80},{72,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,180},{72,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,80},{72,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,180},{72,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,154},{68,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,180},{68,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,154},{68,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,180},{68,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,154},{68,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,180},{68,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,154},{68,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,180},{68,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{66,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,180},{66,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{66,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,180},{66,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{66,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,180},{66,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{66,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,180},{66,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{68,186}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,180},{68,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{68,186}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,180},{68,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{68,186}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,180},{68,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{68,186}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,180},{68,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{72,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,180},{72,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{72,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,180},{72,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{72,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,180},{72,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{72,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,180},{72,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{76,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,180},{76,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{76,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,180},{76,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{76,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,180},{76,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{76,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,180},{76,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,180},{76,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,180},{76,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,180},{76,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,180},{76,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_wyy0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{72,186}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,180},{72,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daiji_wyy.pvr.ccz</string>
            <key>size</key>
            <string>{520,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64e6dbf6b87886a1b70c211e889c0a26:1/1$</string>
            <key>textureFileName</key>
            <string>daiji_wyy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
