<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji_dy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{88,226}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,157},{88,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{88,226}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,157},{88,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{88,224}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,159},{88,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{88,224}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,159},{88,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{90,224}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,159},{90,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{90,224}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,159},{90,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{90,224}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,159},{90,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{90,224}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,159},{90,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{90,224}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,159},{90,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{90,224}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,159},{90,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{90,224}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,159},{90,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{90,224}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,159},{90,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,226}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,157},{90,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,226}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,157},{90,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,226}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,157},{88,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_dy0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,226}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,157},{88,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daiji_dy.pvr.ccz</string>
            <key>size</key>
            <string>{732,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e42c98f9abaa21e725608c3f20ed422:1/1$</string>
            <key>textureFileName</key>
            <string>daiji_dy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
