<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji_gj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,198}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{102,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,198}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{102,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,198}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{102,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,198}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{102,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,198}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{102,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,198}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{102,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,198}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{102,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,198}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{102,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>daiji_gj0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daiji_gj.pvr.ccz</string>
            <key>size</key>
            <string>{730,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8a7c0a60bf65d4c597a587648fdc19a:1/1$</string>
            <key>textureFileName</key>
            <string>daiji_gj.pvr.ccz</string>
        </dict>
    </dict>
</plist>
