<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cmt_0004_near_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{961,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{961,184}}</string>
                <key>sourceSize</key>
                <string>{961,184}</string>
            </dict>
            <key>cmt_0004_near_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{878,128}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{878,128}}</string>
                <key>sourceSize</key>
                <string>{878,184}</string>
            </dict>
            <key>cmt_0004_near_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{610,88}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{610,88}}</string>
                <key>sourceSize</key>
                <string>{610,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cmt0004_d.pvr.ccz</string>
            <key>size</key>
            <string>{965,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03a2ebe29c809f3abbd9b00c663a9313:1/1$</string>
            <key>textureFileName</key>
            <string>cmt0004_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
