<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cmt_0002_near_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{895,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{895,115}}</string>
                <key>sourceSize</key>
                <string>{895,121}</string>
            </dict>
            <key>cmt_0002_near_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{857,109}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{857,109}}</string>
                <key>sourceSize</key>
                <string>{857,121}</string>
            </dict>
            <key>cmt_0002_near_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{439,63}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{439,63}}</string>
                <key>sourceSize</key>
                <string>{439,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cmt0002_d.pvr.ccz</string>
            <key>size</key>
            <string>{899,295}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39757a1f5ba73e73960648c1c0dfbc55:1/1$</string>
            <key>textureFileName</key>
            <string>cmt0002_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
