<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoa0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{120,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{120,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{120,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{120,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{148,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{148,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,146},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,146},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoa0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baob0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,152},{168,158}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{168,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,152},{168,158}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{168,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,150},{152,174}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{152,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,150},{152,174}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{152,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,154},{160,176}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{160,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,154},{160,176}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{160,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{142,184}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{142,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{142,184}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{142,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{148,184}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{148,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{148,184}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{148,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,154},{162,188}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{162,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,154},{162,188}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{162,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,42}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,143},{56,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>baob0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,42}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,143},{56,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoza.pvr.ccz</string>
            <key>size</key>
            <string>{1020,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:396f0286e2bbcf2ee4961fb8aece348f:1/1$</string>
            <key>textureFileName</key>
            <string>baoza.pvr.ccz</string>
        </dict>
    </dict>
</plist>
