<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_qf0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{132,196}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,171},{132,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{132,196}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,171},{132,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{132,196}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,171},{132,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,196},{124,192}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,176},{124,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,196},{124,192}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,176},{124,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,196},{124,192}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,176},{124,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,200}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,168},{124,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,200}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,168},{124,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,200}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,168},{124,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,200}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,168},{124,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{128,198}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,171},{128,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{128,198}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,171},{128,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{128,198}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,171},{128,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,204},{120,196}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,175},{120,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,204},{120,196}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,175},{120,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,204},{120,196}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,175},{120,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{102,200}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,169},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{102,200}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,169},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{102,200}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,169},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{102,200}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,169},{102,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,194},{156,190}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,194},{156,190}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,194},{156,190}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,202},{156,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,178},{156,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,202},{156,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,178},{156,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,202},{156,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,178},{156,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{154,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,178},{154,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{154,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,178},{154,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{154,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,178},{154,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,196},{154,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,178},{154,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,196},{154,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,178},{154,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,196},{154,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,178},{154,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{154,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,178},{154,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{154,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,178},{154,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{154,192}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,178},{154,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{156,190}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{156,190}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{156,190}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,194},{156,190}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,194},{156,190}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,194},{156,190}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{156,190}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{156,190}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{156,190}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,180},{156,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_17.pvr.ccz</string>
            <key>size</key>
            <string>{1014,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e00d8b9dd3b3c1bf0fec3928e138bcb5:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_17.pvr.ccz</string>
        </dict>
    </dict>
</plist>
