<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_deb0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,568},{234,206}}</string>
                <key>offset</key>
                <string>{42,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,170},{234,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,568},{234,206}}</string>
                <key>offset</key>
                <string>{42,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,170},{234,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,198},{196,278}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,98},{196,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,198},{196,278}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,98},{196,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,396},{204,252}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,124},{204,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,396},{204,252}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,124},{204,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,396},{204,252}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,124},{204,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,396},{204,252}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,124},{204,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,362},{252,204}}</string>
                <key>offset</key>
                <string>{51,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,172},{252,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,186},{326,174}}</string>
                <key>offset</key>
                <string>{-53,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,202},{326,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,186},{326,174}}</string>
                <key>offset</key>
                <string>{-53,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,202},{326,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,352},{276,168}}</string>
                <key>offset</key>
                <string>{-63,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,208},{276,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,352},{276,168}}</string>
                <key>offset</key>
                <string>{-63,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,208},{276,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,352},{276,168}}</string>
                <key>offset</key>
                <string>{-63,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,208},{276,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,630},{190,196}}</string>
                <key>offset</key>
                <string>{-9,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,187},{190,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,630},{190,196}}</string>
                <key>offset</key>
                <string>{-9,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,187},{190,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,822},{190,192}}</string>
                <key>offset</key>
                <string>{-24,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,191},{190,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,822},{190,192}}</string>
                <key>offset</key>
                <string>{-24,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,191},{190,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,186},{176,164}}</string>
                <key>offset</key>
                <string>{-32,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,215},{176,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,186},{176,164}}</string>
                <key>offset</key>
                <string>{-32,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,215},{176,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,186},{176,164}}</string>
                <key>offset</key>
                <string>{-32,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,215},{176,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{186,146}}</string>
                <key>offset</key>
                <string>{-45,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,233},{186,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{186,146}}</string>
                <key>offset</key>
                <string>{-45,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,233},{186,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{186,146}}</string>
                <key>offset</key>
                <string>{-45,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,233},{186,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{186,146}}</string>
                <key>offset</key>
                <string>{-45,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,233},{186,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{186,146}}</string>
                <key>offset</key>
                <string>{-45,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,233},{186,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,602},{166,210}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,147},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,602},{166,210}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,147},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,602},{166,210}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,147},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,602},{166,210}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,147},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,602},{166,210}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,147},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,602},{166,210}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,147},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,602},{166,210}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,147},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,602},{166,210}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,147},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,822},{184,210}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,172},{184,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,822},{184,210}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,172},{184,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,822},{184,210}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,172},{184,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,822},{188,186}}</string>
                <key>offset</key>
                <string>{-14,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,196},{188,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,822},{188,186}}</string>
                <key>offset</key>
                <string>{-14,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,196},{188,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,822},{188,186}}</string>
                <key>offset</key>
                <string>{-14,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,196},{188,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,822},{192,184}}</string>
                <key>offset</key>
                <string>{-17,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,192},{192,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,822},{192,184}}</string>
                <key>offset</key>
                <string>{-17,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,192},{192,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,624},{194,194}}</string>
                <key>offset</key>
                <string>{-14,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,185},{194,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,624},{194,194}}</string>
                <key>offset</key>
                <string>{-14,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,185},{194,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{54,72}}</string>
                <key>offset</key>
                <string>{233,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{506,234},{54,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{260,198}}</string>
                <key>offset</key>
                <string>{132,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,236},{260,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,194}}</string>
                <key>offset</key>
                <string>{10,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,268},{480,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{472,182}}</string>
                <key>offset</key>
                <string>{10,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,274},{472,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{310,88}}</string>
                <key>offset</key>
                <string>{-71,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,366},{310,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,568},{128,90}}</string>
                <key>offset</key>
                <string>{-161,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,362},{128,90}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{10,4}}</string>
                <key>offset</key>
                <string>{-219,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,396},{10,4}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_deba0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{33658,32690},{-65377,-65377}}</string>
                <key>offset</key>
                <string>{-32688,32688}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-65377,-65377}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
            <key>boss_deba0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_9_a.pvr.ccz</string>
            <key>size</key>
            <string>{990,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:166bb9286fde7ee564b0009833edcbe7:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_9_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
