<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bmdizi0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,806},{184,216}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,151},{184,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,806},{184,216}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,151},{184,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,806},{184,216}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,151},{184,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,806},{184,216}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,151},{184,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{188,224}}</string>
                <key>offset</key>
                <string>{-39,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,142},{188,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{188,224}}</string>
                <key>offset</key>
                <string>{-39,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,142},{188,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{188,224}}</string>
                <key>offset</key>
                <string>{-39,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,142},{188,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{188,224}}</string>
                <key>offset</key>
                <string>{-39,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,142},{188,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{184,234}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,136},{184,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{184,234}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,136},{184,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{184,234}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,136},{184,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{184,234}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,136},{184,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,178},{182,232}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,142},{182,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,178},{182,232}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,142},{182,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,178},{182,232}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,142},{182,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,178},{182,232}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,142},{182,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{184,232}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,142},{184,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{184,232}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,142},{184,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{184,232}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,142},{184,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{184,232}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,142},{184,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,540},{180,226}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,145},{180,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,540},{180,226}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,145},{180,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,540},{180,226}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,145},{180,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,540},{180,226}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,145},{180,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,584},{178,220}}</string>
                <key>offset</key>
                <string>{-31,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,152},{178,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,584},{178,220}}</string>
                <key>offset</key>
                <string>{-31,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,152},{178,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,584},{178,220}}</string>
                <key>offset</key>
                <string>{-31,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,152},{178,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,584},{178,220}}</string>
                <key>offset</key>
                <string>{-31,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,152},{178,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,362},{176,228}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,144},{176,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,362},{176,228}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,144},{176,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,362},{176,228}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,144},{176,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,362},{176,228}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,144},{176,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{174,234}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,138},{174,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{174,234}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,138},{174,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{174,234}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,138},{174,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{174,234}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,138},{174,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{174,232}}</string>
                <key>offset</key>
                <string>{-34,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,140},{174,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{174,232}}</string>
                <key>offset</key>
                <string>{-34,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,140},{174,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{174,232}}</string>
                <key>offset</key>
                <string>{-34,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,140},{174,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{174,232}}</string>
                <key>offset</key>
                <string>{-34,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,140},{174,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,768},{178,224}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,148},{178,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,768},{178,224}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,148},{178,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,768},{178,224}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,148},{178,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,768},{178,224}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,148},{178,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,362},{180,220}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,152},{180,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,362},{180,220}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,152},{180,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,362},{180,220}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,152},{180,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,362},{180,220}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,152},{180,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,128}}</string>
                <key>offset</key>
                <string>{-58,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,156},{300,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,128}}</string>
                <key>offset</key>
                <string>{-58,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,156},{300,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,128}}</string>
                <key>offset</key>
                <string>{-58,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,156},{300,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,128}}</string>
                <key>offset</key>
                <string>{-58,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,156},{300,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,128}}</string>
                <key>offset</key>
                <string>{-58,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,156},{300,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,178},{180,178}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,154},{180,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,178},{180,178}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,154},{180,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,178},{180,178}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,154},{180,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,178},{180,178}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,154},{180,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,178},{180,178}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,154},{180,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_22.pvr.ccz</string>
            <key>size</key>
            <string>{636,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bd364775724d362cfc9fd9f90867961:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_22.pvr.ccz</string>
        </dict>
    </dict>
</plist>
