<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_qfa0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,108}}</string>
                <key>offset</key>
                <string>{37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,126},{214,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{202,108}}</string>
                <key>offset</key>
                <string>{42,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,126},{202,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{202,108}}</string>
                <key>offset</key>
                <string>{42,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,126},{202,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{202,108}}</string>
                <key>offset</key>
                <string>{42,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,126},{202,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,154},{202,102}}</string>
                <key>offset</key>
                <string>{42,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,123},{202,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,154},{202,102}}</string>
                <key>offset</key>
                <string>{42,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,123},{202,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{150,20}}</string>
                <key>offset</key>
                <string>{12,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,102},{150,20}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{150,20}}</string>
                <key>offset</key>
                <string>{12,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,102},{150,20}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{150,20}}</string>
                <key>offset</key>
                <string>{12,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,102},{150,20}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{208,150}}</string>
                <key>offset</key>
                <string>{49,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,103},{208,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{170,150}}</string>
                <key>offset</key>
                <string>{68,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,103},{170,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{170,150}}</string>
                <key>offset</key>
                <string>{68,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,103},{170,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,572},{146,142}}</string>
                <key>offset</key>
                <string>{78,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,111},{146,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,572},{146,142}}</string>
                <key>offset</key>
                <string>{78,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,111},{146,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,524},{110,114}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,123},{110,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,524},{110,114}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,123},{110,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,872},{110,122}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,118},{110,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,872},{110,122}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,118},{110,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,636},{132,128}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,111},{132,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,636},{132,128}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,111},{132,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,716},{140,130}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,110},{140,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,716},{140,130}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,110},{140,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{142,118}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,121},{142,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{142,118}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,121},{142,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{140,96}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,124},{140,96}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{140,96}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,124},{140,96}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,892},{102,102}}</string>
                <key>offset</key>
                <string>{86,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,124},{102,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,892},{102,102}}</string>
                <key>offset</key>
                <string>{86,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,124},{102,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{102,122}}</string>
                <key>offset</key>
                <string>{86,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,116},{102,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{102,122}}</string>
                <key>offset</key>
                <string>{86,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,116},{102,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,766},{104,126}}</string>
                <key>offset</key>
                <string>{85,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,114},{104,126}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,766},{104,126}}</string>
                <key>offset</key>
                <string>{85,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,114},{104,126}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,392},{104,130}}</string>
                <key>offset</key>
                <string>{85,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,112},{104,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,392},{104,130}}</string>
                <key>offset</key>
                <string>{85,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,112},{104,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,258},{106,132}}</string>
                <key>offset</key>
                <string>{84,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,110},{106,132}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,258},{106,132}}</string>
                <key>offset</key>
                <string>{84,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,110},{106,132}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,848},{64,130}}</string>
                <key>offset</key>
                <string>{63,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,111},{64,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,848},{64,130}}</string>
                <key>offset</key>
                <string>{63,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,111},{64,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,848},{64,130}}</string>
                <key>offset</key>
                <string>{63,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,111},{64,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{64,130}}</string>
                <key>offset</key>
                <string>{63,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,111},{64,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{64,130}}</string>
                <key>offset</key>
                <string>{63,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,111},{64,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_qfa0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>longpao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,416},{168,76}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{168,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,416},{168,76}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{168,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{164,76}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,12},{164,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{164,76}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,12},{164,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,258},{168,78}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{168,78}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,258},{168,78}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{168,78}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{168,76}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{168,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{168,76}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{168,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{166,76}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,12},{166,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{166,76}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,12},{166,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,494},{164,76}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,12},{164,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,494},{164,76}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,12},{164,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,338},{168,76}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,12},{168,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>longpao0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,338},{168,76}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,12},{168,76}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_17_a.pvr.ccz</string>
            <key>size</key>
            <string>{454,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fa58579332649dbd18f51c8a7bbdfd3:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_17_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
