<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_lmc0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{148,192}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,181},{148,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{148,192}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,181},{148,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{148,192}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,181},{148,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,190},{146,190}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,175},{146,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,190},{146,190}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,175},{146,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,190},{146,190}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,175},{146,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,190},{146,190}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,175},{146,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,168},{148,190}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,165},{148,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,168},{148,190}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,165},{148,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,168},{148,190}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,165},{148,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{164,180}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,184},{164,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{164,180}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,184},{164,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{164,180}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,184},{164,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{148,192}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,181},{148,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{148,192}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,181},{148,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{148,192}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,181},{148,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,190},{146,190}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,175},{146,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,190},{146,190}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,175},{146,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,190},{146,190}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,175},{146,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,190},{146,190}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,175},{146,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,168},{148,190}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,165},{148,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,168},{148,190}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,165},{148,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,168},{148,190}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,165},{148,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{164,180}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,184},{164,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{164,180}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,184},{164,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{164,180}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,184},{164,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{122,158}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{122,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{122,158}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{122,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{122,158}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{122,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{122,158}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{122,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{122,158}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{122,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{122,158}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{122,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{122,158}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{122,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,152},{150,178}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,175},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,152},{150,178}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,175},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,152},{150,178}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,175},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,152},{150,178}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,175},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,152},{150,178}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,175},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,152},{150,178}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,175},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,152},{150,178}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,175},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,152},{150,178}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,175},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,152},{150,178}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,175},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,170},{136,198}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,165},{136,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,170},{136,198}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,165},{136,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,170},{136,198}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,165},{136,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{122,158}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{122,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{122,158}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{122,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,304},{138,182}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,172},{138,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,304},{138,182}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,172},{138,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,304},{138,182}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,172},{138,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,304},{138,182}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,172},{138,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,304},{138,182}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,172},{138,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,308},{126,188}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,176},{126,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,308},{126,188}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,176},{126,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,308},{126,188}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,176},{126,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,308},{126,188}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,176},{126,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,308},{126,188}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,176},{126,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,308},{126,188}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,176},{126,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{190,196}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,173},{190,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{190,196}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,173},{190,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{190,196}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,173},{190,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{190,196}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,173},{190,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{190,196}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,173},{190,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{166,192}}</string>
                <key>offset</key>
                <string>{48,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,164},{166,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{166,192}}</string>
                <key>offset</key>
                <string>{48,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,164},{166,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,192}}</string>
                <key>offset</key>
                <string>{56,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{198,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,192}}</string>
                <key>offset</key>
                <string>{56,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{198,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,192}}</string>
                <key>offset</key>
                <string>{56,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{198,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,192}}</string>
                <key>offset</key>
                <string>{56,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{198,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,192}}</string>
                <key>offset</key>
                <string>{56,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{198,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,192}}</string>
                <key>offset</key>
                <string>{56,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{198,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,192}}</string>
                <key>offset</key>
                <string>{56,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{198,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{190,186}}</string>
                <key>offset</key>
                <string>{33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,169},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{190,186}}</string>
                <key>offset</key>
                <string>{33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,169},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{190,186}}</string>
                <key>offset</key>
                <string>{33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,169},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{190,186}}</string>
                <key>offset</key>
                <string>{33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,169},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,318},{128,200}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,166},{128,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,318},{128,200}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,166},{128,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,318},{128,200}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,166},{128,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_25_a.pvr.ccz</string>
            <key>size</key>
            <string>{973,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0100a0dce2e3d80672b113b47c32577:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_25_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
