<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{240,182}}</string>
                <key>offset</key>
                <string>{29,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,118},{240,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{240,182}}</string>
                <key>offset</key>
                <string>{29,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,118},{240,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{240,182}}</string>
                <key>offset</key>
                <string>{29,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,118},{240,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{240,182}}</string>
                <key>offset</key>
                <string>{29,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,118},{240,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{246,184}}</string>
                <key>offset</key>
                <string>{30,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,121},{246,184}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{246,184}}</string>
                <key>offset</key>
                <string>{30,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,121},{246,184}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{246,184}}</string>
                <key>offset</key>
                <string>{30,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,121},{246,184}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{246,184}}</string>
                <key>offset</key>
                <string>{30,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,121},{246,184}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{246,184}}</string>
                <key>offset</key>
                <string>{30,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,121},{246,184}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{248,186}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,116},{248,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{248,186}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,116},{248,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{248,186}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,116},{248,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{248,186}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,116},{248,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{248,186}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,116},{248,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,198}}</string>
                <key>offset</key>
                <string>{37,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,113},{240,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,198}}</string>
                <key>offset</key>
                <string>{37,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,113},{240,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,198}}</string>
                <key>offset</key>
                <string>{37,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,113},{240,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,198}}</string>
                <key>offset</key>
                <string>{37,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,113},{240,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,578},{232,186}}</string>
                <key>offset</key>
                <string>{33,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,118},{232,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,578},{232,186}}</string>
                <key>offset</key>
                <string>{33,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,118},{232,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,578},{232,186}}</string>
                <key>offset</key>
                <string>{33,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,118},{232,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,578},{232,186}}</string>
                <key>offset</key>
                <string>{33,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,118},{232,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,480},{232,192}}</string>
                <key>offset</key>
                <string>{33,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,121},{232,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,480},{232,192}}</string>
                <key>offset</key>
                <string>{33,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,121},{232,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,480},{232,192}}</string>
                <key>offset</key>
                <string>{33,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,121},{232,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,480},{232,192}}</string>
                <key>offset</key>
                <string>{33,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,121},{232,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,480},{232,192}}</string>
                <key>offset</key>
                <string>{33,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,121},{232,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,384},{234,192}}</string>
                <key>offset</key>
                <string>{35,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,118},{234,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,384},{234,192}}</string>
                <key>offset</key>
                <string>{35,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,118},{234,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,384},{234,192}}</string>
                <key>offset</key>
                <string>{35,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,118},{234,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,384},{234,192}}</string>
                <key>offset</key>
                <string>{35,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,118},{234,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,384},{234,192}}</string>
                <key>offset</key>
                <string>{35,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,118},{234,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,190},{236,192}}</string>
                <key>offset</key>
                <string>{36,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,114},{236,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,190},{236,192}}</string>
                <key>offset</key>
                <string>{36,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,114},{236,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,190},{236,192}}</string>
                <key>offset</key>
                <string>{36,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,114},{236,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,190},{236,192}}</string>
                <key>offset</key>
                <string>{36,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,114},{236,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,240},{238,172}}</string>
                <key>offset</key>
                <string>{27,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,134},{238,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,240},{238,172}}</string>
                <key>offset</key>
                <string>{27,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,134},{238,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,240},{238,172}}</string>
                <key>offset</key>
                <string>{27,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,134},{238,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,674},{238,170}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,136},{238,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,674},{238,170}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,136},{238,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,674},{238,170}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,136},{238,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,674},{238,170}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,136},{238,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{236,166}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,140},{236,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{236,166}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,140},{236,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{236,166}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,140},{236,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,846},{234,166}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,140},{234,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,846},{234,166}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,140},{234,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,846},{234,166}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,140},{234,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,846},{234,166}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,140},{234,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{238,170}}</string>
                <key>offset</key>
                <string>{27,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,136},{238,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{238,170}}</string>
                <key>offset</key>
                <string>{27,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,136},{238,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{238,170}}</string>
                <key>offset</key>
                <string>{27,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,136},{238,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{180,88}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,131},{180,88}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{180,88}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,131},{180,88}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{180,88}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,131},{180,88}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{180,88}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,131},{180,88}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{180,88}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,131},{180,88}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,766},{160,146}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,115},{160,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,766},{160,146}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,115},{160,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,766},{160,146}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,115},{160,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,766},{160,146}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,115},{160,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,766},{160,146}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,115},{160,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_5.pvr.ccz</string>
            <key>size</key>
            <string>{664,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1c0705da13b3c91a7da544c8a2bd46d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
