<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_gj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,178},{128,160}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,211},{128,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,178},{128,160}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,211},{128,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{140,192}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,179},{140,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{140,192}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,179},{140,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{140,192}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,179},{140,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{138,194}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,177},{138,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{138,194}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,177},{138,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{138,194}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,177},{138,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{134,196}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,175},{134,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{134,196}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,175},{134,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{134,196}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,175},{134,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,142},{132,192}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,179},{132,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,142},{132,192}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,179},{132,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,142},{132,192}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,179},{132,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,496},{136,188}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,183},{136,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,496},{136,188}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,183},{136,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,496},{136,188}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,183},{136,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,198}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,167},{152,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,198}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,167},{152,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,198}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,167},{152,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,198}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,167},{152,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,634},{130,192}}</string>
                <key>offset</key>
                <string>{-40,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,100},{130,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,634},{130,192}}</string>
                <key>offset</key>
                <string>{-40,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,100},{130,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,634},{130,192}}</string>
                <key>offset</key>
                <string>{-40,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,100},{130,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,634},{130,192}}</string>
                <key>offset</key>
                <string>{-40,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,100},{130,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,634},{130,192}}</string>
                <key>offset</key>
                <string>{-40,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,100},{130,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,838},{148,132}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,137},{148,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,838},{148,132}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,137},{148,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,838},{148,132}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,137},{148,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,838},{148,132}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,137},{148,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,838},{148,132}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,137},{148,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,838},{148,132}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,137},{148,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,838},{148,132}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,137},{148,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,550},{152,142}}</string>
                <key>offset</key>
                <string>{-78,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,196},{152,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,550},{152,142}}</string>
                <key>offset</key>
                <string>{-78,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,196},{152,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,550},{152,142}}</string>
                <key>offset</key>
                <string>{-78,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,196},{152,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,550},{152,142}}</string>
                <key>offset</key>
                <string>{-78,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,196},{152,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,276},{176,126}}</string>
                <key>offset</key>
                <string>{-61,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,268},{176,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,276},{176,126}}</string>
                <key>offset</key>
                <string>{-61,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,268},{176,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,276},{176,126}}</string>
                <key>offset</key>
                <string>{-61,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,268},{176,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,276},{176,126}}</string>
                <key>offset</key>
                <string>{-61,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,268},{176,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{202,98}}</string>
                <key>offset</key>
                <string>{-49,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,285},{202,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{202,98}}</string>
                <key>offset</key>
                <string>{-49,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,285},{202,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{202,98}}</string>
                <key>offset</key>
                <string>{-49,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,285},{202,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,766},{208,70}}</string>
                <key>offset</key>
                <string>{-46,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,315},{208,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,766},{208,70}}</string>
                <key>offset</key>
                <string>{-46,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,315},{208,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,766},{208,70}}</string>
                <key>offset</key>
                <string>{-46,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,315},{208,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{198,140}}</string>
                <key>offset</key>
                <string>{-28,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,239},{198,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{198,140}}</string>
                <key>offset</key>
                <string>{-28,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,239},{198,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{198,140}}</string>
                <key>offset</key>
                <string>{-28,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,239},{198,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{198,140}}</string>
                <key>offset</key>
                <string>{-28,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,239},{198,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,838},{166,140}}</string>
                <key>offset</key>
                <string>{-28,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,232},{166,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,838},{166,140}}</string>
                <key>offset</key>
                <string>{-28,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,232},{166,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,838},{166,140}}</string>
                <key>offset</key>
                <string>{-28,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,232},{166,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,838},{166,140}}</string>
                <key>offset</key>
                <string>{-28,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,232},{166,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,694},{124,132}}</string>
                <key>offset</key>
                <string>{-29,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,241},{124,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,694},{124,132}}</string>
                <key>offset</key>
                <string>{-29,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,241},{124,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,694},{124,132}}</string>
                <key>offset</key>
                <string>{-29,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,241},{124,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,694},{124,132}}</string>
                <key>offset</key>
                <string>{-29,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,241},{124,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,404},{154,144}}</string>
                <key>offset</key>
                <string>{-19,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,229},{154,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,404},{154,144}}</string>
                <key>offset</key>
                <string>{-19,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,229},{154,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,404},{154,144}}</string>
                <key>offset</key>
                <string>{-19,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,229},{154,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,404},{154,144}}</string>
                <key>offset</key>
                <string>{-19,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,229},{154,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{160,174}}</string>
                <key>offset</key>
                <string>{-16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,197},{160,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{160,174}}</string>
                <key>offset</key>
                <string>{-16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,197},{160,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{160,174}}</string>
                <key>offset</key>
                <string>{-16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,197},{160,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{160,174}}</string>
                <key>offset</key>
                <string>{-16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,197},{160,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,308},{142,186}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,185},{142,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,308},{142,186}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,185},{142,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,308},{142,186}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,185},{142,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,308},{142,186}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,185},{142,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_36.pvr.ccz</string>
            <key>size</key>
            <string>{514,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dad3d4dc5b5de019cb2fc644e771fe8:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_36.pvr.ccz</string>
        </dict>
    </dict>
</plist>
