<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jmz0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{124,216}}</string>
                <key>offset</key>
                <string>{-41,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,158},{124,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{124,216}}</string>
                <key>offset</key>
                <string>{-41,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,158},{124,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{124,216}}</string>
                <key>offset</key>
                <string>{-41,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,158},{124,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,744},{136,192}}</string>
                <key>offset</key>
                <string>{-51,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,135},{136,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,744},{136,192}}</string>
                <key>offset</key>
                <string>{-51,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,135},{136,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{218,168}}</string>
                <key>offset</key>
                <string>{-27,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,120},{218,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{218,168}}</string>
                <key>offset</key>
                <string>{-27,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,120},{218,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,434},{198,166}}</string>
                <key>offset</key>
                <string>{-36,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,110},{198,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,434},{198,166}}</string>
                <key>offset</key>
                <string>{-36,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,110},{198,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,434},{198,166}}</string>
                <key>offset</key>
                <string>{-36,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,110},{198,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,434},{198,166}}</string>
                <key>offset</key>
                <string>{-36,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,110},{198,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,634},{156,192}}</string>
                <key>offset</key>
                <string>{-41,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,109},{156,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,634},{156,192}}</string>
                <key>offset</key>
                <string>{-41,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,109},{156,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,634},{156,192}}</string>
                <key>offset</key>
                <string>{-41,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,109},{156,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{152,204}}</string>
                <key>offset</key>
                <string>{-41,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,106},{152,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{152,204}}</string>
                <key>offset</key>
                <string>{-41,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,106},{152,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{182,202}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,126},{182,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{182,202}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,126},{182,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,210}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,121},{188,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,210}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,121},{188,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,210}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,121},{188,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,210}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,121},{188,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,214},{136,216}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,119},{136,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,214},{136,216}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,119},{136,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,214},{136,216}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,119},{136,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{152,222}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,123},{152,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{152,222}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,123},{152,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,220},{180,188}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,188},{180,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,220},{180,188}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,188},{180,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,410},{170,168}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,211},{170,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,410},{170,168}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,211},{170,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,582},{160,172}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,207},{160,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,582},{160,172}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,207},{160,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_15_b.pvr.ccz</string>
            <key>size</key>
            <string>{509,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f8a5b7dd1ffd1153b8fcedc38c737c1:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_15_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
