<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_4tyna0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,158},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{476,182}}</string>
                <key>offset</key>
                <string>{35,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,231},{476,182}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{476,182}}</string>
                <key>offset</key>
                <string>{35,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,231},{476,182}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{506,156}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,231},{506,156}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,582},{412,178}}</string>
                <key>offset</key>
                <string>{-35,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,231},{412,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{500,176}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,235},{500,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,158},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,158},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{554,134}}</string>
                <key>offset</key>
                <string>{52,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,301},{554,134}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{554,134}}</string>
                <key>offset</key>
                <string>{52,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,301},{554,134}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,154}}</string>
                <key>offset</key>
                <string>{49,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,302},{592,154}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,154}}</string>
                <key>offset</key>
                <string>{49,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,302},{592,154}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{574,150}}</string>
                <key>offset</key>
                <string>{63,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,303},{574,150}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{574,150}}</string>
                <key>offset</key>
                <string>{63,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,303},{574,150}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{422,100}}</string>
                <key>offset</key>
                <string>{96,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,318},{422,100}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{422,100}}</string>
                <key>offset</key>
                <string>{96,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,318},{422,100}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,480},{414,100}}</string>
                <key>offset</key>
                <string>{105,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,318},{414,100}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,480},{414,100}}</string>
                <key>offset</key>
                <string>{105,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,318},{414,100}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,158},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,158},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,158},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,158},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_31_c.pvr.ccz</string>
            <key>size</key>
            <string>{925,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6b37d3e62f98dacaf64cf874542232f:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_31_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
