<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_cmdizi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{160,186}}</string>
                <key>offset</key>
                <string>{-30,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,172},{160,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{160,186}}</string>
                <key>offset</key>
                <string>{-30,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,172},{160,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,178},{160,172}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,186},{160,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,178},{160,172}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,186},{160,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,178},{160,172}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,186},{160,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,368},{152,164}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,194},{152,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,368},{152,164}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,194},{152,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,368},{152,164}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,194},{152,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,352},{150,160}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,198},{150,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,352},{150,160}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,198},{150,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,352},{150,160}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,198},{150,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,362},{148,166}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,192},{148,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,362},{148,166}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,192},{148,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,362},{148,166}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,192},{148,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{160,174}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,184},{160,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{160,174}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,184},{160,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{160,174}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,184},{160,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,186},{172,180}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,179},{172,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,186},{172,180}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,179},{172,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,186},{172,180}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,179},{172,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,186},{172,180}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,179},{172,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{166,180}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,193},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{166,180}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,193},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{166,180}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,193},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{166,180}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,193},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{166,180}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,193},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,376},{178,154}}</string>
                <key>offset</key>
                <string>{-20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,219},{178,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,376},{178,154}}</string>
                <key>offset</key>
                <string>{-20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,219},{178,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,376},{178,154}}</string>
                <key>offset</key>
                <string>{-20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,219},{178,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,376},{178,154}}</string>
                <key>offset</key>
                <string>{-20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,219},{178,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{206,130}}</string>
                <key>offset</key>
                <string>{-40,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,239},{206,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{206,130}}</string>
                <key>offset</key>
                <string>{-40,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,239},{206,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{206,130}}</string>
                <key>offset</key>
                <string>{-40,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,239},{206,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{238,110}}</string>
                <key>offset</key>
                <string>{-36,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,263},{238,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{238,110}}</string>
                <key>offset</key>
                <string>{-36,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,263},{238,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{238,110}}</string>
                <key>offset</key>
                <string>{-36,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,263},{238,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,76}}</string>
                <key>offset</key>
                <string>{-21,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,304},{248,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,76}}</string>
                <key>offset</key>
                <string>{-21,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,304},{248,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,76}}</string>
                <key>offset</key>
                <string>{-21,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,304},{248,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{246,112}}</string>
                <key>offset</key>
                <string>{-25,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,263},{246,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{246,112}}</string>
                <key>offset</key>
                <string>{-25,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,263},{246,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{246,112}}</string>
                <key>offset</key>
                <string>{-25,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,263},{246,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{246,112}}</string>
                <key>offset</key>
                <string>{-25,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,263},{246,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,242},{216,136}}</string>
                <key>offset</key>
                <string>{-36,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,239},{216,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,242},{216,136}}</string>
                <key>offset</key>
                <string>{-36,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,239},{216,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,242},{216,136}}</string>
                <key>offset</key>
                <string>{-36,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,239},{216,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,242},{216,136}}</string>
                <key>offset</key>
                <string>{-36,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,239},{216,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,210},{194,118}}</string>
                <key>offset</key>
                <string>{-37,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,262},{194,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,210},{194,118}}</string>
                <key>offset</key>
                <string>{-37,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,262},{194,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,210},{194,118}}</string>
                <key>offset</key>
                <string>{-37,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,262},{194,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,210},{194,118}}</string>
                <key>offset</key>
                <string>{-37,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,262},{194,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,190},{184,128}}</string>
                <key>offset</key>
                <string>{-27,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,242},{184,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,190},{184,128}}</string>
                <key>offset</key>
                <string>{-27,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,242},{184,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,190},{184,128}}</string>
                <key>offset</key>
                <string>{-27,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,242},{184,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,190},{184,128}}</string>
                <key>offset</key>
                <string>{-27,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,242},{184,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{182,150}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,211},{182,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{182,150}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,211},{182,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{182,150}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,211},{182,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{182,150}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,211},{182,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,184},{170,176}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,182},{170,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,184},{170,176}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,182},{170,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,184},{170,176}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,182},{170,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,184},{170,176}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,182},{170,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_23.pvr.ccz</string>
            <key>size</key>
            <string>{1016,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:043719fd6de2ea9f3fb8220d26d945d3:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_23.pvr.ccz</string>
        </dict>
    </dict>
</plist>
