<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jlfw0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,610},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,185},{168,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,610},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,185},{168,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,610},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,185},{168,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,610},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,185},{168,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,610},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,185},{168,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,780},{166,240}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{166,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,780},{166,240}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{166,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,780},{166,240}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{166,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,780},{166,240}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{166,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,374},{240,238}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{240,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,374},{240,238}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{240,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,374},{240,238}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{240,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,374},{240,238}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{240,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,374},{240,238}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{240,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,374},{244,234}}</string>
                <key>offset</key>
                <string>{39,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,198},{244,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,374},{244,234}}</string>
                <key>offset</key>
                <string>{39,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,198},{244,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,374},{244,234}}</string>
                <key>offset</key>
                <string>{39,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,198},{244,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,780},{220,236}}</string>
                <key>offset</key>
                <string>{12,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,197},{220,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,780},{220,236}}</string>
                <key>offset</key>
                <string>{12,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,197},{220,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,780},{220,236}}</string>
                <key>offset</key>
                <string>{12,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,197},{220,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,298},{200,230}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,202},{200,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,298},{200,230}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,202},{200,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,298},{200,230}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,202},{200,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{304,222}}</string>
                <key>offset</key>
                <string>{76,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,212},{304,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{304,222}}</string>
                <key>offset</key>
                <string>{76,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,212},{304,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{304,222}}</string>
                <key>offset</key>
                <string>{76,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,212},{304,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{304,222}}</string>
                <key>offset</key>
                <string>{76,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,212},{304,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{304,222}}</string>
                <key>offset</key>
                <string>{76,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,212},{304,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{304,222}}</string>
                <key>offset</key>
                <string>{76,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,212},{304,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{282,218}}</string>
                <key>offset</key>
                <string>{65,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,213},{282,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{282,218}}</string>
                <key>offset</key>
                <string>{65,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,213},{282,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{282,218}}</string>
                <key>offset</key>
                <string>{65,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,213},{282,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{282,218}}</string>
                <key>offset</key>
                <string>{65,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,213},{282,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,614},{234,222}}</string>
                <key>offset</key>
                <string>{40,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,209},{234,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,614},{234,222}}</string>
                <key>offset</key>
                <string>{40,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,209},{234,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,614},{234,222}}</string>
                <key>offset</key>
                <string>{40,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,209},{234,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,850},{168,232}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,199},{168,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,850},{168,232}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,199},{168,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,850},{168,232}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,199},{168,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{196,242}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,189},{196,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{196,242}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,189},{196,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{196,242}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,189},{196,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfwa0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,120}}</string>
                <key>offset</key>
                <string>{64,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,325},{444,120}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{430,106}}</string>
                <key>offset</key>
                <string>{64,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,331},{430,106}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{430,106}}</string>
                <key>offset</key>
                <string>{64,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,331},{430,106}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{442,102}}</string>
                <key>offset</key>
                <string>{60,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,332},{442,102}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{442,102}}</string>
                <key>offset</key>
                <string>{60,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,332},{442,102}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{444,98}}</string>
                <key>offset</key>
                <string>{56,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,331},{444,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{444,98}}</string>
                <key>offset</key>
                <string>{56,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,331},{444,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,102},{398,98}}</string>
                <key>offset</key>
                <string>{74,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,332},{398,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,102},{398,98}}</string>
                <key>offset</key>
                <string>{74,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,332},{398,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,202},{384,94}}</string>
                <key>offset</key>
                <string>{69,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,331},{384,94}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,202},{384,94}}</string>
                <key>offset</key>
                <string>{69,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,331},{384,94}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,298},{360,74}}</string>
                <key>offset</key>
                <string>{67,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,339},{360,74}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,298},{360,74}}</string>
                <key>offset</key>
                <string>{67,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,339},{360,74}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_8_a.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0551a417c9774e8debd03e438132bff:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_8_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
