<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_gj0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,176}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,128},{108,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,176}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,128},{108,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,176}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,128},{108,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{118,174}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,130},{118,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{118,174}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,130},{118,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{118,174}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,130},{118,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,174},{122,160}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,141},{122,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,174},{122,160}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,141},{122,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,174},{122,160}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,141},{122,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{136,170}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,131},{136,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{136,170}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,131},{136,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{136,170}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,131},{136,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{132,174}}</string>
                <key>offset</key>
                <string>{-10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,127},{132,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{130,170}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,131},{130,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{130,170}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,131},{130,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_6.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:026e5fb80d4747a958ceb75553d1aa00:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
