<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_oyfa0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,822},{266,168}}</string>
                <key>offset</key>
                <string>{56,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,340},{266,168}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,822},{266,168}}</string>
                <key>offset</key>
                <string>{56,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,340},{266,168}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,726},{282,170}}</string>
                <key>offset</key>
                <string>{60,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,340},{282,170}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,726},{282,170}}</string>
                <key>offset</key>
                <string>{60,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,340},{282,170}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,654},{276,166}}</string>
                <key>offset</key>
                <string>{62,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,343},{276,166}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,654},{276,166}}</string>
                <key>offset</key>
                <string>{62,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,343},{276,166}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{406,298}}</string>
                <key>offset</key>
                <string>{52,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,245},{406,298}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{406,298}}</string>
                <key>offset</key>
                <string>{52,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,245},{406,298}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,298}}</string>
                <key>offset</key>
                <string>{61,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,249},{434,298}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,298}}</string>
                <key>offset</key>
                <string>{61,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,249},{434,298}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{398,264}}</string>
                <key>offset</key>
                <string>{70,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,279},{398,264}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{398,264}}</string>
                <key>offset</key>
                <string>{70,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,279},{398,264}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1010},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,326},{310,154}}</string>
                <key>offset</key>
                <string>{247,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{542,333},{310,154}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,326},{310,154}}</string>
                <key>offset</key>
                <string>{247,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{542,333},{310,154}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{322,156}}</string>
                <key>offset</key>
                <string>{253,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{542,338},{322,156}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{322,156}}</string>
                <key>offset</key>
                <string>{253,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{542,338},{322,156}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,674},{344,172}}</string>
                <key>offset</key>
                <string>{265,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{543,331},{344,172}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,674},{344,172}}</string>
                <key>offset</key>
                <string>{265,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{543,331},{344,172}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,486},{316,166}}</string>
                <key>offset</key>
                <string>{244,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{536,326},{316,166}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,486},{316,166}}</string>
                <key>offset</key>
                <string>{244,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{536,326},{316,166}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{292,178}}</string>
                <key>offset</key>
                <string>{230,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{534,320},{292,178}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{292,178}}</string>
                <key>offset</key>
                <string>{230,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{534,320},{292,178}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,302},{316,182}}</string>
                <key>offset</key>
                <string>{241,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{533,316},{316,182}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,302},{316,182}}</string>
                <key>offset</key>
                <string>{241,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{533,316},{316,182}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,654},{338,178}}</string>
                <key>offset</key>
                <string>{254,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{535,318},{338,178}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,654},{338,178}}</string>
                <key>offset</key>
                <string>{254,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{535,318},{338,178}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,326},{346,184}}</string>
                <key>offset</key>
                <string>{253,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{530,317},{346,184}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,326},{346,184}}</string>
                <key>offset</key>
                <string>{253,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{530,317},{346,184}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_14_b.pvr.ccz</string>
            <key>size</key>
            <string>{1004,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad08e57949e3dc30e19dc941ca912949:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_14_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
