<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juma0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,594},{240,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{240,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,630},{248,282}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,58},{248,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,630},{248,282}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,58},{248,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,314},{242,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{242,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,314},{242,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{242,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,594},{240,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{240,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,594},{240,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{240,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{252,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,60},{252,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,688},{250,280}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,59},{250,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{296,310}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,48},{296,310}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{296,310}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,48},{296,310}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{338,336}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{338,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{338,336}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{338,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{338,336}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{338,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{346,346}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{346,346}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{346,346}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{346,346}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,312}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{346,312}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,312}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{346,312}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,312}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{346,312}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,312}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{346,312}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,316},{338,312}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{338,312}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,316},{338,312}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{338,312}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>juma0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,316},{338,312}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{338,312}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_1004_a.pvr.ccz</string>
            <key>size</key>
            <string>{1002,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa1ed75a787208870b8aa46a217e7c0e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_1004_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
