<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jlfw0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,252},{178,248}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,156},{178,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,252},{178,248}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,156},{178,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,252},{178,248}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,156},{178,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,252},{178,248}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,156},{178,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,252},{178,248}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,156},{178,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,248},{166,250}}</string>
                <key>offset</key>
                <string>{-15,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{166,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,248},{166,250}}</string>
                <key>offset</key>
                <string>{-15,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{166,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,248},{166,250}}</string>
                <key>offset</key>
                <string>{-15,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{166,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,248},{166,250}}</string>
                <key>offset</key>
                <string>{-15,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{166,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,248},{166,250}}</string>
                <key>offset</key>
                <string>{-15,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{166,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,500},{178,246}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,163},{178,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,500},{178,246}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,163},{178,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,500},{178,246}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,163},{178,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,500},{178,246}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,163},{178,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,500},{178,246}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,163},{178,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,502},{200,244}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,161},{200,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,502},{200,244}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,161},{200,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,502},{200,244}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,161},{200,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,502},{200,244}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,161},{200,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,502},{200,244}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,161},{200,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,228},{216,248}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,157},{216,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,228},{216,248}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,157},{216,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,228},{216,248}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,157},{216,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,228},{216,248}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,157},{216,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,228},{216,248}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,157},{216,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,248},{218,252}}</string>
                <key>offset</key>
                <string>{-26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,159},{218,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,248},{218,252}}</string>
                <key>offset</key>
                <string>{-26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,159},{218,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,248},{218,252}}</string>
                <key>offset</key>
                <string>{-26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,159},{218,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,248},{218,252}}</string>
                <key>offset</key>
                <string>{-26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,159},{218,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,248},{218,252}}</string>
                <key>offset</key>
                <string>{-26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,159},{218,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{210,252}}</string>
                <key>offset</key>
                <string>{-28,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,159},{210,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{210,252}}</string>
                <key>offset</key>
                <string>{-28,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,159},{210,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{210,252}}</string>
                <key>offset</key>
                <string>{-28,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,159},{210,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{210,252}}</string>
                <key>offset</key>
                <string>{-28,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,159},{210,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{210,252}}</string>
                <key>offset</key>
                <string>{-28,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,159},{210,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,502},{194,252}}</string>
                <key>offset</key>
                <string>{-26,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{194,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,502},{194,252}}</string>
                <key>offset</key>
                <string>{-26,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{194,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,502},{194,252}}</string>
                <key>offset</key>
                <string>{-26,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{194,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,502},{194,252}}</string>
                <key>offset</key>
                <string>{-26,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{194,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,502},{194,252}}</string>
                <key>offset</key>
                <string>{-26,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{194,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,244}}</string>
                <key>offset</key>
                <string>{-12,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,170},{230,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,244}}</string>
                <key>offset</key>
                <string>{-12,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,170},{230,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,244}}</string>
                <key>offset</key>
                <string>{-12,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,170},{230,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,244}}</string>
                <key>offset</key>
                <string>{-12,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,170},{230,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,244}}</string>
                <key>offset</key>
                <string>{-12,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,170},{230,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,244}}</string>
                <key>offset</key>
                <string>{-12,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,170},{230,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{226,248}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{226,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{226,248}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{226,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{226,248}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{226,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{226,248}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{226,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{226,248}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{226,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{226,248}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{226,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{224,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,166},{224,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{224,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,166},{224,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{224,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,166},{224,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{224,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,166},{224,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{224,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,166},{224,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{224,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,166},{224,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{228,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{228,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{228,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{228,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{228,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,248}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,166},{228,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0725.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{232,244}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,170},{232,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0726.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{232,244}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,170},{232,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0727.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{232,244}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,170},{232,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0728.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{232,244}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,170},{232,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0729.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{232,244}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,170},{232,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0730.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{232,244}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,170},{232,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_8.pvr.ccz</string>
            <key>size</key>
            <string>{1016,714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b909bb937a6b66bf15bd5e8af25b527:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
