<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_hys0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,400},{170,192}}</string>
                <key>offset</key>
                <string>{-47,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,234},{170,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,400},{170,192}}</string>
                <key>offset</key>
                <string>{-47,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,234},{170,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,400},{170,192}}</string>
                <key>offset</key>
                <string>{-47,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,234},{170,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,594},{176,196}}</string>
                <key>offset</key>
                <string>{-43,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,227},{176,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,594},{176,196}}</string>
                <key>offset</key>
                <string>{-43,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,227},{176,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,594},{176,196}}</string>
                <key>offset</key>
                <string>{-43,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,227},{176,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{182,192}}</string>
                <key>offset</key>
                <string>{-41,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,224},{182,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{182,192}}</string>
                <key>offset</key>
                <string>{-41,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,224},{182,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{182,192}}</string>
                <key>offset</key>
                <string>{-41,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,224},{182,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,198}}</string>
                <key>offset</key>
                <string>{-42,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,231},{192,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,198}}</string>
                <key>offset</key>
                <string>{-42,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,231},{192,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,198}}</string>
                <key>offset</key>
                <string>{-42,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,231},{192,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{190,196}}</string>
                <key>offset</key>
                <string>{-45,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,233},{190,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{190,196}}</string>
                <key>offset</key>
                <string>{-45,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,233},{190,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{190,196}}</string>
                <key>offset</key>
                <string>{-45,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,233},{190,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{184,198}}</string>
                <key>offset</key>
                <string>{-46,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,227},{184,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{184,198}}</string>
                <key>offset</key>
                <string>{-46,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,227},{184,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{184,198}}</string>
                <key>offset</key>
                <string>{-46,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,227},{184,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,400},{178,192}}</string>
                <key>offset</key>
                <string>{-43,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,223},{178,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,400},{178,192}}</string>
                <key>offset</key>
                <string>{-43,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,223},{178,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,400},{178,192}}</string>
                <key>offset</key>
                <string>{-43,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,223},{178,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,792},{178,194}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,237},{178,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,792},{178,194}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,237},{178,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,792},{178,194}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,237},{178,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,594},{178,196}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{178,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,594},{178,196}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{178,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,594},{178,196}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{178,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{178,196}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{178,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{178,196}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{178,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{178,196}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{178,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,792},{176,198}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,233},{176,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,792},{176,198}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,233},{176,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,792},{176,198}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,233},{176,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{176,198}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,233},{176,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{176,198}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,233},{176,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{176,198}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,233},{176,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,202},{178,196}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{178,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,202},{178,196}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{178,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,202},{178,196}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{178,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_32.pvr.ccz</string>
            <key>size</key>
            <string>{540,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e7459b9e7c56ce06059de5465f14794:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_32.pvr.ccz</string>
        </dict>
    </dict>
</plist>
