<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zwja0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,342},{168,54}}</string>
                <key>offset</key>
                <string>{24,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,184},{168,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,398},{166,56}}</string>
                <key>offset</key>
                <string>{27,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,185},{166,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,398},{162,56}}</string>
                <key>offset</key>
                <string>{24,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,185},{162,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,398},{162,56}}</string>
                <key>offset</key>
                <string>{24,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,185},{162,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,398},{162,56}}</string>
                <key>offset</key>
                <string>{25,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,185},{162,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,168},{180,54}}</string>
                <key>offset</key>
                <string>{8,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,187},{180,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,280},{164,60}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,181},{164,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,456},{164,58}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,181},{164,58}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,224},{168,46}}</string>
                <key>offset</key>
                <string>{19,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,184},{168,46}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,224},{168,46}}</string>
                <key>offset</key>
                <string>{19,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,184},{168,46}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,224},{178,54}}</string>
                <key>offset</key>
                <string>{19,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,184},{178,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{180,134}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{180,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,516},{172,134}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,107},{172,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{192,152}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,89},{192,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{222,164}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,77},{222,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{250,170}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,62},{250,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,186}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,46},{272,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_zwja0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_33_a.pvr.ccz</string>
            <key>size</key>
            <string>{500,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66c19e4d4b3ad7670f1b2021bad505a9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_33_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
