<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_la0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,762},{70,54}}</string>
                <key>offset</key>
                <string>{68,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,90},{70,54}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,690},{70,54}}</string>
                <key>offset</key>
                <string>{68,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,90},{70,54}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,834},{70,52}}</string>
                <key>offset</key>
                <string>{68,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,91},{70,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,618},{70,52}}</string>
                <key>offset</key>
                <string>{68,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,91},{70,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{70,54}}</string>
                <key>offset</key>
                <string>{68,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,90},{70,54}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{70,54}}</string>
                <key>offset</key>
                <string>{68,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,90},{70,54}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,444},{44,66}}</string>
                <key>offset</key>
                <string>{46,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,106},{44,66}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,374},{44,68}}</string>
                <key>offset</key>
                <string>{46,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,104},{44,68}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{48,68}}</string>
                <key>offset</key>
                <string>{47,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,104},{48,68}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,544},{52,72}}</string>
                <key>offset</key>
                <string>{44,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,104},{52,72}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{64,74}}</string>
                <key>offset</key>
                <string>{37,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,103},{64,74}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{74,86}}</string>
                <key>offset</key>
                <string>{35,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,91},{74,86}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{94,84}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,95},{94,84}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,86}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,91},{98,86}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{90,94}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,84},{90,94}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{78,90}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,89},{78,90}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{80,76}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,100},{80,76}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{66,64}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,109},{66,64}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_la0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_43.pvr.ccz</string>
            <key>size</key>
            <string>{127,903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c0ff9c6f0d49ad3ca04d1e4e162749:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_43.pvr.ccz</string>
        </dict>
    </dict>
</plist>
