<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_gsz0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,414},{202,180}}</string>
                <key>offset</key>
                <string>{26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,161},{202,180}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,414},{202,180}}</string>
                <key>offset</key>
                <string>{26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,161},{202,180}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{198,178}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,163},{198,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{198,178}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,163},{198,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{198,178}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,163},{198,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,196},{216,178}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,163},{216,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,196},{216,178}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,163},{216,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,196},{216,178}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,163},{216,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{222,182}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,159},{222,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{222,182}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,159},{222,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{222,182}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,159},{222,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,186}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,155},{224,186}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,186}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,155},{224,186}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,186}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,155},{224,186}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{212,192}}</string>
                <key>offset</key>
                <string>{26,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,149},{212,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{212,192}}</string>
                <key>offset</key>
                <string>{26,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,149},{212,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{212,192}}</string>
                <key>offset</key>
                <string>{26,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,149},{212,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{140,242}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,93},{140,242}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{140,242}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,93},{140,242}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{140,242}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,93},{140,242}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,246},{170,224}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,107},{170,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,246},{170,224}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,107},{170,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,246},{170,224}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,107},{170,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,246},{170,224}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,107},{170,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,246},{170,224}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,107},{170,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{140,172}}</string>
                <key>offset</key>
                <string>{-47,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,153},{140,172}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{140,172}}</string>
                <key>offset</key>
                <string>{-47,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,153},{140,172}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{140,172}}</string>
                <key>offset</key>
                <string>{-47,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,153},{140,172}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{140,172}}</string>
                <key>offset</key>
                <string>{-47,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,153},{140,172}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,618},{192,136}}</string>
                <key>offset</key>
                <string>{-40,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,211},{192,136}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,618},{192,136}}</string>
                <key>offset</key>
                <string>{-40,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,211},{192,136}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,618},{192,136}}</string>
                <key>offset</key>
                <string>{-40,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,211},{192,136}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,642},{200,104}}</string>
                <key>offset</key>
                <string>{-36,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,238},{200,104}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,642},{200,104}}</string>
                <key>offset</key>
                <string>{-36,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,238},{200,104}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,642},{200,104}}</string>
                <key>offset</key>
                <string>{-36,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,238},{200,104}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,748},{220,66}}</string>
                <key>offset</key>
                <string>{-28,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,288},{220,66}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,748},{220,66}}</string>
                <key>offset</key>
                <string>{-28,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,288},{220,66}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,748},{220,66}}</string>
                <key>offset</key>
                <string>{-28,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,288},{220,66}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{206,178}}</string>
                <key>offset</key>
                <string>{-26,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,171},{206,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{206,178}}</string>
                <key>offset</key>
                <string>{-26,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,171},{206,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{206,178}}</string>
                <key>offset</key>
                <string>{-26,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,171},{206,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{206,178}}</string>
                <key>offset</key>
                <string>{-26,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,171},{206,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,876},{172,122}}</string>
                <key>offset</key>
                <string>{-35,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,232},{172,122}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,876},{172,122}}</string>
                <key>offset</key>
                <string>{-35,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,232},{172,122}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,876},{172,122}}</string>
                <key>offset</key>
                <string>{-35,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,232},{172,122}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,876},{172,122}}</string>
                <key>offset</key>
                <string>{-35,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,232},{172,122}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,748},{158,118}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,231},{158,118}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,748},{158,118}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,231},{158,118}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,748},{158,118}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,231},{158,118}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,748},{158,118}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,231},{158,118}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,868},{128,140}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,213},{128,140}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,868},{128,140}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,213},{128,140}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,868},{128,140}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,213},{128,140}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,868},{128,140}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,213},{128,140}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{132,162}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,181},{132,162}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{132,162}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,181},{132,162}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{132,162}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,181},{132,162}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{132,162}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,181},{132,162}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,472},{168,188}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,153},{168,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,472},{168,188}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,153},{168,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,472},{168,188}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,153},{168,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,472},{168,188}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,153},{168,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_24.pvr.ccz</string>
            <key>size</key>
            <string>{584,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ddeefcbbb949b22a1b812452a2dd43e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_24.pvr.ccz</string>
        </dict>
    </dict>
</plist>
