<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_qf0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,192}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,178},{164,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,192}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,178},{164,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,196},{152,186}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,184},{152,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,196},{152,186}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,184},{152,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,196},{152,186}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,184},{152,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,192},{154,178}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,192},{154,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,192},{154,178}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,192},{154,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,192},{154,178}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,192},{154,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,186},{146,178}}</string>
                <key>offset</key>
                <string>{12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,192},{146,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,186},{146,178}}</string>
                <key>offset</key>
                <string>{12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,192},{146,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,186},{146,178}}</string>
                <key>offset</key>
                <string>{12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,192},{146,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{146,182}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,188},{146,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{146,182}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,188},{146,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{146,182}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,188},{146,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{150,188}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,182},{150,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{150,188}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,182},{150,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{150,188}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,182},{150,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,372},{126,186}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,177},{126,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,372},{126,186}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,177},{126,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,372},{126,186}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,177},{126,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,384},{188,108}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,221},{188,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,384},{188,108}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,221},{188,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,384},{188,108}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,221},{188,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,384},{188,108}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,221},{188,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,384},{188,108}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,221},{188,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,384},{188,108}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,221},{188,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,384},{188,108}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,221},{188,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{144,158}}</string>
                <key>offset</key>
                <string>{-57,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,221},{144,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{144,158}}</string>
                <key>offset</key>
                <string>{-57,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,221},{144,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{144,158}}</string>
                <key>offset</key>
                <string>{-57,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,221},{144,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{144,158}}</string>
                <key>offset</key>
                <string>{-57,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,221},{144,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{164,130}}</string>
                <key>offset</key>
                <string>{-48,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,241},{164,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{164,130}}</string>
                <key>offset</key>
                <string>{-48,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,241},{164,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{164,130}}</string>
                <key>offset</key>
                <string>{-48,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,241},{164,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,294},{212,78}}</string>
                <key>offset</key>
                <string>{-24,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,310},{212,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,294},{212,78}}</string>
                <key>offset</key>
                <string>{-24,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,310},{212,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,294},{212,78}}</string>
                <key>offset</key>
                <string>{-24,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,310},{212,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{192,110}}</string>
                <key>offset</key>
                <string>{-25,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,262},{192,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{192,110}}</string>
                <key>offset</key>
                <string>{-25,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,262},{192,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{192,110}}</string>
                <key>offset</key>
                <string>{-25,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,262},{192,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{192,110}}</string>
                <key>offset</key>
                <string>{-25,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,262},{192,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{148,122}}</string>
                <key>offset</key>
                <string>{-37,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,252},{148,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{148,122}}</string>
                <key>offset</key>
                <string>{-37,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,252},{148,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{148,122}}</string>
                <key>offset</key>
                <string>{-37,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,252},{148,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{148,122}}</string>
                <key>offset</key>
                <string>{-37,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,252},{148,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{148,122}}</string>
                <key>offset</key>
                <string>{-37,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,252},{148,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,168},{142,128}}</string>
                <key>offset</key>
                <string>{-28,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,242},{142,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,168},{142,128}}</string>
                <key>offset</key>
                <string>{-28,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,242},{142,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,168},{142,128}}</string>
                <key>offset</key>
                <string>{-28,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,242},{142,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,152},{124,140}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,230},{124,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,152},{124,140}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,230},{124,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,152},{124,140}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,230},{124,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,152},{124,140}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,230},{124,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,366},{130,174}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,196},{130,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,366},{130,174}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,196},{130,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,366},{130,174}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,196},{130,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{152,186}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,184},{152,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{152,186}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,184},{152,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{152,186}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,184},{152,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_17.pvr.ccz</string>
            <key>size</key>
            <string>{875,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee9d19c317cff3a5562a068c463deb8f:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_17.pvr.ccz</string>
        </dict>
    </dict>
</plist>
