<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_qfa0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,58}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,115},{238,58}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,58}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,115},{238,58}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,118}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,92},{238,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,118}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,92},{238,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{178,92}}</string>
                <key>offset</key>
                <string>{31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,105},{178,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{178,92}}</string>
                <key>offset</key>
                <string>{31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,105},{178,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,62},{22,98}}</string>
                <key>offset</key>
                <string>{62,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,102},{22,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,62},{22,98}}</string>
                <key>offset</key>
                <string>{62,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,102},{22,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_qfa0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_17_b.pvr.ccz</string>
            <key>size</key>
            <string>{662,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da5454ddb2246d48b4b6863c2b761bd0:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_17_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
