<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_yk0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,542},{170,180}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,160},{170,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,542},{170,180}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,160},{170,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,542},{170,180}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,160},{170,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,542},{170,180}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,160},{170,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,578},{184,174}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,166},{184,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,578},{184,174}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,166},{184,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,578},{184,174}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,166},{184,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,578},{184,174}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,166},{184,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,754},{128,210}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,161},{128,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,754},{128,210}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,161},{128,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,754},{128,210}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,161},{128,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,724},{138,200}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,160},{138,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,724},{138,200}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,160},{138,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,724},{138,200}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,160},{138,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,724},{138,200}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,160},{138,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,680},{176,242}}</string>
                <key>offset</key>
                <string>{30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,105},{176,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,680},{176,242}}</string>
                <key>offset</key>
                <string>{30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,105},{176,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,680},{176,242}}</string>
                <key>offset</key>
                <string>{30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,105},{176,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,680},{176,242}}</string>
                <key>offset</key>
                <string>{30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,105},{176,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,680},{176,242}}</string>
                <key>offset</key>
                <string>{30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,105},{176,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,680},{176,242}}</string>
                <key>offset</key>
                <string>{30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,105},{176,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,354},{222,182}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,159},{222,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,354},{222,182}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,159},{222,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,354},{222,182}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,159},{222,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,354},{222,182}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,159},{222,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,864},{144,186}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,154},{144,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,864},{144,186}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,154},{144,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,864},{144,186}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,154},{144,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,864},{144,186}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,154},{144,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,352},{184,188}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,153},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,352},{184,188}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,153},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,352},{184,188}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,153},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,352},{184,188}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,153},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,924},{216,82}}</string>
                <key>offset</key>
                <string>{-45,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,306},{216,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,356}}</string>
                <key>offset</key>
                <string>{22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,48},{350,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{332,350}}</string>
                <key>offset</key>
                <string>{34,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,52},{332,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{332,350}}</string>
                <key>offset</key>
                <string>{34,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,52},{332,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{328,350}}</string>
                <key>offset</key>
                <string>{34,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,51},{328,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{328,350}}</string>
                <key>offset</key>
                <string>{34,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,51},{328,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{316,348}}</string>
                <key>offset</key>
                <string>{45,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,52},{316,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{316,348}}</string>
                <key>offset</key>
                <string>{45,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,52},{316,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{302,342}}</string>
                <key>offset</key>
                <string>{57,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,55},{302,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{302,342}}</string>
                <key>offset</key>
                <string>{57,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,55},{302,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,360},{248,318}}</string>
                <key>offset</key>
                <string>{86,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,72},{248,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,360},{248,318}}</string>
                <key>offset</key>
                <string>{86,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,72},{248,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yka0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,680},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_34.pvr.ccz</string>
            <key>size</key>
            <string>{1002,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63652c101349edcc69577aa6c2f52646:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_34.pvr.ccz</string>
        </dict>
    </dict>
</plist>
