<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_4tyn0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,746},{216,186}}</string>
                <key>offset</key>
                <string>{61,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,166},{216,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,746},{216,186}}</string>
                <key>offset</key>
                <string>{61,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,166},{216,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,746},{216,186}}</string>
                <key>offset</key>
                <string>{61,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,166},{216,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,328},{110,298}}</string>
                <key>offset</key>
                <string>{57,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,54},{110,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,328},{110,298}}</string>
                <key>offset</key>
                <string>{57,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,54},{110,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,328},{110,298}}</string>
                <key>offset</key>
                <string>{57,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,54},{110,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,188},{202,242}}</string>
                <key>offset</key>
                <string>{44,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,110},{202,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,188},{202,242}}</string>
                <key>offset</key>
                <string>{44,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,110},{202,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,188},{202,242}}</string>
                <key>offset</key>
                <string>{44,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,110},{202,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,188},{202,242}}</string>
                <key>offset</key>
                <string>{44,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,110},{202,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,746},{182,196}}</string>
                <key>offset</key>
                <string>{63,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,160},{182,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,746},{182,196}}</string>
                <key>offset</key>
                <string>{63,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,160},{182,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,740},{160,114}}</string>
                <key>offset</key>
                <string>{36,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,242},{160,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,740},{160,114}}</string>
                <key>offset</key>
                <string>{36,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,242},{160,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,184},{190,168}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,188},{190,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,184},{190,168}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,188},{190,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,184},{190,168}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,188},{190,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,184},{190,168}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,188},{190,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,184},{190,168}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,188},{190,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,184},{190,168}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,188},{190,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,184},{190,168}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,188},{190,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,188},{206,152}}</string>
                <key>offset</key>
                <string>{-22,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,203},{206,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,188},{206,152}}</string>
                <key>offset</key>
                <string>{-22,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,203},{206,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,188},{206,152}}</string>
                <key>offset</key>
                <string>{-22,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,203},{206,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{262,180}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,173},{262,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{262,180}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,173},{262,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{262,180}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,173},{262,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{280,184}}</string>
                <key>offset</key>
                <string>{28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,169},{280,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{280,184}}</string>
                <key>offset</key>
                <string>{28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,169},{280,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{280,184}}</string>
                <key>offset</key>
                <string>{28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,169},{280,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,592},{152,174}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,183},{152,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,592},{152,174}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,183},{152,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,376},{148,196}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,156},{148,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,376},{148,196}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,156},{148,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,392},{238,198}}</string>
                <key>offset</key>
                <string>{55,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,153},{238,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,392},{238,198}}</string>
                <key>offset</key>
                <string>{55,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,153},{238,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,746},{162,180}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,172},{162,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,746},{162,180}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,172},{162,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,746},{162,180}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,172},{162,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,746},{162,180}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,172},{162,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,746},{162,180}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,172},{162,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{286,154}}</string>
                <key>offset</key>
                <string>{98,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,198},{286,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{286,154}}</string>
                <key>offset</key>
                <string>{98,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,198},{286,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{328,158}}</string>
                <key>offset</key>
                <string>{80,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,194},{328,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{328,158}}</string>
                <key>offset</key>
                <string>{80,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,194},{328,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,592},{226,152}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,200},{226,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,592},{226,152}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,200},{226,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,592},{226,152}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,200},{226,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,592},{226,152}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,200},{226,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,592},{226,152}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,200},{226,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,588},{150,168}}</string>
                <key>offset</key>
                <string>{25,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,184},{150,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,588},{150,168}}</string>
                <key>offset</key>
                <string>{25,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,184},{150,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,588},{150,168}}</string>
                <key>offset</key>
                <string>{25,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,184},{150,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,396},{190,184}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,168},{190,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,396},{190,184}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,168},{190,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,396},{190,184}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,168},{190,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyna0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,328},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,324}}</string>
                <key>offset</key>
                <string>{82,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,83},{286,324}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_31_a.pvr.ccz</string>
            <key>size</key>
            <string>{858,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbc79d7b618cd61070c74905839ee918:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_31_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
