<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_gsz0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,148},{168,208}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,134},{168,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,148},{168,208}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,134},{168,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,148},{168,208}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,134},{168,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,564},{190,214}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,128},{190,214}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,564},{190,214}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,128},{190,214}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,564},{190,214}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,128},{190,214}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,816},{150,236}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,107},{150,236}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,816},{150,236}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,107},{150,236}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,816},{150,236}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,107},{150,236}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,816},{150,236}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,107},{150,236}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,816},{150,236}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,107},{150,236}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{298,236}}</string>
                <key>offset</key>
                <string>{42,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,106},{298,236}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{298,236}}</string>
                <key>offset</key>
                <string>{42,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,106},{298,236}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{144,196}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,149},{144,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{144,196}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,149},{144,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{144,196}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,149},{144,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{144,196}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,149},{144,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,564},{250,172}}</string>
                <key>offset</key>
                <string>{59,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,180},{250,172}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,564},{250,172}}</string>
                <key>offset</key>
                <string>{59,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,180},{250,172}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{236,182}}</string>
                <key>offset</key>
                <string>{54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,172},{236,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{236,182}}</string>
                <key>offset</key>
                <string>{54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,172},{236,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{236,182}}</string>
                <key>offset</key>
                <string>{54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,172},{236,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{236,182}}</string>
                <key>offset</key>
                <string>{54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,172},{236,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{236,182}}</string>
                <key>offset</key>
                <string>{54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,172},{236,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,780},{208,186}}</string>
                <key>offset</key>
                <string>{39,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,165},{208,186}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,780},{208,186}}</string>
                <key>offset</key>
                <string>{39,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,165},{208,186}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,178}}</string>
                <key>offset</key>
                <string>{84,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,164},{300,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,178}}</string>
                <key>offset</key>
                <string>{84,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,164},{300,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,178}}</string>
                <key>offset</key>
                <string>{84,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,164},{300,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,178}}</string>
                <key>offset</key>
                <string>{84,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,164},{300,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,178}}</string>
                <key>offset</key>
                <string>{84,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,164},{300,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{294,178}}</string>
                <key>offset</key>
                <string>{80,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,164},{294,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{294,178}}</string>
                <key>offset</key>
                <string>{80,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,164},{294,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{294,178}}</string>
                <key>offset</key>
                <string>{80,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,164},{294,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{294,178}}</string>
                <key>offset</key>
                <string>{80,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,164},{294,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{294,178}}</string>
                <key>offset</key>
                <string>{80,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,164},{294,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{294,182}}</string>
                <key>offset</key>
                <string>{82,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,160},{294,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{294,182}}</string>
                <key>offset</key>
                <string>{82,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,160},{294,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,378},{292,184}}</string>
                <key>offset</key>
                <string>{83,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,158},{292,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,378},{292,184}}</string>
                <key>offset</key>
                <string>{83,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,158},{292,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,378},{292,184}}</string>
                <key>offset</key>
                <string>{83,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,158},{292,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,378},{292,184}}</string>
                <key>offset</key>
                <string>{83,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,158},{292,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,378},{292,184}}</string>
                <key>offset</key>
                <string>{83,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,158},{292,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,186},{258,190}}</string>
                <key>offset</key>
                <string>{66,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,152},{258,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,186},{258,190}}</string>
                <key>offset</key>
                <string>{66,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,152},{258,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,186},{258,190}}</string>
                <key>offset</key>
                <string>{66,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,152},{258,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_24_b.pvr.ccz</string>
            <key>size</key>
            <string>{676,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc04c78c6e450a8708a1b39005d0624b:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_24_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
