<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_2tyn0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{158,210}}</string>
                <key>offset</key>
                <string>{50,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,150},{158,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{158,210}}</string>
                <key>offset</key>
                <string>{50,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,150},{158,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{158,210}}</string>
                <key>offset</key>
                <string>{50,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,150},{158,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{158,210}}</string>
                <key>offset</key>
                <string>{50,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,150},{158,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{156,208}}</string>
                <key>offset</key>
                <string>{46,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,150},{156,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{156,208}}</string>
                <key>offset</key>
                <string>{46,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,150},{156,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,178},{140,208}}</string>
                <key>offset</key>
                <string>{45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{140,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,178},{140,208}}</string>
                <key>offset</key>
                <string>{45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{140,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,178},{140,208}}</string>
                <key>offset</key>
                <string>{45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{140,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{130,206}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,151},{130,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{130,206}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,151},{130,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{130,206}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,151},{130,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,388},{132,204}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,155},{132,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,388},{132,204}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,155},{132,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,388},{132,204}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,155},{132,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,388},{132,204}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,155},{132,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,360},{132,202}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,155},{132,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,360},{132,202}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,155},{132,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,360},{132,202}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,155},{132,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,360},{132,202}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,155},{132,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,160},{140,206}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,149},{140,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,160},{140,206}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,149},{140,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,160},{140,206}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,149},{140,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,160},{140,206}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,149},{140,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,356},{142,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{142,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,356},{142,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{142,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,356},{142,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{142,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,216},{142,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{142,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,216},{142,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{142,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,216},{142,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{142,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,216},{142,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{142,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,148},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,148},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,148},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,148},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,148},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,148},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{144,206}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,151},{144,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{212,128}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,139},{212,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{212,128}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,139},{212,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{212,128}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,139},{212,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{212,128}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,139},{212,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{212,128}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,139},{212,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,174}}</string>
                <key>offset</key>
                <string>{-37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,156},{232,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,174}}</string>
                <key>offset</key>
                <string>{-37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,156},{232,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,174}}</string>
                <key>offset</key>
                <string>{-37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,156},{232,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,174}}</string>
                <key>offset</key>
                <string>{-37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,156},{232,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,174}}</string>
                <key>offset</key>
                <string>{-37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,156},{232,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_29.pvr.ccz</string>
            <key>size</key>
            <string>{992,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e23e5cd2b6d0f50b875bc13e88204148:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_29.pvr.ccz</string>
        </dict>
    </dict>
</plist>
