<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_mj0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{130,182}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,192},{130,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{130,182}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,192},{130,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{130,182}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,192},{130,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,186},{176,174}}</string>
                <key>offset</key>
                <string>{-20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,202},{176,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,186},{176,174}}</string>
                <key>offset</key>
                <string>{-20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,202},{176,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,186},{176,174}}</string>
                <key>offset</key>
                <string>{-20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,202},{176,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,560},{200,162}}</string>
                <key>offset</key>
                <string>{-45,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,216},{200,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,560},{200,162}}</string>
                <key>offset</key>
                <string>{-45,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,216},{200,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,560},{200,162}}</string>
                <key>offset</key>
                <string>{-45,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,216},{200,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,560},{200,162}}</string>
                <key>offset</key>
                <string>{-45,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,216},{200,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{324,134}}</string>
                <key>offset</key>
                <string>{74,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,241},{324,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{324,134}}</string>
                <key>offset</key>
                <string>{74,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,241},{324,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{320,134}}</string>
                <key>offset</key>
                <string>{83,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,241},{320,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{320,134}}</string>
                <key>offset</key>
                <string>{83,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,241},{320,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{320,134}}</string>
                <key>offset</key>
                <string>{83,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,241},{320,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{320,134}}</string>
                <key>offset</key>
                <string>{83,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,241},{320,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{320,134}}</string>
                <key>offset</key>
                <string>{83,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,241},{320,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{320,134}}</string>
                <key>offset</key>
                <string>{83,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,241},{320,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{248,188}}</string>
                <key>offset</key>
                <string>{72,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,198},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{248,188}}</string>
                <key>offset</key>
                <string>{72,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,198},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{248,188}}</string>
                <key>offset</key>
                <string>{72,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,198},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,362},{174,196}}</string>
                <key>offset</key>
                <string>{47,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,182},{174,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,362},{174,196}}</string>
                <key>offset</key>
                <string>{47,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,182},{174,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,362},{174,196}}</string>
                <key>offset</key>
                <string>{47,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,182},{174,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mja0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,86}}</string>
                <key>offset</key>
                <string>{155,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,356},{372,86}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,86}}</string>
                <key>offset</key>
                <string>{155,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,356},{372,86}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{340,64}}</string>
                <key>offset</key>
                <string>{127,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,371},{340,64}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{340,64}}</string>
                <key>offset</key>
                <string>{127,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,371},{340,64}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{314,60}}</string>
                <key>offset</key>
                <string>{117,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,374},{314,60}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{314,60}}</string>
                <key>offset</key>
                <string>{117,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,374},{314,60}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_mja0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_16_b.pvr.ccz</string>
            <key>size</key>
            <string>{508,755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b89f7d17ec879f76aa8836969fab807:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_16_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
