<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_3tyn0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{154,160}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,180},{154,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{154,160}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,180},{154,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{154,160}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,180},{154,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,332},{138,156}}</string>
                <key>offset</key>
                <string>{-27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,184},{138,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,332},{138,156}}</string>
                <key>offset</key>
                <string>{-27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,184},{138,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,332},{138,156}}</string>
                <key>offset</key>
                <string>{-27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,184},{138,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,322},{124,140}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,175},{124,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,322},{124,140}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,175},{124,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,322},{124,140}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,175},{124,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,166},{128,162}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,179},{128,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,166},{128,162}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,179},{128,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,166},{128,162}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,179},{128,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,330},{140,158}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,179},{140,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,330},{140,158}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,179},{140,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,330},{140,158}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,179},{140,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,164},{152,156}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,165},{152,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,164},{152,156}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,165},{152,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,164},{152,156}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,165},{152,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{136,160}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,179},{136,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{136,160}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,179},{136,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{136,160}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,179},{136,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{136,160}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,179},{136,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,168},{136,162}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,177},{136,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,168},{136,162}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,177},{136,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,168},{136,162}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,177},{136,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,168},{136,162}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,177},{136,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,336},{134,164}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,175},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,336},{134,164}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,175},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,336},{134,164}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,175},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,336},{134,164}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,175},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{134,166}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,173},{134,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{134,166}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,173},{134,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{134,166}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,173},{134,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{134,166}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,173},{134,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{132,164}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,175},{132,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{132,164}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,175},{132,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{132,164}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,175},{132,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{132,164}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,175},{132,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,170},{134,164}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,175},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,170},{134,164}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,175},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,170},{134,164}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,175},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,170},{134,164}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,175},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0725.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{134,162}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,177},{134,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0726.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{134,162}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,177},{134,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0727.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{134,162}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,177},{134,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0728.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{134,162}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,177},{134,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{192,148}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,129},{192,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{192,148}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,129},{192,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{192,148}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,129},{192,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{192,148}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,129},{192,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{192,148}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,129},{192,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,70}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,189},{218,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,70}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,189},{218,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,70}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,189},{218,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,70}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,189},{218,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,70}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,189},{218,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_30.pvr.ccz</string>
            <key>size</key>
            <string>{776,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:969ad0b0613d3d242bde1aca74cd0ad3:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
