<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_hys0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{160,200}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,235},{160,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{160,200}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,235},{160,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{172,198}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,234},{172,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{172,198}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,234},{172,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{172,198}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,234},{172,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{192,190}}</string>
                <key>offset</key>
                <string>{-20,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,241},{192,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{192,190}}</string>
                <key>offset</key>
                <string>{-20,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,241},{192,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{192,190}}</string>
                <key>offset</key>
                <string>{-20,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,241},{192,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,200},{188,194}}</string>
                <key>offset</key>
                <string>{-17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,237},{188,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,200},{188,194}}</string>
                <key>offset</key>
                <string>{-17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,237},{188,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,200},{188,194}}</string>
                <key>offset</key>
                <string>{-17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,237},{188,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,202},{190,196}}</string>
                <key>offset</key>
                <string>{-17,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,235},{190,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,202},{190,196}}</string>
                <key>offset</key>
                <string>{-17,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,235},{190,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,202},{190,196}}</string>
                <key>offset</key>
                <string>{-17,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,235},{190,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{184,196}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,235},{184,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{184,196}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,235},{184,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{184,196}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,235},{184,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,202},{156,198}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,193},{156,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,202},{156,198}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,193},{156,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,202},{156,198}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,193},{156,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,202},{156,198}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,193},{156,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,400},{178,152}}</string>
                <key>offset</key>
                <string>{-38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,199},{178,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,400},{178,152}}</string>
                <key>offset</key>
                <string>{-38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,199},{178,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,400},{178,152}}</string>
                <key>offset</key>
                <string>{-38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,199},{178,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,400},{178,152}}</string>
                <key>offset</key>
                <string>{-38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,199},{178,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,400},{178,152}}</string>
                <key>offset</key>
                <string>{-38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,199},{178,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,400},{178,152}}</string>
                <key>offset</key>
                <string>{-38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,199},{178,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,400},{178,152}}</string>
                <key>offset</key>
                <string>{-38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,199},{178,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,402},{152,154}}</string>
                <key>offset</key>
                <string>{-56,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,256},{152,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,402},{152,154}}</string>
                <key>offset</key>
                <string>{-56,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,256},{152,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,402},{152,154}}</string>
                <key>offset</key>
                <string>{-56,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,256},{152,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{174,126}}</string>
                <key>offset</key>
                <string>{-47,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,329},{174,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{174,126}}</string>
                <key>offset</key>
                <string>{-47,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,329},{174,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{174,126}}</string>
                <key>offset</key>
                <string>{-47,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,329},{174,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{190,116}}</string>
                <key>offset</key>
                <string>{-34,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,337},{190,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{190,116}}</string>
                <key>offset</key>
                <string>{-34,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,337},{190,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{190,116}}</string>
                <key>offset</key>
                <string>{-34,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,337},{190,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,80}}</string>
                <key>offset</key>
                <string>{-24,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,372},{210,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,80}}</string>
                <key>offset</key>
                <string>{-24,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,372},{210,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,80}}</string>
                <key>offset</key>
                <string>{-24,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,372},{210,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{198,100}}</string>
                <key>offset</key>
                <string>{-14,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,344},{198,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{198,100}}</string>
                <key>offset</key>
                <string>{-14,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,344},{198,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{198,100}}</string>
                <key>offset</key>
                <string>{-14,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,344},{198,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{198,100}}</string>
                <key>offset</key>
                <string>{-14,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,344},{198,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{174,138}}</string>
                <key>offset</key>
                <string>{-5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,311},{174,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{174,138}}</string>
                <key>offset</key>
                <string>{-5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,311},{174,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{174,138}}</string>
                <key>offset</key>
                <string>{-5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,311},{174,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{174,138}}</string>
                <key>offset</key>
                <string>{-5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,311},{174,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,388},{166,150}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,282},{166,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,388},{166,150}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,282},{166,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,388},{166,150}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,282},{166,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,400},{156,164}}</string>
                <key>offset</key>
                <string>{10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,269},{156,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,400},{156,164}}</string>
                <key>offset</key>
                <string>{10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,269},{156,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,400},{156,164}}</string>
                <key>offset</key>
                <string>{10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,269},{156,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,396},{160,174}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,258},{160,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,396},{160,174}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,258},{160,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,396},{160,174}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,258},{160,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,196},{190,186}}</string>
                <key>offset</key>
                <string>{-17,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,245},{190,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,196},{190,186}}</string>
                <key>offset</key>
                <string>{-17,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,245},{190,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,196},{190,186}}</string>
                <key>offset</key>
                <string>{-17,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,245},{190,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_32.pvr.ccz</string>
            <key>size</key>
            <string>{1014,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:192411595f0091335c33e69e2f766d2d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_32.pvr.ccz</string>
        </dict>
    </dict>
</plist>
