<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_l0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{234,124}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,209},{234,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{234,124}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,209},{234,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{234,124}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,209},{234,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{234,124}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,209},{234,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,464},{230,124}}</string>
                <key>offset</key>
                <string>{-38,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,209},{230,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,464},{230,124}}</string>
                <key>offset</key>
                <string>{-38,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,209},{230,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,464},{230,124}}</string>
                <key>offset</key>
                <string>{-38,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,209},{230,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,464},{230,124}}</string>
                <key>offset</key>
                <string>{-38,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,209},{230,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,464},{230,124}}</string>
                <key>offset</key>
                <string>{-38,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,209},{230,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,464},{230,124}}</string>
                <key>offset</key>
                <string>{-38,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,209},{230,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,464},{230,124}}</string>
                <key>offset</key>
                <string>{-38,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,209},{230,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{238,146}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,187},{238,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{238,146}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,187},{238,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{238,146}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,187},{238,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{238,146}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,187},{238,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{238,146}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,187},{238,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,140}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,196},{240,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,140}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,196},{240,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,140}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,196},{240,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,140}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,196},{240,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,140}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,196},{240,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,140}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,196},{240,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,140}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,196},{240,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,226},{228,122}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,213},{228,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,226},{228,122}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,213},{228,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,226},{228,122}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,213},{228,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,226},{228,122}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,213},{228,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{212,112}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,219},{212,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{212,112}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,219},{212,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{212,112}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,219},{212,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{220,114}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,220},{220,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{220,114}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,220},{220,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{220,114}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,220},{220,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{220,114}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,220},{220,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{220,114}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,220},{220,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,118},{214,106}}</string>
                <key>offset</key>
                <string>{-21,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,228},{214,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,118},{214,106}}</string>
                <key>offset</key>
                <string>{-21,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,228},{214,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,118},{214,106}}</string>
                <key>offset</key>
                <string>{-21,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,228},{214,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,118},{214,106}}</string>
                <key>offset</key>
                <string>{-21,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,228},{214,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,118},{214,106}}</string>
                <key>offset</key>
                <string>{-21,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,228},{214,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,590},{204,102}}</string>
                <key>offset</key>
                <string>{-13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,234},{204,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,590},{204,102}}</string>
                <key>offset</key>
                <string>{-13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,234},{204,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,590},{204,102}}</string>
                <key>offset</key>
                <string>{-13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,234},{204,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,590},{204,102}}</string>
                <key>offset</key>
                <string>{-13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,234},{204,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,590},{202,114}}</string>
                <key>offset</key>
                <string>{11,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,228},{202,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,590},{202,114}}</string>
                <key>offset</key>
                <string>{11,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,228},{202,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,542},{208,114}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,209},{208,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,542},{208,114}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,209},{208,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,350},{228,112}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,215},{228,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,350},{228,112}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,215},{228,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,350},{228,112}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,215},{228,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{238,122}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,211},{238,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{238,122}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,211},{238,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{238,122}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,211},{238,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_43.pvr.ccz</string>
            <key>size</key>
            <string>{472,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e631dac813d51ef7b3ad9a9c87c984d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_43.pvr.ccz</string>
        </dict>
    </dict>
</plist>
