<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_ryya0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,146}}</string>
                <key>offset</key>
                <string>{29,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,263},{442,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryya0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{438,140}}</string>
                <key>offset</key>
                <string>{31,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,265},{438,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryya0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{438,140}}</string>
                <key>offset</key>
                <string>{31,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,265},{438,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryya0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,144},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryya0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,144},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryya0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,144},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryya0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,144},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryya0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,144},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryya0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,144},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryya0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,144},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_27_b.pvr.ccz</string>
            <key>size</key>
            <string>{886,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b70390f9f4aa0646a6609757d7f88e3:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_27_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
