<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_mj0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,630},{146,200}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,179},{146,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,630},{146,200}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,179},{146,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,630},{146,200}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,179},{146,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,568},{144,172}}</string>
                <key>offset</key>
                <string>{14,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,207},{144,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,568},{144,172}}</string>
                <key>offset</key>
                <string>{14,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,207},{144,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,568},{144,172}}</string>
                <key>offset</key>
                <string>{14,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,207},{144,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,568},{144,172}}</string>
                <key>offset</key>
                <string>{14,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,207},{144,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,398},{222,154}}</string>
                <key>offset</key>
                <string>{62,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,234},{222,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,398},{222,154}}</string>
                <key>offset</key>
                <string>{62,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,234},{222,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{246,150}}</string>
                <key>offset</key>
                <string>{-9,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,229},{246,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{246,150}}</string>
                <key>offset</key>
                <string>{-9,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,229},{246,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,398},{218,168}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,211},{218,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,398},{218,168}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,211},{218,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,398},{218,168}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,211},{218,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,398},{218,168}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,211},{218,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,398},{218,168}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,211},{218,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,398},{218,168}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,211},{218,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,398},{218,168}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,211},{218,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,398},{218,168}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,211},{218,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,554},{182,200}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,179},{182,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,554},{182,200}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,179},{182,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,554},{182,200}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,179},{182,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,568},{190,192}}</string>
                <key>offset</key>
                <string>{-17,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,187},{190,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,568},{190,192}}</string>
                <key>offset</key>
                <string>{-17,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,187},{190,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,568},{190,192}}</string>
                <key>offset</key>
                <string>{-17,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,187},{190,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mja0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{460,190}}</string>
                <key>offset</key>
                <string>{10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,236},{460,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{494,204}}</string>
                <key>offset</key>
                <string>{31,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,247},{494,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,228}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,231},{504,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{466,204}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,233},{466,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,208},{460,188}}</string>
                <key>offset</key>
                <string>{10,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,253},{460,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_mja0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_16_a.pvr.ccz</string>
            <key>size</key>
            <string>{1006,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a394282965f85aca57f6ab5adfbe3468:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_16_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
