<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_gsz0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,394},{196,190}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,151},{196,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,394},{196,190}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,151},{196,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,394},{196,190}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,151},{196,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,776},{192,184}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,156},{192,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,776},{192,184}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,156},{192,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,776},{192,184}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,156},{192,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,776},{192,184}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,156},{192,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,584},{188,190}}</string>
                <key>offset</key>
                <string>{28,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,149},{188,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,584},{188,190}}</string>
                <key>offset</key>
                <string>{28,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,149},{188,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,584},{188,190}}</string>
                <key>offset</key>
                <string>{28,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,149},{188,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{190,198}}</string>
                <key>offset</key>
                <string>{29,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,147},{190,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{190,198}}</string>
                <key>offset</key>
                <string>{29,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,147},{190,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{190,198}}</string>
                <key>offset</key>
                <string>{29,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,147},{190,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{190,198}}</string>
                <key>offset</key>
                <string>{29,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,147},{190,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,776},{190,194}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,152},{190,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,776},{190,194}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,152},{190,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,776},{190,194}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,152},{190,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,394},{188,192}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,153},{188,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,394},{188,192}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,153},{188,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,394},{188,192}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,153},{188,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,394},{188,192}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,153},{188,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,786},{190,196}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,147},{190,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,786},{190,196}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,147},{190,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,786},{190,196}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,147},{190,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,196},{200,196}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,146},{200,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,196},{200,196}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,146},{200,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,196},{200,196}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,146},{200,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,196}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,146},{204,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,196}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,146},{204,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,196}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,146},{204,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{206,194}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,148},{206,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{206,194}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,148},{206,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{206,194}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,148},{206,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{206,192}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,150},{206,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{206,192}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,150},{206,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{206,192}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,150},{206,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,198},{204,192}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,150},{204,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,198},{204,192}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,150},{204,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,198},{204,192}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,150},{204,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{200,192}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,150},{200,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{200,192}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,150},{200,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{200,192}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,150},{200,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{196,194}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,148},{196,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{196,194}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,148},{196,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{196,194}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,148},{196,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{194,194}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{194,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{194,194}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{194,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{194,194}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{194,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,392},{170,224}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,114},{170,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,392},{170,224}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,114},{170,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,392},{170,224}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,114},{170,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,392},{170,224}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,114},{170,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,392},{170,224}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,114},{170,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,618},{188,156}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,162},{188,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,618},{188,156}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,162},{188,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,618},{188,156}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,162},{188,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,618},{188,156}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,162},{188,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsz0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,618},{188,156}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,162},{188,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_24.pvr.ccz</string>
            <key>size</key>
            <string>{764,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6416f6d3be1a2e76f720be57a816738b:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_24.pvr.ccz</string>
        </dict>
    </dict>
</plist>
