<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_sja0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{296,198}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,156},{296,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{296,198}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,156},{296,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,200}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,155},{298,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,200}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,155},{298,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{298,198}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,156},{298,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{298,198}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,156},{298,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,202},{292,196}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,155},{292,196}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,202},{292,196}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,155},{292,196}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{298,192}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,162},{298,192}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{298,192}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,162},{298,192}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,886},{100,106}}</string>
                <key>offset</key>
                <string>{-18,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,226},{100,106}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,886},{100,106}}</string>
                <key>offset</key>
                <string>{-18,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,226},{100,106}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,866},{100,104}}</string>
                <key>offset</key>
                <string>{-18,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,228},{100,104}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,734},{104,88}}</string>
                <key>offset</key>
                <string>{81,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,107},{104,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,734},{104,88}}</string>
                <key>offset</key>
                <string>{81,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,107},{104,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,734},{104,88}}</string>
                <key>offset</key>
                <string>{81,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,107},{104,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,614},{72,82}}</string>
                <key>offset</key>
                <string>{84,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,107},{72,82}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,464},{148,126}}</string>
                <key>offset</key>
                <string>{81,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,87},{148,126}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,316},{148,126}}</string>
                <key>offset</key>
                <string>{81,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,87},{148,126}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,316},{148,126}}</string>
                <key>offset</key>
                <string>{81,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,87},{148,126}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,744},{102,118}}</string>
                <key>offset</key>
                <string>{84,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,87},{102,118}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,614},{102,118}}</string>
                <key>offset</key>
                <string>{84,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,87},{102,118}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,886},{110,118}}</string>
                <key>offset</key>
                <string>{85,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,87},{110,118}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{110,118}}</string>
                <key>offset</key>
                <string>{85,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,87},{110,118}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{110,118}}</string>
                <key>offset</key>
                <string>{85,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,87},{110,118}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,864},{100,82}}</string>
                <key>offset</key>
                <string>{80,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,108},{100,82}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,598},{100,82}}</string>
                <key>offset</key>
                <string>{80,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,108},{100,82}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,316},{54,52}}</string>
                <key>offset</key>
                <string>{62,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,125},{54,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,316},{54,52}}</string>
                <key>offset</key>
                <string>{62,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,125},{54,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,316},{54,52}}</string>
                <key>offset</key>
                <string>{62,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,125},{54,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,316},{134,26}}</string>
                <key>offset</key>
                <string>{42,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,306},{134,26}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,400},{134,28}}</string>
                <key>offset</key>
                <string>{42,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,305},{134,28}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,606},{138,136}}</string>
                <key>offset</key>
                <string>{45,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,203},{138,136}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,726},{140,136}}</string>
                <key>offset</key>
                <string>{44,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,202},{140,136}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,172},{142,134}}</string>
                <key>offset</key>
                <string>{45,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,204},{142,134}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,742},{142,136}}</string>
                <key>offset</key>
                <string>{45,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,202},{142,136}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,864},{120,136}}</string>
                <key>offset</key>
                <string>{55,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,202},{120,136}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,866},{120,134}}</string>
                <key>offset</key>
                <string>{56,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,203},{120,134}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,744},{120,134}}</string>
                <key>offset</key>
                <string>{56,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,203},{120,134}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{202,142}}</string>
                <key>offset</key>
                <string>{37,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,198},{202,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{202,142}}</string>
                <key>offset</key>
                <string>{37,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,198},{202,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,400},{210,136}}</string>
                <key>offset</key>
                <string>{37,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,194},{210,136}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,400},{210,136}}</string>
                <key>offset</key>
                <string>{37,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,194},{210,136}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,172},{200,142}}</string>
                <key>offset</key>
                <string>{41,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,197},{200,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,172},{200,142}}</string>
                <key>offset</key>
                <string>{41,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,197},{200,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,538},{202,140}}</string>
                <key>offset</key>
                <string>{34,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,196},{202,140}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,538},{202,140}}</string>
                <key>offset</key>
                <string>{34,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,196},{202,140}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{206,168}}</string>
                <key>offset</key>
                <string>{36,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,189},{206,168}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{206,168}}</string>
                <key>offset</key>
                <string>{36,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,189},{206,168}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{210,142}}</string>
                <key>offset</key>
                <string>{44,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,219},{210,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0528.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0529.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,592},{132,146}}</string>
                <key>offset</key>
                <string>{80,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,119},{132,146}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0530.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,466},{128,146}}</string>
                <key>offset</key>
                <string>{81,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,118},{128,146}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0531.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,824},{126,150}}</string>
                <key>offset</key>
                <string>{79,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,119},{126,150}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0532.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,680},{154,142}}</string>
                <key>offset</key>
                <string>{36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,197},{154,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0533.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,680},{154,142}}</string>
                <key>offset</key>
                <string>{36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,197},{154,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0534.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,466},{138,148}}</string>
                <key>offset</key>
                <string>{33,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,187},{138,148}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0535.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,466},{138,148}}</string>
                <key>offset</key>
                <string>{33,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,187},{138,148}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0536.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,316},{156,146}}</string>
                <key>offset</key>
                <string>{31,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,189},{156,146}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0537.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,316},{156,146}}</string>
                <key>offset</key>
                <string>{31,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,189},{156,146}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0538.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{162,156}}</string>
                <key>offset</key>
                <string>{32,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,203},{162,156}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0539.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0540.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0541.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,202},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_46_f.pvr.ccz</string>
            <key>size</key>
            <string>{974,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c580252c1da90363cfbb8da839e99c8:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_46_f.pvr.ccz</string>
        </dict>
    </dict>
</plist>
