<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_yz0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,288},{282,142}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,195},{282,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,288},{282,142}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,195},{282,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,288},{282,142}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,195},{282,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,288},{282,142}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,195},{282,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,296},{292,138}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,193},{292,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,296},{292,138}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,193},{292,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,296},{292,138}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,193},{292,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,296},{292,138}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,193},{292,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,140}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,187},{296,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,140}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,187},{296,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,140}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,187},{296,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,140}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,187},{296,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{294,144}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,188},{294,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{294,144}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,188},{294,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{294,144}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,188},{294,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{294,144}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,188},{294,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{292,148}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,185},{292,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{292,148}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,185},{292,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{292,148}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,185},{292,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{292,148}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,185},{292,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{290,150}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,185},{290,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{290,150}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,185},{290,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{290,150}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,185},{290,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{290,150}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,185},{290,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,296},{286,144}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,191},{286,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,296},{286,144}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,191},{286,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,296},{286,144}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,191},{286,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,296},{286,144}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,191},{286,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{284,146}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,192},{284,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{284,146}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,192},{284,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{284,146}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,192},{284,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{284,146}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,192},{284,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{284,146}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,192},{284,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,288},{284,144}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,194},{284,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,288},{284,144}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,194},{284,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,288},{284,144}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,194},{284,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,288},{284,144}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,194},{284,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,288},{284,144}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,194},{284,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{286,142}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,196},{286,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{286,142}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,196},{286,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{286,142}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,196},{286,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{286,142}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,196},{286,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{286,142}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,196},{286,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,290},{286,140}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,198},{286,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,290},{286,140}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,198},{286,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,290},{286,140}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,198},{286,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,290},{286,140}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,198},{286,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,290},{286,140}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,198},{286,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,432},{284,142}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,196},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,432},{284,142}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,196},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,432},{284,142}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,196},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,432},{284,142}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,196},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0725.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,432},{284,142}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,196},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0726.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{284,142}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,196},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0727.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{284,142}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,196},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0728.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{284,142}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,196},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0729.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{284,142}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,196},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0730.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{284,142}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,196},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0731.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,578},{284,144}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,194},{284,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0732.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,578},{284,144}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,194},{284,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0733.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,578},{284,144}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,194},{284,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0734.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,578},{284,144}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,194},{284,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0735.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,578},{284,144}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,194},{284,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{236,186}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,139},{236,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{236,186}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,139},{236,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{236,186}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,139},{236,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{236,186}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,139},{236,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{236,186}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,139},{236,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,584},{234,172}}</string>
                <key>offset</key>
                <string>{-31,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,152},{234,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,584},{234,172}}</string>
                <key>offset</key>
                <string>{-31,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,152},{234,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,584},{234,172}}</string>
                <key>offset</key>
                <string>{-31,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,152},{234,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,584},{234,172}}</string>
                <key>offset</key>
                <string>{-31,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,152},{234,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,584},{234,172}}</string>
                <key>offset</key>
                <string>{-31,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,152},{234,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_44.pvr.ccz</string>
            <key>size</key>
            <string>{1006,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5d56f287951e832f0b4b2773e37fe6d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_44.pvr.ccz</string>
        </dict>
    </dict>
</plist>
