<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_yk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,186},{184,188}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,153},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,186},{184,188}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,153},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,186},{184,188}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,153},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,186},{184,188}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,153},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,186},{184,188}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,153},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,186},{184,188}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,153},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,372},{210,156}}</string>
                <key>offset</key>
                <string>{-51,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,187},{210,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,372},{210,156}}</string>
                <key>offset</key>
                <string>{-51,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,187},{210,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,372},{210,156}}</string>
                <key>offset</key>
                <string>{-51,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,187},{210,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{214,164}}</string>
                <key>offset</key>
                <string>{-53,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,179},{214,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{214,164}}</string>
                <key>offset</key>
                <string>{-53,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,179},{214,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{214,164}}</string>
                <key>offset</key>
                <string>{-53,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,179},{214,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,172}}</string>
                <key>offset</key>
                <string>{-50,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,171},{208,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,172}}</string>
                <key>offset</key>
                <string>{-50,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,171},{208,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,172}}</string>
                <key>offset</key>
                <string>{-50,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,171},{208,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,172}}</string>
                <key>offset</key>
                <string>{-50,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,171},{208,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{194,182}}</string>
                <key>offset</key>
                <string>{-43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,161},{194,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{194,182}}</string>
                <key>offset</key>
                <string>{-43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,161},{194,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{194,182}}</string>
                <key>offset</key>
                <string>{-43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,161},{194,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,634},{130,176}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,167},{130,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,634},{130,176}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,167},{130,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,634},{130,176}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,167},{130,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,634},{130,176}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,167},{130,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{156,168}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,141},{156,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{156,168}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,141},{156,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{156,168}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,141},{156,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{156,168}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,141},{156,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,812},{176,118}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,138},{176,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,812},{176,118}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,138},{176,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,812},{176,118}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,138},{176,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,812},{176,118}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,138},{176,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,812},{176,118}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,138},{176,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,812},{176,118}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,138},{176,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,724},{156,140}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,194},{156,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,724},{156,140}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,194},{156,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,724},{156,140}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,194},{156,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,186},{230,100}}</string>
                <key>offset</key>
                <string>{-22,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,255},{230,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,186},{230,100}}</string>
                <key>offset</key>
                <string>{-22,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,255},{230,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,932},{230,76}}</string>
                <key>offset</key>
                <string>{-23,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,281},{230,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,932},{230,76}}</string>
                <key>offset</key>
                <string>{-23,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,281},{230,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,932},{230,76}}</string>
                <key>offset</key>
                <string>{-23,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,281},{230,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{236,92}}</string>
                <key>offset</key>
                <string>{-32,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,265},{236,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{236,92}}</string>
                <key>offset</key>
                <string>{-32,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,265},{236,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{236,92}}</string>
                <key>offset</key>
                <string>{-32,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,265},{236,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{236,92}}</string>
                <key>offset</key>
                <string>{-32,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,265},{236,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{236,92}}</string>
                <key>offset</key>
                <string>{-32,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,265},{236,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{218,112}}</string>
                <key>offset</key>
                <string>{-33,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,239},{218,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{218,112}}</string>
                <key>offset</key>
                <string>{-33,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,239},{218,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{218,112}}</string>
                <key>offset</key>
                <string>{-33,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,239},{218,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{218,112}}</string>
                <key>offset</key>
                <string>{-33,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,239},{218,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{218,112}}</string>
                <key>offset</key>
                <string>{-33,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,239},{218,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,418},{214,122}}</string>
                <key>offset</key>
                <string>{-32,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,220},{214,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,418},{214,122}}</string>
                <key>offset</key>
                <string>{-32,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,220},{214,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,418},{214,122}}</string>
                <key>offset</key>
                <string>{-32,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,220},{214,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,418},{214,122}}</string>
                <key>offset</key>
                <string>{-32,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,220},{214,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,418},{214,122}}</string>
                <key>offset</key>
                <string>{-32,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,220},{214,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,584},{138,168}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,187},{138,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,584},{138,168}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,187},{138,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,584},{138,168}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,187},{138,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,584},{138,168}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,187},{138,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_yk0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,584},{138,168}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,187},{138,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_34.pvr.ccz</string>
            <key>size</key>
            <string>{460,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37b8a10f9806020824b338024f3bef45:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_34.pvr.ccz</string>
        </dict>
    </dict>
</plist>
