<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_yg0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{238,174}}</string>
                <key>offset</key>
                <string>{-52,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,267},{238,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{238,174}}</string>
                <key>offset</key>
                <string>{-52,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,267},{238,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,180}}</string>
                <key>offset</key>
                <string>{-46,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,261},{234,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,180}}</string>
                <key>offset</key>
                <string>{-46,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,261},{234,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,180}}</string>
                <key>offset</key>
                <string>{-46,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,261},{234,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,184},{156,192}}</string>
                <key>offset</key>
                <string>{-16,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,268},{156,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,184},{156,192}}</string>
                <key>offset</key>
                <string>{-16,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,268},{156,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,184},{156,192}}</string>
                <key>offset</key>
                <string>{-16,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,268},{156,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,152},{126,198}}</string>
                <key>offset</key>
                <string>{-4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,268},{126,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,152},{126,198}}</string>
                <key>offset</key>
                <string>{-4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,268},{126,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,152},{126,198}}</string>
                <key>offset</key>
                <string>{-4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,268},{126,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,184},{126,198}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,264},{126,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,184},{126,198}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,264},{126,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,184},{126,198}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,264},{126,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{180,204}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,255},{180,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{180,204}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,255},{180,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{180,204}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,255},{180,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,184},{130,198}}</string>
                <key>offset</key>
                <string>{-12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,232},{130,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,184},{130,198}}</string>
                <key>offset</key>
                <string>{-12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,232},{130,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,184},{130,198}}</string>
                <key>offset</key>
                <string>{-12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,232},{130,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{178,164}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,216},{178,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{178,164}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,216},{178,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{178,164}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,216},{178,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,184},{140,216}}</string>
                <key>offset</key>
                <string>{-27,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,134},{140,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,184},{140,216}}</string>
                <key>offset</key>
                <string>{-27,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,134},{140,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,184},{140,216}}</string>
                <key>offset</key>
                <string>{-27,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,134},{140,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,184},{140,216}}</string>
                <key>offset</key>
                <string>{-27,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,134},{140,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,184},{140,216}}</string>
                <key>offset</key>
                <string>{-27,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,134},{140,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{148,188}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,235},{148,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{148,188}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,235},{148,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{148,188}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,235},{148,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{148,188}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,235},{148,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{188,114}}</string>
                <key>offset</key>
                <string>{-47,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,340},{188,114}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{188,114}}</string>
                <key>offset</key>
                <string>{-47,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,340},{188,114}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{188,114}}</string>
                <key>offset</key>
                <string>{-47,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,340},{188,114}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,446},{196,96}}</string>
                <key>offset</key>
                <string>{-41,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,354},{196,96}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,446},{196,96}}</string>
                <key>offset</key>
                <string>{-41,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,354},{196,96}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,446},{196,96}}</string>
                <key>offset</key>
                <string>{-41,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,354},{196,96}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,168},{202,68}}</string>
                <key>offset</key>
                <string>{-39,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,386},{202,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,168},{202,68}}</string>
                <key>offset</key>
                <string>{-39,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,386},{202,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,168},{202,68}}</string>
                <key>offset</key>
                <string>{-39,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,386},{202,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,352},{188,92}}</string>
                <key>offset</key>
                <string>{-31,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,359},{188,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,352},{188,92}}</string>
                <key>offset</key>
                <string>{-31,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,359},{188,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,352},{188,92}}</string>
                <key>offset</key>
                <string>{-31,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,359},{188,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,352},{188,92}}</string>
                <key>offset</key>
                <string>{-31,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,359},{188,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,378},{164,120}}</string>
                <key>offset</key>
                <string>{-19,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,332},{164,120}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,378},{164,120}}</string>
                <key>offset</key>
                <string>{-19,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,332},{164,120}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,378},{164,120}}</string>
                <key>offset</key>
                <string>{-19,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,332},{164,120}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,378},{164,120}}</string>
                <key>offset</key>
                <string>{-19,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,332},{164,120}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,384},{156,108}}</string>
                <key>offset</key>
                <string>{-23,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,336},{156,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,384},{156,108}}</string>
                <key>offset</key>
                <string>{-23,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,336},{156,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,384},{156,108}}</string>
                <key>offset</key>
                <string>{-23,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,336},{156,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,384},{156,108}}</string>
                <key>offset</key>
                <string>{-23,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,336},{156,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,384},{144,180}}</string>
                <key>offset</key>
                <string>{-20,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,317},{144,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,384},{144,180}}</string>
                <key>offset</key>
                <string>{-20,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,317},{144,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,384},{144,180}}</string>
                <key>offset</key>
                <string>{-20,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,317},{144,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,402},{140,162}}</string>
                <key>offset</key>
                <string>{-5,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,292},{140,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,402},{140,162}}</string>
                <key>offset</key>
                <string>{-5,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,292},{140,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,402},{140,162}}</string>
                <key>offset</key>
                <string>{-5,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,292},{140,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{174,180}}</string>
                <key>offset</key>
                <string>{-26,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,261},{174,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{174,180}}</string>
                <key>offset</key>
                <string>{-26,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,261},{174,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{174,180}}</string>
                <key>offset</key>
                <string>{-26,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,261},{174,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_39.pvr.ccz</string>
            <key>size</key>
            <string>{999,545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:647465b57f42c952ae4cd79a8f24f0d9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_39.pvr.ccz</string>
        </dict>
    </dict>
</plist>
