<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,15}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{144,15}}</string>
                <key>sourceSize</key>
                <string>{160,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_pao_6.pvr.ccz</string>
            <key>size</key>
            <string>{148,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92116e23c360e1c02f6772ce74a84727:1/1$</string>
            <key>textureFileName</key>
            <string>Role_pao_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
