<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_hys0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{208,186}}</string>
                <key>offset</key>
                <string>{66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,200},{208,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{208,186}}</string>
                <key>offset</key>
                <string>{66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,200},{208,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{208,186}}</string>
                <key>offset</key>
                <string>{66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,200},{208,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{208,186}}</string>
                <key>offset</key>
                <string>{66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,200},{208,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{208,186}}</string>
                <key>offset</key>
                <string>{66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,200},{208,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{208,186}}</string>
                <key>offset</key>
                <string>{66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,200},{208,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{208,186}}</string>
                <key>offset</key>
                <string>{66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,200},{208,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{188,186}}</string>
                <key>offset</key>
                <string>{35,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,233},{188,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{188,186}}</string>
                <key>offset</key>
                <string>{35,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,233},{188,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,696},{180,180}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,261},{180,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,696},{180,180}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,261},{180,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,696},{180,180}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,261},{180,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{272,196}}</string>
                <key>offset</key>
                <string>{164,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,237},{272,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,220}}</string>
                <key>offset</key>
                <string>{164,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,213},{272,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{234,208}}</string>
                <key>offset</key>
                <string>{183,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,213},{234,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,236},{228,116}}</string>
                <key>offset</key>
                <string>{180,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,213},{228,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,466},{228,118}}</string>
                <key>offset</key>
                <string>{154,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,207},{228,118}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{232,116}}</string>
                <key>offset</key>
                <string>{179,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,202},{232,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{232,116}}</string>
                <key>offset</key>
                <string>{179,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,202},{232,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,878},{190,102}}</string>
                <key>offset</key>
                <string>{195,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,209},{190,102}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_32_c.pvr.ccz</string>
            <key>size</key>
            <string>{394,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9004e9acdd27905c245f7b158d4e5821:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_32_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
