<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_sj0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,334},{302,354}}</string>
                <key>offset</key>
                <string>{-62,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,275},{302,354}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,334},{302,354}}</string>
                <key>offset</key>
                <string>{-62,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,275},{302,354}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,334},{302,354}}</string>
                <key>offset</key>
                <string>{-62,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,275},{302,354}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,392},{296,362}}</string>
                <key>offset</key>
                <string>{-80,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,267},{296,362}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,392},{296,362}}</string>
                <key>offset</key>
                <string>{-80,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,267},{296,362}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,392},{296,362}}</string>
                <key>offset</key>
                <string>{-80,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,267},{296,362}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,392},{296,362}}</string>
                <key>offset</key>
                <string>{-80,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,267},{296,362}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{336,354}}</string>
                <key>offset</key>
                <string>{-101,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,275},{336,354}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{336,354}}</string>
                <key>offset</key>
                <string>{-101,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,275},{336,354}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{336,354}}</string>
                <key>offset</key>
                <string>{-101,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,275},{336,354}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{336,354}}</string>
                <key>offset</key>
                <string>{-101,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,275},{336,354}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,330}}</string>
                <key>offset</key>
                <string>{-124,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,299},{364,330}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,330}}</string>
                <key>offset</key>
                <string>{-124,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,299},{364,330}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,330}}</string>
                <key>offset</key>
                <string>{-124,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,299},{364,330}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,330}}</string>
                <key>offset</key>
                <string>{-124,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,299},{364,330}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{378,310}}</string>
                <key>offset</key>
                <string>{-151,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,319},{378,310}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{378,310}}</string>
                <key>offset</key>
                <string>{-151,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,319},{378,310}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{378,310}}</string>
                <key>offset</key>
                <string>{-151,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,319},{378,310}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{388,270}}</string>
                <key>offset</key>
                <string>{-194,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,381},{388,270}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{388,270}}</string>
                <key>offset</key>
                <string>{-194,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,381},{388,270}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{454,190}}</string>
                <key>offset</key>
                <string>{-204,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,464},{454,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{454,190}}</string>
                <key>offset</key>
                <string>{-204,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,464},{454,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{454,190}}</string>
                <key>offset</key>
                <string>{-204,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,464},{454,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{454,190}}</string>
                <key>offset</key>
                <string>{-204,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,464},{454,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{454,190}}</string>
                <key>offset</key>
                <string>{-204,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,464},{454,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{454,190}}</string>
                <key>offset</key>
                <string>{-204,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,464},{454,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{454,190}}</string>
                <key>offset</key>
                <string>{-204,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,464},{454,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{454,190}}</string>
                <key>offset</key>
                <string>{-204,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,464},{454,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{454,190}}</string>
                <key>offset</key>
                <string>{-204,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,464},{454,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{454,190}}</string>
                <key>offset</key>
                <string>{-204,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,464},{454,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_46.pvr.ccz</string>
            <key>size</key>
            <string>{1020,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4a370bc0c19ebe1bdf69b8d5f457bb3:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_46.pvr.ccz</string>
        </dict>
    </dict>
</plist>
