<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_gj0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,296},{126,186}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,120},{126,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,296},{126,186}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,120},{126,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,296},{126,186}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,120},{126,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,302},{114,190}}</string>
                <key>offset</key>
                <string>{-26,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,116},{114,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,302},{114,190}}</string>
                <key>offset</key>
                <string>{-26,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,116},{114,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,302},{114,190}}</string>
                <key>offset</key>
                <string>{-26,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,116},{114,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,296},{112,188}}</string>
                <key>offset</key>
                <string>{-29,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,118},{112,188}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,296},{112,188}}</string>
                <key>offset</key>
                <string>{-29,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,118},{112,188}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,296},{112,188}}</string>
                <key>offset</key>
                <string>{-29,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,118},{112,188}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{202,166}}</string>
                <key>offset</key>
                <string>{51,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,144},{202,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{202,166}}</string>
                <key>offset</key>
                <string>{51,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,144},{202,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{202,166}}</string>
                <key>offset</key>
                <string>{51,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,144},{202,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{202,166}}</string>
                <key>offset</key>
                <string>{51,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,144},{202,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{202,166}}</string>
                <key>offset</key>
                <string>{51,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,144},{202,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{202,166}}</string>
                <key>offset</key>
                <string>{51,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,144},{202,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{202,166}}</string>
                <key>offset</key>
                <string>{51,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,144},{202,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{142,172}}</string>
                <key>offset</key>
                <string>{21,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,138},{142,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{142,172}}</string>
                <key>offset</key>
                <string>{21,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,138},{142,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{142,172}}</string>
                <key>offset</key>
                <string>{21,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,138},{142,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{142,172}}</string>
                <key>offset</key>
                <string>{21,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,138},{142,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{142,172}}</string>
                <key>offset</key>
                <string>{21,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,138},{142,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{128,178}}</string>
                <key>offset</key>
                <string>{14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,132},{128,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{128,178}}</string>
                <key>offset</key>
                <string>{14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,132},{128,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{128,178}}</string>
                <key>offset</key>
                <string>{14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,132},{128,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,206},{104,178}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,128},{104,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,206},{104,178}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,128},{104,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,206},{104,178}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,128},{104,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,386},{108,176}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,128},{108,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,386},{108,176}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,128},{108,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,386},{108,176}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,128},{108,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,178},{118,174}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,130},{118,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,178},{118,174}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,130},{118,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,178},{118,174}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,130},{118,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,176},{122,160}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,141},{122,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,176},{122,160}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,141},{122,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,176},{122,160}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,141},{122,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,354},{136,170}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,131},{136,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,354},{136,170}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,131},{136,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,354},{136,170}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,131},{136,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{124,172}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{124,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{122,172}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,129},{122,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{132,174}}</string>
                <key>offset</key>
                <string>{-10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,127},{132,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,300},{130,170}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,131},{130,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,300},{130,170}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,131},{130,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gja0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{292,72}}</string>
                <key>offset</key>
                <string>{23,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,230},{292,72}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,82}}</string>
                <key>offset</key>
                <string>{26,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,225},{306,82}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{298,78}}</string>
                <key>offset</key>
                <string>{29,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,225},{298,78}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{296,78}}</string>
                <key>offset</key>
                <string>{30,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,224},{296,78}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{292,74}}</string>
                <key>offset</key>
                <string>{35,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,226},{292,74}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>monster_gja0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_6.pvr.ccz</string>
            <key>size</key>
            <string>{1002,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdfce30a204dbb2b69de0041b2d1928e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
