<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_qb0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{226,158}}</string>
                <key>offset</key>
                <string>{24,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,202},{226,158}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{226,158}}</string>
                <key>offset</key>
                <string>{24,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,202},{226,158}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{226,158}}</string>
                <key>offset</key>
                <string>{24,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,202},{226,158}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{226,158}}</string>
                <key>offset</key>
                <string>{24,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,202},{226,158}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{226,158}}</string>
                <key>offset</key>
                <string>{24,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,202},{226,158}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,186}}</string>
                <key>offset</key>
                <string>{18,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,174},{250,186}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,186}}</string>
                <key>offset</key>
                <string>{18,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,174},{250,186}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,186}}</string>
                <key>offset</key>
                <string>{18,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,174},{250,186}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,186}}</string>
                <key>offset</key>
                <string>{18,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,174},{250,186}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,186}}</string>
                <key>offset</key>
                <string>{18,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,174},{250,186}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{240,162}}</string>
                <key>offset</key>
                <string>{13,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,198},{240,162}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{240,162}}</string>
                <key>offset</key>
                <string>{13,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,198},{240,162}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{240,162}}</string>
                <key>offset</key>
                <string>{13,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,198},{240,162}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{240,162}}</string>
                <key>offset</key>
                <string>{13,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,198},{240,162}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,378},{234,140}}</string>
                <key>offset</key>
                <string>{10,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,220},{234,140}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,378},{234,140}}</string>
                <key>offset</key>
                <string>{10,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,220},{234,140}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,378},{234,140}}</string>
                <key>offset</key>
                <string>{10,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,220},{234,140}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{238,154}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,206},{238,154}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{238,154}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,206},{238,154}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{238,154}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,206},{238,154}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{232,186}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,174},{232,186}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{232,186}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,174},{232,186}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{232,186}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,174},{232,186}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,166},{130,250}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,104},{130,250}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,166},{130,250}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,104},{130,250}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,166},{130,250}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,104},{130,250}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,558},{130,142}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,170},{130,142}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,558},{130,142}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,170},{130,142}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,558},{130,142}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,170},{130,142}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,558},{130,142}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,170},{130,142}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,556},{140,106}}</string>
                <key>offset</key>
                <string>{-28,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,211},{140,106}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,556},{140,106}}</string>
                <key>offset</key>
                <string>{-28,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,211},{140,106}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,556},{140,106}}</string>
                <key>offset</key>
                <string>{-28,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,211},{140,106}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,556},{140,106}}</string>
                <key>offset</key>
                <string>{-28,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,211},{140,106}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,434},{122,150}}</string>
                <key>offset</key>
                <string>{-48,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,206},{122,150}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,434},{122,150}}</string>
                <key>offset</key>
                <string>{-48,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,206},{122,150}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,434},{122,150}}</string>
                <key>offset</key>
                <string>{-48,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,206},{122,150}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,698},{182,116}}</string>
                <key>offset</key>
                <string>{-43,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,249},{182,116}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,698},{182,116}}</string>
                <key>offset</key>
                <string>{-43,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,249},{182,116}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,698},{182,116}}</string>
                <key>offset</key>
                <string>{-43,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,249},{182,116}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,298},{214,78}}</string>
                <key>offset</key>
                <string>{-21,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,297},{214,78}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,298},{214,78}}</string>
                <key>offset</key>
                <string>{-21,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,297},{214,78}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,298},{214,78}}</string>
                <key>offset</key>
                <string>{-21,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,297},{214,78}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,110},{178,90}}</string>
                <key>offset</key>
                <string>{-31,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,285},{178,90}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,110},{178,90}}</string>
                <key>offset</key>
                <string>{-31,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,285},{178,90}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,110},{178,90}}</string>
                <key>offset</key>
                <string>{-31,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,285},{178,90}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{114,106}}</string>
                <key>offset</key>
                <string>{-76,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,264},{114,106}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{114,106}}</string>
                <key>offset</key>
                <string>{-76,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,264},{114,106}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{114,106}}</string>
                <key>offset</key>
                <string>{-76,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,264},{114,106}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{114,106}}</string>
                <key>offset</key>
                <string>{-76,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,264},{114,106}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,690},{110,110}}</string>
                <key>offset</key>
                <string>{-79,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,264},{110,110}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,690},{110,110}}</string>
                <key>offset</key>
                <string>{-79,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,264},{110,110}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,690},{110,110}}</string>
                <key>offset</key>
                <string>{-79,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,264},{110,110}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,690},{110,110}}</string>
                <key>offset</key>
                <string>{-79,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,264},{110,110}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,298},{134,158}}</string>
                <key>offset</key>
                <string>{-80,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,96},{134,158}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,298},{134,158}}</string>
                <key>offset</key>
                <string>{-80,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,96},{134,158}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,614},{176,190}}</string>
                <key>offset</key>
                <string>{-45,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,111},{176,190}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,614},{176,190}}</string>
                <key>offset</key>
                <string>{-45,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,111},{176,190}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,806},{182,188}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,172},{182,188}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,806},{182,188}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,172},{182,188}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,806},{182,188}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,172},{182,188}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,806},{182,188}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,172},{182,188}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,378},{176,146}}</string>
                <key>offset</key>
                <string>{21,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,214},{176,146}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,378},{176,146}}</string>
                <key>offset</key>
                <string>{21,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,214},{176,146}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,378},{176,146}}</string>
                <key>offset</key>
                <string>{21,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,214},{176,146}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,378},{176,146}}</string>
                <key>offset</key>
                <string>{21,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,214},{176,146}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,882},{180,124}}</string>
                <key>offset</key>
                <string>{23,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,236},{180,124}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,882},{180,124}}</string>
                <key>offset</key>
                <string>{23,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,236},{180,124}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,882},{180,124}}</string>
                <key>offset</key>
                <string>{23,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,236},{180,124}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,882},{180,124}}</string>
                <key>offset</key>
                <string>{23,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,236},{180,124}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0528.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{190,162}}</string>
                <key>offset</key>
                <string>{26,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,198},{190,162}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0529.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{190,162}}</string>
                <key>offset</key>
                <string>{26,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,198},{190,162}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0530.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{190,162}}</string>
                <key>offset</key>
                <string>{26,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,198},{190,162}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_7.pvr.ccz</string>
            <key>size</key>
            <string>{612,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83f9c7a5c0ec0836a878dbf30fc3b8d6:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
