<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_cr0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{246,218}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{246,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{246,218}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{246,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{246,218}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{246,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,234},{210,210}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,245},{210,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,234},{210,210}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,245},{210,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,234},{210,210}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,245},{210,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,234},{210,210}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,245},{210,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{220,194}}</string>
                <key>offset</key>
                <string>{16,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,261},{220,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,222}}</string>
                <key>offset</key>
                <string>{35,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,233},{258,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,222}}</string>
                <key>offset</key>
                <string>{35,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,233},{258,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,222}}</string>
                <key>offset</key>
                <string>{35,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,233},{258,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{244,230}}</string>
                <key>offset</key>
                <string>{28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,225},{244,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{244,230}}</string>
                <key>offset</key>
                <string>{28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,225},{244,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{244,230}}</string>
                <key>offset</key>
                <string>{28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,225},{244,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{244,230}}</string>
                <key>offset</key>
                <string>{28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,225},{244,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{244,230}}</string>
                <key>offset</key>
                <string>{28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,225},{244,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,446},{214,192}}</string>
                <key>offset</key>
                <string>{14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,259},{214,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,446},{214,192}}</string>
                <key>offset</key>
                <string>{14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,259},{214,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,446},{214,192}}</string>
                <key>offset</key>
                <string>{14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,259},{214,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_45.pvr.ccz</string>
            <key>size</key>
            <string>{508,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c562072b1ade4f0bc9a0a53d548c6e5c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_45.pvr.ccz</string>
        </dict>
    </dict>
</plist>
