<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_ybq0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{318,192}}</string>
                <key>offset</key>
                <string>{-51,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,180},{318,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{318,192}}</string>
                <key>offset</key>
                <string>{-51,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,180},{318,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{318,192}}</string>
                <key>offset</key>
                <string>{-51,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,180},{318,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,190}}</string>
                <key>offset</key>
                <string>{-47,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,172},{308,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,190}}</string>
                <key>offset</key>
                <string>{-47,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,172},{308,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,190}}</string>
                <key>offset</key>
                <string>{-47,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,172},{308,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{302,200}}</string>
                <key>offset</key>
                <string>{-49,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,176},{302,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{302,200}}</string>
                <key>offset</key>
                <string>{-49,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,176},{302,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{302,200}}</string>
                <key>offset</key>
                <string>{-49,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,176},{302,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,816},{304,200}}</string>
                <key>offset</key>
                <string>{-53,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,179},{304,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,816},{304,200}}</string>
                <key>offset</key>
                <string>{-53,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,179},{304,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,816},{304,200}}</string>
                <key>offset</key>
                <string>{-53,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,179},{304,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{312,192}}</string>
                <key>offset</key>
                <string>{-53,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,172},{312,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{312,192}}</string>
                <key>offset</key>
                <string>{-53,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,172},{312,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{312,192}}</string>
                <key>offset</key>
                <string>{-53,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,172},{312,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,618},{318,196}}</string>
                <key>offset</key>
                <string>{-52,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,177},{318,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,618},{318,196}}</string>
                <key>offset</key>
                <string>{-52,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,177},{318,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,618},{318,196}}</string>
                <key>offset</key>
                <string>{-52,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,177},{318,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{204,190}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,184},{204,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{204,190}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,184},{204,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{204,190}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,184},{204,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,194},{202,192}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,182},{202,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,194},{202,192}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,182},{202,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,194},{202,192}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,182},{202,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{202,192}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,182},{202,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{202,192}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,182},{202,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{202,192}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,182},{202,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,412},{204,192}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,182},{204,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,412},{204,192}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,182},{204,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,412},{204,192}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,182},{204,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,398},{204,192}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,182},{204,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,398},{204,192}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,182},{204,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,398},{204,192}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,182},{204,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{206,192}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,182},{206,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{206,192}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,182},{206,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{206,192}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,182},{206,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,206},{204,192}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,182},{204,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,206},{204,192}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,182},{204,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,206},{204,192}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,182},{204,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_41.pvr.ccz</string>
            <key>size</key>
            <string>{712,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3dbcc179459dd9c36b7c2dbb7e1ada3:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_41.pvr.ccz</string>
        </dict>
    </dict>
</plist>
