<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zzza0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,342},{472,328}}</string>
                <key>offset</key>
                <string>{-35,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,255},{472,328}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,342},{472,328}}</string>
                <key>offset</key>
                <string>{-35,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,255},{472,328}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{496,332}}</string>
                <key>offset</key>
                <string>{-57,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,247},{496,332}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{496,332}}</string>
                <key>offset</key>
                <string>{-57,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,247},{496,332}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{704,338}}</string>
                <key>offset</key>
                <string>{-13,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,298},{704,338}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{704,338}}</string>
                <key>offset</key>
                <string>{-13,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,298},{704,338}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_26_b.pvr.ccz</string>
            <key>size</key>
            <string>{974,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81a3ed1efbc914d5da574286a400cebf:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_26_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
