<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dfbb0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,390},{166,192}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,188},{166,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,390},{166,192}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,188},{166,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,614},{142,184}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,191},{142,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,614},{142,184}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,191},{142,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,422},{146,190}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,185},{146,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,214},{206,184}}</string>
                <key>offset</key>
                <string>{42,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,194},{206,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,214},{206,184}}</string>
                <key>offset</key>
                <string>{42,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,194},{206,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{210,184}}</string>
                <key>offset</key>
                <string>{43,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,194},{210,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{210,184}}</string>
                <key>offset</key>
                <string>{43,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,194},{210,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{210,184}}</string>
                <key>offset</key>
                <string>{43,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,194},{210,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{210,184}}</string>
                <key>offset</key>
                <string>{43,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,194},{210,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{210,184}}</string>
                <key>offset</key>
                <string>{43,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,194},{210,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{220,188}}</string>
                <key>offset</key>
                <string>{34,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,190},{220,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{220,188}}</string>
                <key>offset</key>
                <string>{34,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,190},{220,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,190},{168,198}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,177},{168,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,190},{168,198}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,177},{168,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,402},{154,194}}</string>
                <key>offset</key>
                <string>{19,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,181},{154,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,402},{154,194}}</string>
                <key>offset</key>
                <string>{19,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,181},{154,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{172,196}}</string>
                <key>offset</key>
                <string>{28,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,185},{172,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{172,196}}</string>
                <key>offset</key>
                <string>{28,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,185},{172,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{180,186}}</string>
                <key>offset</key>
                <string>{31,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,190},{180,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,598},{138,198}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,179},{138,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,598},{138,198}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,179},{138,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,598},{138,198}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,179},{138,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,200},{154,200}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,177},{154,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,200},{154,200}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,177},{154,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,224},{198,202}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,173},{198,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,224},{198,202}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,173},{198,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,276}}</string>
                <key>offset</key>
                <string>{124,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,119},{252,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,276}}</string>
                <key>offset</key>
                <string>{124,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,119},{252,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,584},{168,168}}</string>
                <key>offset</key>
                <string>{137,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,173},{168,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,584},{168,168}}</string>
                <key>offset</key>
                <string>{137,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,173},{168,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,486},{30,128}}</string>
                <key>offset</key>
                <string>{136,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,193},{30,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,486},{30,128}}</string>
                <key>offset</key>
                <string>{136,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,193},{30,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,518},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,428},{134,56}}</string>
                <key>offset</key>
                <string>{-86,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,84},{134,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,428},{134,56}}</string>
                <key>offset</key>
                <string>{-86,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,84},{134,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{260,252}}</string>
                <key>offset</key>
                <string>{34,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,96},{260,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{256,246}}</string>
                <key>offset</key>
                <string>{36,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,97},{256,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{256,246}}</string>
                <key>offset</key>
                <string>{36,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,97},{256,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,542},{258,242}}</string>
                <key>offset</key>
                <string>{35,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,98},{258,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,542},{258,242}}</string>
                <key>offset</key>
                <string>{35,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,98},{258,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,542},{258,242}}</string>
                <key>offset</key>
                <string>{35,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,98},{258,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_10_a.pvr.ccz</string>
            <key>size</key>
            <string>{989,802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fed556ab1f8c812f1a4b77038a6a83d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_10_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
