<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_3tyn0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{128,152}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,189},{128,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{128,152}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,189},{128,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{128,152}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,189},{128,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,426},{158,240}}</string>
                <key>offset</key>
                <string>{46,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,101},{158,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,426},{158,240}}</string>
                <key>offset</key>
                <string>{46,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,101},{158,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,426},{158,240}}</string>
                <key>offset</key>
                <string>{46,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,101},{158,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,304},{126,306}}</string>
                <key>offset</key>
                <string>{32,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,37},{126,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,304},{126,306}}</string>
                <key>offset</key>
                <string>{32,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,37},{126,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,382},{222,234}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,107},{222,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,382},{222,234}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,107},{222,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{224,178}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,164},{224,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{224,178}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,164},{224,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,156},{196,194}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,148},{196,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,156},{196,194}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,148},{196,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,156},{196,194}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,148},{196,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,156},{196,194}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,148},{196,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,156},{196,194}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,148},{196,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,156},{196,194}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,148},{196,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{238,146}}</string>
                <key>offset</key>
                <string>{89,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,198},{238,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{238,146}}</string>
                <key>offset</key>
                <string>{89,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,198},{238,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,354},{232,146}}</string>
                <key>offset</key>
                <string>{82,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,195},{232,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,354},{232,146}}</string>
                <key>offset</key>
                <string>{82,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,195},{232,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,354},{232,146}}</string>
                <key>offset</key>
                <string>{82,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,195},{232,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,354},{232,146}}</string>
                <key>offset</key>
                <string>{82,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,195},{232,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,354},{232,146}}</string>
                <key>offset</key>
                <string>{82,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,195},{232,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,354},{232,146}}</string>
                <key>offset</key>
                <string>{82,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,195},{232,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,354},{232,146}}</string>
                <key>offset</key>
                <string>{82,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,195},{232,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,150},{134,152}}</string>
                <key>offset</key>
                <string>{28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,188},{134,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,150},{134,152}}</string>
                <key>offset</key>
                <string>{28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,188},{134,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,150},{134,152}}</string>
                <key>offset</key>
                <string>{28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,188},{134,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyna0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{378,256}}</string>
                <key>offset</key>
                <string>{38,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,144},{378,256}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{378,256}}</string>
                <key>offset</key>
                <string>{38,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,144},{378,256}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,302}}</string>
                <key>offset</key>
                <string>{90,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,148},{422,302}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_3tyna0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,302}}</string>
                <key>offset</key>
                <string>{90,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,148},{422,302}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_30_a.pvr.ccz</string>
            <key>size</key>
            <string>{978,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e3d38d12d7a3350f1d8e4733a75ab1:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_30_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
