<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lei0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,668},{26,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>monster_bmdizi0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,580},{248,188}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,184},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,580},{248,188}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,184},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,580},{248,188}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,184},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{222,288}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,84},{222,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{222,288}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,84},{222,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{222,288}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,84},{222,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{222,288}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,84},{222,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{238,234}}</string>
                <key>offset</key>
                <string>{-48,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,138},{238,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{238,234}}</string>
                <key>offset</key>
                <string>{-48,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,138},{238,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{238,234}}</string>
                <key>offset</key>
                <string>{-48,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,138},{238,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{238,234}}</string>
                <key>offset</key>
                <string>{-48,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,138},{238,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{238,234}}</string>
                <key>offset</key>
                <string>{-48,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,138},{238,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{288,180}}</string>
                <key>offset</key>
                <string>{73,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,205},{288,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{288,180}}</string>
                <key>offset</key>
                <string>{73,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,205},{288,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,184},{284,180}}</string>
                <key>offset</key>
                <string>{74,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,206},{284,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,184},{284,180}}</string>
                <key>offset</key>
                <string>{74,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,206},{284,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,184},{284,180}}</string>
                <key>offset</key>
                <string>{74,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,206},{284,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,184},{284,180}}</string>
                <key>offset</key>
                <string>{74,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,206},{284,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,184},{284,180}}</string>
                <key>offset</key>
                <string>{74,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,206},{284,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,184},{284,180}}</string>
                <key>offset</key>
                <string>{74,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,206},{284,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{154,168}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,204},{154,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{154,168}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,204},{154,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{154,168}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,204},{154,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,390},{170,216}}</string>
                <key>offset</key>
                <string>{-36,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,156},{170,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,390},{170,216}}</string>
                <key>offset</key>
                <string>{-36,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,156},{170,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,390},{170,216}}</string>
                <key>offset</key>
                <string>{-36,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,156},{170,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,390},{170,216}}</string>
                <key>offset</key>
                <string>{-36,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,156},{170,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,366},{134,198}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,174},{134,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,366},{134,198}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,174},{134,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,366},{134,198}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,174},{134,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,366},{134,198}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,174},{134,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,172},{136,192}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,181},{136,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,172},{136,192}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,181},{136,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,172},{136,192}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,181},{136,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,172},{136,192}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,181},{136,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,172},{136,192}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,181},{136,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,608},{174,210}}</string>
                <key>offset</key>
                <string>{-42,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,163},{174,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,608},{174,210}}</string>
                <key>offset</key>
                <string>{-42,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,163},{174,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,608},{174,210}}</string>
                <key>offset</key>
                <string>{-42,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,163},{174,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,608},{174,210}}</string>
                <key>offset</key>
                <string>{-42,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,163},{174,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,608},{174,210}}</string>
                <key>offset</key>
                <string>{-42,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,163},{174,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,608},{174,210}}</string>
                <key>offset</key>
                <string>{-42,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,163},{174,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,592},{162,204}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,168},{162,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,592},{162,204}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,168},{162,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,390},{248,188}}</string>
                <key>offset</key>
                <string>{-43,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,184},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,390},{248,188}}</string>
                <key>offset</key>
                <string>{-43,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,184},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,390},{248,188}}</string>
                <key>offset</key>
                <string>{-43,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,184},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,390},{248,188}}</string>
                <key>offset</key>
                <string>{-43,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,184},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,366},{224,194}}</string>
                <key>offset</key>
                <string>{-45,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,178},{224,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,366},{224,194}}</string>
                <key>offset</key>
                <string>{-45,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,178},{224,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,366},{224,194}}</string>
                <key>offset</key>
                <string>{-45,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,178},{224,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,226},{268,162}}</string>
                <key>offset</key>
                <string>{56,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,99},{268,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,262}}</string>
                <key>offset</key>
                <string>{92,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,103},{278,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{258,274}}</string>
                <key>offset</key>
                <string>{106,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,118},{258,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,592},{84,178}}</string>
                <key>offset</key>
                <string>{192,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,219},{84,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,566},{56,100}}</string>
                <key>offset</key>
                <string>{206,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,299},{56,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,266},{6,6}}</string>
                <key>offset</key>
                <string>{209,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,377},{6,6}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizia0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_22.pvr.ccz</string>
            <key>size</key>
            <string>{1018,799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64bf5b080e622d0b3745efdec36a3b52:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_22.pvr.ccz</string>
        </dict>
    </dict>
</plist>
