<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_oyf0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,432},{156,228}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,142},{156,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,432},{156,228}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,142},{156,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,342},{158,222}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,148},{158,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,342},{158,222}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,148},{158,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,342},{158,222}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,148},{158,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,116},{160,224}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,146},{160,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,116},{160,224}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,146},{160,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,116},{160,224}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,146},{160,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,150},{164,230}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,141},{164,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,150},{164,230}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,141},{164,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,150},{164,230}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,141},{164,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{220,188}}</string>
                <key>offset</key>
                <string>{-43,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,180},{220,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{220,188}}</string>
                <key>offset</key>
                <string>{-43,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,180},{220,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{220,188}}</string>
                <key>offset</key>
                <string>{-43,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,180},{220,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,150},{186,232}}</string>
                <key>offset</key>
                <string>{-22,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,182},{186,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,150},{186,232}}</string>
                <key>offset</key>
                <string>{-22,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,182},{186,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,150},{186,232}}</string>
                <key>offset</key>
                <string>{-22,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,182},{186,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,150},{186,232}}</string>
                <key>offset</key>
                <string>{-22,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,182},{186,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,150},{186,232}}</string>
                <key>offset</key>
                <string>{-22,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,182},{186,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,420},{160,166}}</string>
                <key>offset</key>
                <string>{-47,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,207},{160,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,420},{160,166}}</string>
                <key>offset</key>
                <string>{-47,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,207},{160,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,420},{160,166}}</string>
                <key>offset</key>
                <string>{-47,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,207},{160,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{208,196}}</string>
                <key>offset</key>
                <string>{-49,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,234},{208,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{208,196}}</string>
                <key>offset</key>
                <string>{-49,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,234},{208,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{208,196}}</string>
                <key>offset</key>
                <string>{-49,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,234},{208,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,172}}</string>
                <key>offset</key>
                <string>{-59,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,256},{254,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,172}}</string>
                <key>offset</key>
                <string>{-59,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,256},{254,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{290,112}}</string>
                <key>offset</key>
                <string>{-57,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,301},{290,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{290,112}}</string>
                <key>offset</key>
                <string>{-57,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,301},{290,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{276,146}}</string>
                <key>offset</key>
                <string>{-58,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,267},{276,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{276,146}}</string>
                <key>offset</key>
                <string>{-58,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,267},{276,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{276,146}}</string>
                <key>offset</key>
                <string>{-58,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,267},{276,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{266,158}}</string>
                <key>offset</key>
                <string>{-60,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,253},{266,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{266,158}}</string>
                <key>offset</key>
                <string>{-60,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,253},{266,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{266,158}}</string>
                <key>offset</key>
                <string>{-60,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,253},{266,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,176},{254,136}}</string>
                <key>offset</key>
                <string>{-51,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,243},{254,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,176},{254,136}}</string>
                <key>offset</key>
                <string>{-51,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,243},{254,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,176},{254,136}}</string>
                <key>offset</key>
                <string>{-51,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,243},{254,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,384},{244,144}}</string>
                <key>offset</key>
                <string>{-48,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,229},{244,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,384},{244,144}}</string>
                <key>offset</key>
                <string>{-48,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,229},{244,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,384},{244,144}}</string>
                <key>offset</key>
                <string>{-48,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,229},{244,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,382},{230,174}}</string>
                <key>offset</key>
                <string>{-44,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,203},{230,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,382},{230,174}}</string>
                <key>offset</key>
                <string>{-44,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,203},{230,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,382},{230,174}}</string>
                <key>offset</key>
                <string>{-44,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,203},{230,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,224},{180,194}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,176},{180,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,224},{180,194}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,176},{180,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,224},{180,194}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,176},{180,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_14.pvr.ccz</string>
            <key>size</key>
            <string>{1022,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bb008f9d2bb8925b97069324114e210:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_14.pvr.ccz</string>
        </dict>
    </dict>
</plist>
