<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jlfw0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,432},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,185},{168,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,432},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,185},{168,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,432},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,185},{168,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,432},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,185},{168,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,432},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,185},{168,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,680},{166,240}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{166,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,680},{166,240}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{166,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,680},{166,240}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{166,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,680},{166,240}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{166,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{240,238}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{240,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{240,238}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{240,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{240,238}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{240,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{240,238}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{240,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{240,238}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{240,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{244,234}}</string>
                <key>offset</key>
                <string>{39,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,198},{244,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{244,234}}</string>
                <key>offset</key>
                <string>{39,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,198},{244,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{244,234}}</string>
                <key>offset</key>
                <string>{39,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,198},{244,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfwa0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,120}}</string>
                <key>offset</key>
                <string>{64,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,325},{444,120}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{430,106}}</string>
                <key>offset</key>
                <string>{64,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,331},{430,106}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{430,106}}</string>
                <key>offset</key>
                <string>{64,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,331},{430,106}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{442,102}}</string>
                <key>offset</key>
                <string>{60,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,332},{442,102}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{442,102}}</string>
                <key>offset</key>
                <string>{60,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,332},{442,102}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{444,98}}</string>
                <key>offset</key>
                <string>{56,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,331},{444,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{444,98}}</string>
                <key>offset</key>
                <string>{56,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,331},{444,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{398,98}}</string>
                <key>offset</key>
                <string>{74,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,332},{398,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{398,98}}</string>
                <key>offset</key>
                <string>{74,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,332},{398,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,446},{384,94}}</string>
                <key>offset</key>
                <string>{69,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,331},{384,94}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,446},{384,94}}</string>
                <key>offset</key>
                <string>{69,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,331},{384,94}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{360,74}}</string>
                <key>offset</key>
                <string>{67,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,339},{360,74}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{360,74}}</string>
                <key>offset</key>
                <string>{67,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,339},{360,74}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_jlfwa0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,332},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_8.pvr.ccz</string>
            <key>size</key>
            <string>{552,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5e4ae879de6bc0ce82975b7e32b562b:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
