<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_3tyn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,828},{124,136}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,203},{124,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,828},{124,136}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,203},{124,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{116,156}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,183},{116,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{116,156}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,183},{116,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{116,156}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,183},{116,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,702},{170,154}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,185},{170,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,702},{170,154}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,185},{170,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,702},{170,154}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,185},{170,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,542},{178,158}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,181},{178,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,542},{178,158}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,181},{178,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,542},{178,158}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,181},{178,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{176,160}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,179},{176,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{176,160}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,179},{176,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{176,160}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,179},{176,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{162,160}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,179},{162,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{162,160}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,179},{162,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{162,160}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,179},{162,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,700},{110,126}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,182},{110,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,700},{110,126}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,182},{110,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,700},{110,126}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,182},{110,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,700},{110,126}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,182},{110,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{140,192}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,161},{140,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{140,192}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,161},{140,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{140,192}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,161},{140,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{140,192}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,161},{140,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{140,192}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,161},{140,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,288},{204,108}}</string>
                <key>offset</key>
                <string>{-48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,200},{204,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,288},{204,108}}</string>
                <key>offset</key>
                <string>{-48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,200},{204,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,288},{204,108}}</string>
                <key>offset</key>
                <string>{-48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,200},{204,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,288},{204,108}}</string>
                <key>offset</key>
                <string>{-48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,200},{204,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,398},{186,142}}</string>
                <key>offset</key>
                <string>{-54,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,199},{186,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,398},{186,142}}</string>
                <key>offset</key>
                <string>{-54,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,199},{186,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,398},{186,142}}</string>
                <key>offset</key>
                <string>{-54,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,199},{186,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{210,92}}</string>
                <key>offset</key>
                <string>{-44,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,259},{210,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{210,92}}</string>
                <key>offset</key>
                <string>{-44,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,259},{210,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{210,92}}</string>
                <key>offset</key>
                <string>{-44,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,259},{210,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,102}}</string>
                <key>offset</key>
                <string>{-48,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,258},{238,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,102}}</string>
                <key>offset</key>
                <string>{-48,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,258},{238,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,102}}</string>
                <key>offset</key>
                <string>{-48,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,258},{238,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{236,74}}</string>
                <key>offset</key>
                <string>{-48,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,300},{236,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{236,74}}</string>
                <key>offset</key>
                <string>{-48,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,300},{236,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{236,74}}</string>
                <key>offset</key>
                <string>{-48,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,300},{236,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,78},{232,96}}</string>
                <key>offset</key>
                <string>{-55,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,272},{232,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,78},{232,96}}</string>
                <key>offset</key>
                <string>{-55,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,272},{232,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,78},{232,96}}</string>
                <key>offset</key>
                <string>{-55,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,272},{232,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,78},{232,96}}</string>
                <key>offset</key>
                <string>{-55,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,272},{232,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{226,104}}</string>
                <key>offset</key>
                <string>{-50,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,248},{226,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{226,104}}</string>
                <key>offset</key>
                <string>{-50,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,248},{226,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{226,104}}</string>
                <key>offset</key>
                <string>{-50,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,248},{226,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{226,104}}</string>
                <key>offset</key>
                <string>{-50,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,248},{226,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,176},{222,110}}</string>
                <key>offset</key>
                <string>{-40,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,239},{222,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,176},{222,110}}</string>
                <key>offset</key>
                <string>{-40,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,239},{222,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,176},{222,110}}</string>
                <key>offset</key>
                <string>{-40,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,239},{222,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,176},{222,110}}</string>
                <key>offset</key>
                <string>{-40,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,239},{222,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{182,122}}</string>
                <key>offset</key>
                <string>{-18,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,221},{182,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{182,122}}</string>
                <key>offset</key>
                <string>{-18,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,221},{182,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{182,122}}</string>
                <key>offset</key>
                <string>{-18,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,221},{182,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{182,122}}</string>
                <key>offset</key>
                <string>{-18,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,221},{182,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,858},{140,146}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,192},{140,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,858},{140,146}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,192},{140,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,858},{140,146}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,192},{140,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,858},{140,146}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,192},{140,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,542},{112,156}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,183},{112,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,542},{112,156}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,183},{112,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,542},{112,156}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,183},{112,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,542},{112,156}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,183},{112,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_30.pvr.ccz</string>
            <key>size</key>
            <string>{480,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dd50cc214af4cc3f3a62535b2ae1de4:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
