<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zwj0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,368},{144,176}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,187},{144,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,368},{144,176}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,187},{144,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,368},{144,176}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,187},{144,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,192},{154,174}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,189},{154,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,192},{154,174}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,189},{154,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{150,178}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{150,178}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{150,178}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{150,178}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{150,178}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{150,178}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{150,178}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{150,178}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{150,178}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{150,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{188,166}}</string>
                <key>offset</key>
                <string>{86,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,203},{188,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{196,162}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,207},{196,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{196,162}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,207},{196,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{196,162}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,207},{196,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{196,162}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,207},{196,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{196,162}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,207},{196,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{196,162}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,207},{196,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{196,162}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,207},{196,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{196,162}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,207},{196,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{196,162}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,207},{196,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{196,162}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,207},{196,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,192},{150,180}}</string>
                <key>offset</key>
                <string>{67,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,201},{150,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,192},{150,180}}</string>
                <key>offset</key>
                <string>{67,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,201},{150,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,192},{150,180}}</string>
                <key>offset</key>
                <string>{67,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,201},{150,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwja0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,272},{100,176}}</string>
                <key>offset</key>
                <string>{179,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,218},{100,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,170},{100,176}}</string>
                <key>offset</key>
                <string>{179,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,219},{100,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,412},{100,176}}</string>
                <key>offset</key>
                <string>{179,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,219},{100,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,236}}</string>
                <key>offset</key>
                <string>{145,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,189},{272,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{242,176}}</string>
                <key>offset</key>
                <string>{168,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,219},{242,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{210,166}}</string>
                <key>offset</key>
                <string>{191,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,225},{210,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,350},{116,166}}</string>
                <key>offset</key>
                <string>{183,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,225},{116,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,182},{116,166}}</string>
                <key>offset</key>
                <string>{183,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,225},{116,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,374},{116,166}}</string>
                <key>offset</key>
                <string>{182,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,225},{116,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{114,166}}</string>
                <key>offset</key>
                <string>{182,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,225},{114,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{110,158}}</string>
                <key>offset</key>
                <string>{180,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,230},{110,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_zwja0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_33_b.pvr.ccz</string>
            <key>size</key>
            <string>{1014,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50a8f15cf7b6806dd5fbf5b492cedfa0:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_33_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
