<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zlca0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,236},{274,210}}</string>
                <key>offset</key>
                <string>{39,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,157},{274,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,236},{274,210}}</string>
                <key>offset</key>
                <string>{39,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,157},{274,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,750},{230,210}}</string>
                <key>offset</key>
                <string>{61,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,157},{230,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,452},{242,210}}</string>
                <key>offset</key>
                <string>{55,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,157},{242,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,452},{242,210}}</string>
                <key>offset</key>
                <string>{55,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,157},{242,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,236},{268,208}}</string>
                <key>offset</key>
                <string>{68,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,159},{268,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{268,208}}</string>
                <key>offset</key>
                <string>{68,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,159},{268,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{262,208}}</string>
                <key>offset</key>
                <string>{70,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,159},{262,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{280,232}}</string>
                <key>offset</key>
                <string>{79,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,135},{280,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{284,232}}</string>
                <key>offset</key>
                <string>{81,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,135},{284,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,212},{264,238}}</string>
                <key>offset</key>
                <string>{90,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,129},{264,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,242}}</string>
                <key>offset</key>
                <string>{91,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,125},{264,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,506},{250,242}}</string>
                <key>offset</key>
                <string>{92,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,125},{250,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,512},{260,218}}</string>
                <key>offset</key>
                <string>{86,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,149},{260,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,696},{226,236}}</string>
                <key>offset</key>
                <string>{70,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,131},{226,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{226,208}}</string>
                <key>offset</key>
                <string>{70,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,159},{226,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,774},{228,208}}</string>
                <key>offset</key>
                <string>{70,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,159},{228,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{230,208}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,159},{230,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_40_d.pvr.ccz</string>
            <key>size</key>
            <string>{1020,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c8d236a6dd3eeedcb8723c28b6e3c8c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_40_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
