<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_adizi0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{141,179}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,144},{141,179}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{141,179}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,144},{141,179}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{141,179}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,144},{141,179}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,145},{133,179}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,144},{133,179}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,145},{133,179}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,144},{133,179}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,145},{133,179}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,144},{133,179}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,280},{127,179}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,143},{127,179}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,280},{127,179}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,143},{127,179}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,280},{127,179}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,143},{127,179}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,372},{135,175}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,145},{135,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,372},{135,175}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,145},{135,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,372},{135,175}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,145},{135,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{135,177}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,144},{135,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{135,177}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,144},{135,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{135,177}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,144},{135,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,137},{127,177}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,144},{127,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,137},{127,177}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,144},{127,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,137},{127,177}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,144},{127,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,266},{123,177}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,143},{123,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,266},{123,177}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,143},{123,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,266},{123,177}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,143},{123,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{133,177}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,142},{133,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{133,177}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,142},{133,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{133,177}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,142},{133,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,187},{105,181}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,142},{105,181}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,187},{105,181}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,142},{105,181}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,187},{105,181}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,142},{105,181}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{103,181}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,142},{103,181}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{103,181}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,142},{103,181}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{103,181}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,142},{103,181}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{103,181}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,142},{103,181}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{103,183}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,140},{103,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{103,183}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,140},{103,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{103,183}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,140},{103,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,187},{101,183}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,140},{101,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,187},{101,183}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,140},{101,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,187},{101,183}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,140},{101,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{103,183}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,140},{103,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{103,183}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,140},{103,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{103,183}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,140},{103,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{103,183}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,140},{103,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,183}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,140},{103,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,183}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,140},{103,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,183}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,140},{103,183}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,409},{163,71}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,188},{163,71}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,409},{163,71}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,188},{163,71}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,409},{163,71}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,188},{163,71}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,409},{163,71}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,188},{163,71}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,409},{163,71}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,188},{163,71}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,391},{165,77}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,184},{165,77}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,391},{165,77}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,184},{165,77}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,391},{165,77}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,184},{165,77}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,391},{165,77}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,184},{165,77}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,391},{165,77}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,184},{165,77}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_11.pvr.ccz</string>
            <key>size</key>
            <string>{718,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f748c7fbef450035ca7c8f8f17b4cd9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
