<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_lmca0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{208,90}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,120},{208,90}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{208,90}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,120},{208,90}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,324},{184,114}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,98},{184,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,324},{184,114}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,98},{184,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,114},{198,108}}</string>
                <key>offset</key>
                <string>{-8,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,106},{198,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,114},{198,108}}</string>
                <key>offset</key>
                <string>{-8,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,106},{198,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,694},{176,98}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,105},{176,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,694},{176,98}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,105},{176,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{190,98}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,106},{190,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{190,98}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,106},{190,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{208,100}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,99},{208,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{208,100}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,99},{208,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,110}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,99},{206,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,110}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,99},{206,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,510},{182,118}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,89},{182,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,510},{182,118}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,89},{182,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{164,114}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,81},{164,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{164,114}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,81},{164,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>boss_lmca0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_25_b.pvr.ccz</string>
            <key>size</key>
            <string>{222,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9aec5481cb1cdfeda29c84c41c88d0d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_25_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
