<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_cdizi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,571},{93,161}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,189},{93,161}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,571},{93,161}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,189},{93,161}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,559},{97,163}}</string>
                <key>offset</key>
                <string>{20,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,187},{97,163}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,559},{97,163}}</string>
                <key>offset</key>
                <string>{20,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,187},{97,163}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,559},{97,163}}</string>
                <key>offset</key>
                <string>{20,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,187},{97,163}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,463},{105,153}}</string>
                <key>offset</key>
                <string>{22,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,197},{105,153}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,463},{105,153}}</string>
                <key>offset</key>
                <string>{22,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,197},{105,153}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,463},{105,153}}</string>
                <key>offset</key>
                <string>{22,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,197},{105,153}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,173},{109,163}}</string>
                <key>offset</key>
                <string>{21,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,187},{109,163}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,173},{109,163}}</string>
                <key>offset</key>
                <string>{21,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,187},{109,163}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,173},{109,163}}</string>
                <key>offset</key>
                <string>{21,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,187},{109,163}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{99,171}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,179},{99,171}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{99,171}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,179},{99,171}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{99,171}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,179},{99,171}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,734},{83,185}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,165},{83,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,734},{83,185}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,165},{83,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,734},{83,185}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,165},{83,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,734},{75,185}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,165},{75,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,734},{75,185}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,165},{75,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,734},{75,185}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,165},{75,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,169}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,175},{157,169}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,169}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,175},{157,169}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,169}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,175},{157,169}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{183,127}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,195},{183,127}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{183,127}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,195},{183,127}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{183,127}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,195},{183,127}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{183,127}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,195},{183,127}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,301},{173,117}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,182},{173,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,301},{173,117}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,182},{173,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,301},{173,117}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,182},{173,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,301},{173,117}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,182},{173,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,570},{139,161}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,173},{139,161}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,570},{139,161}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,173},{139,161}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,570},{139,161}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,173},{139,161}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{191,121}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,234},{191,121}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{191,121}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,234},{191,121}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{191,121}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,234},{191,121}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,346},{223,57}}</string>
                <key>offset</key>
                <string>{19,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,308},{223,57}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,346},{223,57}}</string>
                <key>offset</key>
                <string>{19,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,308},{223,57}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,346},{223,57}}</string>
                <key>offset</key>
                <string>{19,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,308},{223,57}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,238},{223,61}}</string>
                <key>offset</key>
                <string>{19,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,308},{223,61}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,733},{177,89}}</string>
                <key>offset</key>
                <string>{28,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,294},{177,89}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,589},{141,131}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,228},{141,131}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,301},{141,115}}</string>
                <key>offset</key>
                <string>{-2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,242},{141,115}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,722},{139,115}}</string>
                <key>offset</key>
                <string>{-11,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,239},{139,115}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,444},{143,117}}</string>
                <key>offset</key>
                <string>{-26,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,242},{143,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,420},{137,137}}</string>
                <key>offset</key>
                <string>{-25,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,229},{137,137}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,899},{143,93}}</string>
                <key>offset</key>
                <string>{-29,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,134},{143,93}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{159,163}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,151},{159,163}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{153,171}}</string>
                <key>offset</key>
                <string>{-9,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,182},{153,171}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,131},{105,179}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,174},{105,179}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,724},{117,173}}</string>
                <key>offset</key>
                <string>{19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,180},{117,173}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,284},{121,177}}</string>
                <key>offset</key>
                <string>{22,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,176},{121,177}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{117,187}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,164},{117,187}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{109,191}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,159},{109,191}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{79,187}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,163},{79,187}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,921},{69,193}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{69,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_13.pvr.ccz</string>
            <key>size</key>
            <string>{608,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff781bb168b4dc1167adc75d90d0a1c4:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_13.pvr.ccz</string>
        </dict>
    </dict>
</plist>
