<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_qb0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,126},{204,214}}</string>
                <key>offset</key>
                <string>{-28,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,146},{204,214}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,126},{204,214}}</string>
                <key>offset</key>
                <string>{-28,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,146},{204,214}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,126},{204,214}}</string>
                <key>offset</key>
                <string>{-28,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,146},{204,214}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,126},{204,214}}</string>
                <key>offset</key>
                <string>{-28,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,146},{204,214}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,126},{204,214}}</string>
                <key>offset</key>
                <string>{-28,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,146},{204,214}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,332},{160,214}}</string>
                <key>offset</key>
                <string>{-43,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,146},{160,214}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,332},{160,214}}</string>
                <key>offset</key>
                <string>{-43,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,146},{160,214}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,332},{160,214}}</string>
                <key>offset</key>
                <string>{-43,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,146},{160,214}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,332},{160,214}}</string>
                <key>offset</key>
                <string>{-43,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,146},{160,214}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,332},{160,214}}</string>
                <key>offset</key>
                <string>{-43,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,146},{160,214}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{278,198}}</string>
                <key>offset</key>
                <string>{72,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,162},{278,198}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{278,198}}</string>
                <key>offset</key>
                <string>{72,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,162},{278,198}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{278,198}}</string>
                <key>offset</key>
                <string>{72,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,162},{278,198}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{266,202}}</string>
                <key>offset</key>
                <string>{66,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,158},{266,202}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{266,202}}</string>
                <key>offset</key>
                <string>{66,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,158},{266,202}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{266,202}}</string>
                <key>offset</key>
                <string>{66,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,158},{266,202}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{266,202}}</string>
                <key>offset</key>
                <string>{66,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,158},{266,202}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{266,202}}</string>
                <key>offset</key>
                <string>{66,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,158},{266,202}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{266,202}}</string>
                <key>offset</key>
                <string>{66,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,158},{266,202}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,554},{234,206}}</string>
                <key>offset</key>
                <string>{36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,154},{234,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,554},{234,206}}</string>
                <key>offset</key>
                <string>{36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,154},{234,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,554},{234,206}}</string>
                <key>offset</key>
                <string>{36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,154},{234,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,494},{236,58}}</string>
                <key>offset</key>
                <string>{53,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,335},{236,58}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{272,54}}</string>
                <key>offset</key>
                <string>{73,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,335},{272,54}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{298,64}}</string>
                <key>offset</key>
                <string>{78,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,328},{298,64}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,56}}</string>
                <key>offset</key>
                <string>{110,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,329},{324,56}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,56}}</string>
                <key>offset</key>
                <string>{110,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,329},{324,56}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-314.5,314.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>monster_qba0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,678},{78,32}}</string>
                <key>offset</key>
                <string>{-64,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,285},{78,32}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,586},{108,48}}</string>
                <key>offset</key>
                <string>{-45,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,269},{108,48}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{172,122}}</string>
                <key>offset</key>
                <string>{15,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,189},{172,122}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{168,136}}</string>
                <key>offset</key>
                <string>{23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,161},{168,136}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,636},{40,80}}</string>
                <key>offset</key>
                <string>{90,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,146},{40,80}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qba0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-214.5,214.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_7.pvr.ccz</string>
            <key>size</key>
            <string>{508,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fbd1781b32d48ec15f8baa7203f3037:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
