<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_y0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,470},{220,140}}</string>
                <key>offset</key>
                <string>{-51,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,163},{220,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,470},{220,140}}</string>
                <key>offset</key>
                <string>{-51,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,163},{220,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,470},{220,140}}</string>
                <key>offset</key>
                <string>{-51,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,163},{220,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,470},{220,140}}</string>
                <key>offset</key>
                <string>{-51,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,163},{220,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,470},{220,140}}</string>
                <key>offset</key>
                <string>{-51,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,163},{220,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,768},{208,170}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,181},{208,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,768},{208,170}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,181},{208,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,768},{208,170}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,181},{208,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,768},{208,170}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,181},{208,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,768},{208,170}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,181},{208,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,768},{208,170}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,181},{208,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,768},{208,170}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,181},{208,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,340},{226,128}}</string>
                <key>offset</key>
                <string>{-31,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,226},{226,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,340},{226,128}}</string>
                <key>offset</key>
                <string>{-31,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,226},{226,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,340},{226,128}}</string>
                <key>offset</key>
                <string>{-31,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,226},{226,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,340},{226,128}}</string>
                <key>offset</key>
                <string>{-31,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,226},{226,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,340},{226,128}}</string>
                <key>offset</key>
                <string>{-31,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,226},{226,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{230,134}}</string>
                <key>offset</key>
                <string>{-68,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,277},{230,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{230,134}}</string>
                <key>offset</key>
                <string>{-68,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,277},{230,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{230,134}}</string>
                <key>offset</key>
                <string>{-68,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,277},{230,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{230,134}}</string>
                <key>offset</key>
                <string>{-68,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,277},{230,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{304,84}}</string>
                <key>offset</key>
                <string>{-95,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,396},{304,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{304,84}}</string>
                <key>offset</key>
                <string>{-95,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,396},{304,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{304,84}}</string>
                <key>offset</key>
                <string>{-95,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,396},{304,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{304,84}}</string>
                <key>offset</key>
                <string>{-95,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,396},{304,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,220}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,199},{326,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,220}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,199},{326,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,220}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,199},{326,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,220}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,199},{326,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,128},{260,210}}</string>
                <key>offset</key>
                <string>{-27,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,183},{260,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,128},{260,210}}</string>
                <key>offset</key>
                <string>{-27,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,183},{260,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,128},{260,210}}</string>
                <key>offset</key>
                <string>{-27,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,183},{260,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{262,124}}</string>
                <key>offset</key>
                <string>{-55,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,215},{262,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{262,124}}</string>
                <key>offset</key>
                <string>{-55,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,215},{262,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{262,124}}</string>
                <key>offset</key>
                <string>{-55,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,215},{262,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{262,124}}</string>
                <key>offset</key>
                <string>{-55,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,215},{262,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,612},{186,212}}</string>
                <key>offset</key>
                <string>{-17,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,204},{186,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,612},{186,212}}</string>
                <key>offset</key>
                <string>{-17,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,204},{186,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,612},{186,212}}</string>
                <key>offset</key>
                <string>{-17,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,204},{186,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,612},{186,212}}</string>
                <key>offset</key>
                <string>{-17,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,204},{186,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{188,204}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,200},{188,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{188,204}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,200},{188,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{188,204}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,200},{188,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{188,204}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,200},{188,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{224,128}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,194},{224,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{224,128}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,194},{224,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{224,128}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,194},{224,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{224,128}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,194},{224,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{220,102}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,187},{220,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{220,102}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,187},{220,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{220,102}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,187},{220,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{200,124}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,175},{200,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{200,124}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,175},{200,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{200,124}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,175},{200,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{200,124}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,175},{200,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{200,124}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,175},{200,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,800},{200,156}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,163},{200,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,800},{200,156}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,163},{200,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,800},{200,156}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,163},{200,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,800},{200,156}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,163},{200,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,800},{200,156}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,163},{200,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,554},{212,166}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,554},{212,166}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0616.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,554},{212,166}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0617.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,554},{212,166}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0618.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,340},{212,154}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,174},{212,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0619.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,340},{212,154}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,174},{212,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0620.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,340},{212,154}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,174},{212,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_42.pvr.ccz</string>
            <key>size</key>
            <string>{618,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e7c711fe8bd8525f16016a2aaea9f93:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_42.pvr.ccz</string>
        </dict>
    </dict>
</plist>
