<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jmz0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,166},{164,190}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,188},{164,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,166},{164,190}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,188},{164,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,166},{164,190}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,188},{164,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{162,184}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,193},{162,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{162,184}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,193},{162,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{162,184}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,193},{162,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{162,192}}</string>
                <key>offset</key>
                <string>{7,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,184},{162,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{162,192}}</string>
                <key>offset</key>
                <string>{7,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,184},{162,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{162,192}}</string>
                <key>offset</key>
                <string>{7,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,184},{162,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,166},{164,196}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,181},{164,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,166},{164,196}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,181},{164,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,166},{164,196}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,181},{164,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,166},{164,194}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,187},{164,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,166},{164,194}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,187},{164,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,166},{164,194}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,187},{164,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,332},{166,186}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,193},{166,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,332},{166,186}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,193},{166,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,332},{166,186}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,193},{166,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,332},{170,192}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,185},{170,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,332},{170,192}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,185},{170,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,332},{170,192}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,185},{170,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,332},{168,194}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,183},{168,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,332},{168,194}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,183},{168,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,332},{168,194}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,183},{168,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{164,182}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,197},{164,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{164,182}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,197},{164,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{164,182}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,197},{164,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{162,184}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,195},{162,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{162,184}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,195},{162,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{162,184}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,195},{162,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,184}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,195},{160,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,184}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,195},{160,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,184}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,195},{160,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,166},{162,186}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,193},{162,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,166},{162,186}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,193},{162,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,166},{162,186}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,193},{162,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{162,186}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,193},{162,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{162,186}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,193},{162,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{162,186}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,193},{162,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,330},{164,184}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,195},{164,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,330},{164,184}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,195},{164,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,330},{164,184}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,195},{164,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{164,184}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,195},{164,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{164,184}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,195},{164,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{164,184}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,195},{164,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_15.pvr.ccz</string>
            <key>size</key>
            <string>{960,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0b9521f024256bc7dbebdb77224b82:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_15.pvr.ccz</string>
        </dict>
    </dict>
</plist>
