<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_qf0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,204},{166,190}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,180},{166,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,204},{166,190}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,180},{166,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,204},{166,190}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,180},{166,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,204},{166,190}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,180},{166,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,170},{148,172}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,197},{148,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,170},{148,172}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,197},{148,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{202,162}}</string>
                <key>offset</key>
                <string>{43,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,207},{202,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{202,162}}</string>
                <key>offset</key>
                <string>{43,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,207},{202,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,376},{172,162}}</string>
                <key>offset</key>
                <string>{25,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,208},{172,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,376},{172,162}}</string>
                <key>offset</key>
                <string>{25,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,208},{172,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,376},{172,162}}</string>
                <key>offset</key>
                <string>{25,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,208},{172,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,376},{172,162}}</string>
                <key>offset</key>
                <string>{25,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,208},{172,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,376},{172,162}}</string>
                <key>offset</key>
                <string>{25,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,208},{172,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{156,208}}</string>
                <key>offset</key>
                <string>{59,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,149},{156,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{156,208}}</string>
                <key>offset</key>
                <string>{59,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,149},{156,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,212}}</string>
                <key>offset</key>
                <string>{35,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,128},{114,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,212}}</string>
                <key>offset</key>
                <string>{35,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,128},{114,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{136,190}}</string>
                <key>offset</key>
                <string>{28,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,126},{136,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{136,190}}</string>
                <key>offset</key>
                <string>{28,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,126},{136,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,206},{200,200}}</string>
                <key>offset</key>
                <string>{63,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,137},{200,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,206},{200,200}}</string>
                <key>offset</key>
                <string>{63,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,137},{200,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{98,200}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,150},{98,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{98,200}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,150},{98,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{98,200}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,150},{98,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{114,186}}</string>
                <key>offset</key>
                <string>{39,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,173},{114,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{114,186}}</string>
                <key>offset</key>
                <string>{39,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,173},{114,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{114,186}}</string>
                <key>offset</key>
                <string>{39,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,173},{114,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{114,186}}</string>
                <key>offset</key>
                <string>{39,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,173},{114,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{150,166}}</string>
                <key>offset</key>
                <string>{30,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,207},{150,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{150,166}}</string>
                <key>offset</key>
                <string>{30,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,207},{150,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{150,166}}</string>
                <key>offset</key>
                <string>{30,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,207},{150,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{176,178}}</string>
                <key>offset</key>
                <string>{25,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,192},{176,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{176,178}}</string>
                <key>offset</key>
                <string>{25,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,192},{176,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{176,178}}</string>
                <key>offset</key>
                <string>{25,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,192},{176,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,408},{152,192}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,178},{152,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,408},{152,192}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,178},{152,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,408},{152,192}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,178},{152,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,344},{144,174}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,196},{144,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,344},{144,174}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,196},{144,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,344},{144,174}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,196},{144,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,182},{146,174}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,196},{146,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,182},{146,174}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,196},{146,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,182},{146,174}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,196},{146,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,396},{184,168}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,396},{184,168}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{184,168}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{184,168}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{184,168}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{184,168}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{184,168}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{184,168}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{184,168}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{184,168}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,192},{182,180}}</string>
                <key>offset</key>
                <string>{29,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,192},{182,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,192},{182,180}}</string>
                <key>offset</key>
                <string>{29,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,192},{182,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,192},{182,180}}</string>
                <key>offset</key>
                <string>{29,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,192},{182,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{168,188}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,182},{168,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{168,188}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,182},{168,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_17_b.pvr.ccz</string>
            <key>size</key>
            <string>{1020,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e428913f58835e9ec21681214cf9fa2b:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_17_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
