<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_xz0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{198,166}}</string>
                <key>offset</key>
                <string>{-24,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,195},{198,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{198,166}}</string>
                <key>offset</key>
                <string>{-24,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,195},{198,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,380},{208,162}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,194},{208,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,380},{208,162}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,194},{208,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,380},{208,162}}</string>
                <key>offset</key>
                <string>{-29,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,194},{208,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{212,164}}</string>
                <key>offset</key>
                <string>{-28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,187},{212,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{212,164}}</string>
                <key>offset</key>
                <string>{-28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,187},{212,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{212,164}}</string>
                <key>offset</key>
                <string>{-28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,187},{212,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,210},{204,168}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,184},{204,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,210},{204,168}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,184},{204,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,380},{194,172}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,180},{194,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,380},{194,172}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,180},{194,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,176}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,176},{206,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,176}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,176},{206,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,216},{148,182}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,151},{148,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,216},{148,182}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,151},{148,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,216},{148,182}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,151},{148,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{174,200}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,143},{174,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{174,200}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,143},{174,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{174,200}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,143},{174,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{174,200}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,143},{174,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{174,200}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,143},{174,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{174,200}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,143},{174,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,400},{166,180}}</string>
                <key>offset</key>
                <string>{-41,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,181},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,400},{166,180}}</string>
                <key>offset</key>
                <string>{-41,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,181},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,400},{166,180}}</string>
                <key>offset</key>
                <string>{-41,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,181},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,400},{166,180}}</string>
                <key>offset</key>
                <string>{-41,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,181},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,118},{220,122}}</string>
                <key>offset</key>
                <string>{-40,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,236},{220,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,118},{220,122}}</string>
                <key>offset</key>
                <string>{-40,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,236},{220,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,118},{220,122}}</string>
                <key>offset</key>
                <string>{-40,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,236},{220,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,340},{240,96}}</string>
                <key>offset</key>
                <string>{-22,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,269},{240,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,340},{240,96}}</string>
                <key>offset</key>
                <string>{-22,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,269},{240,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,340},{240,96}}</string>
                <key>offset</key>
                <string>{-22,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,269},{240,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{260,114}}</string>
                <key>offset</key>
                <string>{-19,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,254},{260,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{260,114}}</string>
                <key>offset</key>
                <string>{-19,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,254},{260,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{260,114}}</string>
                <key>offset</key>
                <string>{-19,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,254},{260,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{236,138}}</string>
                <key>offset</key>
                <string>{-29,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,232},{236,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{236,138}}</string>
                <key>offset</key>
                <string>{-29,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,232},{236,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{236,138}}</string>
                <key>offset</key>
                <string>{-29,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,232},{236,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{212,134}}</string>
                <key>offset</key>
                <string>{-32,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,220},{212,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{212,134}}</string>
                <key>offset</key>
                <string>{-32,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,220},{212,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{212,134}}</string>
                <key>offset</key>
                <string>{-32,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,220},{212,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,142},{200,156}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,210},{200,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,142},{200,156}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,210},{200,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,142},{200,156}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,210},{200,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,142},{178,172}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,181},{178,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,142},{178,172}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,181},{178,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,142},{178,172}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,181},{178,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,322},{146,188}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,164},{146,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,322},{146,188}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,164},{146,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,322},{146,188}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,164},{146,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_19.pvr.ccz</string>
            <key>size</key>
            <string>{990,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e90ad35ba9b60a94bb05943f7d7aa89:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_19.pvr.ccz</string>
        </dict>
    </dict>
</plist>
