<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jl_mtl0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,674},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,674},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,674},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,674},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,674},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,674},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,670},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,670},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,670},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,236},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,236},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,236},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,670},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,670},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,670},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,236},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,236},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,236},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{232,210}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,188},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{232,210}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,188},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{232,210}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,188},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{232,210}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,188},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{302,320}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,131},{302,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{302,320}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,131},{302,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{302,320}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,131},{302,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{302,320}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,131},{302,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{334,354}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,105},{334,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{334,354}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,105},{334,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{334,354}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,105},{334,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{334,354}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,105},{334,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{366,326}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,125},{366,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{366,326}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,125},{366,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{366,326}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,125},{366,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0616.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{366,326}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,125},{366,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0617.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,312}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{368,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0618.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,312}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{368,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0619.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,312}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{368,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0620.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,312}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{368,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0621.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,370},{298,280}}</string>
                <key>offset</key>
                <string>{28,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{298,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0622.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,370},{298,280}}</string>
                <key>offset</key>
                <string>{28,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{298,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0623.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,370},{298,280}}</string>
                <key>offset</key>
                <string>{28,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{298,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mtl0624.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,370},{298,280}}</string>
                <key>offset</key>
                <string>{28,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{298,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_jl_mtl_1011.pvr.ccz</string>
            <key>size</key>
            <string>{966,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fca55149f90a823c093d89757b97b93:1/1$</string>
            <key>textureFileName</key>
            <string>Role_jl_mtl_1011.pvr.ccz</string>
        </dict>
    </dict>
</plist>
