<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_ybq0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{180,188}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,190},{180,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{180,188}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,190},{180,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,310},{184,170}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,204},{184,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,310},{184,170}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,204},{184,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,310},{184,170}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,204},{184,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,202},{184,190}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,184},{184,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,202},{184,190}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,184},{184,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,202},{184,190}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,184},{184,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{186,198}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,176},{186,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{186,198}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,176},{186,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{186,198}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,176},{186,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{192,182}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,192},{192,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{192,182}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,192},{192,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{192,182}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,192},{192,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{200,180}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,194},{200,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{200,180}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,194},{200,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{200,180}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,194},{200,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{188,198}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,171},{188,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{188,198}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,171},{188,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{196,176}}</string>
                <key>offset</key>
                <string>{54,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,127},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{196,176}}</string>
                <key>offset</key>
                <string>{54,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,127},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{196,176}}</string>
                <key>offset</key>
                <string>{54,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,127},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,402},{128,238}}</string>
                <key>offset</key>
                <string>{10,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,39},{128,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,402},{128,238}}</string>
                <key>offset</key>
                <string>{10,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,39},{128,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,402},{128,238}}</string>
                <key>offset</key>
                <string>{10,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,39},{128,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,402},{128,238}}</string>
                <key>offset</key>
                <string>{10,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,39},{128,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,402},{128,238}}</string>
                <key>offset</key>
                <string>{10,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,39},{128,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,350},{162,176}}</string>
                <key>offset</key>
                <string>{-32,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,194},{162,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,350},{162,176}}</string>
                <key>offset</key>
                <string>{-32,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,194},{162,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,350},{162,176}}</string>
                <key>offset</key>
                <string>{-32,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,194},{162,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,186},{192,122}}</string>
                <key>offset</key>
                <string>{-21,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,268},{192,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,186},{192,122}}</string>
                <key>offset</key>
                <string>{-21,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,268},{192,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,186},{192,122}}</string>
                <key>offset</key>
                <string>{-21,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,268},{192,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,184},{204,112}}</string>
                <key>offset</key>
                <string>{-11,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,288},{204,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,184},{204,112}}</string>
                <key>offset</key>
                <string>{-11,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,288},{204,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,184},{204,112}}</string>
                <key>offset</key>
                <string>{-11,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,288},{204,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,394},{210,90}}</string>
                <key>offset</key>
                <string>{-6,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,318},{210,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,394},{210,90}}</string>
                <key>offset</key>
                <string>{-6,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,318},{210,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,394},{210,90}}</string>
                <key>offset</key>
                <string>{-6,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,318},{210,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,514},{206,122}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,289},{206,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,514},{206,122}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,289},{206,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,514},{206,122}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,289},{206,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,514},{206,122}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,289},{206,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,496},{170,144}}</string>
                <key>offset</key>
                <string>{13,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,259},{170,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,496},{170,144}}</string>
                <key>offset</key>
                <string>{13,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,259},{170,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,496},{170,144}}</string>
                <key>offset</key>
                <string>{13,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,259},{170,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,462},{160,172}}</string>
                <key>offset</key>
                <string>{11,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,237},{160,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,462},{160,172}}</string>
                <key>offset</key>
                <string>{11,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,237},{160,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,462},{160,172}}</string>
                <key>offset</key>
                <string>{11,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,237},{160,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,298},{162,174}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,200},{162,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,298},{162,174}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,200},{162,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,298},{162,174}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,200},{162,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,180},{168,188}}</string>
                <key>offset</key>
                <string>{21,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,186},{168,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,180},{168,188}}</string>
                <key>offset</key>
                <string>{21,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,186},{168,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,180},{168,188}}</string>
                <key>offset</key>
                <string>{21,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,186},{168,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,198}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,176},{200,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,198}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,176},{200,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,198}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,176},{200,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,198}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,176},{200,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_41.pvr.ccz</string>
            <key>size</key>
            <string>{982,643}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c3b871dd5863e416a8745a8ad3d8d17:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_41.pvr.ccz</string>
        </dict>
    </dict>
</plist>
