<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1tyn0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,654},{242,172}}</string>
                <key>offset</key>
                <string>{22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,194},{242,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,654},{242,172}}</string>
                <key>offset</key>
                <string>{22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,194},{242,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,654},{242,172}}</string>
                <key>offset</key>
                <string>{22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,194},{242,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,242},{274,176}}</string>
                <key>offset</key>
                <string>{33,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,190},{274,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,242},{274,176}}</string>
                <key>offset</key>
                <string>{33,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,190},{274,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,420},{254,208}}</string>
                <key>offset</key>
                <string>{33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,158},{254,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,420},{254,208}}</string>
                <key>offset</key>
                <string>{33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,158},{254,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,250},{182,172}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,194},{182,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,250},{182,172}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,194},{182,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,434},{168,160}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,204},{168,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,434},{168,160}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,204},{168,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{246,152}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,212},{246,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{246,152}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,212},{246,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,798},{270,162}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,201},{270,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,798},{270,162}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,201},{270,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,798},{270,162}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,201},{270,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,596},{302,158}}</string>
                <key>offset</key>
                <string>{88,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,208},{302,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{300,154}}</string>
                <key>offset</key>
                <string>{97,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,212},{300,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,798},{270,162}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,201},{270,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,798},{270,162}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,201},{270,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,596},{302,158}}</string>
                <key>offset</key>
                <string>{88,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,208},{302,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{300,154}}</string>
                <key>offset</key>
                <string>{97,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,212},{300,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,798},{270,162}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,201},{270,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,798},{270,162}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,201},{270,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{300,154}}</string>
                <key>offset</key>
                <string>{97,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,212},{300,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{300,154}}</string>
                <key>offset</key>
                <string>{97,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,212},{300,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{300,154}}</string>
                <key>offset</key>
                <string>{97,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,212},{300,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{300,154}}</string>
                <key>offset</key>
                <string>{97,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,212},{300,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{300,154}}</string>
                <key>offset</key>
                <string>{97,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,212},{300,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,630},{268,166}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,200},{268,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,630},{268,166}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,200},{268,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,630},{268,166}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,200},{268,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyna0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{522,160}}</string>
                <key>offset</key>
                <string>{139,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,350},{522,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{522,160}}</string>
                <key>offset</key>
                <string>{139,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,350},{522,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{520,182}}</string>
                <key>offset</key>
                <string>{140,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,343},{520,182}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{520,182}}</string>
                <key>offset</key>
                <string>{140,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,343},{520,182}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,816},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{312,160}}</string>
                <key>offset</key>
                <string>{244,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,350},{312,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{312,160}}</string>
                <key>offset</key>
                <string>{244,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,350},{312,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{296,238}}</string>
                <key>offset</key>
                <string>{252,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,318},{296,238}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_1tyna0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{564,304}}</string>
                <key>offset</key>
                <string>{118,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,282},{564,304}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_28_a.pvr.ccz</string>
            <key>size</key>
            <string>{1020,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4478594329988e94825f1c669a1dbb35:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_28_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
