<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jlfw0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,246},{234,244}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,191},{234,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,246},{234,244}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,191},{234,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,246},{234,244}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,191},{234,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,246},{234,244}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,191},{234,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,506},{256,240}}</string>
                <key>offset</key>
                <string>{9,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,195},{256,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,506},{256,240}}</string>
                <key>offset</key>
                <string>{9,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,195},{256,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,506},{256,240}}</string>
                <key>offset</key>
                <string>{9,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,195},{256,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,506},{256,240}}</string>
                <key>offset</key>
                <string>{9,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,195},{256,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{274,256}}</string>
                <key>offset</key>
                <string>{38,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,188},{274,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{274,256}}</string>
                <key>offset</key>
                <string>{38,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,188},{274,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{274,256}}</string>
                <key>offset</key>
                <string>{38,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,188},{274,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,246},{164,236}}</string>
                <key>offset</key>
                <string>{-37,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,208},{164,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,246},{164,236}}</string>
                <key>offset</key>
                <string>{-37,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,208},{164,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,246},{164,236}}</string>
                <key>offset</key>
                <string>{-37,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,208},{164,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,246},{164,236}}</string>
                <key>offset</key>
                <string>{-37,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,208},{164,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,246},{164,236}}</string>
                <key>offset</key>
                <string>{-37,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,208},{164,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,246},{164,236}}</string>
                <key>offset</key>
                <string>{-37,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,208},{164,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,760},{152,220}}</string>
                <key>offset</key>
                <string>{-21,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,225},{152,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,760},{152,220}}</string>
                <key>offset</key>
                <string>{-21,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,225},{152,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,760},{152,220}}</string>
                <key>offset</key>
                <string>{-21,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,225},{152,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,760},{152,220}}</string>
                <key>offset</key>
                <string>{-21,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,225},{152,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,760},{152,220}}</string>
                <key>offset</key>
                <string>{-21,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,225},{152,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,240},{184,250}}</string>
                <key>offset</key>
                <string>{14,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{184,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,240},{184,250}}</string>
                <key>offset</key>
                <string>{14,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{184,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,240},{184,250}}</string>
                <key>offset</key>
                <string>{14,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,191},{184,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{288,226}}</string>
                <key>offset</key>
                <string>{73,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,209},{288,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{288,226}}</string>
                <key>offset</key>
                <string>{73,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,209},{288,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{288,226}}</string>
                <key>offset</key>
                <string>{73,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,209},{288,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{288,226}}</string>
                <key>offset</key>
                <string>{73,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,209},{288,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{288,226}}</string>
                <key>offset</key>
                <string>{73,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,209},{288,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,712},{184,228}}</string>
                <key>offset</key>
                <string>{24,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,208},{184,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,712},{184,228}}</string>
                <key>offset</key>
                <string>{24,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,208},{184,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,712},{184,228}}</string>
                <key>offset</key>
                <string>{24,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,208},{184,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,712},{184,228}}</string>
                <key>offset</key>
                <string>{24,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,208},{184,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,712},{184,228}}</string>
                <key>offset</key>
                <string>{24,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,208},{184,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,712},{184,228}}</string>
                <key>offset</key>
                <string>{24,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,208},{184,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,484},{186,226}}</string>
                <key>offset</key>
                <string>{31,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,210},{186,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,484},{186,226}}</string>
                <key>offset</key>
                <string>{31,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,210},{186,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,484},{186,226}}</string>
                <key>offset</key>
                <string>{31,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,210},{186,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,492},{156,266}}</string>
                <key>offset</key>
                <string>{47,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,174},{156,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,492},{156,266}}</string>
                <key>offset</key>
                <string>{47,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,174},{156,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,492},{156,266}}</string>
                <key>offset</key>
                <string>{47,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,174},{156,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,764},{204,250}}</string>
                <key>offset</key>
                <string>{43,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,185},{204,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,764},{204,250}}</string>
                <key>offset</key>
                <string>{43,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,185},{204,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,764},{204,250}}</string>
                <key>offset</key>
                <string>{43,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,185},{204,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{302,264}}</string>
                <key>offset</key>
                <string>{71,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,169},{302,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{302,264}}</string>
                <key>offset</key>
                <string>{71,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,169},{302,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{302,264}}</string>
                <key>offset</key>
                <string>{71,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,169},{302,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{242,270}}</string>
                <key>offset</key>
                <string>{33,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,176},{242,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{242,270}}</string>
                <key>offset</key>
                <string>{33,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,176},{242,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{242,270}}</string>
                <key>offset</key>
                <string>{33,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,176},{242,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,236}}</string>
                <key>offset</key>
                <string>{66,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,199},{336,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,236}}</string>
                <key>offset</key>
                <string>{66,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,199},{336,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,236}}</string>
                <key>offset</key>
                <string>{66,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,199},{336,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,764},{246,212}}</string>
                <key>offset</key>
                <string>{39,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,223},{246,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,764},{246,212}}</string>
                <key>offset</key>
                <string>{39,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,223},{246,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,764},{246,212}}</string>
                <key>offset</key>
                <string>{39,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,223},{246,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,764},{246,212}}</string>
                <key>offset</key>
                <string>{39,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,223},{246,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,764},{246,212}}</string>
                <key>offset</key>
                <string>{39,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,223},{246,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{168,216}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,219},{168,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{168,216}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,219},{168,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{168,216}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,219},{168,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{168,216}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,219},{168,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{168,216}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,219},{168,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_8_b.pvr.ccz</string>
            <key>size</key>
            <string>{1014,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0779753ad918b1ff4c0561cf26aaadbd:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_8_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
