<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_xln0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{144,168}}</string>
                <key>offset</key>
                <string>{-20,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,207},{144,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{144,168}}</string>
                <key>offset</key>
                <string>{-20,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,207},{144,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,342},{146,158}}</string>
                <key>offset</key>
                <string>{-22,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,213},{146,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,342},{146,158}}</string>
                <key>offset</key>
                <string>{-22,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,213},{146,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,342},{146,158}}</string>
                <key>offset</key>
                <string>{-22,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,213},{146,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,174},{158,166}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,203},{158,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,174},{158,166}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,203},{158,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,174},{158,166}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,203},{158,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{162,170}}</string>
                <key>offset</key>
                <string>{-18,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,198},{162,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{162,170}}</string>
                <key>offset</key>
                <string>{-18,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,198},{162,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{162,170}}</string>
                <key>offset</key>
                <string>{-18,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,198},{162,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{160,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,194},{160,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{160,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,194},{160,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{160,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,194},{160,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,222},{134,166}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,199},{134,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,222},{134,166}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,199},{134,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,222},{134,166}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,199},{134,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,222},{134,166}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,199},{134,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{110,152}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,165},{110,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{110,152}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,165},{110,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{110,152}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,165},{110,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{110,152}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,165},{110,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{110,152}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,165},{110,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,456},{144,150}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,166},{144,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,456},{144,150}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,166},{144,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,456},{144,150}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,166},{144,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,456},{144,150}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,166},{144,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,456},{144,150}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,166},{144,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,456},{144,150}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,166},{144,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{160,128}}</string>
                <key>offset</key>
                <string>{-41,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,240},{160,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{160,128}}</string>
                <key>offset</key>
                <string>{-41,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,240},{160,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{160,128}}</string>
                <key>offset</key>
                <string>{-41,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,240},{160,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{160,128}}</string>
                <key>offset</key>
                <string>{-41,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,240},{160,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{160,128}}</string>
                <key>offset</key>
                <string>{-41,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,240},{160,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,490},{158,140}}</string>
                <key>offset</key>
                <string>{-36,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,267},{158,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,490},{158,140}}</string>
                <key>offset</key>
                <string>{-36,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,267},{158,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,490},{158,140}}</string>
                <key>offset</key>
                <string>{-36,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,267},{158,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,490},{158,140}}</string>
                <key>offset</key>
                <string>{-36,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,267},{158,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{174,130}}</string>
                <key>offset</key>
                <string>{-27,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,280},{174,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{174,130}}</string>
                <key>offset</key>
                <string>{-27,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,280},{174,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{174,130}}</string>
                <key>offset</key>
                <string>{-27,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,280},{174,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,154},{180,66}}</string>
                <key>offset</key>
                <string>{-22,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,326},{180,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,154},{180,66}}</string>
                <key>offset</key>
                <string>{-22,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,326},{180,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,154},{180,66}}</string>
                <key>offset</key>
                <string>{-22,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,326},{180,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,148},{180,82}}</string>
                <key>offset</key>
                <string>{-22,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,329},{180,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,340},{182,86}}</string>
                <key>offset</key>
                <string>{-17,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,309},{182,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,428},{178,106}}</string>
                <key>offset</key>
                <string>{-10,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,291},{178,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,440},{162,118}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,280},{162,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,632},{138,128}}</string>
                <key>offset</key>
                <string>{-7,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,272},{138,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,662},{124,128}}</string>
                <key>offset</key>
                <string>{-5,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,269},{124,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,684},{124,126}}</string>
                <key>offset</key>
                <string>{-9,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,258},{124,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,560},{122,128}}</string>
                <key>offset</key>
                <string>{-11,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,255},{122,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,650},{134,124}}</string>
                <key>offset</key>
                <string>{-10,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,255},{134,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,536},{140,124}}</string>
                <key>offset</key>
                <string>{-13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,246},{140,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,510},{150,138}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,229},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,134},{154,152}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,215},{154,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,358},{150,160}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,210},{150,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{150,168}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,203},{150,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{150,172}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,200},{150,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{156,172}}</string>
                <key>offset</key>
                <string>{-20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,196},{156,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,178}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,191},{160,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,232},{178,106}}</string>
                <key>offset</key>
                <string>{-10,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,291},{178,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,232},{178,106}}</string>
                <key>offset</key>
                <string>{-10,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,291},{178,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,232},{178,106}}</string>
                <key>offset</key>
                <string>{-10,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,291},{178,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,232},{178,106}}</string>
                <key>offset</key>
                <string>{-10,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,291},{178,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,164},{138,128}}</string>
                <key>offset</key>
                <string>{-7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,272},{138,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,164},{138,128}}</string>
                <key>offset</key>
                <string>{-7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,272},{138,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,164},{138,128}}</string>
                <key>offset</key>
                <string>{-7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,272},{138,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,164},{138,128}}</string>
                <key>offset</key>
                <string>{-7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,272},{138,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,684},{128,126}}</string>
                <key>offset</key>
                <string>{-7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,258},{128,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,684},{128,126}}</string>
                <key>offset</key>
                <string>{-7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,258},{128,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0528.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,684},{128,126}}</string>
                <key>offset</key>
                <string>{-7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,258},{128,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0529.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,684},{128,126}}</string>
                <key>offset</key>
                <string>{-7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,258},{128,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0530.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,608},{124,124}}</string>
                <key>offset</key>
                <string>{-14,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,255},{124,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0531.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,608},{124,124}}</string>
                <key>offset</key>
                <string>{-14,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,255},{124,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0532.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,608},{124,124}}</string>
                <key>offset</key>
                <string>{-14,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,255},{124,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0533.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,608},{124,124}}</string>
                <key>offset</key>
                <string>{-14,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,255},{124,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0534.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,304},{150,138}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,229},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0535.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,304},{150,138}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,229},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0536.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,304},{150,138}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,229},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0537.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,304},{150,138}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,229},{150,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0538.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,288},{150,160}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,210},{150,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0539.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,288},{150,160}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,210},{150,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0540.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,288},{150,160}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,210},{150,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0541.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,288},{150,160}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,210},{150,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_38.pvr.ccz</string>
            <key>size</key>
            <string>{978,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4223c1c20a6a60bdd2949dc441985305:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_38.pvr.ccz</string>
        </dict>
    </dict>
</plist>
