<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_gj0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{98,174}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,132},{98,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{98,174}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,132},{98,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{98,174}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,132},{98,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{98,174}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,132},{98,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{98,174}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,132},{98,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{98,178}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,127},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{98,178}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,127},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{98,178}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,127},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{98,178}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,127},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{98,178}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,127},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{98,178}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,127},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{98,178}}</string>
                <key>offset</key>
                <string>{-13,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,125},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{98,178}}</string>
                <key>offset</key>
                <string>{-13,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,125},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{98,178}}</string>
                <key>offset</key>
                <string>{-13,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,125},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{98,178}}</string>
                <key>offset</key>
                <string>{-13,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,125},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{98,178}}</string>
                <key>offset</key>
                <string>{-13,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,125},{98,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,102},{98,170}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,130},{98,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,102},{98,170}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,130},{98,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,102},{98,170}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,130},{98,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,102},{98,170}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,130},{98,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,102},{98,170}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,130},{98,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,102},{98,170}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,130},{98,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,102},{98,172}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,127},{98,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,102},{98,172}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,127},{98,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,102},{98,172}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,127},{98,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,102},{98,172}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,127},{98,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,102},{98,172}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,127},{98,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,178},{96,178}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,126},{96,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,178},{96,178}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,126},{96,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,178},{96,178}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,126},{96,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,178},{96,178}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,126},{96,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,178},{96,178}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,126},{96,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,176}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,128},{102,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,176}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,128},{102,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,176}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,128},{102,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{104,174}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,130},{104,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{104,174}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,130},{104,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{104,174}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,130},{104,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{104,174}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,130},{104,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,102},{104,172}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,132},{104,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,102},{104,172}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,132},{104,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,102},{104,172}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,132},{104,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,102},{104,172}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,132},{104,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,102},{104,172}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,132},{104,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,102},{104,172}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,132},{104,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,102},{104,172}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,132},{104,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{104,174}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,130},{104,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{104,174}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,130},{104,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{104,174}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,130},{104,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,102},{166,90}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,123},{166,90}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,102},{166,90}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,123},{166,90}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,102},{166,90}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,123},{166,90}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,102},{166,90}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,123},{166,90}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,102},{166,90}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,123},{166,90}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,102},{158,98}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,138},{158,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,102},{158,98}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,138},{158,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,102},{158,98}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,138},{158,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,102},{158,98}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,138},{158,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,102},{158,98}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,138},{158,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_6.pvr.ccz</string>
            <key>size</key>
            <string>{922,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5920d614053b26aea4f424ef25a2c962:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
