<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_y0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,630},{196,186}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,135},{196,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,630},{196,186}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,135},{196,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,630},{196,186}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,135},{196,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,630},{196,186}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,135},{196,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,630},{196,186}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,135},{196,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{190,134}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,179},{190,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{190,134}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,179},{190,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{190,134}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,179},{190,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{190,134}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,179},{190,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{190,134}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,179},{190,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,818},{160,178}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,208},{160,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,818},{160,178}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,208},{160,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,818},{160,178}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,208},{160,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,818},{160,178}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,208},{160,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,818},{160,178}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,208},{160,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{160,200}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,212},{160,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{160,200}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,212},{160,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{160,200}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,212},{160,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{160,200}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,212},{160,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{160,200}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,212},{160,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,818},{168,160}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,208},{168,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,818},{168,160}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,208},{168,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,818},{168,160}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,208},{168,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,818},{168,160}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,208},{168,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,818},{168,160}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,208},{168,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{176,134}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,178},{176,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{176,134}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,178},{176,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{176,134}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,178},{176,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{176,134}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,178},{176,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{176,134}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,178},{176,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,106},{218,140}}</string>
                <key>offset</key>
                <string>{-35,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,186},{218,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,106},{218,140}}</string>
                <key>offset</key>
                <string>{-35,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,186},{218,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,106},{218,140}}</string>
                <key>offset</key>
                <string>{-35,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,186},{218,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,106},{218,140}}</string>
                <key>offset</key>
                <string>{-35,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,186},{218,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,138}}</string>
                <key>offset</key>
                <string>{-35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,177},{226,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,138}}</string>
                <key>offset</key>
                <string>{-35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,177},{226,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,138}}</string>
                <key>offset</key>
                <string>{-35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,177},{226,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,138}}</string>
                <key>offset</key>
                <string>{-35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,177},{226,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{212,114}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,193},{212,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{212,114}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,193},{212,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{212,114}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,193},{212,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{212,114}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,193},{212,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,416},{204,106}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,198},{204,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,416},{204,106}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,198},{204,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,416},{204,106}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,198},{204,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,416},{204,106}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,198},{204,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,524},{200,104}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,200},{200,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,524},{200,104}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,200},{200,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,524},{200,104}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,200},{200,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,524},{200,104}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,200},{200,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{212,116}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,191},{212,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{212,116}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,191},{212,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{212,116}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,191},{212,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{212,116}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,191},{212,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0725.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{214,130}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,181},{214,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0726.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{214,130}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,181},{214,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0727.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{214,130}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,181},{214,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0728.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{214,130}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,181},{214,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,248},{212,166}}</string>
                <key>offset</key>
                <string>{-48,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,138},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,248},{212,166}}</string>
                <key>offset</key>
                <string>{-48,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,138},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,248},{212,166}}</string>
                <key>offset</key>
                <string>{-48,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,138},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,248},{212,166}}</string>
                <key>offset</key>
                <string>{-48,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,138},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,248},{212,166}}</string>
                <key>offset</key>
                <string>{-48,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,138},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{220,102}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,171},{220,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{220,102}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,171},{220,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{220,102}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,171},{220,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{220,102}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,171},{220,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_y0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{220,102}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,171},{220,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_42.pvr.ccz</string>
            <key>size</key>
            <string>{480,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:006dd0f8b0e8d5cc78ad7603441491b4:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_42.pvr.ccz</string>
        </dict>
    </dict>
</plist>
