<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_gj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{102,150}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{102,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{102,150}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{102,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{102,150}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{102,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{102,150}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{102,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{102,150}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{102,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{102,150}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{102,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{102,150}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{102,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{112,170}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{112,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{112,170}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{112,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{112,170}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{112,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{112,170}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{112,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{126,158}}</string>
                <key>offset</key>
                <string>{14,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,149},{126,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{126,158}}</string>
                <key>offset</key>
                <string>{14,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,149},{126,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{126,158}}</string>
                <key>offset</key>
                <string>{14,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,149},{126,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,174},{120,162}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,142},{120,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,174},{120,162}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,142},{120,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,174},{120,162}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,142},{120,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{126,172}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,132},{126,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{126,172}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,132},{126,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{126,172}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,132},{126,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,176}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,128},{132,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,176}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,128},{132,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,176}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,128},{132,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,176},{124,170}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,128},{124,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,176},{124,170}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,128},{124,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,266},{136,102}}</string>
                <key>offset</key>
                <string>{-24,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,155},{136,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,266},{136,102}}</string>
                <key>offset</key>
                <string>{-24,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,155},{136,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,266},{136,102}}</string>
                <key>offset</key>
                <string>{-24,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,155},{136,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,266},{136,102}}</string>
                <key>offset</key>
                <string>{-24,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,155},{136,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,348},{144,120}}</string>
                <key>offset</key>
                <string>{-27,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,168},{144,120}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,348},{144,120}}</string>
                <key>offset</key>
                <string>{-27,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,168},{144,120}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,348},{144,120}}</string>
                <key>offset</key>
                <string>{-27,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,168},{144,120}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,348},{144,120}}</string>
                <key>offset</key>
                <string>{-27,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,168},{144,120}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{112,142}}</string>
                <key>offset</key>
                <string>{-38,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,158},{112,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{112,142}}</string>
                <key>offset</key>
                <string>{-38,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,158},{112,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{112,142}}</string>
                <key>offset</key>
                <string>{-38,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,158},{112,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{112,142}}</string>
                <key>offset</key>
                <string>{-38,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,158},{112,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,146},{138,118}}</string>
                <key>offset</key>
                <string>{-19,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,199},{138,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,146},{138,118}}</string>
                <key>offset</key>
                <string>{-19,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,199},{138,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,146},{138,118}}</string>
                <key>offset</key>
                <string>{-19,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,199},{138,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{176,82}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,247},{176,82}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{176,82}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,247},{176,82}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,162},{156,98}}</string>
                <key>offset</key>
                <string>{-16,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,230},{156,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,162},{156,98}}</string>
                <key>offset</key>
                <string>{-16,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,230},{156,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,162},{156,98}}</string>
                <key>offset</key>
                <string>{-16,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,230},{156,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{138,122}}</string>
                <key>offset</key>
                <string>{-51,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,202},{138,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{138,122}}</string>
                <key>offset</key>
                <string>{-51,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,202},{138,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,370},{114,122}}</string>
                <key>offset</key>
                <string>{-65,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,209},{114,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,370},{114,122}}</string>
                <key>offset</key>
                <string>{-65,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,209},{114,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,370},{114,122}}</string>
                <key>offset</key>
                <string>{-65,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,209},{114,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,370},{114,122}}</string>
                <key>offset</key>
                <string>{-65,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,209},{114,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,320},{122,150}}</string>
                <key>offset</key>
                <string>{-64,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,97},{122,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,320},{122,150}}</string>
                <key>offset</key>
                <string>{-64,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,97},{122,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,338},{158,150}}</string>
                <key>offset</key>
                <string>{-38,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,124},{158,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,338},{158,150}}</string>
                <key>offset</key>
                <string>{-38,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,124},{158,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,180},{130,172}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,132},{130,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,180},{130,172}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,132},{130,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,180},{130,172}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,132},{130,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,180},{130,172}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,132},{130,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,180},{130,172}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,132},{130,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,354},{128,142}}</string>
                <key>offset</key>
                <string>{-29,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,162},{128,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,354},{128,142}}</string>
                <key>offset</key>
                <string>{-29,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,162},{128,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,354},{128,142}}</string>
                <key>offset</key>
                <string>{-29,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,162},{128,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,354},{128,142}}</string>
                <key>offset</key>
                <string>{-29,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,162},{128,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{136,150}}</string>
                <key>offset</key>
                <string>{-18,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,154},{136,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{136,150}}</string>
                <key>offset</key>
                <string>{-18,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,154},{136,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{136,150}}</string>
                <key>offset</key>
                <string>{-18,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,154},{136,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>monster_gj0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{136,150}}</string>
                <key>offset</key>
                <string>{-18,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,154},{136,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_6.pvr.ccz</string>
            <key>size</key>
            <string>{828,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab9a5c4dc9a972a0e11a2679cecad9ef:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
