<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_rwx0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,580},{164,196}}</string>
                <key>offset</key>
                <string>{-25,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,152},{164,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,580},{164,196}}</string>
                <key>offset</key>
                <string>{-25,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,152},{164,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,834},{152,186}}</string>
                <key>offset</key>
                <string>{-48,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,162},{152,186}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,834},{152,186}}</string>
                <key>offset</key>
                <string>{-48,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,162},{152,186}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,834},{152,186}}</string>
                <key>offset</key>
                <string>{-48,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,162},{152,186}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,834},{152,186}}</string>
                <key>offset</key>
                <string>{-48,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,162},{152,186}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,476},{212,176}}</string>
                <key>offset</key>
                <string>{20,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,176},{212,176}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,476},{212,176}}</string>
                <key>offset</key>
                <string>{20,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,176},{212,176}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,648},{202,174}}</string>
                <key>offset</key>
                <string>{31,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,178},{202,174}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,648},{202,174}}</string>
                <key>offset</key>
                <string>{31,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,178},{202,174}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,648},{202,174}}</string>
                <key>offset</key>
                <string>{31,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,178},{202,174}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,648},{202,174}}</string>
                <key>offset</key>
                <string>{31,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,178},{202,174}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,648},{202,174}}</string>
                <key>offset</key>
                <string>{31,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,178},{202,174}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,830},{150,188}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,165},{150,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,830},{150,188}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,165},{150,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,654},{192,174}}</string>
                <key>offset</key>
                <string>{43,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,178},{192,174}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,654},{192,174}}</string>
                <key>offset</key>
                <string>{43,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,178},{192,174}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{194,168}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,184},{194,168}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{194,168}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,184},{194,168}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{194,168}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,184},{194,168}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{194,168}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,184},{194,168}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{194,168}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,184},{194,168}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{194,168}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,184},{194,168}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,476},{170,180}}</string>
                <key>offset</key>
                <string>{25,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,172},{170,180}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,476},{170,180}}</string>
                <key>offset</key>
                <string>{25,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,172},{170,180}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,476},{170,180}}</string>
                <key>offset</key>
                <string>{25,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,172},{170,180}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{146,196}}</string>
                <key>offset</key>
                <string>{20,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,154},{146,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{146,196}}</string>
                <key>offset</key>
                <string>{20,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,154},{146,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{146,196}}</string>
                <key>offset</key>
                <string>{20,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,154},{146,196}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,188},{312,140}}</string>
                <key>offset</key>
                <string>{-35,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,150},{312,140}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{360,156}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,141},{360,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{360,156}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,141},{360,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{318,184}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,127},{318,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{318,184}}</string>
                <key>offset</key>
                <string>{40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,127},{318,184}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,750},{82,154}}</string>
                <key>offset</key>
                <string>{113,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,142},{82,154}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,750},{82,154}}</string>
                <key>offset</key>
                <string>{113,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,142},{82,154}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,196},{26,126}}</string>
                <key>offset</key>
                <string>{124,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,156},{26,126}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,196},{26,126}}</string>
                <key>offset</key>
                <string>{124,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,156},{26,126}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,330},{374,144}}</string>
                <key>offset</key>
                <string>{-48,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,145},{374,144}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,192}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{470,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,192}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{470,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{410,224}}</string>
                <key>offset</key>
                <string>{30,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,105},{410,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{410,224}}</string>
                <key>offset</key>
                <string>{30,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,105},{410,224}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{100,188}}</string>
                <key>offset</key>
                <string>{141,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,123},{100,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{100,188}}</string>
                <key>offset</key>
                <string>{141,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,123},{100,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,422},{32,156}}</string>
                <key>offset</key>
                <string>{154,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,139},{32,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,422},{32,156}}</string>
                <key>offset</key>
                <string>{154,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,139},{32,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,188},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_20_b.pvr.ccz</string>
            <key>size</key>
            <string>{794,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8af0c3b2a6cec79462cff8cc0d0b8b00:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_20_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
