<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_yg0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{122,160}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,279},{122,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{122,160}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,279},{122,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{122,160}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,279},{122,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{122,160}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,279},{122,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,554},{130,146}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,293},{130,146}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,554},{130,146}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,293},{130,146}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,554},{130,146}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,293},{130,146}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,554},{130,146}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,293},{130,146}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,554},{130,146}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,293},{130,146}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,564},{122,140}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,238},{122,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,564},{122,140}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,238},{122,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,564},{122,140}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,238},{122,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,564},{122,140}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,238},{122,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,564},{122,140}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,238},{122,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{298,126}}</string>
                <key>offset</key>
                <string>{-63,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,252},{298,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{298,126}}</string>
                <key>offset</key>
                <string>{-63,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,252},{298,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{298,126}}</string>
                <key>offset</key>
                <string>{-63,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,252},{298,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{298,126}}</string>
                <key>offset</key>
                <string>{-63,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,252},{298,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{298,126}}</string>
                <key>offset</key>
                <string>{-63,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,252},{298,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{298,126}}</string>
                <key>offset</key>
                <string>{-63,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,252},{298,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{298,140}}</string>
                <key>offset</key>
                <string>{-60,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,246},{298,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,172}}</string>
                <key>offset</key>
                <string>{-64,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,267},{286,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,172}}</string>
                <key>offset</key>
                <string>{-64,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,267},{286,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,172}}</string>
                <key>offset</key>
                <string>{-64,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,267},{286,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{270,168}}</string>
                <key>offset</key>
                <string>{-67,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,271},{270,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{270,168}}</string>
                <key>offset</key>
                <string>{-67,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,271},{270,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{270,168}}</string>
                <key>offset</key>
                <string>{-67,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,271},{270,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,558},{164,70}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,299},{164,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,558},{164,70}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,299},{164,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{250,76}}</string>
                <key>offset</key>
                <string>{71,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,294},{250,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{250,76}}</string>
                <key>offset</key>
                <string>{71,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,294},{250,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,274},{288,120}}</string>
                <key>offset</key>
                <string>{89,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,278},{288,120}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,274},{282,110}}</string>
                <key>offset</key>
                <string>{96,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,275},{282,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_39_b.pvr.ccz</string>
            <key>size</key>
            <string>{506,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca1fbfddc804dc8ef24e9f278f171606:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_39_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
