<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_rwx0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,300},{156,188}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,165},{156,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,300},{156,188}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,165},{156,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,300},{156,188}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,165},{156,188}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,490},{160,178}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{160,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,490},{160,178}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{160,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,490},{160,178}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{160,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,490},{160,178}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{160,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,490},{160,178}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{160,178}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,822},{144,198}}</string>
                <key>offset</key>
                <string>{53,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,155},{144,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,822},{144,198}}</string>
                <key>offset</key>
                <string>{53,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,155},{144,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{138,204}}</string>
                <key>offset</key>
                <string>{59,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{138,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{138,204}}</string>
                <key>offset</key>
                <string>{59,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{138,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{138,204}}</string>
                <key>offset</key>
                <string>{59,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{138,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{138,204}}</string>
                <key>offset</key>
                <string>{59,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{138,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{138,204}}</string>
                <key>offset</key>
                <string>{59,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{138,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{138,204}}</string>
                <key>offset</key>
                <string>{59,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{138,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{138,204}}</string>
                <key>offset</key>
                <string>{59,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{138,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{138,204}}</string>
                <key>offset</key>
                <string>{59,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{138,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{140,204}}</string>
                <key>offset</key>
                <string>{44,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,149},{140,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{140,204}}</string>
                <key>offset</key>
                <string>{44,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,149},{140,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{140,204}}</string>
                <key>offset</key>
                <string>{44,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,149},{140,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{140,204}}</string>
                <key>offset</key>
                <string>{44,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,149},{140,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,670},{150,204}}</string>
                <key>offset</key>
                <string>{36,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,149},{150,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,670},{150,204}}</string>
                <key>offset</key>
                <string>{36,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,149},{150,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,670},{150,204}}</string>
                <key>offset</key>
                <string>{36,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,149},{150,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwxa0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{412,172}}</string>
                <key>offset</key>
                <string>{79,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,185},{412,172}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{412,172}}</string>
                <key>offset</key>
                <string>{79,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,185},{412,172}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{402,186}}</string>
                <key>offset</key>
                <string>{84,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,185},{402,186}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{402,186}}</string>
                <key>offset</key>
                <string>{84,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,185},{402,186}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{358,170}}</string>
                <key>offset</key>
                <string>{106,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,200},{358,170}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{358,170}}</string>
                <key>offset</key>
                <string>{106,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,200},{358,170}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{358,170}}</string>
                <key>offset</key>
                <string>{106,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,200},{358,170}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>boss_rwxa0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{1,1}}</string>
                <key>offset</key>
                <string>{-284.5,284.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>rwxpao0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,430}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,38},{296,430}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>rwxpao0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,430}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,38},{296,430}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>rwxpao0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,430}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,38},{296,430}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>rwxpao0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,430}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,38},{296,430}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_20_a.pvr.ccz</string>
            <key>size</key>
            <string>{574,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ef977204d97b190ae19f71c6610e33b:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_20_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
