<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_lmca0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{192,274}}</string>
                <key>offset</key>
                <string>{36,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,120},{192,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{192,274}}</string>
                <key>offset</key>
                <string>{36,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,120},{192,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{192,274}}</string>
                <key>offset</key>
                <string>{36,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,120},{192,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,218}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,160},{282,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,218}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,160},{282,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,218}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,160},{282,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{274,226}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,148},{274,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{274,226}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,148},{274,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{248,224}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,150},{248,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{248,224}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,150},{248,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{248,220}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,152},{248,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{248,220}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,152},{248,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,434},{214,220}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,146},{214,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,434},{214,220}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,146},{214,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,290},{212,212}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,150},{212,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,290},{212,212}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,150},{212,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,578},{214,188}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,174},{214,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,578},{214,188}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,174},{214,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,656},{170,220}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,134},{170,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,656},{170,220}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,134},{170,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,298},{168,204}}</string>
                <key>offset</key>
                <string>{29,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,134},{168,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,298},{168,204}}</string>
                <key>offset</key>
                <string>{29,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,134},{168,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,744},{188,160}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,168},{188,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,744},{188,160}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,168},{188,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,744},{188,160}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,168},{188,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,504},{198,72}}</string>
                <key>offset</key>
                <string>{69,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,196},{198,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,504},{198,72}}</string>
                <key>offset</key>
                <string>{69,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,196},{198,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,706},{200,172}}</string>
                <key>offset</key>
                <string>{70,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,138},{200,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,706},{200,172}}</string>
                <key>offset</key>
                <string>{70,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,138},{200,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,504},{200,178}}</string>
                <key>offset</key>
                <string>{69,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,135},{200,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,504},{200,178}}</string>
                <key>offset</key>
                <string>{69,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,135},{200,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,336},{96,192}}</string>
                <key>offset</key>
                <string>{118,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,128},{96,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,336},{96,192}}</string>
                <key>offset</key>
                <string>{118,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,128},{96,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{294,144}}</string>
                <key>offset</key>
                <string>{66,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,164},{294,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,148},{294,140}}</string>
                <key>offset</key>
                <string>{66,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,166},{294,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,148},{294,140}}</string>
                <key>offset</key>
                <string>{66,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,166},{294,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,148},{294,140}}</string>
                <key>offset</key>
                <string>{66,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,166},{294,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{294,138}}</string>
                <key>offset</key>
                <string>{66,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,169},{294,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{294,138}}</string>
                <key>offset</key>
                <string>{66,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,169},{294,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,450},{292,140}}</string>
                <key>offset</key>
                <string>{67,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,168},{292,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,450},{292,140}}</string>
                <key>offset</key>
                <string>{67,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,168},{292,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,196},{270,138}}</string>
                <key>offset</key>
                <string>{73,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,168},{270,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,196},{270,138}}</string>
                <key>offset</key>
                <string>{73,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,168},{270,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmca0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_25_b.pvr.ccz</string>
            <key>size</key>
            <string>{999,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccb0a4207d1108dfc0b865cab0c23124:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_25_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
