<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1tyn0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,532},{216,168}}</string>
                <key>offset</key>
                <string>{-55,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,185},{216,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,532},{216,168}}</string>
                <key>offset</key>
                <string>{-55,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,185},{216,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,532},{216,168}}</string>
                <key>offset</key>
                <string>{-55,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,185},{216,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,326},{204,166}}</string>
                <key>offset</key>
                <string>{-55,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,194},{204,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,326},{204,166}}</string>
                <key>offset</key>
                <string>{-55,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,194},{204,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,326},{204,166}}</string>
                <key>offset</key>
                <string>{-55,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,194},{204,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,822},{184,164}}</string>
                <key>offset</key>
                <string>{-51,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,182},{184,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,822},{184,164}}</string>
                <key>offset</key>
                <string>{-51,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,182},{184,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,822},{184,164}}</string>
                <key>offset</key>
                <string>{-51,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,182},{184,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{182,170}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,191},{182,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{182,170}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,191},{182,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{182,170}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,191},{182,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,172},{218,152}}</string>
                <key>offset</key>
                <string>{-50,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,187},{218,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,172},{218,152}}</string>
                <key>offset</key>
                <string>{-50,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,187},{218,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,172},{218,152}}</string>
                <key>offset</key>
                <string>{-50,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,187},{218,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,750},{214,170}}</string>
                <key>offset</key>
                <string>{18,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,197},{214,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,750},{214,170}}</string>
                <key>offset</key>
                <string>{18,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,197},{214,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,750},{214,170}}</string>
                <key>offset</key>
                <string>{18,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,197},{214,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,750},{214,170}}</string>
                <key>offset</key>
                <string>{18,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,197},{214,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{220,168}}</string>
                <key>offset</key>
                <string>{19,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,199},{220,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{220,168}}</string>
                <key>offset</key>
                <string>{19,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,199},{220,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{220,168}}</string>
                <key>offset</key>
                <string>{19,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,199},{220,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{220,168}}</string>
                <key>offset</key>
                <string>{19,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,199},{220,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{220,166}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,201},{220,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{220,166}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,201},{220,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{220,166}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,201},{220,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{220,166}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,201},{220,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{220,166}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,201},{220,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{220,166}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,201},{220,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{220,166}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,201},{220,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{220,166}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,201},{220,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,396},{212,166}}</string>
                <key>offset</key>
                <string>{12,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,201},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,396},{212,166}}</string>
                <key>offset</key>
                <string>{12,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,201},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,396},{212,166}}</string>
                <key>offset</key>
                <string>{12,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,201},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,396},{212,166}}</string>
                <key>offset</key>
                <string>{12,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,201},{212,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,186},{208,168}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,199},{208,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,186},{208,168}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,199},{208,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,186},{208,168}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,199},{208,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,186},{208,168}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,199},{208,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0725.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,610},{210,168}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,199},{210,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0726.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,610},{210,168}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,199},{210,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0727.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,610},{210,168}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,199},{210,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0728.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,610},{210,168}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,199},{210,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,258}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,71},{132,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,258}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,71},{132,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,258}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,71},{132,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,258}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,71},{132,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,258}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,71},{132,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{268,104}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,179},{268,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{268,104}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,179},{268,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{268,104}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,179},{268,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{268,104}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,179},{268,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{268,104}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,179},{268,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_28.pvr.ccz</string>
            <key>size</key>
            <string>{531,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc127faa5d63bf39abd826252cfae852:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_28.pvr.ccz</string>
        </dict>
    </dict>
</plist>
