<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dcq0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,208}}</string>
                <key>offset</key>
                <string>{-35,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,222},{210,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,208}}</string>
                <key>offset</key>
                <string>{-35,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,222},{210,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,208}}</string>
                <key>offset</key>
                <string>{-35,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,222},{210,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{194,208}}</string>
                <key>offset</key>
                <string>{-53,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,231},{194,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{194,208}}</string>
                <key>offset</key>
                <string>{-53,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,231},{194,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{194,208}}</string>
                <key>offset</key>
                <string>{-53,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,231},{194,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{176,212}}</string>
                <key>offset</key>
                <string>{-44,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,216},{176,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{176,212}}</string>
                <key>offset</key>
                <string>{-44,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,216},{176,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{176,212}}</string>
                <key>offset</key>
                <string>{-44,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,216},{176,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{190,210}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,223},{190,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{190,210}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,223},{190,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{190,210}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,223},{190,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,180},{188,192}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,232},{188,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,180},{188,192}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,232},{188,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,180},{188,192}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,232},{188,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{146,204}}</string>
                <key>offset</key>
                <string>{-28,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,219},{146,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{146,204}}</string>
                <key>offset</key>
                <string>{-28,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,219},{146,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{146,204}}</string>
                <key>offset</key>
                <string>{-28,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,219},{146,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,418},{178,208}}</string>
                <key>offset</key>
                <string>{-35,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,217},{178,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,418},{178,208}}</string>
                <key>offset</key>
                <string>{-35,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,217},{178,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,418},{178,208}}</string>
                <key>offset</key>
                <string>{-35,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,217},{178,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,210},{184,206}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,220},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,210},{184,206}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,220},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,210},{184,206}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,220},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,418},{184,206}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,220},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,418},{184,206}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,220},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,418},{184,206}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,220},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{190,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,220},{190,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{190,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,220},{190,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{190,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,220},{190,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{188,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,220},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{188,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,220},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{188,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,220},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,210},{188,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,220},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,210},{188,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,220},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,210},{188,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,220},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,214},{192,206}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,220},{192,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,214},{192,206}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,220},{192,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,214},{192,206}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,220},{192,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,422},{190,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,220},{190,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,422},{190,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,220},{190,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,422},{190,206}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,220},{190,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,494},{194,134}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,235},{194,134}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,494},{194,134}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,235},{194,134}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,494},{194,134}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,235},{194,134}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,494},{194,134}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,235},{194,134}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,494},{194,134}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,235},{194,134}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,374},{230,118}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,246},{230,118}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,374},{230,118}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,246},{230,118}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,374},{230,118}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,246},{230,118}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,374},{230,118}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,246},{230,118}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,374},{230,118}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,246},{230,118}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_35.pvr.ccz</string>
            <key>size</key>
            <string>{1014,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a340b2757d39fc8aae89fc5302d37e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_35.pvr.ccz</string>
        </dict>
    </dict>
</plist>
