<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_oyfa0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,276},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,602},{240,252}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,18},{240,252}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,602},{240,252}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,18},{240,252}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,554},{254,260}}</string>
                <key>offset</key>
                <string>{21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,18},{254,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,554},{254,260}}</string>
                <key>offset</key>
                <string>{21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,18},{254,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{282,268}}</string>
                <key>offset</key>
                <string>{16,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,17},{282,268}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{282,268}}</string>
                <key>offset</key>
                <string>{16,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,17},{282,268}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{294,272}}</string>
                <key>offset</key>
                <string>{11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{294,272}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{294,272}}</string>
                <key>offset</key>
                <string>{11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{294,272}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,274}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{308,274}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,274}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{308,274}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,276},{280,276}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{280,276}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,276},{280,276}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{280,276}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{242,284}}</string>
                <key>offset</key>
                <string>{14,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,15},{242,284}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{242,284}}</string>
                <key>offset</key>
                <string>{14,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,15},{242,284}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,304},{244,296}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,16},{244,296}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,304},{244,296}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,16},{244,296}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{238,300}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,15},{238,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{238,300}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,15},{238,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{226,274}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,17},{226,274}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>boss_oyfa0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{226,274}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,17},{226,274}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_14_a.pvr.ccz</string>
            <key>size</key>
            <string>{848,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdd76a1c3ab92876856d188129b440c6:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_14_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
