<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jlfw0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,250}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,181},{246,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,250}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,181},{246,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,250}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,181},{246,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,250}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,181},{246,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,250}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,181},{246,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,250}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,181},{246,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{256,234}}</string>
                <key>offset</key>
                <string>{10,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,197},{256,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{256,234}}</string>
                <key>offset</key>
                <string>{10,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,197},{256,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{256,234}}</string>
                <key>offset</key>
                <string>{10,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,197},{256,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{256,234}}</string>
                <key>offset</key>
                <string>{10,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,197},{256,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{256,234}}</string>
                <key>offset</key>
                <string>{10,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,197},{256,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{258,232}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,198},{258,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{258,232}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,198},{258,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{258,232}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,198},{258,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{258,236}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,194},{258,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{258,236}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,194},{258,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{258,236}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,194},{258,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{248,240}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,190},{248,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{248,240}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,190},{248,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{248,240}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,190},{248,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,236},{170,232}}</string>
                <key>offset</key>
                <string>{12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,178},{170,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,236},{170,232}}</string>
                <key>offset</key>
                <string>{12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,178},{170,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,236},{170,232}}</string>
                <key>offset</key>
                <string>{12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,178},{170,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,236},{170,232}}</string>
                <key>offset</key>
                <string>{12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,178},{170,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,408},{220,150}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,221},{220,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,408},{220,150}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,221},{220,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,408},{220,150}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,221},{220,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,408},{220,150}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,221},{220,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,408},{220,150}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,221},{220,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,418},{168,192}}</string>
                <key>offset</key>
                <string>{-36,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,238},{168,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,418},{168,192}}</string>
                <key>offset</key>
                <string>{-36,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,238},{168,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,418},{168,192}}</string>
                <key>offset</key>
                <string>{-36,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,238},{168,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,418},{168,192}}</string>
                <key>offset</key>
                <string>{-36,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,238},{168,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,244},{222,172}}</string>
                <key>offset</key>
                <string>{-42,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,263},{222,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,244},{222,172}}</string>
                <key>offset</key>
                <string>{-42,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,263},{222,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,244},{222,172}}</string>
                <key>offset</key>
                <string>{-42,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,263},{222,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,352},{254,140}}</string>
                <key>offset</key>
                <string>{-23,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,295},{254,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,352},{254,140}}</string>
                <key>offset</key>
                <string>{-23,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,295},{254,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,352},{254,140}}</string>
                <key>offset</key>
                <string>{-23,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,295},{254,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,238},{270,112}}</string>
                <key>offset</key>
                <string>{-12,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,345},{270,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,238},{270,112}}</string>
                <key>offset</key>
                <string>{-12,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,345},{270,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,238},{270,112}}</string>
                <key>offset</key>
                <string>{-12,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,345},{270,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_8_a.pvr.ccz</string>
            <key>size</key>
            <string>{1018,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef28cf36a77e02303eadd5d78c4e98dc:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_8_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
