<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bdizi0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,293},{125,201}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,183},{125,201}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,293},{125,201}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,183},{125,201}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,293},{125,201}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,183},{125,201}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,293},{125,201}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,183},{125,201}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,352},{145,193}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,190},{145,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,352},{145,193}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,190},{145,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,352},{145,193}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,190},{145,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,352},{145,193}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,190},{145,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,352},{145,193}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,190},{145,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,352},{145,193}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,190},{145,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,352},{145,193}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,190},{145,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{289,165}}</string>
                <key>offset</key>
                <string>{100,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,218},{289,165}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{289,165}}</string>
                <key>offset</key>
                <string>{100,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,218},{289,165}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{291,159}}</string>
                <key>offset</key>
                <string>{101,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,224},{291,159}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{291,159}}</string>
                <key>offset</key>
                <string>{101,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,224},{291,159}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{291,159}}</string>
                <key>offset</key>
                <string>{101,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,224},{291,159}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,352},{125,177}}</string>
                <key>offset</key>
                <string>{19,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,206},{125,177}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,171},{283,179}}</string>
                <key>offset</key>
                <string>{98,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,204},{283,179}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,171},{283,179}}</string>
                <key>offset</key>
                <string>{98,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,204},{283,179}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,366},{283,179}}</string>
                <key>offset</key>
                <string>{97,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,204},{283,179}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,366},{283,179}}</string>
                <key>offset</key>
                <string>{97,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,204},{283,179}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,366},{283,179}}</string>
                <key>offset</key>
                <string>{97,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,204},{283,179}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,352},{123,177}}</string>
                <key>offset</key>
                <string>{17,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,206},{123,177}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{285,167}}</string>
                <key>offset</key>
                <string>{99,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,216},{285,167}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{285,167}}</string>
                <key>offset</key>
                <string>{99,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,216},{285,167}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{287,165}}</string>
                <key>offset</key>
                <string>{99,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,218},{287,165}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{287,165}}</string>
                <key>offset</key>
                <string>{99,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,218},{287,165}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{287,165}}</string>
                <key>offset</key>
                <string>{99,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,218},{287,165}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{173,193}}</string>
                <key>offset</key>
                <string>{44,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,190},{173,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{173,193}}</string>
                <key>offset</key>
                <string>{44,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,190},{173,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{173,193}}</string>
                <key>offset</key>
                <string>{44,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,190},{173,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizia0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,307},{303,57}}</string>
                <key>offset</key>
                <string>{67,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,306},{303,57}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{367,53}}</string>
                <key>offset</key>
                <string>{111,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,310},{367,53}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{367,53}}</string>
                <key>offset</key>
                <string>{111,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,310},{367,53}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,307},{303,57}}</string>
                <key>offset</key>
                <string>{65,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,265},{303,57}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{367,53}}</string>
                <key>offset</key>
                <string>{109,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,269},{367,53}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{367,53}}</string>
                <key>offset</key>
                <string>{109,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,269},{367,53}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{303,65}}</string>
                <key>offset</key>
                <string>{63,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,316},{303,65}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,63}}</string>
                <key>offset</key>
                <string>{108,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,326},{367,63}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,63}}</string>
                <key>offset</key>
                <string>{108,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,326},{367,63}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
            <key>monster_bdizia0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{1,1}}</string>
                <key>offset</key>
                <string>{-302,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{605,605}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_12.pvr.ccz</string>
            <key>size</key>
            <string>{1008,547}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:162f0ac4cf639ae9b80129c025217418:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
