<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dfbb0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,804},{172,196}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,173},{172,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,804},{172,196}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,173},{172,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,804},{172,196}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,173},{172,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,202},{178,190}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,180},{178,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,202},{178,190}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,180},{178,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,202},{178,190}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,180},{178,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,202},{178,190}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,180},{178,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,606},{186,196}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,172},{186,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,606},{186,196}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,172},{186,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,606},{186,196}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,172},{186,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{190,204}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,168},{190,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{190,204}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,168},{190,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{190,204}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,168},{190,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{190,204}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,168},{190,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,810},{194,202}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,173},{194,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,810},{194,202}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,173},{194,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,810},{194,202}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,173},{194,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,408},{196,196}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,178},{196,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,408},{196,196}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,178},{196,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,408},{196,196}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,178},{196,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,204},{188,202}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{188,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,204},{188,202}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{188,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,204},{188,202}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{188,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,204},{188,202}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{188,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,606},{180,202}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,168},{180,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,606},{180,202}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,168},{180,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,606},{180,202}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,168},{180,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,606},{180,202}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,168},{180,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{202,200}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,174},{202,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{202,200}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,174},{202,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{202,200}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,174},{202,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,200}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,174},{204,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,200}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,174},{204,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,200}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,174},{204,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,198}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,176},{204,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,198}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,176},{204,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,198}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,176},{204,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{202,200}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,175},{202,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{202,200}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,175},{202,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{202,200}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,175},{202,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{202,200}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,174},{202,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{202,200}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,174},{202,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{202,200}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,174},{202,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_10.pvr.ccz</string>
            <key>size</key>
            <string>{576,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:252b403b2ff929a72dc193479abf4c6e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
