<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_deb0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,426},{166,210}}</string>
                <key>offset</key>
                <string>{-20,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,167},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,426},{166,210}}</string>
                <key>offset</key>
                <string>{-20,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,167},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,426},{166,210}}</string>
                <key>offset</key>
                <string>{-20,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,167},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,426},{166,210}}</string>
                <key>offset</key>
                <string>{-20,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,167},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,426},{166,210}}</string>
                <key>offset</key>
                <string>{-20,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,167},{166,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,390},{176,202}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,172},{176,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,390},{176,202}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,172},{176,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,390},{176,202}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,172},{176,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,390},{176,202}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,172},{176,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,390},{176,202}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,172},{176,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,214},{192,210}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,170},{192,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,214},{192,210}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,170},{192,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,214},{192,210}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,170},{192,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,214},{192,210}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,170},{192,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,214},{192,210}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,170},{192,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{206,210}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,166},{206,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{206,210}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,166},{206,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{206,210}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,166},{206,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{206,210}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,166},{206,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{206,210}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,166},{206,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,190},{198,204}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,172},{198,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,190},{198,204}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,172},{198,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,190},{198,204}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,172},{198,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,190},{198,204}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,172},{198,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,190},{198,204}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,172},{198,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{186,206}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{186,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{186,206}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{186,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{186,206}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{186,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{186,206}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{186,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{186,206}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{186,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,218},{196,214}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,165},{196,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,218},{196,214}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,165},{196,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,218},{196,214}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,165},{196,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{198,214}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,165},{198,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{198,214}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,165},{198,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{198,214}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,165},{198,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{202,216}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,163},{202,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{202,216}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,163},{202,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{202,216}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,163},{202,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,218}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,161},{204,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,218}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,161},{204,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,218}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,161},{204,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,222},{196,216}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{196,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,222},{196,216}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{196,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,222},{196,216}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{196,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{196,136}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,194},{196,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{196,136}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,194},{196,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{196,136}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,194},{196,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{196,136}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,194},{196,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{196,136}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,194},{196,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{178,180}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,155},{178,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{178,180}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,155},{178,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{178,180}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,155},{178,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{178,180}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,155},{178,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{178,180}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,155},{178,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_9.pvr.ccz</string>
            <key>size</key>
            <string>{1004,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d89c95b9afef84210d5ff9933cc6707d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
