<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_xza0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{412,266}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,92},{412,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,420},{412,266}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,93},{412,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,270},{412,264}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,94},{412,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,536},{410,260}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,96},{410,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{382,70}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,215},{382,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{386,70}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,215},{386,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{386,70}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,215},{386,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,798},{408,70}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,215},{408,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,798},{408,70}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,215},{408,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{384,36}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,227},{384,36}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{384,36}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,227},{384,36}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,856},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dianpao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{188,416}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{188,416}}</string>
                <key>sourceSize</key>
                <string>{216,450}</string>
            </dict>
            <key>dianpao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,438},{204,416}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{204,416}}</string>
                <key>sourceSize</key>
                <string>{216,450}</string>
            </dict>
            <key>dianpao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,438},{204,416}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{204,416}}</string>
                <key>sourceSize</key>
                <string>{216,450}</string>
            </dict>
            <key>dianpao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,434}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{216,434}}</string>
                <key>sourceSize</key>
                <string>{216,450}</string>
            </dict>
            <key>dianpao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,434}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{216,434}}</string>
                <key>sourceSize</key>
                <string>{216,450}</string>
            </dict>
            <key>dianpao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{118,430}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,4},{118,430}}</string>
                <key>sourceSize</key>
                <string>{216,450}</string>
            </dict>
            <key>dianpao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{118,430}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,4},{118,430}}</string>
                <key>sourceSize</key>
                <string>{216,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_19_b.pvr.ccz</string>
            <key>size</key>
            <string>{1010,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:132065e6d91f33ae5349b2887104c1ec:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_19_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
