<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_qf0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,766},{132,192}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,177},{132,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,766},{132,192}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,177},{132,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,358},{168,188}}</string>
                <key>offset</key>
                <string>{33,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,181},{168,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,358},{168,188}}</string>
                <key>offset</key>
                <string>{33,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,181},{168,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,738},{138,184}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,188},{138,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,738},{138,184}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,188},{138,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,738},{138,184}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,188},{138,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,720},{138,182}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,187},{138,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,720},{138,182}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,187},{138,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,720},{138,182}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,187},{138,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,358},{198,172}}</string>
                <key>offset</key>
                <string>{40,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,199},{198,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,358},{198,172}}</string>
                <key>offset</key>
                <string>{40,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,199},{198,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{198,170}}</string>
                <key>offset</key>
                <string>{39,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,201},{198,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{198,170}}</string>
                <key>offset</key>
                <string>{39,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,201},{198,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{198,170}}</string>
                <key>offset</key>
                <string>{39,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,201},{198,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{198,170}}</string>
                <key>offset</key>
                <string>{39,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,201},{198,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{198,170}}</string>
                <key>offset</key>
                <string>{39,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,201},{198,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{198,170}}</string>
                <key>offset</key>
                <string>{39,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,201},{198,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,366},{166,184}}</string>
                <key>offset</key>
                <string>{23,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,186},{166,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,366},{166,184}}</string>
                <key>offset</key>
                <string>{23,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,186},{166,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,528},{136,190}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,179},{136,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,528},{136,190}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,179},{136,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,534},{140,184}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,185},{140,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,534},{140,184}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,185},{140,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,534},{140,184}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,185},{140,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,202},{204,162}}</string>
                <key>offset</key>
                <string>{44,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,212},{204,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,202},{204,162}}</string>
                <key>offset</key>
                <string>{44,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,212},{204,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,532},{204,164}}</string>
                <key>offset</key>
                <string>{44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,210},{204,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,532},{204,164}}</string>
                <key>offset</key>
                <string>{44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,210},{204,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,532},{204,164}}</string>
                <key>offset</key>
                <string>{44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,210},{204,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,532},{204,164}}</string>
                <key>offset</key>
                <string>{44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,210},{204,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,532},{204,164}}</string>
                <key>offset</key>
                <string>{44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,210},{204,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,532},{204,164}}</string>
                <key>offset</key>
                <string>{44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,210},{204,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,532},{204,164}}</string>
                <key>offset</key>
                <string>{44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,210},{204,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,720},{146,172}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,198},{146,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,720},{146,172}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,198},{146,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,738},{152,184}}</string>
                <key>offset</key>
                <string>{13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,186},{152,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qf0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,738},{152,184}}</string>
                <key>offset</key>
                <string>{13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,186},{152,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_qfa0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{368,132}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,229},{368,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{368,132}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,229},{368,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,190},{312,116}}</string>
                <key>offset</key>
                <string>{56,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,228},{312,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,490},{274,106}}</string>
                <key>offset</key>
                <string>{81,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,229},{274,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,490},{274,106}}</string>
                <key>offset</key>
                <string>{81,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,229},{274,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,490},{274,106}}</string>
                <key>offset</key>
                <string>{81,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,229},{274,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,490},{270,80}}</string>
                <key>offset</key>
                <string>{55,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,252},{270,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,490},{380,72}}</string>
                <key>offset</key>
                <string>{39,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,256},{380,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,490},{380,72}}</string>
                <key>offset</key>
                <string>{39,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,256},{380,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{382,72}}</string>
                <key>offset</key>
                <string>{42,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,256},{382,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{382,72}}</string>
                <key>offset</key>
                <string>{42,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,256},{382,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,490},{336,58}}</string>
                <key>offset</key>
                <string>{49,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,263},{336,58}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,490},{336,58}}</string>
                <key>offset</key>
                <string>{49,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,263},{336,58}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,308},{310,48}}</string>
                <key>offset</key>
                <string>{42,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,270},{310,48}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,308},{310,48}}</string>
                <key>offset</key>
                <string>{42,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,270},{310,48}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{478,116}}</string>
                <key>offset</key>
                <string>{47,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,230},{478,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{478,116}}</string>
                <key>offset</key>
                <string>{47,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,230},{478,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,234}}</string>
                <key>offset</key>
                <string>{45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,186},{478,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,234}}</string>
                <key>offset</key>
                <string>{45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,186},{478,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{358,186}}</string>
                <key>offset</key>
                <string>{62,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,210},{358,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{358,186}}</string>
                <key>offset</key>
                <string>{62,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,210},{358,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,532},{44,194}}</string>
                <key>offset</key>
                <string>{123,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,206},{44,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,532},{44,194}}</string>
                <key>offset</key>
                <string>{123,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,206},{44,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_qfa0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,202},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_17.pvr.ccz</string>
            <key>size</key>
            <string>{1014,927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a88d0820f381d71504fdb78bc7b368f4:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_17.pvr.ccz</string>
        </dict>
    </dict>
</plist>
