<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_hys0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,140},{138,202}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,229},{138,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,140},{138,202}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,229},{138,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,140},{138,202}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,229},{138,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,140},{138,202}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,229},{138,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{134,206}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,225},{134,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{134,206}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,225},{134,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{134,206}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,225},{134,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{134,206}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,225},{134,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,216}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,215},{144,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,216}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,215},{144,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,216}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,215},{144,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,216}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,215},{144,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{136,216}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{136,216}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{136,216}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{136,216}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{136,216}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{136,216}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,216}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,215},{144,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,216}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,215},{144,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,216}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,215},{144,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,216}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,215},{144,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{132,216}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,215},{132,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{136,216}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{136,216}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{136,216}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{136,216}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{136,216}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{136,216}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,215},{136,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,140},{136,210}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,221},{136,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,140},{136,210}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,221},{136,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,140},{136,210}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,221},{136,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,136},{148,210}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,221},{148,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,136},{148,210}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,221},{148,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,136},{148,210}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,221},{148,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_32_b.pvr.ccz</string>
            <key>size</key>
            <string>{1019,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f91e0fba766cfbd1ca77102aee73ca9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_32_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
