<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jmz0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,638},{158,186}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,193},{158,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,638},{158,186}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,193},{158,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,638},{158,186}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,193},{158,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{154,166}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,213},{154,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{154,166}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,213},{154,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{222,160}}</string>
                <key>offset</key>
                <string>{44,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,218},{222,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{222,160}}</string>
                <key>offset</key>
                <string>{44,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,218},{222,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{190,178}}</string>
                <key>offset</key>
                <string>{29,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,200},{190,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{190,178}}</string>
                <key>offset</key>
                <string>{29,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,200},{190,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{190,178}}</string>
                <key>offset</key>
                <string>{29,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,200},{190,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,194},{178,174}}</string>
                <key>offset</key>
                <string>{23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,205},{178,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,194},{178,174}}</string>
                <key>offset</key>
                <string>{23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,205},{178,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,194},{178,174}}</string>
                <key>offset</key>
                <string>{23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,205},{178,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,836},{174,168}}</string>
                <key>offset</key>
                <string>{20,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,211},{174,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,836},{174,168}}</string>
                <key>offset</key>
                <string>{20,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,211},{174,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,836},{174,168}}</string>
                <key>offset</key>
                <string>{20,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,211},{174,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,836},{172,176}}</string>
                <key>offset</key>
                <string>{18,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,203},{172,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,836},{172,176}}</string>
                <key>offset</key>
                <string>{18,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,203},{172,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,524},{118,56}}</string>
                <key>offset</key>
                <string>{-63,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,264},{118,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,524},{118,56}}</string>
                <key>offset</key>
                <string>{-63,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,264},{118,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,712},{262,122}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,208},{262,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,712},{262,122}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,208},{262,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{282,148}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,194},{282,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,712},{280,162}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,183},{280,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,712},{280,162}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,183},{280,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,712},{292,154}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,187},{292,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,712},{292,154}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,187},{292,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,388},{228,134}}</string>
                <key>offset</key>
                <string>{53,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,179},{228,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,388},{228,134}}</string>
                <key>offset</key>
                <string>{53,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,179},{228,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{112,86}}</string>
                <key>offset</key>
                <string>{114,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,178},{112,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{112,86}}</string>
                <key>offset</key>
                <string>{114,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,178},{112,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{2,2}}</string>
                <key>offset</key>
                <string>{139,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,195},{2,2}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,6},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,798},{106,144}}</string>
                <key>offset</key>
                <string>{-38,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,126},{106,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,798},{106,144}}</string>
                <key>offset</key>
                <string>{-38,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,126},{106,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,798},{106,144}}</string>
                <key>offset</key>
                <string>{-38,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,126},{106,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,798},{106,144}}</string>
                <key>offset</key>
                <string>{-38,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,126},{106,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,370},{196,266}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,122},{196,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,370},{196,266}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,122},{196,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,384}}</string>
                <key>offset</key>
                <string>{56,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,116},{388,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{352,384}}</string>
                <key>offset</key>
                <string>{74,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,116},{352,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{352,384}}</string>
                <key>offset</key>
                <string>{74,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,116},{352,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,356},{354,372}}</string>
                <key>offset</key>
                <string>{73,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,128},{354,372}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,356},{354,372}}</string>
                <key>offset</key>
                <string>{73,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,128},{354,372}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,356},{354,372}}</string>
                <key>offset</key>
                <string>{73,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,128},{354,372}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,356},{354,372}}</string>
                <key>offset</key>
                <string>{73,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,128},{354,372}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_15_a.pvr.ccz</string>
            <key>size</key>
            <string>{964,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90c7bb0dd9952a8e305a184e1b27a8a:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_15_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
