<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_3tyna0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{266,316}}</string>
                <key>offset</key>
                <string>{-67,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,112},{266,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{266,316}}</string>
                <key>offset</key>
                <string>{-67,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,112},{266,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{258,310}}</string>
                <key>offset</key>
                <string>{-70,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,116},{258,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{258,310}}</string>
                <key>offset</key>
                <string>{-70,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,116},{258,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,298},{248,306}}</string>
                <key>offset</key>
                <string>{-77,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,117},{248,306}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,298},{248,306}}</string>
                <key>offset</key>
                <string>{-77,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,117},{248,306}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,548},{232,298}}</string>
                <key>offset</key>
                <string>{-86,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,119},{232,298}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,548},{232,298}}</string>
                <key>offset</key>
                <string>{-86,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,119},{232,298}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>pao_3tyn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,278},{284,280}}</string>
                <key>offset</key>
                <string>{56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{284,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>pao_3tyn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,278},{284,280}}</string>
                <key>offset</key>
                <string>{56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{284,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>pao_3tyn0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,274}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{354,274}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>pao_3tyn0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,274}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{354,274}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>pao_3tyn0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,560},{308,258}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,12},{308,258}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>pao_3tyn0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,560},{308,258}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,12},{308,258}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>pao_3tyn0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{312,280}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{312,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>pao_3tyn0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{312,280}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{312,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>pao_3tyn0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{294,280}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,0},{294,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>pao_3tyn0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{294,280}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,0},{294,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_30_c.pvr.ccz</string>
            <key>size</key>
            <string>{958,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd8472dc406109be74b2d79262cfbf4a:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_30_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
