<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_ybq0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{186,182}}</string>
                <key>offset</key>
                <string>{26,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,192},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{186,182}}</string>
                <key>offset</key>
                <string>{26,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,192},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{186,182}}</string>
                <key>offset</key>
                <string>{26,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,192},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{190,182}}</string>
                <key>offset</key>
                <string>{40,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,192},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{190,182}}</string>
                <key>offset</key>
                <string>{40,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,192},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{190,182}}</string>
                <key>offset</key>
                <string>{40,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,192},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{190,182}}</string>
                <key>offset</key>
                <string>{40,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,192},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,186},{186,182}}</string>
                <key>offset</key>
                <string>{35,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,192},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,186},{186,182}}</string>
                <key>offset</key>
                <string>{35,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,192},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,186},{186,182}}</string>
                <key>offset</key>
                <string>{35,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,192},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{190,182}}</string>
                <key>offset</key>
                <string>{40,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,192},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{190,182}}</string>
                <key>offset</key>
                <string>{40,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,192},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{190,182}}</string>
                <key>offset</key>
                <string>{40,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,192},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{190,182}}</string>
                <key>offset</key>
                <string>{40,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,192},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,186},{186,182}}</string>
                <key>offset</key>
                <string>{35,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,192},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,186},{186,182}}</string>
                <key>offset</key>
                <string>{35,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,192},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,186},{186,182}}</string>
                <key>offset</key>
                <string>{35,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,192},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,372},{168,192}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,180},{168,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,372},{168,192}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,180},{168,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,372},{168,192}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,180},{168,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,566},{150,192}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,180},{150,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,566},{150,192}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,180},{150,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,566},{150,192}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,180},{150,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,566},{150,192}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,180},{150,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,566},{150,192}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,180},{150,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,566},{150,192}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,180},{150,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,182}}</string>
                <key>offset</key>
                <string>{55,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,193},{218,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,182}}</string>
                <key>offset</key>
                <string>{55,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,193},{218,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{190,186}}</string>
                <key>offset</key>
                <string>{46,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{190,186}}</string>
                <key>offset</key>
                <string>{46,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{190,186}}</string>
                <key>offset</key>
                <string>{46,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{190,186}}</string>
                <key>offset</key>
                <string>{46,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{190,186}}</string>
                <key>offset</key>
                <string>{46,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{200,184}}</string>
                <key>offset</key>
                <string>{32,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,191},{200,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{200,184}}</string>
                <key>offset</key>
                <string>{32,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,191},{200,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{200,184}}</string>
                <key>offset</key>
                <string>{32,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,191},{200,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybqa0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,718},{158,84}}</string>
                <key>offset</key>
                <string>{163,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,263},{158,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,188},{162,88}}</string>
                <key>offset</key>
                <string>{167,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,260},{162,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,370},{132,90}}</string>
                <key>offset</key>
                <string>{189,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,261},{132,90}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,718},{158,78}}</string>
                <key>offset</key>
                <string>{165,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,269},{158,78}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,718},{162,80}}</string>
                <key>offset</key>
                <string>{169,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,268},{162,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,462},{132,84}}</string>
                <key>offset</key>
                <string>{191,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,267},{132,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{184,76}}</string>
                <key>offset</key>
                <string>{164,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,269},{184,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{190,80}}</string>
                <key>offset</key>
                <string>{168,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,267},{190,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,548},{154,84}}</string>
                <key>offset</key>
                <string>{194,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,266},{154,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,560},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_41_b.pvr.ccz</string>
            <key>size</key>
            <string>{498,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6040bb8203bd91e9a48de5e416d14e08:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_41_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
