<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,272},{118,174}}</string>
                <key>offset</key>
                <string>{-15,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,207},{118,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{146,210}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,171},{146,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{146,210}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,171},{146,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{148,190}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,191},{148,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{148,190}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,191},{148,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,214},{146,200}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,181},{146,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{142,212}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,169},{142,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,220}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,161},{134,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,220}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,161},{134,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{116,188}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,144},{116,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{116,188}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,144},{116,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{116,188}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,144},{116,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,216},{198,114}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,174},{198,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,216},{198,114}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,174},{198,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,216},{198,114}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,174},{198,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,216},{198,114}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,174},{198,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{124,204}}</string>
                <key>offset</key>
                <string>{-60,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,180},{124,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{124,204}}</string>
                <key>offset</key>
                <string>{-60,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,180},{124,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{124,204}}</string>
                <key>offset</key>
                <string>{-60,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,180},{124,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,208},{188,118}}</string>
                <key>offset</key>
                <string>{-38,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,268},{188,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,208},{188,118}}</string>
                <key>offset</key>
                <string>{-38,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,268},{188,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{212,66}}</string>
                <key>offset</key>
                <string>{-19,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,329},{212,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{212,66}}</string>
                <key>offset</key>
                <string>{-19,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,329},{212,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,216},{196,132}}</string>
                <key>offset</key>
                <string>{-17,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,269},{196,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,216},{196,132}}</string>
                <key>offset</key>
                <string>{-17,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,269},{196,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{130,158}}</string>
                <key>offset</key>
                <string>{-23,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,242},{130,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{130,158}}</string>
                <key>offset</key>
                <string>{-23,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,242},{130,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,134},{136,156}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,232},{136,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,134},{136,156}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,232},{136,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,222},{126,190}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,193},{126,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,222},{126,190}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,193},{126,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{116,218}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,165},{116,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{116,218}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,165},{116,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_18.pvr.ccz</string>
            <key>size</key>
            <string>{1020,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fba07bb6d210e31de56db675f934b88a:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_18.pvr.ccz</string>
        </dict>
    </dict>
</plist>
