<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dy0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,502},{224,214}}</string>
                <key>offset</key>
                <string>{-54,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,168},{224,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,502},{224,214}}</string>
                <key>offset</key>
                <string>{-54,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,168},{224,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,758},{184,214}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,168},{184,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,758},{184,214}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,168},{184,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{150,226}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,156},{150,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{150,226}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,156},{150,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,362},{138,226}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,156},{138,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,362},{138,226}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,156},{138,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{108,228}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,155},{108,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{108,228}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,155},{108,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{120,220}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,163},{120,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{120,220}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,163},{120,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,354},{188,192}}</string>
                <key>offset</key>
                <string>{57,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,195},{188,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,758},{172,180}}</string>
                <key>offset</key>
                <string>{31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,207},{172,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,758},{172,180}}</string>
                <key>offset</key>
                <string>{31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,207},{172,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{172,204}}</string>
                <key>offset</key>
                <string>{42,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,184},{172,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{172,204}}</string>
                <key>offset</key>
                <string>{42,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,184},{172,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{172,204}}</string>
                <key>offset</key>
                <string>{42,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,184},{172,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{172,204}}</string>
                <key>offset</key>
                <string>{42,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,184},{172,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{172,204}}</string>
                <key>offset</key>
                <string>{42,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,184},{172,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,548},{186,208}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,178},{186,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,718},{152,218}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,166},{152,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,718},{152,218}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,166},{152,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,362},{78,94}}</string>
                <key>offset</key>
                <string>{202,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,246},{78,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,362},{78,94}}</string>
                <key>offset</key>
                <string>{202,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,246},{78,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{418,180}}</string>
                <key>offset</key>
                <string>{40,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,236},{418,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{418,180}}</string>
                <key>offset</key>
                <string>{40,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,236},{418,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,168}}</string>
                <key>offset</key>
                <string>{41,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,249},{428,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,168}}</string>
                <key>offset</key>
                <string>{41,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,249},{428,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,168}}</string>
                <key>offset</key>
                <string>{41,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,249},{428,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dya0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fengpao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,458},{192,68}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,69},{192,68}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>fengpao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,270},{260,90}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,56},{260,90}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>fengpao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,270},{260,90}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,56},{260,90}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>fengpao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,182},{276,86}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,58},{276,86}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>fengpao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{288,86}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,58},{288,86}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>fengpao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{288,86}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,58},{288,86}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>fengpao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,90},{276,90}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,56},{276,90}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_18_b.pvr.ccz</string>
            <key>size</key>
            <string>{736,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6d902bca2074b153e724bd55351813e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_18_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
