<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_yz0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,260},{250,134}}</string>
                <key>offset</key>
                <string>{-28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,201},{250,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,260},{250,134}}</string>
                <key>offset</key>
                <string>{-28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,201},{250,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,260},{250,134}}</string>
                <key>offset</key>
                <string>{-28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,201},{250,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,150}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,189},{284,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,150}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,189},{284,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,150}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,189},{284,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,150}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,189},{284,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,150}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,189},{284,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,150}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,189},{284,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,150}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,189},{284,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{256,178}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,155},{256,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{256,178}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,155},{256,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,174},{250,206}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{250,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,174},{250,206}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{250,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,174},{250,206}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{250,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,174},{250,206}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{250,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,174},{250,206}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{250,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,174},{250,206}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{250,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,426},{232,172}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,162},{232,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,426},{232,172}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,162},{232,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,426},{232,172}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,162},{232,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,426},{232,172}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,162},{232,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,458},{240,152}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,185},{240,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,458},{240,152}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,185},{240,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,458},{240,152}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,185},{240,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,458},{240,152}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,185},{240,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{268,170}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,164},{268,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{268,170}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,164},{268,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{268,170}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,164},{268,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{268,170}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,164},{268,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{226,208}}</string>
                <key>offset</key>
                <string>{-30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,126},{226,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{226,208}}</string>
                <key>offset</key>
                <string>{-30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,126},{226,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{226,208}}</string>
                <key>offset</key>
                <string>{-30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,126},{226,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{226,208}}</string>
                <key>offset</key>
                <string>{-30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,126},{226,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{226,208}}</string>
                <key>offset</key>
                <string>{-30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,126},{226,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{226,208}}</string>
                <key>offset</key>
                <string>{-30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,126},{226,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,396},{240,192}}</string>
                <key>offset</key>
                <string>{-36,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,144},{240,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,396},{240,192}}</string>
                <key>offset</key>
                <string>{-36,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,144},{240,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,154},{254,140}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,202},{254,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,154},{254,140}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,202},{254,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{260,142}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,215},{260,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{260,142}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,215},{260,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{260,142}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,215},{260,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{260,142}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,215},{260,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{260,142}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,215},{260,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{260,142}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,215},{260,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{260,142}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,215},{260,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{260,142}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,215},{260,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{242,184}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,168},{242,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{242,184}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,168},{242,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{242,184}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,168},{242,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{242,184}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,168},{242,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,212},{244,146}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,194},{244,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,212},{244,146}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,194},{244,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,212},{244,146}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,194},{244,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_44.pvr.ccz</string>
            <key>size</key>
            <string>{996,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3b8174e0bb242776aa67ba66c5ba304:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_44.pvr.ccz</string>
        </dict>
    </dict>
</plist>
