<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_ryy0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{134,184}}</string>
                <key>offset</key>
                <string>{-35,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,191},{134,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{134,184}}</string>
                <key>offset</key>
                <string>{-35,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,191},{134,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{134,184}}</string>
                <key>offset</key>
                <string>{-35,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,191},{134,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,184},{124,174}}</string>
                <key>offset</key>
                <string>{-20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,200},{124,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,184},{124,174}}</string>
                <key>offset</key>
                <string>{-20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,200},{124,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,184},{124,174}}</string>
                <key>offset</key>
                <string>{-20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,200},{124,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,368},{128,174}}</string>
                <key>offset</key>
                <string>{-21,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,194},{128,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,368},{128,174}}</string>
                <key>offset</key>
                <string>{-21,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,194},{128,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,368},{128,174}}</string>
                <key>offset</key>
                <string>{-21,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,194},{128,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{136,156}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,188},{136,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{136,156}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,188},{136,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{136,156}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,188},{136,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,184}}</string>
                <key>offset</key>
                <string>{-32,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,191},{138,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,184}}</string>
                <key>offset</key>
                <string>{-32,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,191},{138,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,184}}</string>
                <key>offset</key>
                <string>{-32,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,191},{138,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,160},{118,178}}</string>
                <key>offset</key>
                <string>{-22,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,198},{118,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,160},{118,178}}</string>
                <key>offset</key>
                <string>{-22,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,198},{118,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,160},{118,178}}</string>
                <key>offset</key>
                <string>{-22,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,198},{118,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{130,180}}</string>
                <key>offset</key>
                <string>{-24,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,191},{130,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{130,180}}</string>
                <key>offset</key>
                <string>{-24,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,191},{130,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{130,180}}</string>
                <key>offset</key>
                <string>{-24,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,191},{130,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,182},{130,156}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,186},{130,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,182},{130,156}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,186},{130,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,182},{130,156}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,186},{130,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,188},{128,178}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,200},{128,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,188},{128,178}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,200},{128,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,188},{128,178}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,200},{128,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,188},{128,178}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,200},{128,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{122,180}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,202},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{122,180}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,202},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{122,180}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,202},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{122,180}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,202},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,360},{118,180}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,204},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,360},{118,180}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,204},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,360},{118,180}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,204},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,360},{118,180}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,204},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,314},{116,180}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,205},{116,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,314},{116,180}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,205},{116,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,314},{116,180}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,205},{116,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,314},{116,180}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,205},{116,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{118,178}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,204},{118,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{118,178}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,204},{118,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{118,178}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,204},{118,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{118,178}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,204},{118,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{124,178}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,201},{124,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{124,178}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,201},{124,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{124,178}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,201},{124,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{124,178}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,201},{124,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_27.pvr.ccz</string>
            <key>size</key>
            <string>{672,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09dbe04109cec5e8d6252815fe65db15:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_27.pvr.ccz</string>
        </dict>
    </dict>
</plist>
