<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_sj0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,480},{358,278}}</string>
                <key>offset</key>
                <string>{-39,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,371},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,480},{358,278}}</string>
                <key>offset</key>
                <string>{-39,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,371},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,480},{358,278}}</string>
                <key>offset</key>
                <string>{-39,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,371},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{370,256}}</string>
                <key>offset</key>
                <string>{-46,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,398},{370,256}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{370,256}}</string>
                <key>offset</key>
                <string>{-46,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,398},{370,256}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{370,256}}</string>
                <key>offset</key>
                <string>{-46,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,398},{370,256}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{368,230}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{368,230}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{368,230}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{368,230}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{368,230}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{368,230}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{368,230}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{368,230}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{368,230}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{368,230}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{368,230}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{368,230}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{368,230}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{368,230}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{368,230}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{368,230}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{368,230}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{368,230}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{368,230}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{368,230}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,760},{368,214}}</string>
                <key>offset</key>
                <string>{-46,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,440},{368,214}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,760},{368,214}}</string>
                <key>offset</key>
                <string>{-46,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,440},{368,214}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,760},{368,214}}</string>
                <key>offset</key>
                <string>{-46,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,440},{368,214}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{378,240}}</string>
                <key>offset</key>
                <string>{-39,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,406},{378,240}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{378,240}}</string>
                <key>offset</key>
                <string>{-39,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,406},{378,240}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{378,240}}</string>
                <key>offset</key>
                <string>{-39,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,406},{378,240}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{476,246}}</string>
                <key>offset</key>
                <string>{-16,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,378},{476,246}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{476,246}}</string>
                <key>offset</key>
                <string>{-16,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,378},{476,246}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{476,246}}</string>
                <key>offset</key>
                <string>{-16,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,378},{476,246}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,246}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,376},{482,246}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,246}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,376},{482,246}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,246}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,376},{482,246}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_46_a.pvr.ccz</string>
            <key>size</key>
            <string>{742,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7065d1ab0dc91c2ed67080cee9e0dc42:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_46_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
