<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_wyy0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,742},{96,180}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,186},{96,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,742},{96,180}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,186},{96,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,742},{96,180}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,186},{96,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{108,172}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,194},{108,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{108,172}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,194},{108,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{108,172}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,194},{108,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{108,172}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,194},{108,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,556},{230,184}}</string>
                <key>offset</key>
                <string>{66,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,185},{230,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,556},{230,184}}</string>
                <key>offset</key>
                <string>{66,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,185},{230,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,186},{188,182}}</string>
                <key>offset</key>
                <string>{52,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,187},{188,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,370},{214,184}}</string>
                <key>offset</key>
                <string>{62,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,185},{214,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,370},{214,184}}</string>
                <key>offset</key>
                <string>{62,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,185},{214,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{190,182}}</string>
                <key>offset</key>
                <string>{53,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,187},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,556},{230,184}}</string>
                <key>offset</key>
                <string>{66,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,185},{230,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,556},{230,184}}</string>
                <key>offset</key>
                <string>{66,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,185},{230,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,186},{188,182}}</string>
                <key>offset</key>
                <string>{52,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,187},{188,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,370},{214,184}}</string>
                <key>offset</key>
                <string>{62,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,185},{214,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,370},{214,184}}</string>
                <key>offset</key>
                <string>{62,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,185},{214,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{190,182}}</string>
                <key>offset</key>
                <string>{53,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,187},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,742},{140,178}}</string>
                <key>offset</key>
                <string>{26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,190},{140,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,742},{140,178}}</string>
                <key>offset</key>
                <string>{26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,190},{140,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,742},{140,178}}</string>
                <key>offset</key>
                <string>{26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,190},{140,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{278,92}}</string>
                <key>offset</key>
                <string>{102,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,199},{278,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{278,92}}</string>
                <key>offset</key>
                <string>{102,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,199},{278,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{294,114}}</string>
                <key>offset</key>
                <string>{93,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,198},{294,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{294,114}}</string>
                <key>offset</key>
                <string>{93,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,198},{294,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{266,128}}</string>
                <key>offset</key>
                <string>{85,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,188},{266,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{276,94}}</string>
                <key>offset</key>
                <string>{79,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,207},{276,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{276,94}}</string>
                <key>offset</key>
                <string>{79,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,207},{276,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{280,104}}</string>
                <key>offset</key>
                <string>{77,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,215},{280,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{280,104}}</string>
                <key>offset</key>
                <string>{77,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,215},{280,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,134}}</string>
                <key>offset</key>
                <string>{91,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,195},{304,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,134}}</string>
                <key>offset</key>
                <string>{91,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,195},{304,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{264,132}}</string>
                <key>offset</key>
                <string>{78,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,184},{264,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_37_a.pvr.ccz</string>
            <key>size</key>
            <string>{508,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68f79d196c9c2e9b82d17e263bf58c3e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_37_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
