<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_wyy0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,488},{112,188}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{112,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,488},{112,188}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{112,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,488},{112,188}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{112,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,488},{112,188}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{112,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,488},{112,188}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{112,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,120},{154,190}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,173},{154,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,120},{154,190}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,173},{154,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,120},{154,190}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,173},{154,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,120},{154,190}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,173},{154,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{116,188}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,173},{116,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{116,188}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,173},{116,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{116,188}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,173},{116,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{116,188}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,173},{116,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{116,188}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,173},{116,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,774},{124,186}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,173},{124,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,774},{124,186}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,173},{124,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,602},{170,186}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,171},{170,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,602},{170,186}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,171},{170,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,540},{202,186}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,170},{202,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,540},{202,186}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,170},{202,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,728},{176,184}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,174},{176,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,728},{176,184}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,174},{176,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,728},{176,184}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,174},{176,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,728},{176,184}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,174},{176,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,728},{176,184}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,174},{176,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,728},{176,184}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,174},{176,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,276},{118,190}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,175},{118,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,276},{118,190}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,175},{118,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,276},{118,190}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,175},{118,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,276},{118,190}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,175},{118,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,396},{90,190}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,176},{90,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,396},{90,190}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,176},{90,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,396},{90,190}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,176},{90,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{312,102}}</string>
                <key>offset</key>
                <string>{32,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,208},{312,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{312,102}}</string>
                <key>offset</key>
                <string>{32,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,208},{312,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{312,104}}</string>
                <key>offset</key>
                <string>{33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,206},{312,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,108}}</string>
                <key>offset</key>
                <string>{31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,204},{316,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,108}}</string>
                <key>offset</key>
                <string>{31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,204},{316,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{314,108}}</string>
                <key>offset</key>
                <string>{29,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,202},{314,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{308,108}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,202},{308,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{308,108}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,202},{308,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{314,106}}</string>
                <key>offset</key>
                <string>{30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,206},{314,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_37_a.pvr.ccz</string>
            <key>size</key>
            <string>{510,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3755a51215bf8c9f5a93f53d29af266:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_37_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
