<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_cr0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{158,248}}</string>
                <key>offset</key>
                <string>{-42,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,199},{158,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{158,248}}</string>
                <key>offset</key>
                <string>{-42,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,199},{158,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{158,248}}</string>
                <key>offset</key>
                <string>{-42,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,199},{158,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{232,226}}</string>
                <key>offset</key>
                <string>{-74,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,164},{232,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{232,226}}</string>
                <key>offset</key>
                <string>{-74,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,164},{232,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{232,226}}</string>
                <key>offset</key>
                <string>{-74,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,164},{232,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{232,226}}</string>
                <key>offset</key>
                <string>{-74,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,164},{232,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{232,226}}</string>
                <key>offset</key>
                <string>{-74,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,164},{232,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{232,226}}</string>
                <key>offset</key>
                <string>{-74,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,164},{232,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,666},{196,190}}</string>
                <key>offset</key>
                <string>{-107,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,173},{196,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,666},{196,190}}</string>
                <key>offset</key>
                <string>{-107,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,173},{196,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,666},{196,190}}</string>
                <key>offset</key>
                <string>{-107,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,173},{196,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,666},{196,190}}</string>
                <key>offset</key>
                <string>{-107,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,173},{196,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,666},{196,190}}</string>
                <key>offset</key>
                <string>{-107,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,173},{196,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{240,122}}</string>
                <key>offset</key>
                <string>{-119,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,325},{240,122}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{240,122}}</string>
                <key>offset</key>
                <string>{-119,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,325},{240,122}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{240,122}}</string>
                <key>offset</key>
                <string>{-119,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,325},{240,122}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{240,122}}</string>
                <key>offset</key>
                <string>{-119,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,325},{240,122}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,116}}</string>
                <key>offset</key>
                <string>{-146,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,343},{258,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,116}}</string>
                <key>offset</key>
                <string>{-146,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,343},{258,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,116}}</string>
                <key>offset</key>
                <string>{-146,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,343},{258,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,116}}</string>
                <key>offset</key>
                <string>{-146,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,343},{258,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,218},{230,150}}</string>
                <key>offset</key>
                <string>{-126,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,319},{230,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,218},{230,150}}</string>
                <key>offset</key>
                <string>{-126,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,319},{230,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,218},{230,150}}</string>
                <key>offset</key>
                <string>{-126,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,319},{230,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,218},{230,150}}</string>
                <key>offset</key>
                <string>{-126,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,319},{230,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{196,176}}</string>
                <key>offset</key>
                <string>{-100,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,298},{196,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{196,176}}</string>
                <key>offset</key>
                <string>{-100,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,298},{196,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{196,176}}</string>
                <key>offset</key>
                <string>{-100,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,298},{196,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{196,176}}</string>
                <key>offset</key>
                <string>{-100,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,298},{196,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,858},{190,150}}</string>
                <key>offset</key>
                <string>{-89,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,326},{190,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,858},{190,150}}</string>
                <key>offset</key>
                <string>{-89,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,326},{190,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,858},{190,150}}</string>
                <key>offset</key>
                <string>{-89,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,326},{190,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,858},{190,150}}</string>
                <key>offset</key>
                <string>{-89,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,326},{190,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{214,140}}</string>
                <key>offset</key>
                <string>{-66,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,329},{214,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{214,140}}</string>
                <key>offset</key>
                <string>{-66,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,329},{214,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{214,140}}</string>
                <key>offset</key>
                <string>{-66,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,329},{214,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{214,140}}</string>
                <key>offset</key>
                <string>{-66,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,329},{214,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,450},{214,160}}</string>
                <key>offset</key>
                <string>{-49,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,291},{214,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,450},{214,160}}</string>
                <key>offset</key>
                <string>{-49,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,291},{214,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,450},{214,160}}</string>
                <key>offset</key>
                <string>{-49,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,291},{214,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,450},{214,160}}</string>
                <key>offset</key>
                <string>{-49,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,291},{214,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{190,200}}</string>
                <key>offset</key>
                <string>{-36,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,250},{190,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{190,200}}</string>
                <key>offset</key>
                <string>{-36,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,250},{190,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{190,200}}</string>
                <key>offset</key>
                <string>{-36,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,250},{190,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_cr0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{190,200}}</string>
                <key>offset</key>
                <string>{-36,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,250},{190,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_45.pvr.ccz</string>
            <key>size</key>
            <string>{404,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29d473df184820775511f6c4f502611c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_45.pvr.ccz</string>
        </dict>
    </dict>
</plist>
