<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zlc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{138,176}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,197},{138,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{138,176}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,197},{138,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{140,190}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,183},{140,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{140,190}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,183},{140,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{140,190}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,183},{140,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,196},{144,190}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{144,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,196},{144,190}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{144,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,196},{144,190}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,180},{144,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,192}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,177},{146,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,192}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,177},{146,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,192}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,177},{146,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{142,194}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,173},{142,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{142,194}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,173},{142,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{142,194}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,173},{142,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,172},{134,194}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,173},{134,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,172},{134,194}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,173},{134,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,172},{134,194}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,173},{134,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,142},{106,208}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,127},{106,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,142},{106,208}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,127},{106,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,142},{106,208}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,127},{106,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,142},{106,208}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,127},{106,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{168,156}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,160},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{168,156}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,160},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{168,156}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,160},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{168,156}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,160},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{168,156}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,160},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{200,110}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,231},{200,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{200,110}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,231},{200,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{200,110}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,231},{200,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{200,110}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,231},{200,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,260},{218,84}}</string>
                <key>offset</key>
                <string>{-32,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,295},{218,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,260},{218,84}}</string>
                <key>offset</key>
                <string>{-32,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,295},{218,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,260},{218,84}}</string>
                <key>offset</key>
                <string>{-32,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,295},{218,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,358},{234,76}}</string>
                <key>offset</key>
                <string>{-31,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,309},{234,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,358},{234,76}}</string>
                <key>offset</key>
                <string>{-31,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,309},{234,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,358},{234,76}}</string>
                <key>offset</key>
                <string>{-31,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,309},{234,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,368},{232,66}}</string>
                <key>offset</key>
                <string>{-30,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,319},{232,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,368},{232,66}}</string>
                <key>offset</key>
                <string>{-30,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,319},{232,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,368},{232,66}}</string>
                <key>offset</key>
                <string>{-30,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,319},{232,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,250},{178,82}}</string>
                <key>offset</key>
                <string>{-19,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,304},{178,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,250},{178,82}}</string>
                <key>offset</key>
                <string>{-19,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,304},{178,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,250},{178,82}}</string>
                <key>offset</key>
                <string>{-19,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,304},{178,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,250},{178,82}}</string>
                <key>offset</key>
                <string>{-19,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,304},{178,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,346},{166,90}}</string>
                <key>offset</key>
                <string>{-21,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,291},{166,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,346},{166,90}}</string>
                <key>offset</key>
                <string>{-21,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,291},{166,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,346},{166,90}}</string>
                <key>offset</key>
                <string>{-21,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,291},{166,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,132},{154,116}}</string>
                <key>offset</key>
                <string>{-15,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,266},{154,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,132},{154,116}}</string>
                <key>offset</key>
                <string>{-15,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,266},{154,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,132},{154,116}}</string>
                <key>offset</key>
                <string>{-15,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,266},{154,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,114},{144,146}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,231},{144,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,114},{144,146}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,231},{144,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,114},{144,146}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,231},{144,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{128,172}}</string>
                <key>offset</key>
                <string>{22,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,199},{128,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{128,172}}</string>
                <key>offset</key>
                <string>{22,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,199},{128,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{128,172}}</string>
                <key>offset</key>
                <string>{22,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,199},{128,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,172},{134,184}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,184},{134,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,172},{134,184}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,184},{134,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,172},{134,184}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,184},{134,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_40.pvr.ccz</string>
            <key>size</key>
            <string>{1017,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab2329e187adf51213336986f125fba:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_40.pvr.ccz</string>
        </dict>
    </dict>
</plist>
