<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_4tyn0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,748},{184,188}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,164},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,748},{184,188}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,164},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,748},{184,188}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,164},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{174,182}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,169},{174,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{174,182}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,169},{174,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{174,182}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,169},{174,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{174,182}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,169},{174,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,612},{160,188}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,162},{160,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,612},{160,188}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,162},{160,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,612},{160,188}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,162},{160,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,612},{160,188}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,162},{160,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,464},{146,194}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,159},{146,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,464},{146,194}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,159},{146,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,464},{146,194}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,159},{146,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,464},{146,194}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,159},{146,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{144,192}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,164},{144,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{144,192}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,164},{144,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{144,192}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,164},{144,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{144,192}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,164},{144,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,802},{148,186}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,169},{148,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,802},{148,186}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,169},{148,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,802},{148,186}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,169},{148,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,802},{148,186}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,169},{148,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,590},{156,192}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,161},{156,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,590},{156,192}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,161},{156,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,590},{156,192}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,161},{156,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{228,216}}</string>
                <key>offset</key>
                <string>{36,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,136},{228,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{228,216}}</string>
                <key>offset</key>
                <string>{36,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,136},{228,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{228,216}}</string>
                <key>offset</key>
                <string>{36,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,136},{228,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{228,216}}</string>
                <key>offset</key>
                <string>{36,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,136},{228,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{228,220}}</string>
                <key>offset</key>
                <string>{31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,132},{228,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{228,220}}</string>
                <key>offset</key>
                <string>{31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,132},{228,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{228,220}}</string>
                <key>offset</key>
                <string>{31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,132},{228,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{228,220}}</string>
                <key>offset</key>
                <string>{31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,132},{228,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,232},{230,222}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,130},{230,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,232},{230,222}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,130},{230,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,232},{230,222}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,130},{230,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,232},{230,222}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,130},{230,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,226},{238,224}}</string>
                <key>offset</key>
                <string>{25,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,128},{238,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,226},{238,224}}</string>
                <key>offset</key>
                <string>{25,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,128},{238,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,226},{238,224}}</string>
                <key>offset</key>
                <string>{25,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,128},{238,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,226},{238,224}}</string>
                <key>offset</key>
                <string>{25,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,128},{238,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,224}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,128},{244,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,224}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,128},{244,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,224}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,128},{244,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,224}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,128},{244,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,222}}</string>
                <key>offset</key>
                <string>{32,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,130},{244,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,222}}</string>
                <key>offset</key>
                <string>{32,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,130},{244,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,222}}</string>
                <key>offset</key>
                <string>{32,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,130},{244,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,222}}</string>
                <key>offset</key>
                <string>{32,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,130},{244,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0725.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{238,220}}</string>
                <key>offset</key>
                <string>{35,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,132},{238,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0726.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{238,220}}</string>
                <key>offset</key>
                <string>{35,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,132},{238,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0727.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{238,220}}</string>
                <key>offset</key>
                <string>{35,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,132},{238,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0728.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{238,220}}</string>
                <key>offset</key>
                <string>{35,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,132},{238,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,452},{136,204}}</string>
                <key>offset</key>
                <string>{5,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,60},{136,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,452},{136,204}}</string>
                <key>offset</key>
                <string>{5,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,60},{136,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,452},{136,204}}</string>
                <key>offset</key>
                <string>{5,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,60},{136,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,452},{136,204}}</string>
                <key>offset</key>
                <string>{5,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,60},{136,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,452},{136,204}}</string>
                <key>offset</key>
                <string>{5,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,60},{136,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,818},{178,178}}</string>
                <key>offset</key>
                <string>{15,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,74},{178,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,818},{178,178}}</string>
                <key>offset</key>
                <string>{15,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,74},{178,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,818},{178,178}}</string>
                <key>offset</key>
                <string>{15,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,74},{178,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,818},{178,178}}</string>
                <key>offset</key>
                <string>{15,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,74},{178,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,818},{178,178}}</string>
                <key>offset</key>
                <string>{15,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,74},{178,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_31.pvr.ccz</string>
            <key>size</key>
            <string>{712,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24636be308fc2ae589e03ca91e82bc74:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_31.pvr.ccz</string>
        </dict>
    </dict>
</plist>
