<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_2tyn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,398},{192,174}}</string>
                <key>offset</key>
                <string>{43,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,183},{192,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,398},{192,174}}</string>
                <key>offset</key>
                <string>{43,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,183},{192,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{206,172}}</string>
                <key>offset</key>
                <string>{53,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,185},{206,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{206,172}}</string>
                <key>offset</key>
                <string>{53,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,185},{206,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{206,172}}</string>
                <key>offset</key>
                <string>{53,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,185},{206,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,200},{198,176}}</string>
                <key>offset</key>
                <string>{50,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,181},{198,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,200},{198,176}}</string>
                <key>offset</key>
                <string>{50,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,181},{198,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,200},{198,176}}</string>
                <key>offset</key>
                <string>{50,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,181},{198,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,200},{194,196}}</string>
                <key>offset</key>
                <string>{46,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,161},{194,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,200},{194,196}}</string>
                <key>offset</key>
                <string>{46,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,161},{194,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,200},{194,196}}</string>
                <key>offset</key>
                <string>{46,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,161},{194,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{182,208}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,149},{182,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{182,208}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,149},{182,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{182,208}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,149},{182,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,378},{162,210}}</string>
                <key>offset</key>
                <string>{41,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,147},{162,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,378},{162,210}}</string>
                <key>offset</key>
                <string>{41,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,147},{162,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,378},{162,210}}</string>
                <key>offset</key>
                <string>{41,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,147},{162,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{184,208}}</string>
                <key>offset</key>
                <string>{-25,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,93},{184,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{184,208}}</string>
                <key>offset</key>
                <string>{-25,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,93},{184,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,178}}</string>
                <key>offset</key>
                <string>{-49,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,155},{228,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,178}}</string>
                <key>offset</key>
                <string>{-49,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,155},{228,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,178}}</string>
                <key>offset</key>
                <string>{-49,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,155},{228,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{204,194}}</string>
                <key>offset</key>
                <string>{-69,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,176},{204,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{204,194}}</string>
                <key>offset</key>
                <string>{-69,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,176},{204,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{204,194}}</string>
                <key>offset</key>
                <string>{-69,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,176},{204,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{204,194}}</string>
                <key>offset</key>
                <string>{-69,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,176},{204,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,542},{208,100}}</string>
                <key>offset</key>
                <string>{-30,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,260},{208,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,542},{208,100}}</string>
                <key>offset</key>
                <string>{-30,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,260},{208,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,542},{208,100}}</string>
                <key>offset</key>
                <string>{-30,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,260},{208,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,782},{222,90}}</string>
                <key>offset</key>
                <string>{-32,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,264},{222,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,782},{222,90}}</string>
                <key>offset</key>
                <string>{-32,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,264},{222,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,782},{222,90}}</string>
                <key>offset</key>
                <string>{-32,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,264},{222,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,712},{232,68}}</string>
                <key>offset</key>
                <string>{-32,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,291},{232,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,712},{232,68}}</string>
                <key>offset</key>
                <string>{-32,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,291},{232,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,712},{232,68}}</string>
                <key>offset</key>
                <string>{-32,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,291},{232,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,154},{238,44}}</string>
                <key>offset</key>
                <string>{-35,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,316},{238,44}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,154},{238,44}}</string>
                <key>offset</key>
                <string>{-35,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,316},{238,44}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,154},{238,44}}</string>
                <key>offset</key>
                <string>{-35,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,316},{238,44}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{238,150}}</string>
                <key>offset</key>
                <string>{-41,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,217},{238,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{238,150}}</string>
                <key>offset</key>
                <string>{-41,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,217},{238,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{238,150}}</string>
                <key>offset</key>
                <string>{-41,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,217},{238,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{238,150}}</string>
                <key>offset</key>
                <string>{-41,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,217},{238,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,874},{218,98}}</string>
                <key>offset</key>
                <string>{-44,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,260},{218,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,874},{218,98}}</string>
                <key>offset</key>
                <string>{-44,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,260},{218,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,874},{218,98}}</string>
                <key>offset</key>
                <string>{-44,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,260},{218,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,874},{218,98}}</string>
                <key>offset</key>
                <string>{-44,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,260},{218,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{186,126}}</string>
                <key>offset</key>
                <string>{-53,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,230},{186,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{186,126}}</string>
                <key>offset</key>
                <string>{-53,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,230},{186,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{186,126}}</string>
                <key>offset</key>
                <string>{-53,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,230},{186,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{186,126}}</string>
                <key>offset</key>
                <string>{-53,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,230},{186,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,574},{164,136}}</string>
                <key>offset</key>
                <string>{-34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,222},{164,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,574},{164,136}}</string>
                <key>offset</key>
                <string>{-34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,222},{164,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,574},{164,136}}</string>
                <key>offset</key>
                <string>{-34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,222},{164,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,574},{164,136}}</string>
                <key>offset</key>
                <string>{-34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,222},{164,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,798},{148,160}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,198},{148,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,798},{148,160}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,198},{148,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,798},{148,160}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,198},{148,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,798},{148,160}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,198},{148,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,644},{152,182}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,175},{152,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,644},{152,182}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,175},{152,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,644},{152,182}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,175},{152,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,644},{152,182}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,175},{152,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_29.pvr.ccz</string>
            <key>size</key>
            <string>{604,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:084f39fd4cbb68ff52ac39f4ab3bb8bb:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_29.pvr.ccz</string>
        </dict>
    </dict>
</plist>
