<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_gsza0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,210},{350,198}}</string>
                <key>offset</key>
                <string>{18,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,187},{350,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,336}}</string>
                <key>offset</key>
                <string>{97,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,47},{244,336}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{206,364}}</string>
                <key>offset</key>
                <string>{112,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,9},{206,364}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{206,364}}</string>
                <key>offset</key>
                <string>{112,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,9},{206,364}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,210},{194,360}}</string>
                <key>offset</key>
                <string>{118,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,7},{194,360}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,210},{194,360}}</string>
                <key>offset</key>
                <string>{118,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,7},{194,360}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{206,352}}</string>
                <key>offset</key>
                <string>{111,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,9},{206,352}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{206,352}}</string>
                <key>offset</key>
                <string>{111,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,9},{206,352}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{206,352}}</string>
                <key>offset</key>
                <string>{111,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,9},{206,352}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,406},{4,2}}</string>
                <key>offset</key>
                <string>{32,205}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,29},{4,2}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_gsza0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{1,1}}</string>
                <key>offset</key>
                <string>{-234.5,234.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_24_b.pvr.ccz</string>
            <key>size</key>
            <string>{968,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f71877a9f54e4b8fd0054f198847ee4c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_24_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
