<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_xz0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{208,194}}</string>
                <key>offset</key>
                <string>{-43,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,150},{208,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{198,190}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,154},{198,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,396},{178,194}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,153},{178,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,396},{174,198}}</string>
                <key>offset</key>
                <string>{-49,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,149},{174,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,194},{172,200}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,147},{172,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{170,198}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,148},{170,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{188,198}}</string>
                <key>offset</key>
                <string>{-39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,150},{188,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{184,196}}</string>
                <key>offset</key>
                <string>{-43,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,153},{184,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,202},{174,196}}</string>
                <key>offset</key>
                <string>{-50,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,154},{174,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{178,200}}</string>
                <key>offset</key>
                <string>{-53,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,149},{178,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,194},{180,200}}</string>
                <key>offset</key>
                <string>{-55,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,148},{180,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{186,200}}</string>
                <key>offset</key>
                <string>{-53,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,147},{186,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,194}}</string>
                <key>offset</key>
                <string>{-43,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,150},{208,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,396},{186,178}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,174},{186,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,396},{186,178}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,174},{186,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,396},{186,178}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,174},{186,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,772},{186,180}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{186,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,772},{186,180}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{186,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,772},{186,180}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{186,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,784},{186,182}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,784},{186,182}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,784},{186,182}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,784},{186,182}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,784},{186,182}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,784},{186,182}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,594},{186,182}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,594},{186,182}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,594},{186,182}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{186,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,584},{186,180}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{186,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,584},{186,180}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{186,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,584},{186,180}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{186,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,596},{186,180}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{186,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,596},{186,180}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{186,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,596},{186,180}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,172},{186,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_19.pvr.ccz</string>
            <key>size</key>
            <string>{786,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6517fd5d7ee8bee201fc4fa121a5b72b:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_19.pvr.ccz</string>
        </dict>
    </dict>
</plist>
