<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_mja0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,654},{128,130}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,150},{128,130}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,654},{128,130}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,150},{128,130}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,596},{148,144}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,141},{148,144}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,596},{148,144}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,141},{148,144}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{130,148}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,139},{130,148}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{130,148}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,139},{130,148}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{130,148}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,139},{130,148}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,294},{150,158}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,131},{150,158}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,294},{150,158}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,131},{150,158}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,446},{148,158}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,132},{148,158}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,446},{148,158}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,132},{148,158}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,136},{158,156}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,135},{158,156}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,136},{158,156}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,135},{158,156}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,742},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,173},{42,56}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,742},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,173},{42,56}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,742},{42,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,173},{42,56}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{138,132}}</string>
                <key>offset</key>
                <string>{14,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,59},{138,132}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{138,132}}</string>
                <key>offset</key>
                <string>{14,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,59},{138,132}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{312,236}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,57},{312,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{312,236}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,57},{312,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{296,204}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,83},{296,204}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{296,204}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,83},{296,204}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{312,84}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,202},{312,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{312,84}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,202},{312,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,120}}</string>
                <key>offset</key>
                <string>{13,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,187},{340,120}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,120}}</string>
                <key>offset</key>
                <string>{13,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,187},{340,120}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>boss_mja0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_16_a.pvr.ccz</string>
            <key>size</key>
            <string>{484,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff3f89bc299afb9d3d79b76a501a9d42:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_16_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
