<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dy0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{194,210}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,126},{194,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{194,210}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,126},{194,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{194,210}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,126},{194,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,290},{154,218}}</string>
                <key>offset</key>
                <string>{24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,133},{154,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,290},{154,218}}</string>
                <key>offset</key>
                <string>{24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,133},{154,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,290},{154,218}}</string>
                <key>offset</key>
                <string>{24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,133},{154,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,214},{168,216}}</string>
                <key>offset</key>
                <string>{35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,144},{168,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,214},{168,216}}</string>
                <key>offset</key>
                <string>{35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,144},{168,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,214},{168,216}}</string>
                <key>offset</key>
                <string>{35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,144},{168,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,510},{140,196}}</string>
                <key>offset</key>
                <string>{37,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,187},{140,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,510},{140,196}}</string>
                <key>offset</key>
                <string>{37,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,187},{140,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,510},{140,196}}</string>
                <key>offset</key>
                <string>{37,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,187},{140,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,840},{186,174}}</string>
                <key>offset</key>
                <string>{61,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,208},{186,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,840},{186,174}}</string>
                <key>offset</key>
                <string>{61,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,208},{186,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,652},{186,206}}</string>
                <key>offset</key>
                <string>{60,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,176},{186,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,652},{186,206}}</string>
                <key>offset</key>
                <string>{60,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,176},{186,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,786},{188,210}}</string>
                <key>offset</key>
                <string>{62,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,172},{188,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,786},{188,210}}</string>
                <key>offset</key>
                <string>{62,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,172},{188,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,786},{188,210}}</string>
                <key>offset</key>
                <string>{62,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,172},{188,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,786},{188,210}}</string>
                <key>offset</key>
                <string>{62,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,172},{188,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,786},{188,210}}</string>
                <key>offset</key>
                <string>{62,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,172},{188,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,652},{192,202}}</string>
                <key>offset</key>
                <string>{23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,180},{192,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,652},{192,202}}</string>
                <key>offset</key>
                <string>{23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,180},{192,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,652},{192,202}}</string>
                <key>offset</key>
                <string>{23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,180},{192,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,642},{142,216}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,167},{142,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,642},{142,216}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,167},{142,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fengpao0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{342,286}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,63},{342,286}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>fengpao0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{342,286}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,63},{342,286}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>fengpao0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,338},{302,278}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,63},{302,278}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>fengpao0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,338},{302,278}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,63},{302,278}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>fengpao0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{304,290}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,58},{304,290}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>fengpao0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{304,290}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,58},{304,290}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>fengpao0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{326,334}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{326,334}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>fengpao0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{326,334}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{326,334}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>fengpao0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,334}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{378,334}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>fengpao0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,334}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{378,334}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_18_b.pvr.ccz</string>
            <key>size</key>
            <string>{950,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4edc90d1c172b6ffc165333ca47d96f:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_18_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
