<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_4tyn0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,834},{172,170}}</string>
                <key>offset</key>
                <string>{44,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,182},{172,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,834},{172,170}}</string>
                <key>offset</key>
                <string>{44,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,182},{172,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,834},{172,170}}</string>
                <key>offset</key>
                <string>{44,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,182},{172,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{298,150}}</string>
                <key>offset</key>
                <string>{87,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,202},{298,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{298,150}}</string>
                <key>offset</key>
                <string>{87,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,202},{298,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{298,150}}</string>
                <key>offset</key>
                <string>{87,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,202},{298,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{298,150}}</string>
                <key>offset</key>
                <string>{87,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,202},{298,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{298,150}}</string>
                <key>offset</key>
                <string>{87,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,202},{298,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{298,150}}</string>
                <key>offset</key>
                <string>{87,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,202},{298,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{298,150}}</string>
                <key>offset</key>
                <string>{87,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,202},{298,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,794},{156,208}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,144},{156,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,794},{156,208}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,144},{156,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,794},{156,208}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,144},{156,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,794},{156,208}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,144},{156,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,660},{270,202}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,150},{270,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,660},{270,202}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,150},{270,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,602},{142,190}}</string>
                <key>offset</key>
                <string>{74,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,133},{142,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,602},{142,190}}</string>
                <key>offset</key>
                <string>{74,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,133},{142,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,688},{144,190}}</string>
                <key>offset</key>
                <string>{74,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,115},{144,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,688},{144,190}}</string>
                <key>offset</key>
                <string>{74,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,115},{144,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,864},{140,180}}</string>
                <key>offset</key>
                <string>{74,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,122},{140,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,864},{140,180}}</string>
                <key>offset</key>
                <string>{74,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,122},{140,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,688},{282,190}}</string>
                <key>offset</key>
                <string>{104,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,133},{282,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,688},{282,190}}</string>
                <key>offset</key>
                <string>{104,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,133},{282,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,468},{182,218}}</string>
                <key>offset</key>
                <string>{29,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,119},{182,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,468},{182,218}}</string>
                <key>offset</key>
                <string>{29,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,119},{182,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,468},{182,218}}</string>
                <key>offset</key>
                <string>{29,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,119},{182,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,276},{342,178}}</string>
                <key>offset</key>
                <string>{76,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,187},{342,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,276},{342,178}}</string>
                <key>offset</key>
                <string>{76,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,187},{342,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,456},{322,202}}</string>
                <key>offset</key>
                <string>{88,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,169},{322,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,456},{322,202}}</string>
                <key>offset</key>
                <string>{88,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,169},{322,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,456},{322,202}}</string>
                <key>offset</key>
                <string>{88,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,169},{322,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,456},{322,202}}</string>
                <key>offset</key>
                <string>{88,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,169},{322,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,456},{322,202}}</string>
                <key>offset</key>
                <string>{88,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,169},{322,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,456},{322,202}}</string>
                <key>offset</key>
                <string>{88,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,169},{322,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,92},{352,182}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,169},{352,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,92},{352,182}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,169},{352,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,92},{352,182}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,169},{352,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyna0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,92},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,92},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,92},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,92},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{380,88}}</string>
                <key>offset</key>
                <string>{93,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,350},{380,88}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{380,88}}</string>
                <key>offset</key>
                <string>{93,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,350},{380,88}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{254,96}}</string>
                <key>offset</key>
                <string>{170,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,341},{254,96}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{254,96}}</string>
                <key>offset</key>
                <string>{170,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,341},{254,96}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,258},{208,98}}</string>
                <key>offset</key>
                <string>{192,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,338},{208,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,258},{208,98}}</string>
                <key>offset</key>
                <string>{192,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,338},{208,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,92},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,92},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,92},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,92},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,92},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{518,298}}</string>
                <key>offset</key>
                <string>{60,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,147},{518,298}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{518,298}}</string>
                <key>offset</key>
                <string>{60,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,147},{518,298}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{486,298}}</string>
                <key>offset</key>
                <string>{61,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,145},{486,298}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_31_a.pvr.ccz</string>
            <key>size</key>
            <string>{1002,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8caaff063141083fcadf80345132c714:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_31_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
