<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_yga0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,182},{80,24}}</string>
                <key>offset</key>
                <string>{22,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,203},{80,24}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,182},{80,24}}</string>
                <key>offset</key>
                <string>{22,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,203},{80,24}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,404},{170,100}}</string>
                <key>offset</key>
                <string>{56,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,130},{170,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{174,98}}</string>
                <key>offset</key>
                <string>{54,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,130},{174,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,404},{182,100}}</string>
                <key>offset</key>
                <string>{54,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,131},{182,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,404},{182,100}}</string>
                <key>offset</key>
                <string>{54,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,131},{182,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,102},{206,98}}</string>
                <key>offset</key>
                <string>{38,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,131},{206,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,98}}</string>
                <key>offset</key>
                <string>{39,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,130},{208,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,98}}</string>
                <key>offset</key>
                <string>{39,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,130},{208,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,100}}</string>
                <key>offset</key>
                <string>{38,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,130},{208,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{202,94}}</string>
                <key>offset</key>
                <string>{35,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,134},{202,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{202,94}}</string>
                <key>offset</key>
                <string>{35,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,134},{202,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,500},{144,98}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,133},{144,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,500},{144,98}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,133},{144,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,304},{164,98}}</string>
                <key>offset</key>
                <string>{59,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,130},{164,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,208},{194,100}}</string>
                <key>offset</key>
                <string>{44,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,130},{194,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,208},{194,100}}</string>
                <key>offset</key>
                <string>{44,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,130},{194,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{194,96}}</string>
                <key>offset</key>
                <string>{44,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,132},{194,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{194,102}}</string>
                <key>offset</key>
                <string>{44,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,129},{194,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{194,102}}</string>
                <key>offset</key>
                <string>{44,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,129},{194,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,202},{194,100}}</string>
                <key>offset</key>
                <string>{45,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,129},{194,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,404},{140,94}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,136},{140,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,404},{140,94}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,136},{140,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{178,82}}</string>
                <key>offset</key>
                <string>{34,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,145},{178,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,588},{180,50}}</string>
                <key>offset</key>
                <string>{29,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,144},{180,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,588},{180,50}}</string>
                <key>offset</key>
                <string>{29,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,144},{180,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{182,40}}</string>
                <key>offset</key>
                <string>{28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,144},{182,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,404},{170,38}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,143},{170,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_yga0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_39_b.pvr.ccz</string>
            <key>size</key>
            <string>{510,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13899551f6bd58232d7d8d01138af02d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_39_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
