<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_oyf0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,546},{174,200}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,174},{174,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,546},{174,200}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,174},{174,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,546},{174,200}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,174},{174,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,722},{172,198}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,184},{172,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,722},{172,198}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,184},{172,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,722},{172,198}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,184},{172,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{288,178}}</string>
                <key>offset</key>
                <string>{-20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,198},{288,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{288,178}}</string>
                <key>offset</key>
                <string>{-20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,198},{288,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,194},{220,184}}</string>
                <key>offset</key>
                <string>{-17,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,200},{220,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,194},{220,184}}</string>
                <key>offset</key>
                <string>{-17,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,200},{220,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,194},{220,184}}</string>
                <key>offset</key>
                <string>{-17,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,200},{220,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,314},{202,230}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,137},{202,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,314},{202,230}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,137},{202,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,314},{202,230}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,137},{202,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,314},{202,230}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,137},{202,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,836},{164,232}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,135},{164,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,836},{164,232}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,135},{164,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,836},{164,232}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,135},{164,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,380},{194,164}}</string>
                <key>offset</key>
                <string>{29,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,204},{194,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,380},{194,164}}</string>
                <key>offset</key>
                <string>{29,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,204},{194,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{184,162}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,206},{184,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{184,162}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,206},{184,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{184,162}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,206},{184,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,568},{242,172}}</string>
                <key>offset</key>
                <string>{18,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,206},{242,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,568},{242,172}}</string>
                <key>offset</key>
                <string>{18,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,206},{242,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,568},{242,172}}</string>
                <key>offset</key>
                <string>{18,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,206},{242,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,568},{242,172}}</string>
                <key>offset</key>
                <string>{18,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,206},{242,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,380},{186,220}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,166},{186,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,380},{186,220}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,166},{186,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,136},{176,250}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,122},{176,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,136},{176,250}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,122},{176,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,832},{180,234}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,134},{180,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,832},{180,234}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,134},{180,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{194,278}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,93},{194,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{194,278}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,93},{194,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{132,334}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,38},{132,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{132,334}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,38},{132,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,576},{258,196}}</string>
                <key>offset</key>
                <string>{62,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,181},{258,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,576},{258,196}}</string>
                <key>offset</key>
                <string>{62,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,181},{258,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,576},{258,196}}</string>
                <key>offset</key>
                <string>{62,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,181},{258,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,576},{258,196}}</string>
                <key>offset</key>
                <string>{62,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,181},{258,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,576},{254,202}}</string>
                <key>offset</key>
                <string>{59,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{254,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,576},{254,202}}</string>
                <key>offset</key>
                <string>{59,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{254,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,576},{254,202}}</string>
                <key>offset</key>
                <string>{59,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{254,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,576},{254,202}}</string>
                <key>offset</key>
                <string>{59,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{254,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,576},{254,202}}</string>
                <key>offset</key>
                <string>{59,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{254,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,576},{254,202}}</string>
                <key>offset</key>
                <string>{59,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{254,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,576},{254,202}}</string>
                <key>offset</key>
                <string>{59,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{254,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,576},{254,202}}</string>
                <key>offset</key>
                <string>{59,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{254,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,576},{254,202}}</string>
                <key>offset</key>
                <string>{59,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{254,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,576},{254,202}}</string>
                <key>offset</key>
                <string>{59,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,176},{254,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,896},{120,224}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,146},{120,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,896},{120,224}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,146},{120,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,896},{120,224}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,146},{120,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyfa0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{330,184}}</string>
                <key>offset</key>
                <string>{252,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{537,325},{330,184}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{330,184}}</string>
                <key>offset</key>
                <string>{252,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{537,325},{330,184}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,190}}</string>
                <key>offset</key>
                <string>{261,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{538,323},{346,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,190}}</string>
                <key>offset</key>
                <string>{261,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{538,323},{346,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{284,194}}</string>
                <key>offset</key>
                <string>{232,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,324},{284,194}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{284,194}}</string>
                <key>offset</key>
                <string>{232,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,324},{284,194}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_oyfa0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,182},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_14_a.pvr.ccz</string>
            <key>size</key>
            <string>{976,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:660b2dc9e2e299f95f4629b2e8d9b139:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_14_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
