<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dici0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{151,61}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,93},{151,61}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{151,61}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,93},{151,61}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{151,61}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,93},{151,61}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,137},{151,67}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,85},{151,67}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,137},{151,67}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,85},{151,67}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{151,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,133}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{151,133}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,133}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{151,133}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,133}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{151,133}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{151,107}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{151,107}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{151,107}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{151,107}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{151,107}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{151,107}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,111},{151,81}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,71},{151,81}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,111},{151,81}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,71},{151,81}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dici0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,111},{151,81}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,71},{151,81}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_1001.pvr.ccz</string>
            <key>size</key>
            <string>{461,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5564d226902f00a66df2fc714e6980f5:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_1001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
