<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zlc0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,330},{160,180}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,198},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,330},{160,180}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,198},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,330},{160,180}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,198},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,330},{160,180}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,198},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,360},{148,178}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{148,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,360},{148,178}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{148,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,360},{148,178}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{148,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,360},{148,178}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{148,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,360},{148,178}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{148,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,360},{148,178}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{148,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{218,176}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,160},{218,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{218,176}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,160},{218,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,168},{160,188}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{160,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,168},{160,188}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{160,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,168},{160,188}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{160,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,168},{160,188}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{160,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,168},{160,188}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{160,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{164,196}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,154},{164,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{164,196}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,154},{164,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,216},{142,184}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,186},{142,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,216},{142,184}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,186},{142,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,360},{138,172}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,203},{138,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,360},{138,172}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,203},{138,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,360},{138,172}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,203},{138,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,330},{154,74}}</string>
                <key>offset</key>
                <string>{51,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,222},{154,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,330},{154,74}}</string>
                <key>offset</key>
                <string>{51,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,222},{154,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,110},{246,104}}</string>
                <key>offset</key>
                <string>{87,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,200},{246,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{252,106}}</string>
                <key>offset</key>
                <string>{89,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,201},{252,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{252,106}}</string>
                <key>offset</key>
                <string>{89,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,201},{252,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{320,148}}</string>
                <key>offset</key>
                <string>{51,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,197},{320,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,162}}</string>
                <key>offset</key>
                <string>{39,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,195},{332,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,216},{142,74}}</string>
                <key>offset</key>
                <string>{114,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,203},{142,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_40.pvr.ccz</string>
            <key>size</key>
            <string>{834,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7023ff912b270a2885c300d765e889f9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_40.pvr.ccz</string>
        </dict>
    </dict>
</plist>
