<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dcq0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,264},{254,202}}</string>
                <key>offset</key>
                <string>{-18,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,233},{254,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,264},{254,202}}</string>
                <key>offset</key>
                <string>{-18,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,233},{254,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,264},{254,202}}</string>
                <key>offset</key>
                <string>{-18,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,233},{254,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,176}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,271},{298,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,176}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,271},{298,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,176}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,271},{298,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,176}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,271},{298,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,176}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,271},{298,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{260,252}}</string>
                <key>offset</key>
                <string>{36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,184},{260,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{260,252}}</string>
                <key>offset</key>
                <string>{36,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,184},{260,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{292,218}}</string>
                <key>offset</key>
                <string>{27,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,221},{292,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{292,218}}</string>
                <key>offset</key>
                <string>{27,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,221},{292,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{292,218}}</string>
                <key>offset</key>
                <string>{27,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,221},{292,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{292,218}}</string>
                <key>offset</key>
                <string>{27,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,221},{292,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{292,218}}</string>
                <key>offset</key>
                <string>{27,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,221},{292,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,264},{256,192}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,250},{256,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,264},{256,192}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,250},{256,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{158,186}}</string>
                <key>offset</key>
                <string>{24,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,246},{158,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{158,186}}</string>
                <key>offset</key>
                <string>{24,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,246},{158,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,458},{210,180}}</string>
                <key>offset</key>
                <string>{50,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,218},{210,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,458},{210,180}}</string>
                <key>offset</key>
                <string>{50,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,218},{210,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{208,174}}</string>
                <key>offset</key>
                <string>{67,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,210},{208,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{208,174}}</string>
                <key>offset</key>
                <string>{67,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,210},{208,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{208,174}}</string>
                <key>offset</key>
                <string>{67,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,210},{208,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{208,174}}</string>
                <key>offset</key>
                <string>{67,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,210},{208,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{208,174}}</string>
                <key>offset</key>
                <string>{67,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,210},{208,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{208,174}}</string>
                <key>offset</key>
                <string>{67,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,210},{208,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{208,174}}</string>
                <key>offset</key>
                <string>{67,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,210},{208,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{208,174}}</string>
                <key>offset</key>
                <string>{67,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,210},{208,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{208,174}}</string>
                <key>offset</key>
                <string>{67,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,210},{208,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,520},{164,168}}</string>
                <key>offset</key>
                <string>{94,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,213},{164,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,520},{164,168}}</string>
                <key>offset</key>
                <string>{94,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,213},{164,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,520},{164,168}}</string>
                <key>offset</key>
                <string>{94,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,213},{164,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,520},{164,168}}</string>
                <key>offset</key>
                <string>{94,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,213},{164,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,242},{256,208}}</string>
                <key>offset</key>
                <string>{48,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,206},{256,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,242},{256,208}}</string>
                <key>offset</key>
                <string>{48,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,206},{256,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,242},{256,208}}</string>
                <key>offset</key>
                <string>{48,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,206},{256,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{286,238}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,195},{286,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{286,238}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,195},{286,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{286,238}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,195},{286,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{212,208}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,227},{212,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{212,208}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,227},{212,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{212,208}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,227},{212,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_35_d.pvr.ccz</string>
            <key>size</key>
            <string>{1008,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:547c8098ef165f5d253a6f07813c673d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_35_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
