<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_xln0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,466},{130,176}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,127},{130,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,466},{130,176}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,127},{130,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,466},{130,176}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,127},{130,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,282},{126,182}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,108},{126,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,282},{126,182}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,108},{126,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,282},{126,182}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,108},{126,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,282},{126,182}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,108},{126,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,278},{158,186}}</string>
                <key>offset</key>
                <string>{-12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,103},{158,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,278},{158,186}}</string>
                <key>offset</key>
                <string>{-12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,103},{158,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,278},{158,186}}</string>
                <key>offset</key>
                <string>{-12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,103},{158,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,278},{158,186}}</string>
                <key>offset</key>
                <string>{-12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,103},{158,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,598},{168,218}}</string>
                <key>offset</key>
                <string>{-12,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,68},{168,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,598},{168,218}}</string>
                <key>offset</key>
                <string>{-12,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,68},{168,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,598},{168,218}}</string>
                <key>offset</key>
                <string>{-12,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,68},{168,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,598},{168,218}}</string>
                <key>offset</key>
                <string>{-12,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,68},{168,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{154,252}}</string>
                <key>offset</key>
                <string>{-2,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,24},{154,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{154,252}}</string>
                <key>offset</key>
                <string>{-2,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,24},{154,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{154,252}}</string>
                <key>offset</key>
                <string>{-2,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,24},{154,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{154,252}}</string>
                <key>offset</key>
                <string>{-2,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,24},{154,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{162,256}}</string>
                <key>offset</key>
                <string>{2,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,8},{162,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{162,256}}</string>
                <key>offset</key>
                <string>{2,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,8},{162,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{162,256}}</string>
                <key>offset</key>
                <string>{2,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,8},{162,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{162,256}}</string>
                <key>offset</key>
                <string>{2,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,8},{162,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{162,256}}</string>
                <key>offset</key>
                <string>{2,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,8},{162,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{162,256}}</string>
                <key>offset</key>
                <string>{2,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,8},{162,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{168,244}}</string>
                <key>offset</key>
                <string>{7,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,8},{168,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{168,244}}</string>
                <key>offset</key>
                <string>{7,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,8},{168,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{168,244}}</string>
                <key>offset</key>
                <string>{7,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,8},{168,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{168,244}}</string>
                <key>offset</key>
                <string>{7,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,8},{168,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{168,244}}</string>
                <key>offset</key>
                <string>{7,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,8},{168,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{168,244}}</string>
                <key>offset</key>
                <string>{7,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,8},{168,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{202,176}}</string>
                <key>offset</key>
                <string>{-8,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,83},{202,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{202,176}}</string>
                <key>offset</key>
                <string>{-8,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,83},{202,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,596},{170,176}}</string>
                <key>offset</key>
                <string>{9,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,93},{170,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,596},{170,176}}</string>
                <key>offset</key>
                <string>{9,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,93},{170,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,816},{160,180}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,95},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,816},{160,180}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,95},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,816},{160,180}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,95},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,816},{160,180}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,95},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,816},{160,180}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,95},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,816},{160,180}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,95},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,816},{160,180}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,95},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,816},{160,180}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,95},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,282},{152,180}}</string>
                <key>offset</key>
                <string>{11,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,102},{152,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,282},{152,180}}</string>
                <key>offset</key>
                <string>{11,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,102},{152,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,282},{152,180}}</string>
                <key>offset</key>
                <string>{11,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,102},{152,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,282},{152,180}}</string>
                <key>offset</key>
                <string>{11,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,102},{152,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,818},{144,184}}</string>
                <key>offset</key>
                <string>{9,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,97},{144,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,818},{144,184}}</string>
                <key>offset</key>
                <string>{9,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,97},{144,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,818},{144,184}}</string>
                <key>offset</key>
                <string>{9,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,97},{144,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,818},{144,184}}</string>
                <key>offset</key>
                <string>{9,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,97},{144,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,814},{134,206}}</string>
                <key>offset</key>
                <string>{6,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,71},{134,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,814},{134,206}}</string>
                <key>offset</key>
                <string>{6,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,71},{134,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,814},{134,206}}</string>
                <key>offset</key>
                <string>{6,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,71},{134,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,814},{134,206}}</string>
                <key>offset</key>
                <string>{6,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,71},{134,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,598},{166,216}}</string>
                <key>offset</key>
                <string>{-9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,63},{166,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,598},{166,216}}</string>
                <key>offset</key>
                <string>{-9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,63},{166,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,598},{166,216}}</string>
                <key>offset</key>
                <string>{-9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,63},{166,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,598},{166,216}}</string>
                <key>offset</key>
                <string>{-9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,63},{166,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,598},{162,214}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,96},{162,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,598},{162,214}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,96},{162,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,598},{162,214}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,96},{162,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,774},{148,208}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,142},{148,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,774},{148,208}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,142},{148,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,774},{148,208}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,142},{148,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>pao_xln0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,142},{138,412}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{138,412}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,142},{138,412}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{138,412}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,418}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{138,418}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,418}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{138,418}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,418}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{138,418}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{134,416}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{134,416}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,466},{130,102}}</string>
                <key>offset</key>
                <string>{1,-159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,333},{130,102}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,466},{130,102}}</string>
                <key>offset</key>
                <string>{1,-159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,333},{130,102}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,466},{130,98}}</string>
                <key>offset</key>
                <string>{1,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,332},{130,98}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,282},{130,96}}</string>
                <key>offset</key>
                <string>{2,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,333},{130,96}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,282},{130,96}}</string>
                <key>offset</key>
                <string>{2,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,333},{130,96}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,464},{130,96}}</string>
                <key>offset</key>
                <string>{2,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,333},{130,96}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,380},{122,96}}</string>
                <key>offset</key>
                <string>{0,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,333},{122,96}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>pao_xln0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,380},{122,96}}</string>
                <key>offset</key>
                <string>{0,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,333},{122,96}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_38_a.pvr.ccz</string>
            <key>size</key>
            <string>{850,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20881736fce7ab0d4f90628c71452aed:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_38_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
