<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_qb0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,438},{216,212}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,143},{216,212}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,438},{216,212}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,143},{216,212}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,438},{216,212}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,143},{216,212}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,438},{216,212}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,143},{216,212}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,444},{218,210}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,146},{218,210}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,444},{218,210}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,146},{218,210}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,444},{218,210}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,146},{218,210}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,444},{218,210}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,146},{218,210}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,444},{218,210}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,146},{218,210}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{220,216}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,140},{220,216}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{220,216}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,140},{220,216}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{220,216}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,140},{220,216}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{220,216}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,140},{220,216}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{220,216}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,140},{220,216}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,656},{210,212}}</string>
                <key>offset</key>
                <string>{11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{210,212}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,656},{210,212}}</string>
                <key>offset</key>
                <string>{11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{210,212}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,656},{210,212}}</string>
                <key>offset</key>
                <string>{11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{210,212}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,656},{210,212}}</string>
                <key>offset</key>
                <string>{11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{210,212}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,224},{212,218}}</string>
                <key>offset</key>
                <string>{13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,146},{212,218}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,224},{212,218}}</string>
                <key>offset</key>
                <string>{13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,146},{212,218}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,224},{212,218}}</string>
                <key>offset</key>
                <string>{13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,146},{212,218}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,224},{212,218}}</string>
                <key>offset</key>
                <string>{13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,146},{212,218}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,224},{212,218}}</string>
                <key>offset</key>
                <string>{13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,146},{212,218}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{216,220}}</string>
                <key>offset</key>
                <string>{14,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,140},{216,220}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{216,220}}</string>
                <key>offset</key>
                <string>{14,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,140},{216,220}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{216,220}}</string>
                <key>offset</key>
                <string>{14,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,140},{216,220}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{216,220}}</string>
                <key>offset</key>
                <string>{14,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,140},{216,220}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{216,220}}</string>
                <key>offset</key>
                <string>{14,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,140},{216,220}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,220},{216,216}}</string>
                <key>offset</key>
                <string>{11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,139},{216,216}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,220},{216,216}}</string>
                <key>offset</key>
                <string>{11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,139},{216,216}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,220},{216,216}}</string>
                <key>offset</key>
                <string>{11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,139},{216,216}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,220},{216,216}}</string>
                <key>offset</key>
                <string>{11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,139},{216,216}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{226,204}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,156},{226,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{226,204}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,156},{226,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{226,204}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,156},{226,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{226,204}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,156},{226,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{228,206}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,154},{228,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{228,206}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,154},{228,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{228,206}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,154},{228,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{228,206}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,154},{228,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,206}}</string>
                <key>offset</key>
                <string>{10,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,154},{230,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,206}}</string>
                <key>offset</key>
                <string>{10,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,154},{230,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,206}}</string>
                <key>offset</key>
                <string>{10,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,154},{230,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,206}}</string>
                <key>offset</key>
                <string>{10,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,154},{230,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,464},{224,206}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,154},{224,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,464},{224,206}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,154},{224,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,464},{224,206}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,154},{224,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,464},{224,206}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,154},{224,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,220},{216,206}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,154},{216,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,220},{216,206}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,154},{216,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,220},{216,206}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,154},{216,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,220},{216,206}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,154},{216,206}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,664},{218,204}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,156},{218,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,664},{218,204}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,156},{218,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,664},{218,204}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,156},{218,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,664},{218,204}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,156},{218,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0725.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{220,204}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,156},{220,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0726.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{220,204}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,156},{220,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0727.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{220,204}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,156},{220,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0728.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{220,204}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,156},{220,204}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,692},{192,102}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,172},{192,102}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,692},{192,102}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,172},{192,102}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,692},{192,102}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,172},{192,102}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,692},{192,102}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,172},{192,102}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,692},{192,102}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,172},{192,102}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{146,110}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,166},{146,110}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{146,110}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,166},{146,110}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{146,110}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,166},{146,110}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{146,110}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,166},{146,110}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>monster_qb0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{146,110}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,166},{146,110}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_7.pvr.ccz</string>
            <key>size</key>
            <string>{872,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9055d2c305176c61c57a9e775433199e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
