<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_adizi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,490},{137,153}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,169},{137,153}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,490},{137,153}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,169},{137,153}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{139,157}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,165},{139,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{139,157}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,165},{139,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{139,157}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,165},{139,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{139,157}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,165},{139,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,238},{145,157}}</string>
                <key>offset</key>
                <string>{13,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,165},{145,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,238},{145,157}}</string>
                <key>offset</key>
                <string>{13,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,165},{145,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,238},{145,157}}</string>
                <key>offset</key>
                <string>{13,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,165},{145,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,633},{121,141}}</string>
                <key>offset</key>
                <string>{26,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,181},{121,141}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,633},{121,141}}</string>
                <key>offset</key>
                <string>{26,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,181},{121,141}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,633},{121,141}}</string>
                <key>offset</key>
                <string>{26,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,181},{121,141}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,385},{103,157}}</string>
                <key>offset</key>
                <string>{21,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,165},{103,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,385},{103,157}}</string>
                <key>offset</key>
                <string>{21,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,165},{103,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,385},{103,157}}</string>
                <key>offset</key>
                <string>{21,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,165},{103,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,53},{91,175}}</string>
                <key>offset</key>
                <string>{15,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,147},{91,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,53},{91,175}}</string>
                <key>offset</key>
                <string>{15,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,147},{91,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,53},{91,175}}</string>
                <key>offset</key>
                <string>{15,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,147},{91,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,304},{95,163}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,153},{95,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,304},{95,163}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,153},{95,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,304},{95,163}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,153},{95,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,496},{149,135}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,160},{149,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,496},{149,135}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,160},{149,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,496},{149,135}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,160},{149,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,496},{149,135}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,160},{149,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,496},{149,135}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,160},{149,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,146},{169,95}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,183},{169,95}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,146},{169,95}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,183},{169,95}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,146},{169,95}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,183},{169,95}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,146},{169,95}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,183},{169,95}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{135,131}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,174},{135,131}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{135,131}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,174},{135,131}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{135,131}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,174},{135,131}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,401},{155,93}}</string>
                <key>offset</key>
                <string>{6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,225},{155,93}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,401},{155,93}}</string>
                <key>offset</key>
                <string>{6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,225},{155,93}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,401},{155,93}}</string>
                <key>offset</key>
                <string>{6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,225},{155,93}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{183,49}}</string>
                <key>offset</key>
                <string>{24,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,281},{183,49}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{183,49}}</string>
                <key>offset</key>
                <string>{24,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,281},{183,49}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,243},{169,59}}</string>
                <key>offset</key>
                <string>{22,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,261},{169,59}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,243},{169,59}}</string>
                <key>offset</key>
                <string>{22,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,261},{169,59}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,243},{169,59}}</string>
                <key>offset</key>
                <string>{22,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,261},{169,59}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,629},{107,89}}</string>
                <key>offset</key>
                <string>{-26,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,224},{107,89}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,629},{107,89}}</string>
                <key>offset</key>
                <string>{-26,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,224},{107,89}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,629},{107,89}}</string>
                <key>offset</key>
                <string>{-26,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,224},{107,89}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,629},{107,89}}</string>
                <key>offset</key>
                <string>{-26,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,224},{107,89}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{115,95}}</string>
                <key>offset</key>
                <string>{-40,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,223},{115,95}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{115,95}}</string>
                <key>offset</key>
                <string>{-40,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,223},{115,95}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{115,95}}</string>
                <key>offset</key>
                <string>{-40,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,223},{115,95}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{167,85}}</string>
                <key>offset</key>
                <string>{-39,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,135},{167,85}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{167,85}}</string>
                <key>offset</key>
                <string>{-39,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,135},{167,85}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{167,85}}</string>
                <key>offset</key>
                <string>{-39,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,135},{167,85}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{173,153}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,132},{173,153}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{173,153}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,132},{173,153}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,201}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,122},{139,201}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,201}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,122},{139,201}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{115,147}}</string>
                <key>offset</key>
                <string>{34,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,176},{115,147}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{115,147}}</string>
                <key>offset</key>
                <string>{34,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,176},{115,147}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{115,147}}</string>
                <key>offset</key>
                <string>{34,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,176},{115,147}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,633},{109,135}}</string>
                <key>offset</key>
                <string>{33,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,192},{109,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,633},{109,135}}</string>
                <key>offset</key>
                <string>{33,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,192},{109,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,633},{109,135}}</string>
                <key>offset</key>
                <string>{33,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,192},{109,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,633},{109,135}}</string>
                <key>offset</key>
                <string>{33,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,192},{109,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,633},{109,135}}</string>
                <key>offset</key>
                <string>{33,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,192},{109,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,151},{85,161}}</string>
                <key>offset</key>
                <string>{23,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,162},{85,161}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,151},{85,161}}</string>
                <key>offset</key>
                <string>{23,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,162},{85,161}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0528.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,151},{85,161}}</string>
                <key>offset</key>
                <string>{23,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,162},{85,161}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_11.pvr.ccz</string>
            <key>size</key>
            <string>{511,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31cf3185da7bb24c922bcaf30d209129:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
