<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dcqa0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,206},{202,196}}</string>
                <key>offset</key>
                <string>{24,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,166},{202,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,404},{210,166}}</string>
                <key>offset</key>
                <string>{22,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,173},{210,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,404},{210,166}}</string>
                <key>offset</key>
                <string>{22,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,173},{210,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{202,208}}</string>
                <key>offset</key>
                <string>{-50,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,250},{202,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{202,208}}</string>
                <key>offset</key>
                <string>{-50,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,250},{202,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{308,322}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,203},{308,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{308,322}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,203},{308,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{364,310}}</string>
                <key>offset</key>
                <string>{-43,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,207},{364,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{364,310}}</string>
                <key>offset</key>
                <string>{-43,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,207},{364,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,314},{340,322}}</string>
                <key>offset</key>
                <string>{-31,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,203},{340,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,314},{340,322}}</string>
                <key>offset</key>
                <string>{-31,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,203},{340,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,310}}</string>
                <key>offset</key>
                <string>{-43,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,207},{364,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,310}}</string>
                <key>offset</key>
                <string>{-43,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,207},{364,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{340,322}}</string>
                <key>offset</key>
                <string>{-31,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,203},{340,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{340,322}}</string>
                <key>offset</key>
                <string>{-31,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,203},{340,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,310}}</string>
                <key>offset</key>
                <string>{-43,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,207},{364,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,310}}</string>
                <key>offset</key>
                <string>{-43,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,207},{364,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{340,322}}</string>
                <key>offset</key>
                <string>{-31,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,203},{340,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{340,322}}</string>
                <key>offset</key>
                <string>{-31,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,203},{340,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,310}}</string>
                <key>offset</key>
                <string>{-43,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,207},{364,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,310}}</string>
                <key>offset</key>
                <string>{-43,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,207},{364,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{340,322}}</string>
                <key>offset</key>
                <string>{-31,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,203},{340,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{340,322}}</string>
                <key>offset</key>
                <string>{-31,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,203},{340,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,638},{314,310}}</string>
                <key>offset</key>
                <string>{-18,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,207},{314,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,638},{314,310}}</string>
                <key>offset</key>
                <string>{-18,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,207},{314,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,638},{332,322}}</string>
                <key>offset</key>
                <string>{-27,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,203},{332,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,638},{332,322}}</string>
                <key>offset</key>
                <string>{-27,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,203},{332,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_35_a.pvr.ccz</string>
            <key>size</key>
            <string>{962,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8efec3a6f40a6f7269505c1dbb7d0d33:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_35_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
