<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1tyn0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,818},{152,158}}</string>
                <key>offset</key>
                <string>{-14,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,209},{152,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,818},{152,158}}</string>
                <key>offset</key>
                <string>{-14,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,209},{152,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,818},{152,158}}</string>
                <key>offset</key>
                <string>{-14,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,209},{152,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,180},{182,176}}</string>
                <key>offset</key>
                <string>{-59,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,189},{182,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,180},{182,176}}</string>
                <key>offset</key>
                <string>{-59,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,189},{182,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{196,176}}</string>
                <key>offset</key>
                <string>{-72,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,189},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{196,176}}</string>
                <key>offset</key>
                <string>{-72,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,189},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{196,176}}</string>
                <key>offset</key>
                <string>{-72,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,189},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{196,176}}</string>
                <key>offset</key>
                <string>{-72,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,189},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{196,176}}</string>
                <key>offset</key>
                <string>{-72,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,189},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,530},{286,162}}</string>
                <key>offset</key>
                <string>{71,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,206},{286,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,530},{286,162}}</string>
                <key>offset</key>
                <string>{71,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,206},{286,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,628},{290,160}}</string>
                <key>offset</key>
                <string>{75,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,208},{290,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,628},{290,160}}</string>
                <key>offset</key>
                <string>{75,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,208},{290,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,628},{290,160}}</string>
                <key>offset</key>
                <string>{75,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,208},{290,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,628},{290,160}}</string>
                <key>offset</key>
                <string>{75,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,208},{290,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,628},{290,160}}</string>
                <key>offset</key>
                <string>{75,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,208},{290,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,628},{290,160}}</string>
                <key>offset</key>
                <string>{75,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,208},{290,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,628},{290,160}}</string>
                <key>offset</key>
                <string>{75,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,208},{290,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,628},{290,160}}</string>
                <key>offset</key>
                <string>{75,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,208},{290,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,358},{262,170}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,199},{262,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,358},{262,170}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,199},{262,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,358},{262,170}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,199},{262,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyna0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{292,92}}</string>
                <key>offset</key>
                <string>{132,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,281},{292,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{314,150}}</string>
                <key>offset</key>
                <string>{143,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,248},{314,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,150}}</string>
                <key>offset</key>
                <string>{142,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,248},{316,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{296,158}}</string>
                <key>offset</key>
                <string>{132,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,240},{296,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{298,158}}</string>
                <key>offset</key>
                <string>{135,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,240},{298,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{298,160}}</string>
                <key>offset</key>
                <string>{135,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,239},{298,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,628},{294,90}}</string>
                <key>offset</key>
                <string>{134,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,280},{294,90}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_1tyna0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_28.pvr.ccz</string>
            <key>size</key>
            <string>{580,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62dcc834585058aa21302d3aba62cc8c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_28.pvr.ccz</string>
        </dict>
    </dict>
</plist>
