<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_4tyna0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,322},{290,324}}</string>
                <key>offset</key>
                <string>{79,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,89},{290,324}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,642},{294,324}}</string>
                <key>offset</key>
                <string>{77,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,90},{294,324}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,648},{298,304}}</string>
                <key>offset</key>
                <string>{75,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,110},{298,304}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{292,286}}</string>
                <key>offset</key>
                <string>{78,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,128},{292,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_4tyna0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_4tyna0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,296},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>pao_4tyn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{336,318}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{336,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>pao_4tyn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{336,318}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{336,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>pao_4tyn0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{314,318}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{314,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>pao_4tyn0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{314,318}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{314,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>pao_4tyn0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,322},{320,318}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{320,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>pao_4tyn0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,322},{320,318}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{320,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>pao_4tyn0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,318}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{340,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>pao_4tyn0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,318}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{340,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>pao_4tyn0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{320,318}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{320,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
            <key>pao_4tyn0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{320,318}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{320,318}}</string>
                <key>sourceSize</key>
                <string>{350,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_31_b.pvr.ccz</string>
            <key>size</key>
            <string>{954,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2853ae4309de2e08a530a8d713a42618:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_31_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
