<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zzz0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,858},{108,182}}</string>
                <key>offset</key>
                <string>{-15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,193},{108,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,858},{108,182}}</string>
                <key>offset</key>
                <string>{-15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,193},{108,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,858},{108,182}}</string>
                <key>offset</key>
                <string>{-15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,193},{108,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,298},{94,182}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,193},{94,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,298},{94,182}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,193},{94,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,298},{94,182}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,193},{94,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,298},{94,182}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,193},{94,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,298},{94,182}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,193},{94,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,298},{94,182}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,193},{94,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,872},{116,176}}</string>
                <key>offset</key>
                <string>{22,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,202},{116,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,872},{116,176}}</string>
                <key>offset</key>
                <string>{22,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,202},{116,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,738},{132,176}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,202},{132,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,738},{132,176}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,202},{132,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,738},{132,176}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,202},{132,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,394},{160,180}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,198},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,394},{160,180}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,198},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,394},{160,180}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,198},{160,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,556},{174,180}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,198},{174,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,556},{174,180}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,198},{174,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,556},{174,180}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,198},{174,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,118},{164,178}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,197},{164,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,118},{164,178}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,197},{164,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,118},{164,178}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,197},{164,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{114,190}}</string>
                <key>offset</key>
                <string>{-19,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,185},{114,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{114,190}}</string>
                <key>offset</key>
                <string>{-19,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,185},{114,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{114,190}}</string>
                <key>offset</key>
                <string>{-19,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,185},{114,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,732},{124,182}}</string>
                <key>offset</key>
                <string>{-15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,195},{124,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,732},{124,182}}</string>
                <key>offset</key>
                <string>{-15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,195},{124,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,732},{124,182}}</string>
                <key>offset</key>
                <string>{-15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,195},{124,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,732},{124,182}}</string>
                <key>offset</key>
                <string>{-15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,195},{124,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,732},{124,182}}</string>
                <key>offset</key>
                <string>{-15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,195},{124,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,604},{248,146}}</string>
                <key>offset</key>
                <string>{54,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,231},{248,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,604},{252,138}}</string>
                <key>offset</key>
                <string>{58,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,239},{252,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,604},{252,138}}</string>
                <key>offset</key>
                <string>{58,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,239},{252,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,604},{252,138}}</string>
                <key>offset</key>
                <string>{58,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,239},{252,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,604},{252,138}}</string>
                <key>offset</key>
                <string>{58,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,239},{252,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,604},{252,138}}</string>
                <key>offset</key>
                <string>{58,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,239},{252,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,604},{252,138}}</string>
                <key>offset</key>
                <string>{58,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,239},{252,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,400},{232,154}}</string>
                <key>offset</key>
                <string>{49,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,223},{232,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,400},{232,154}}</string>
                <key>offset</key>
                <string>{49,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,223},{232,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,400},{232,154}}</string>
                <key>offset</key>
                <string>{49,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,223},{232,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,576},{154,180}}</string>
                <key>offset</key>
                <string>{16,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,197},{154,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,576},{154,180}}</string>
                <key>offset</key>
                <string>{16,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,197},{154,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,576},{154,180}}</string>
                <key>offset</key>
                <string>{16,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,197},{154,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,854},{134,148}}</string>
                <key>offset</key>
                <string>{88,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,154},{134,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,854},{134,148}}</string>
                <key>offset</key>
                <string>{88,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,154},{134,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,424},{234,178}}</string>
                <key>offset</key>
                <string>{79,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,147},{234,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,424},{234,178}}</string>
                <key>offset</key>
                <string>{79,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,147},{234,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{238,192}}</string>
                <key>offset</key>
                <string>{77,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,134},{238,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{238,192}}</string>
                <key>offset</key>
                <string>{77,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,134},{238,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{234,196}}</string>
                <key>offset</key>
                <string>{75,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,130},{234,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{234,196}}</string>
                <key>offset</key>
                <string>{75,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,130},{234,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{222,210}}</string>
                <key>offset</key>
                <string>{78,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,123},{222,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{222,210}}</string>
                <key>offset</key>
                <string>{78,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,123},{222,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,212},{210,210}}</string>
                <key>offset</key>
                <string>{72,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,123},{210,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,212},{210,210}}</string>
                <key>offset</key>
                <string>{72,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,123},{210,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,216},{182,210}}</string>
                <key>offset</key>
                <string>{52,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,122},{182,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,216},{182,210}}</string>
                <key>offset</key>
                <string>{52,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,122},{182,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{316,64}}</string>
                <key>offset</key>
                <string>{124,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,408},{316,64}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{462,50}}</string>
                <key>offset</key>
                <string>{72,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,414},{462,50}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{500,50}}</string>
                <key>offset</key>
                <string>{72,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,416},{500,50}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,50}}</string>
                <key>offset</key>
                <string>{73,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,417},{506,50}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{448,52}}</string>
                <key>offset</key>
                <string>{97,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,415},{448,52}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,604},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>pao_zzz0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,118},{246,46}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{246,46}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>pao_zzz0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,118},{246,46}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{246,46}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>pao_zzz0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,68},{254,48}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{254,48}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>pao_zzz0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,68},{254,48}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{254,48}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>pao_zzz0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,166},{246,48}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{246,48}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>pao_zzz0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,166},{246,48}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{246,48}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>pao_zzz0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,968},{234,48}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{234,48}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>pao_zzz0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,968},{234,48}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{234,48}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>pao_zzz0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,298},{222,44}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{222,44}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>pao_zzz0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,298},{222,44}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{222,44}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_26.pvr.ccz</string>
            <key>size</key>
            <string>{880,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83f032abd3ce544f3a83bffaefa975fb:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_26.pvr.ccz</string>
        </dict>
    </dict>
</plist>
