<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mojiao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,564},{180,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,58}}</string>
                <key>sourceSize</key>
                <string>{180,58}</string>
            </dict>
            <key>mojiao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,558},{180,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,58}}</string>
                <key>sourceSize</key>
                <string>{180,58}</string>
            </dict>
            <key>mojiao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,382},{180,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,58}}</string>
                <key>sourceSize</key>
                <string>{180,58}</string>
            </dict>
            <key>mojiao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,382},{180,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,58}}</string>
                <key>sourceSize</key>
                <string>{180,58}</string>
            </dict>
            <key>monster_cmdizi0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,370},{186,166}}</string>
                <key>offset</key>
                <string>{-37,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,192},{186,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,370},{186,166}}</string>
                <key>offset</key>
                <string>{-37,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,192},{186,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,370},{186,166}}</string>
                <key>offset</key>
                <string>{-37,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,192},{186,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,170},{134,176}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,182},{134,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,170},{134,176}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,182},{134,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,170},{134,176}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,182},{134,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,174},{104,194}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,164},{104,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,174},{104,194}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,164},{104,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,174},{104,194}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,164},{104,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,174},{104,194}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,164},{104,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,156},{126,194}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,169},{126,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,156},{126,194}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,169},{126,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,156},{126,194}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,169},{126,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,156},{126,194}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,169},{126,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,156},{126,194}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,169},{126,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{214,166}}</string>
                <key>offset</key>
                <string>{-21,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,195},{214,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{214,166}}</string>
                <key>offset</key>
                <string>{-21,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,195},{214,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{242,170}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,188},{242,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{242,170}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,188},{242,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{242,170}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,188},{242,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{242,170}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,188},{242,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{242,170}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,188},{242,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{242,170}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,188},{242,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{242,170}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,188},{242,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{242,170}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,188},{242,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,212},{188,168}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,190},{188,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,212},{188,168}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,190},{188,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,212},{188,168}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,190},{188,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,212},{188,168}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,190},{188,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,364},{202,204}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,154},{202,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,364},{202,204}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,154},{202,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,364},{202,204}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,154},{202,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,364},{202,204}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,154},{202,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{202,250}}</string>
                <key>offset</key>
                <string>{-38,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,108},{202,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{202,250}}</string>
                <key>offset</key>
                <string>{-38,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,108},{202,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{202,250}}</string>
                <key>offset</key>
                <string>{-38,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,108},{202,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{202,250}}</string>
                <key>offset</key>
                <string>{-38,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,108},{202,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{204,244}}</string>
                <key>offset</key>
                <string>{-48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,114},{204,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{204,244}}</string>
                <key>offset</key>
                <string>{-48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,114},{204,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{204,244}}</string>
                <key>offset</key>
                <string>{-48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,114},{204,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{204,244}}</string>
                <key>offset</key>
                <string>{-48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,114},{204,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{204,244}}</string>
                <key>offset</key>
                <string>{-48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,114},{204,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{204,244}}</string>
                <key>offset</key>
                <string>{-48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,114},{204,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{204,244}}</string>
                <key>offset</key>
                <string>{-48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,114},{204,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{204,244}}</string>
                <key>offset</key>
                <string>{-48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,114},{204,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,352},{110,256}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,103},{110,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,352},{110,256}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,103},{110,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{208,190}}</string>
                <key>offset</key>
                <string>{29,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,168},{208,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{208,190}}</string>
                <key>offset</key>
                <string>{29,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,168},{208,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,174},{208,188}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,170},{208,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,174},{208,188}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,170},{208,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,174},{208,188}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,170},{208,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,174},{208,188}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,170},{208,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,174},{208,188}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,170},{208,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,174},{208,188}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,170},{208,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,382},{174,186}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,172},{174,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,382},{174,186}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,172},{174,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizi0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,382},{174,186}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,172},{174,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,610},{52,70}}</string>
                <key>offset</key>
                <string>{155,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,256},{52,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,610},{52,70}}</string>
                <key>offset</key>
                <string>{155,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,256},{52,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,570},{220,88}}</string>
                <key>offset</key>
                <string>{73,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,260},{220,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,570},{220,88}}</string>
                <key>offset</key>
                <string>{73,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,260},{220,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,152}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,194},{342,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,152}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,194},{342,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,558},{90,92}}</string>
                <key>offset</key>
                <string>{-135,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,186},{90,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,558},{90,92}}</string>
                <key>offset</key>
                <string>{-135,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,186},{90,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_cmdizia0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_23.pvr.ccz</string>
            <key>size</key>
            <string>{1000,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9340fb638465778eea41150b120e6e84:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_23.pvr.ccz</string>
        </dict>
    </dict>
</plist>
