<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_rwx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{150,190}}</string>
                <key>offset</key>
                <string>{21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,158},{150,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{150,190}}</string>
                <key>offset</key>
                <string>{21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,158},{150,190}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{150,182}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,166},{150,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{150,182}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,166},{150,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{150,182}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,166},{150,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,322},{146,182}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,166},{146,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,322},{146,182}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,166},{146,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,322},{146,182}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,166},{146,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,128},{146,192}}</string>
                <key>offset</key>
                <string>{13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,156},{146,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,128},{146,192}}</string>
                <key>offset</key>
                <string>{13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,156},{146,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,128},{146,192}}</string>
                <key>offset</key>
                <string>{13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,156},{146,192}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{142,200}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,148},{142,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{142,200}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,148},{142,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{142,200}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,148},{142,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,128},{122,194}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,155},{122,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,128},{122,194}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,155},{122,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,128},{122,194}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,155},{122,194}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,338},{174,146}}</string>
                <key>offset</key>
                <string>{-33,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,184},{174,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,338},{174,146}}</string>
                <key>offset</key>
                <string>{-33,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,184},{174,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,338},{174,146}}</string>
                <key>offset</key>
                <string>{-33,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,184},{174,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,338},{174,146}}</string>
                <key>offset</key>
                <string>{-33,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,184},{174,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,338},{174,146}}</string>
                <key>offset</key>
                <string>{-33,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,184},{174,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,194},{184,148}}</string>
                <key>offset</key>
                <string>{-50,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,173},{184,148}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,194},{184,148}}</string>
                <key>offset</key>
                <string>{-50,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,173},{184,148}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,194},{184,148}}</string>
                <key>offset</key>
                <string>{-50,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,173},{184,148}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,194},{184,148}}</string>
                <key>offset</key>
                <string>{-50,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,173},{184,148}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,154},{166,146}}</string>
                <key>offset</key>
                <string>{-57,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,201},{166,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,154},{166,146}}</string>
                <key>offset</key>
                <string>{-57,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,201},{166,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{186,126}}</string>
                <key>offset</key>
                <string>{-46,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,236},{186,126}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{186,126}}</string>
                <key>offset</key>
                <string>{-46,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,236},{186,126}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,90}}</string>
                <key>offset</key>
                <string>{-33,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,292},{212,90}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,90}}</string>
                <key>offset</key>
                <string>{-33,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,292},{212,90}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,90}}</string>
                <key>offset</key>
                <string>{-33,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,292},{212,90}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{202,124}}</string>
                <key>offset</key>
                <string>{-33,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,260},{202,124}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{202,124}}</string>
                <key>offset</key>
                <string>{-33,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,260},{202,124}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{202,124}}</string>
                <key>offset</key>
                <string>{-33,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,260},{202,124}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,344},{162,156}}</string>
                <key>offset</key>
                <string>{-40,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,234},{162,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,344},{162,156}}</string>
                <key>offset</key>
                <string>{-40,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,234},{162,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,344},{162,156}}</string>
                <key>offset</key>
                <string>{-40,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,234},{162,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,344},{162,156}}</string>
                <key>offset</key>
                <string>{-40,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,234},{162,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{136,148}}</string>
                <key>offset</key>
                <string>{-42,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,233},{136,148}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{136,148}}</string>
                <key>offset</key>
                <string>{-42,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,233},{136,148}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{136,148}}</string>
                <key>offset</key>
                <string>{-42,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,233},{136,148}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{136,148}}</string>
                <key>offset</key>
                <string>{-42,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,233},{136,148}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,322},{124,146}}</string>
                <key>offset</key>
                <string>{-35,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,227},{124,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,322},{124,146}}</string>
                <key>offset</key>
                <string>{-35,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,227},{124,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,322},{124,146}}</string>
                <key>offset</key>
                <string>{-35,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,227},{124,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,322},{124,146}}</string>
                <key>offset</key>
                <string>{-35,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,227},{124,146}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,324},{130,158}}</string>
                <key>offset</key>
                <string>{-24,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,200},{130,158}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,324},{130,158}}</string>
                <key>offset</key>
                <string>{-24,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,200},{130,158}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,324},{130,158}}</string>
                <key>offset</key>
                <string>{-24,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,200},{130,158}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,324},{130,158}}</string>
                <key>offset</key>
                <string>{-24,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,200},{130,158}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,154},{140,182}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,169},{140,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,154},{140,182}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,169},{140,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,154},{140,182}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,169},{140,182}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_20.pvr.ccz</string>
            <key>size</key>
            <string>{906,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1c8929bb5a7205281be6b4d538c3b71:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
