<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jmza0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,260},{316,100}}</string>
                <key>offset</key>
                <string>{-92,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,142},{316,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,260},{316,100}}</string>
                <key>offset</key>
                <string>{-92,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,142},{316,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,260},{316,100}}</string>
                <key>offset</key>
                <string>{-92,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,142},{316,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,260},{316,100}}</string>
                <key>offset</key>
                <string>{-92,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,142},{316,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,362},{424,102}}</string>
                <key>offset</key>
                <string>{-38,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{424,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,362},{424,102}}</string>
                <key>offset</key>
                <string>{-38,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{424,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,466},{426,106}}</string>
                <key>offset</key>
                <string>{-37,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,136},{426,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,466},{426,106}}</string>
                <key>offset</key>
                <string>{-37,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,136},{426,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,466},{426,106}}</string>
                <key>offset</key>
                <string>{-37,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,136},{426,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,466},{462,98}}</string>
                <key>offset</key>
                <string>{-12,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,137},{462,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,466},{462,98}}</string>
                <key>offset</key>
                <string>{-12,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,137},{462,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,466},{462,98}}</string>
                <key>offset</key>
                <string>{-12,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,137},{462,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{424,84}}</string>
                <key>offset</key>
                <string>{-33,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,139},{424,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{424,84}}</string>
                <key>offset</key>
                <string>{-33,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,139},{424,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{424,84}}</string>
                <key>offset</key>
                <string>{-33,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,139},{424,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{424,84}}</string>
                <key>offset</key>
                <string>{-33,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,139},{424,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{312,256}}</string>
                <key>offset</key>
                <string>{28,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,105},{312,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{320,286}}</string>
                <key>offset</key>
                <string>{29,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,78},{320,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,290}}</string>
                <key>offset</key>
                <string>{36,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,75},{324,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{316,282}}</string>
                <key>offset</key>
                <string>{36,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,79},{316,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{300,284}}</string>
                <key>offset</key>
                <string>{45,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,78},{300,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{300,284}}</string>
                <key>offset</key>
                <string>{45,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,78},{300,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,582},{282,268}}</string>
                <key>offset</key>
                <string>{54,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,94},{282,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,582},{282,268}}</string>
                <key>offset</key>
                <string>{54,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,94},{282,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,466},{216,248}}</string>
                <key>offset</key>
                <string>{66,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,92},{216,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,466},{216,248}}</string>
                <key>offset</key>
                <string>{66,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,92},{216,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,286},{208,244}}</string>
                <key>offset</key>
                <string>{72,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,94},{208,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,286},{208,244}}</string>
                <key>offset</key>
                <string>{72,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,94},{208,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,286},{208,244}}</string>
                <key>offset</key>
                <string>{72,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,94},{208,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,716},{200,238}}</string>
                <key>offset</key>
                <string>{80,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,98},{200,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,716},{200,238}}</string>
                <key>offset</key>
                <string>{80,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,98},{200,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,716},{200,238}}</string>
                <key>offset</key>
                <string>{80,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,98},{200,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_15_a.pvr.ccz</string>
            <key>size</key>
            <string>{1000,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ae652efff199e930968aea744418b45:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_15_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
