<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jl_bx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,272},{270,268}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,173},{270,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,272},{270,268}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,173},{270,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,272},{270,268}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,173},{270,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,272},{270,268}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,173},{270,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,540},{256,268}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,173},{256,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,540},{256,268}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,173},{256,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,540},{256,268}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,173},{256,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,540},{256,268}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,173},{256,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{272,266}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,175},{272,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{272,266}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,175},{272,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{272,266}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,175},{272,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{272,266}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,175},{272,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,276},{268,262}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,179},{268,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,276},{268,262}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,179},{268,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,276},{268,262}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,179},{268,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,276},{268,262}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,179},{268,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{286,268}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,173},{286,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{286,268}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,173},{286,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{286,268}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,173},{286,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{286,268}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,173},{286,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{274,268}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,173},{274,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{274,268}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,173},{274,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{274,268}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,173},{274,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{274,268}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,173},{274,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,286}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,155},{286,286}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,286}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,155},{286,286}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,286}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,155},{286,286}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,286}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,155},{286,286}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,560},{278,270}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,171},{278,270}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,560},{278,270}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,171},{278,270}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,560},{278,270}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,171},{278,270}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,560},{278,270}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,171},{278,270}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{276,284}}</string>
                <key>offset</key>
                <string>{9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,157},{276,284}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{276,284}}</string>
                <key>offset</key>
                <string>{9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,157},{276,284}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{276,284}}</string>
                <key>offset</key>
                <string>{9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,157},{276,284}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{276,284}}</string>
                <key>offset</key>
                <string>{9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,157},{276,284}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{224,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,175}}</string>
                <key>sourceSize</key>
                <string>{224,175}</string>
            </dict>
            <key>jl_bx0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,276},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,276},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,276},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,766},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,766},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,766},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,540},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,540},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,540},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,832},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,832},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,832},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,810},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,810},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_bx0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,810},{224,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,261},{224,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_jl_bx_1008.pvr.ccz</string>
            <key>size</key>
            <string>{1011,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3b9e9c5272c383d2a5640e6c42894f1:1/1$</string>
            <key>textureFileName</key>
            <string>Role_jl_bx_1008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
