<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_hys0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,628},{184,196}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,238},{184,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,628},{184,196}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,238},{184,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,628},{184,196}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,238},{184,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,628},{184,196}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,238},{184,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,136},{160,246}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,185},{160,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,136},{160,246}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,185},{160,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{152,222}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,211},{152,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{152,222}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,211},{152,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{152,222}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,211},{152,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{152,222}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,211},{152,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{152,222}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,211},{152,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{152,222}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,211},{152,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{152,222}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,211},{152,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,826},{162,194}}</string>
                <key>offset</key>
                <string>{9,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,242},{162,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,826},{162,194}}</string>
                <key>offset</key>
                <string>{9,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,242},{162,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{210,190}}</string>
                <key>offset</key>
                <string>{-21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,250},{210,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{210,190}}</string>
                <key>offset</key>
                <string>{-21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,250},{210,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{210,190}}</string>
                <key>offset</key>
                <string>{-21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,250},{210,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{210,190}}</string>
                <key>offset</key>
                <string>{-21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,250},{210,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{210,190}}</string>
                <key>offset</key>
                <string>{-21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,250},{210,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{210,190}}</string>
                <key>offset</key>
                <string>{-21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,250},{210,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,510},{208,194}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,246},{208,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,510},{208,194}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,246},{208,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,510},{208,194}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,246},{208,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,510},{208,194}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,246},{208,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,298},{210,244}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,187},{210,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,298},{210,244}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,187},{210,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,310},{114,174}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,216},{114,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,310},{114,174}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,216},{114,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,136},{104,130}}</string>
                <key>offset</key>
                <string>{31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,236},{104,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,136},{104,130}}</string>
                <key>offset</key>
                <string>{31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,236},{104,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,900},{94,162}}</string>
                <key>offset</key>
                <string>{41,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,220},{94,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,900},{94,162}}</string>
                <key>offset</key>
                <string>{41,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,220},{94,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,268},{162,100}}</string>
                <key>offset</key>
                <string>{42,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,252},{162,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,268},{162,100}}</string>
                <key>offset</key>
                <string>{42,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,252},{162,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,310},{114,174}}</string>
                <key>offset</key>
                <string>{31,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,201},{114,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,310},{114,174}}</string>
                <key>offset</key>
                <string>{31,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,201},{114,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,432},{156,124}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,245},{156,124}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,432},{156,124}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,245},{156,124}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,786},{150,154}}</string>
                <key>offset</key>
                <string>{31,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,218},{150,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,786},{150,154}}</string>
                <key>offset</key>
                <string>{31,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,218},{150,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,706},{194,192}}</string>
                <key>offset</key>
                <string>{37,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,160},{194,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,706},{194,192}}</string>
                <key>offset</key>
                <string>{37,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,160},{194,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{198,186}}</string>
                <key>offset</key>
                <string>{33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{198,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{198,186}}</string>
                <key>offset</key>
                <string>{33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{198,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{198,186}}</string>
                <key>offset</key>
                <string>{33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{198,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{198,186}}</string>
                <key>offset</key>
                <string>{33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{198,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{198,186}}</string>
                <key>offset</key>
                <string>{33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{198,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{198,186}}</string>
                <key>offset</key>
                <string>{33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{198,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{164,204}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,196},{164,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{164,204}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,196},{164,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{164,204}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,196},{164,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,426},{172,200}}</string>
                <key>offset</key>
                <string>{10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,231},{172,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,426},{172,200}}</string>
                <key>offset</key>
                <string>{10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,231},{172,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,426},{172,200}}</string>
                <key>offset</key>
                <string>{10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,231},{172,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,426},{172,200}}</string>
                <key>offset</key>
                <string>{10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,231},{172,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,590},{170,194}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,251},{170,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,590},{170,194}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,251},{170,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,590},{170,194}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,251},{170,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,156}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,222},{416,156}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,156}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,222},{416,156}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{402,148}}</string>
                <key>offset</key>
                <string>{64,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,217},{402,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{334,132}}</string>
                <key>offset</key>
                <string>{96,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,217},{334,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{334,132}}</string>
                <key>offset</key>
                <string>{96,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,217},{334,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_32_a.pvr.ccz</string>
            <key>size</key>
            <string>{782,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0566d66b6bf19b0dbafa6d00c7c11d45:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_32_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
