<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_yg0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,554},{144,180}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,261},{144,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,554},{144,180}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,261},{144,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,554},{144,180}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,261},{144,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,554},{144,180}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,261},{144,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,376},{168,172}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,269},{168,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,376},{168,172}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,269},{168,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,376},{168,172}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,269},{168,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,376},{168,172}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,269},{168,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,376},{168,172}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,269},{168,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,376},{168,172}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,269},{168,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{228,168}}</string>
                <key>offset</key>
                <string>{-43,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,273},{228,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{228,168}}</string>
                <key>offset</key>
                <string>{-43,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,273},{228,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{228,168}}</string>
                <key>offset</key>
                <string>{-43,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,273},{228,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{236,200}}</string>
                <key>offset</key>
                <string>{120,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,240},{236,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{236,200}}</string>
                <key>offset</key>
                <string>{120,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,240},{236,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,376},{118,200}}</string>
                <key>offset</key>
                <string>{46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,240},{118,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,376},{118,200}}</string>
                <key>offset</key>
                <string>{46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,240},{118,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{210,200}}</string>
                <key>offset</key>
                <string>{16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,239},{210,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{210,200}}</string>
                <key>offset</key>
                <string>{16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,239},{210,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{236,200}}</string>
                <key>offset</key>
                <string>{120,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,240},{236,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{236,200}}</string>
                <key>offset</key>
                <string>{120,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,240},{236,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,376},{118,200}}</string>
                <key>offset</key>
                <string>{46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,240},{118,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,376},{118,200}}</string>
                <key>offset</key>
                <string>{46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,240},{118,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{210,200}}</string>
                <key>offset</key>
                <string>{16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,239},{210,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{210,200}}</string>
                <key>offset</key>
                <string>{16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,239},{210,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{164,198}}</string>
                <key>offset</key>
                <string>{37,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,242},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{236,200}}</string>
                <key>offset</key>
                <string>{120,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,240},{236,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{236,200}}</string>
                <key>offset</key>
                <string>{120,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,240},{236,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,204},{220,170}}</string>
                <key>offset</key>
                <string>{-49,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,271},{220,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,204},{220,170}}</string>
                <key>offset</key>
                <string>{-49,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,271},{220,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,204},{220,170}}</string>
                <key>offset</key>
                <string>{-49,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,271},{220,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,204},{220,170}}</string>
                <key>offset</key>
                <string>{-49,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,271},{220,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,204},{220,170}}</string>
                <key>offset</key>
                <string>{-49,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,271},{220,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,204},{220,170}}</string>
                <key>offset</key>
                <string>{-49,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,271},{220,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,204},{220,170}}</string>
                <key>offset</key>
                <string>{-49,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,271},{220,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,178}}</string>
                <key>offset</key>
                <string>{-73,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,263},{264,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,178}}</string>
                <key>offset</key>
                <string>{-73,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,263},{264,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,178}}</string>
                <key>offset</key>
                <string>{-73,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,263},{264,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_39_a.pvr.ccz</string>
            <key>size</key>
            <string>{506,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8556626a46cd41ab77cce2c73e6bae2:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_39_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
