<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_xln0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,696},{178,160}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,208},{178,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,696},{178,160}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,208},{178,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,696},{178,160}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,208},{178,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,696},{194,154}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,214},{194,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,696},{194,154}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,214},{194,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,696},{194,154}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,214},{194,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,716},{168,156}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,212},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,716},{168,156}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,212},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,716},{168,156}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,212},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,716},{168,156}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,212},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,716},{168,156}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,212},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,716},{168,156}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,212},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,716},{168,156}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,212},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,716},{168,156}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,212},{168,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,530},{184,168}}</string>
                <key>offset</key>
                <string>{-8,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,200},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,530},{184,168}}</string>
                <key>offset</key>
                <string>{-8,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,200},{184,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{172,166}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,201},{172,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{172,166}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,201},{172,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{172,166}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,201},{172,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{172,166}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,201},{172,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{178,168}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,200},{178,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{178,168}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,200},{178,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{178,168}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,200},{178,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{178,168}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,200},{178,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{178,168}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,200},{178,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{178,168}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,200},{178,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{178,168}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,200},{178,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,858},{154,172}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,196},{154,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,858},{154,172}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,196},{154,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,858},{154,172}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,196},{154,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xlna0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,528},{254,166}}</string>
                <key>offset</key>
                <string>{51,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,260},{254,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,528},{254,166}}</string>
                <key>offset</key>
                <string>{51,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,260},{254,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{298,186}}</string>
                <key>offset</key>
                <string>{77,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,251},{298,186}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{298,186}}</string>
                <key>offset</key>
                <string>{77,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,251},{298,186}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{328,220}}</string>
                <key>offset</key>
                <string>{62,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,233},{328,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{328,220}}</string>
                <key>offset</key>
                <string>{62,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,233},{328,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,244}}</string>
                <key>offset</key>
                <string>{42,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,222},{368,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,244}}</string>
                <key>offset</key>
                <string>{42,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,222},{368,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{336,260}}</string>
                <key>offset</key>
                <string>{58,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,214},{336,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{336,260}}</string>
                <key>offset</key>
                <string>{58,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,214},{336,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,264},{268,262}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,212},{268,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,264},{268,262}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,212},{268,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,264},{132,264}}</string>
                <key>offset</key>
                <string>{76,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,210},{132,264}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_xlna0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,264},{132,264}}</string>
                <key>offset</key>
                <string>{76,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,210},{132,264}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_38_a.pvr.ccz</string>
            <key>size</key>
            <string>{736,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8c1404373d92fee57bf8656374b5c0d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_38_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
