<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zlc0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,792},{136,174}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,193},{136,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,792},{136,174}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,193},{136,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,792},{136,174}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,193},{136,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,792},{136,174}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,193},{136,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,716},{138,152}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,216},{138,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,716},{138,152}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,216},{138,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,716},{138,152}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,216},{138,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,818},{164,162}}</string>
                <key>offset</key>
                <string>{17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,205},{164,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,818},{164,162}}</string>
                <key>offset</key>
                <string>{17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,205},{164,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{274,166}}</string>
                <key>offset</key>
                <string>{68,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,201},{274,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{274,166}}</string>
                <key>offset</key>
                <string>{68,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,201},{274,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{266,170}}</string>
                <key>offset</key>
                <string>{61,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,197},{266,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{266,170}}</string>
                <key>offset</key>
                <string>{61,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,197},{266,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{266,170}}</string>
                <key>offset</key>
                <string>{61,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,197},{266,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{266,170}}</string>
                <key>offset</key>
                <string>{61,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,197},{266,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{266,170}}</string>
                <key>offset</key>
                <string>{61,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,197},{266,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{266,170}}</string>
                <key>offset</key>
                <string>{61,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,197},{266,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,174},{150,170}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,200},{150,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,174},{150,170}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,200},{150,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,174},{150,170}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,200},{150,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,174},{150,170}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,200},{150,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,818},{160,158}}</string>
                <key>offset</key>
                <string>{-18,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,212},{160,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,812},{160,156}}</string>
                <key>offset</key>
                <string>{-18,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,214},{160,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,480},{186,186}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,184},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,480},{186,186}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,184},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,480},{186,186}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,184},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,480},{186,186}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,184},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,480},{186,186}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,184},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,480},{186,186}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,184},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,792},{136,174}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,193},{136,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,792},{136,174}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,193},{136,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,792},{136,174}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,193},{136,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,576},{138,158}}</string>
                <key>offset</key>
                <string>{12,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,210},{138,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,576},{138,158}}</string>
                <key>offset</key>
                <string>{12,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,210},{138,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,576},{138,158}}</string>
                <key>offset</key>
                <string>{12,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,210},{138,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,576},{138,158}}</string>
                <key>offset</key>
                <string>{12,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,210},{138,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,390},{184,140}}</string>
                <key>offset</key>
                <string>{19,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,227},{184,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,390},{184,140}}</string>
                <key>offset</key>
                <string>{19,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,227},{184,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,390},{184,140}}</string>
                <key>offset</key>
                <string>{19,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,227},{184,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,164}}</string>
                <key>offset</key>
                <string>{74,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,203},{302,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,164}}</string>
                <key>offset</key>
                <string>{74,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,203},{302,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,486},{176,166}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,201},{176,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,486},{176,166}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,201},{176,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,486},{176,166}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,201},{176,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,486},{176,166}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,201},{176,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,486},{176,166}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,201},{176,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,486},{176,166}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,201},{176,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,346},{138,178}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,189},{138,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,346},{138,178}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,189},{138,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,668},{142,184}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,183},{142,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,668},{142,184}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,183},{142,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,668},{142,184}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,183},{142,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,210},{138,178}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,189},{138,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,210},{138,178}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,189},{138,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,210},{138,178}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,189},{138,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,210},{138,178}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,189},{138,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,210},{138,178}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,189},{138,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,174},{168,192}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,175},{168,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,174},{168,192}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,175},{168,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{232,210}}</string>
                <key>offset</key>
                <string>{60,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,157},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{232,210}}</string>
                <key>offset</key>
                <string>{60,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,157},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{232,210}}</string>
                <key>offset</key>
                <string>{60,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,157},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,314},{154,208}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,159},{154,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,314},{154,208}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,159},{154,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{248,208}}</string>
                <key>offset</key>
                <string>{62,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,159},{248,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{248,208}}</string>
                <key>offset</key>
                <string>{62,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,159},{248,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{248,208}}</string>
                <key>offset</key>
                <string>{62,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,159},{248,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{124,206}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,161},{124,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{124,206}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,161},{124,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{240,208}}</string>
                <key>offset</key>
                <string>{96,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,159},{240,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{240,208}}</string>
                <key>offset</key>
                <string>{96,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,159},{240,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,170},{142,236}}</string>
                <key>offset</key>
                <string>{39,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,131},{142,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{180,208}}</string>
                <key>offset</key>
                <string>{46,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,159},{180,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{180,208}}</string>
                <key>offset</key>
                <string>{46,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,159},{180,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{180,208}}</string>
                <key>offset</key>
                <string>{46,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,159},{180,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{180,208}}</string>
                <key>offset</key>
                <string>{46,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,159},{180,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,470},{166,194}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,173},{166,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,470},{166,194}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,173},{166,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,470},{166,194}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,173},{166,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,344},{134,188}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,179},{134,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,344},{134,188}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,179},{134,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,344},{134,188}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,179},{134,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlc0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,344},{134,188}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,179},{134,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,378},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,378},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,378},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,378},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,654},{136,174}}</string>
                <key>offset</key>
                <string>{-35,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,193},{136,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,654},{136,174}}</string>
                <key>offset</key>
                <string>{-35,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,193},{136,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,638},{194,178}}</string>
                <key>offset</key>
                <string>{-65,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,192},{194,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_40_a.pvr.ccz</string>
            <key>size</key>
            <string>{976,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72690e02108becc9e3b236e4521569f6:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_40_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
