<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dy0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{182,188}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,196},{182,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{182,188}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,196},{182,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{182,188}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,196},{182,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,186},{172,178}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,206},{172,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,186},{172,178}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,206},{172,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,186},{172,178}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,206},{172,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,186},{172,178}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,206},{172,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{108,232}}</string>
                <key>offset</key>
                <string>{53,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,152},{108,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{108,232}}</string>
                <key>offset</key>
                <string>{53,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,152},{108,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,236},{122,218}}</string>
                <key>offset</key>
                <string>{43,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,165},{122,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,236},{122,218}}</string>
                <key>offset</key>
                <string>{43,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,165},{122,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,236},{122,218}}</string>
                <key>offset</key>
                <string>{43,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,165},{122,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,236},{122,218}}</string>
                <key>offset</key>
                <string>{43,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,165},{122,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,236},{122,218}}</string>
                <key>offset</key>
                <string>{43,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,165},{122,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,290},{118,196}}</string>
                <key>offset</key>
                <string>{46,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,187},{118,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,290},{118,196}}</string>
                <key>offset</key>
                <string>{46,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,187},{118,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,290},{118,196}}</string>
                <key>offset</key>
                <string>{46,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,187},{118,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,456},{120,172}}</string>
                <key>offset</key>
                <string>{37,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,212},{120,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,456},{120,172}}</string>
                <key>offset</key>
                <string>{37,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,212},{120,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,456},{120,172}}</string>
                <key>offset</key>
                <string>{37,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,212},{120,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,456},{120,172}}</string>
                <key>offset</key>
                <string>{37,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,212},{120,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,176},{112,206}}</string>
                <key>offset</key>
                <string>{44,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,168},{112,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,176},{112,206}}</string>
                <key>offset</key>
                <string>{44,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,168},{112,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,410},{164,196}}</string>
                <key>offset</key>
                <string>{29,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,116},{164,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,410},{164,196}}</string>
                <key>offset</key>
                <string>{29,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,116},{164,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,410},{144,214}}</string>
                <key>offset</key>
                <string>{43,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,109},{144,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,410},{144,214}}</string>
                <key>offset</key>
                <string>{43,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,109},{144,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,410},{144,214}}</string>
                <key>offset</key>
                <string>{43,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,109},{144,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,410},{144,214}}</string>
                <key>offset</key>
                <string>{43,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,109},{144,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,410},{144,214}}</string>
                <key>offset</key>
                <string>{43,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,109},{144,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,188},{158,222}}</string>
                <key>offset</key>
                <string>{39,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,114},{158,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,188},{158,222}}</string>
                <key>offset</key>
                <string>{39,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,114},{158,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,188},{158,222}}</string>
                <key>offset</key>
                <string>{39,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,114},{158,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,188},{158,222}}</string>
                <key>offset</key>
                <string>{39,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,114},{158,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,188},{158,222}}</string>
                <key>offset</key>
                <string>{39,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,114},{158,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{244,178}}</string>
                <key>offset</key>
                <string>{127,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,137},{244,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,204}}</string>
                <key>offset</key>
                <string>{128,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,110},{244,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,204}}</string>
                <key>offset</key>
                <string>{128,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,110},{244,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,360},{192,114}}</string>
                <key>offset</key>
                <string>{147,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,111},{192,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,578},{148,66}}</string>
                <key>offset</key>
                <string>{103,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,130},{148,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,578},{148,66}}</string>
                <key>offset</key>
                <string>{103,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,130},{148,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,410},{164,58}}</string>
                <key>offset</key>
                <string>{95,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,225},{164,58}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{208,82}}</string>
                <key>offset</key>
                <string>{133,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,240},{208,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{208,82}}</string>
                <key>offset</key>
                <string>{133,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,240},{208,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{208,82}}</string>
                <key>offset</key>
                <string>{133,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,240},{208,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{208,172}}</string>
                <key>offset</key>
                <string>{146,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,155},{208,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{208,172}}</string>
                <key>offset</key>
                <string>{146,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,155},{208,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{222,186}}</string>
                <key>offset</key>
                <string>{139,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,139},{222,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{222,186}}</string>
                <key>offset</key>
                <string>{139,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,139},{222,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{222,186}}</string>
                <key>offset</key>
                <string>{139,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,139},{222,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{228,184}}</string>
                <key>offset</key>
                <string>{136,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,131},{228,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,556},{116,60}}</string>
                <key>offset</key>
                <string>{192,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,235},{116,60}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,556},{202,68}}</string>
                <key>offset</key>
                <string>{149,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,234},{202,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,556},{202,68}}</string>
                <key>offset</key>
                <string>{149,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,234},{202,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,576},{220,70}}</string>
                <key>offset</key>
                <string>{140,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,237},{220,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,576},{220,70}}</string>
                <key>offset</key>
                <string>{140,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,237},{220,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,576},{220,70}}</string>
                <key>offset</key>
                <string>{140,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,237},{220,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,348},{224,60}}</string>
                <key>offset</key>
                <string>{138,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,246},{224,60}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,388},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_18_a.pvr.ccz</string>
            <key>size</key>
            <string>{990,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd38a1bbf6af28144746e25d3027d507:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_18_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
