<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jmz0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,312},{176,208}}</string>
                <key>offset</key>
                <string>{17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,172},{176,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,312},{176,208}}</string>
                <key>offset</key>
                <string>{17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,172},{176,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,312},{176,208}}</string>
                <key>offset</key>
                <string>{17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,172},{176,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{178,216}}</string>
                <key>offset</key>
                <string>{20,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,163},{178,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{178,216}}</string>
                <key>offset</key>
                <string>{20,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,163},{178,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{178,216}}</string>
                <key>offset</key>
                <string>{20,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,163},{178,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,312},{180,210}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,170},{180,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,312},{180,210}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,170},{180,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,312},{180,210}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,170},{180,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,280},{156,134}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,249},{156,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,280},{156,134}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,249},{156,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,280},{156,134}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,249},{156,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,132},{158,146}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,238},{158,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,132},{158,146}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,238},{158,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,132},{158,146}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,238},{158,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,132},{160,148}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,237},{160,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,132},{160,148}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,237},{160,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,132},{160,148}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,237},{160,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,416},{152,124}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,254},{152,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,416},{152,124}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,254},{152,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,416},{152,124}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,254},{152,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,416},{144,136}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,242},{144,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,416},{144,136}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,242},{144,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,416},{144,136}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,242},{144,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,312},{162,162}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,217},{162,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmz0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,312},{162,162}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,217},{162,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{308,176}}</string>
                <key>offset</key>
                <string>{77,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,290},{308,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{308,176}}</string>
                <key>offset</key>
                <string>{77,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,290},{308,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{308,176}}</string>
                <key>offset</key>
                <string>{77,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,290},{308,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{308,176}}</string>
                <key>offset</key>
                <string>{77,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,290},{308,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{308,154}}</string>
                <key>offset</key>
                <string>{77,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,321},{308,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{308,154}}</string>
                <key>offset</key>
                <string>{77,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,321},{308,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,160}}</string>
                <key>offset</key>
                <string>{78,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,320},{310,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,160}}</string>
                <key>offset</key>
                <string>{78,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,320},{310,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,160}}</string>
                <key>offset</key>
                <string>{78,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,320},{310,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,160}}</string>
                <key>offset</key>
                <string>{78,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,320},{310,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{308,150}}</string>
                <key>offset</key>
                <string>{77,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,323},{308,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{308,150}}</string>
                <key>offset</key>
                <string>{77,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,323},{308,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{308,150}}</string>
                <key>offset</key>
                <string>{77,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,323},{308,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{308,150}}</string>
                <key>offset</key>
                <string>{77,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,323},{308,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{302,128}}</string>
                <key>offset</key>
                <string>{78,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,337},{302,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{302,128}}</string>
                <key>offset</key>
                <string>{78,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,337},{302,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jmza0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_15_b.pvr.ccz</string>
            <key>size</key>
            <string>{1006,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:030b38eb8e41e8868b8942b189d048e9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_15_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
