<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_gj0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{146,174}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,196},{146,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{146,174}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,196},{146,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{146,174}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,196},{146,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{146,174}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,196},{146,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{172,180}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,190},{172,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{172,180}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,190},{172,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{172,180}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,190},{172,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,224},{170,216}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,154},{170,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,224},{170,216}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,154},{170,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,224},{170,216}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,154},{170,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{170,220}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,150},{170,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{170,220}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,150},{170,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{174,212}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,158},{174,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{174,212}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,158},{174,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{170,220}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,150},{170,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{170,220}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,150},{170,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{174,212}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,158},{174,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{174,212}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,158},{174,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{170,220}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,150},{170,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{170,220}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,150},{170,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{174,212}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,158},{174,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{174,212}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,158},{174,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,250},{184,190}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,180},{184,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,250},{184,190}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,180},{184,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,250},{184,190}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,180},{184,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,250},{184,190}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,180},{184,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,250},{184,190}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,180},{184,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,190},{170,182}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,188},{170,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,190},{170,182}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,188},{170,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,190},{170,182}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,188},{170,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,288},{162,54}}</string>
                <key>offset</key>
                <string>{44,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,210},{162,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,288},{162,54}}</string>
                <key>offset</key>
                <string>{44,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,210},{162,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,288},{164,54}}</string>
                <key>offset</key>
                <string>{54,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,210},{164,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,288},{164,54}}</string>
                <key>offset</key>
                <string>{54,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,210},{164,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,288},{162,54}}</string>
                <key>offset</key>
                <string>{64,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,210},{162,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,288},{162,54}}</string>
                <key>offset</key>
                <string>{64,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,210},{162,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{186,66}}</string>
                <key>offset</key>
                <string>{65,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,198},{186,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{186,66}}</string>
                <key>offset</key>
                <string>{65,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,198},{186,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,232},{164,54}}</string>
                <key>offset</key>
                <string>{65,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,198},{164,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,232},{164,54}}</string>
                <key>offset</key>
                <string>{65,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,198},{164,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,250},{192,56}}</string>
                <key>offset</key>
                <string>{62,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,198},{192,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,250},{192,56}}</string>
                <key>offset</key>
                <string>{62,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,198},{192,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,250},{194,56}}</string>
                <key>offset</key>
                <string>{72,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,198},{194,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,250},{194,56}}</string>
                <key>offset</key>
                <string>{72,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,198},{194,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,374},{162,54}}</string>
                <key>offset</key>
                <string>{67,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,200},{162,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,374},{162,54}}</string>
                <key>offset</key>
                <string>{67,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,200},{162,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,176},{164,54}}</string>
                <key>offset</key>
                <string>{79,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,200},{164,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,176},{164,54}}</string>
                <key>offset</key>
                <string>{79,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,200},{164,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>pao_gj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pao_gj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pao_gj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pao_gj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pao_gj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pao_gj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pao_gj0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pao_gj0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pao_gj0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pao_gj0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pao_gj0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,70}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{246,70}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_36_b.pvr.ccz</string>
            <key>size</key>
            <string>{1006,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adcaefa6487a4e6bee552acb209f93d9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_36_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
