<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_amdizi0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{108,170}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,189},{108,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{108,170}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,189},{108,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{108,170}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,189},{108,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{136,180}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,188},{136,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{136,180}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,188},{136,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{136,180}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,188},{136,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{136,180}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,188},{136,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{136,180}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,188},{136,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{136,180}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,188},{136,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{136,180}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,188},{136,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,144}}</string>
                <key>offset</key>
                <string>{80,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,224},{198,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,144}}</string>
                <key>offset</key>
                <string>{80,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,224},{198,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{128,138}}</string>
                <key>offset</key>
                <string>{68,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,230},{128,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{128,138}}</string>
                <key>offset</key>
                <string>{68,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,230},{128,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{128,138}}</string>
                <key>offset</key>
                <string>{68,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,230},{128,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{128,138}}</string>
                <key>offset</key>
                <string>{68,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,230},{128,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{128,138}}</string>
                <key>offset</key>
                <string>{68,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,230},{128,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{128,138}}</string>
                <key>offset</key>
                <string>{68,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,230},{128,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,142},{106,136}}</string>
                <key>offset</key>
                <string>{68,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,232},{106,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,142},{106,136}}</string>
                <key>offset</key>
                <string>{68,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,232},{106,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,142},{106,136}}</string>
                <key>offset</key>
                <string>{68,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,232},{106,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{84,146}}</string>
                <key>offset</key>
                <string>{54,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,222},{84,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{84,146}}</string>
                <key>offset</key>
                <string>{54,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,222},{84,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{84,146}}</string>
                <key>offset</key>
                <string>{54,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,222},{84,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{68,160}}</string>
                <key>offset</key>
                <string>{31,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,208},{68,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{68,160}}</string>
                <key>offset</key>
                <string>{31,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,208},{68,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizi0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{68,160}}</string>
                <key>offset</key>
                <string>{31,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,208},{68,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,190},{346,88}}</string>
                <key>offset</key>
                <string>{54,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,210},{346,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,184},{354,96}}</string>
                <key>offset</key>
                <string>{59,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,208},{354,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{362,98}}</string>
                <key>offset</key>
                <string>{65,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,208},{362,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,102},{350,86}}</string>
                <key>offset</key>
                <string>{75,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,220},{350,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_amdizia0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_21.pvr.ccz</string>
            <key>size</key>
            <string>{992,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aabbb71b3ebd74cbcba7ccc01b0c9db2:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_21.pvr.ccz</string>
        </dict>
    </dict>
</plist>
