<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_ybqa0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,132},{266,26}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,130},{266,26}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,104},{266,26}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,129},{266,26}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,104},{266,26}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,129},{266,26}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,102},{264,94}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,133},{264,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,102},{264,94}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,133},{264,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,102},{264,94}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,133},{264,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{266,96}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,130},{266,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{266,98}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,129},{266,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{266,98}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,129},{266,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{268,100}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,127},{268,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,80}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,147},{194,80}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,80}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,147},{194,80}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_ybqa0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_41_b.pvr.ccz</string>
            <key>size</key>
            <string>{890,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b665c72e691bed6bd5494b91ae2ca936:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_41_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
