<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_lmc0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{158,194}}</string>
                <key>offset</key>
                <string>{-39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,173},{158,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{158,194}}</string>
                <key>offset</key>
                <string>{-39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,173},{158,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{158,194}}</string>
                <key>offset</key>
                <string>{-39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,173},{158,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{158,194}}</string>
                <key>offset</key>
                <string>{-39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,173},{158,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{130,194}}</string>
                <key>offset</key>
                <string>{-57,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,165},{130,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{130,194}}</string>
                <key>offset</key>
                <string>{-57,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,165},{130,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{130,194}}</string>
                <key>offset</key>
                <string>{-57,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,165},{130,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,194}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,162},{206,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,194}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,162},{206,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,194}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,162},{206,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,194}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,162},{206,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{170,186}}</string>
                <key>offset</key>
                <string>{-22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,171},{170,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{170,186}}</string>
                <key>offset</key>
                <string>{-22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,171},{170,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{170,186}}</string>
                <key>offset</key>
                <string>{-22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,171},{170,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,198},{132,180}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,178},{132,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,198},{132,180}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,178},{132,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,198},{132,180}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,178},{132,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,198},{132,180}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,178},{132,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{206,132}}</string>
                <key>offset</key>
                <string>{-14,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,229},{206,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{206,132}}</string>
                <key>offset</key>
                <string>{-14,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,229},{206,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{184,120}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{184,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{184,120}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{184,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{184,120}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{184,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{184,120}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{184,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{184,120}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{184,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{184,120}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{184,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{184,120}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{184,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{184,120}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{184,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{184,120}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{184,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,210},{170,152}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,206},{170,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,210},{170,152}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,206},{170,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,210},{170,152}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,206},{170,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,198},{168,186}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,178},{168,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,198},{168,186}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,178},{168,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,198},{168,186}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,178},{168,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>lmc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,124},{86,76}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,35},{86,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,124},{86,76}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,35},{86,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,202},{120,110}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,21},{120,110}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,202},{120,110}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,21},{120,110}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,202},{120,110}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,21},{120,110}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,188},{132,116}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,19},{132,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,188},{132,116}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,19},{132,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,188},{132,116}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,19},{132,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{126,120}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,19},{126,120}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{126,120}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,19},{126,120}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{126,120}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,19},{126,120}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{126,122}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,17},{126,122}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{126,122}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,17},{126,122}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{126,122}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,17},{126,122}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,126},{120,108}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,22},{120,108}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,126},{120,108}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,22},{120,108}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,126},{120,108}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,22},{120,108}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,248},{102,98}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,248},{102,98}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,248},{102,98}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>lmc_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,348},{102,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{102,16}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>lmc_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,322},{102,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{102,16}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>lmc_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,358},{102,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{102,16}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>lmc_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,358},{102,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{102,16}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>lmc_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,340},{102,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{102,16}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>lmc_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,322},{102,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{102,16}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_25_a.pvr.ccz</string>
            <key>size</key>
            <string>{1016,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:381e951250df35ab85acb906a71b911c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_25_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
