<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_xz0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,570},{148,182}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,169},{148,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,570},{148,182}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,169},{148,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,570},{148,182}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,169},{148,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,570},{148,182}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,169},{148,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{252,192}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,140},{252,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{252,192}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,140},{252,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,196},{244,180}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,160},{244,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,196},{244,180}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,160},{244,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,378},{190,182}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,173},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,378},{190,182}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,173},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,378},{190,182}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,173},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,378},{190,182}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,173},{190,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,554},{206,176}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,168},{206,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,554},{206,176}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,168},{206,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{286,188}}</string>
                <key>offset</key>
                <string>{30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,144},{286,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{286,188}}</string>
                <key>offset</key>
                <string>{30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,144},{286,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,554},{192,176}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,160},{192,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,554},{192,176}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,160},{192,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,378},{148,182}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,169},{148,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,378},{148,182}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,169},{148,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{132,352}}</string>
                <key>offset</key>
                <string>{61,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,25},{132,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,366}}</string>
                <key>offset</key>
                <string>{57,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,16},{142,366}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,732},{120,350}}</string>
                <key>offset</key>
                <string>{57,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,28},{120,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{136,364}}</string>
                <key>offset</key>
                <string>{54,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,20},{136,364}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,192},{110,360}}</string>
                <key>offset</key>
                <string>{58,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,13},{110,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,356},{132,350}}</string>
                <key>offset</key>
                <string>{105,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,17},{132,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{142,364}}</string>
                <key>offset</key>
                <string>{101,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,8},{142,364}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,732},{120,348}}</string>
                <key>offset</key>
                <string>{101,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,20},{120,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,368},{136,362}}</string>
                <key>offset</key>
                <string>{98,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,13},{136,362}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,192},{110,360}}</string>
                <key>offset</key>
                <string>{102,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,3},{110,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_18.pvr.ccz</string>
            <key>size</key>
            <string>{1010,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:903a78981b3fc311e807a93397e6dc36:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_18.pvr.ccz</string>
        </dict>
    </dict>
</plist>
