<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zwj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,362},{138,168}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,195},{138,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,362},{138,168}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,195},{138,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{142,172}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,191},{142,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{142,172}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,191},{142,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{142,172}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,191},{142,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{152,162}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,201},{152,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{152,162}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,201},{152,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{152,162}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,201},{152,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,166}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,197},{138,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,166}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,197},{138,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,166}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,197},{138,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,170},{134,170}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,193},{134,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,170},{134,170}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,193},{134,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,170},{134,170}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,193},{134,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,172}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,191},{138,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,172}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,191},{138,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,172}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,191},{138,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,194}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,171},{138,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,194}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,171},{138,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,194}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,171},{138,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{98,180}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,120},{98,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{98,180}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,120},{98,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{98,180}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,120},{98,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{98,180}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,120},{98,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{132,152}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,125},{132,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{132,152}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,125},{132,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{132,152}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,125},{132,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{132,152}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,125},{132,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{132,152}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,125},{132,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{132,152}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,125},{132,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{132,152}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,125},{132,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{152,132}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,192},{152,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{152,132}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,192},{152,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{152,132}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,192},{152,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{152,132}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,192},{152,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,170},{178,118}}</string>
                <key>offset</key>
                <string>{-17,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,264},{178,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,170},{178,118}}</string>
                <key>offset</key>
                <string>{-17,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,264},{178,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,170},{178,118}}</string>
                <key>offset</key>
                <string>{-17,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,264},{178,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,290},{200,96}}</string>
                <key>offset</key>
                <string>{-3,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,285},{200,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,290},{200,96}}</string>
                <key>offset</key>
                <string>{-3,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,285},{200,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,290},{200,96}}</string>
                <key>offset</key>
                <string>{-3,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,285},{200,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,102},{208,66}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,317},{208,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,102},{208,66}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,317},{208,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,102},{208,66}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,317},{208,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,156},{204,90}}</string>
                <key>offset</key>
                <string>{-7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,283},{204,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,156},{204,90}}</string>
                <key>offset</key>
                <string>{-7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,283},{204,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,156},{204,90}}</string>
                <key>offset</key>
                <string>{-7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,283},{204,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,156},{204,90}}</string>
                <key>offset</key>
                <string>{-7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,283},{204,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,290},{166,112}}</string>
                <key>offset</key>
                <string>{-19,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,257},{166,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,290},{166,112}}</string>
                <key>offset</key>
                <string>{-19,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,257},{166,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,290},{166,112}}</string>
                <key>offset</key>
                <string>{-19,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,257},{166,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,290},{166,112}}</string>
                <key>offset</key>
                <string>{-19,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,257},{166,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,248},{106,118}}</string>
                <key>offset</key>
                <string>{-20,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,248},{106,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,248},{106,118}}</string>
                <key>offset</key>
                <string>{-20,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,248},{106,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,248},{106,118}}</string>
                <key>offset</key>
                <string>{-20,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,248},{106,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,248},{106,118}}</string>
                <key>offset</key>
                <string>{-20,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,248},{106,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,368},{132,128}}</string>
                <key>offset</key>
                <string>{-10,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,239},{132,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,368},{132,128}}</string>
                <key>offset</key>
                <string>{-10,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,239},{132,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,368},{132,128}}</string>
                <key>offset</key>
                <string>{-10,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,239},{132,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,368},{132,128}}</string>
                <key>offset</key>
                <string>{-10,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,239},{132,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,342},{138,162}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,205},{138,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,342},{138,162}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,205},{138,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,342},{138,162}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,205},{138,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,342},{138,162}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,205},{138,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,176},{126,184}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,183},{126,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,176},{126,184}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,183},{126,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,176},{126,184}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,183},{126,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zwj0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,176},{126,184}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,183},{126,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_33.pvr.ccz</string>
            <key>size</key>
            <string>{874,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae6599f4b3e89d1917b1584bb303f524:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_33.pvr.ccz</string>
        </dict>
    </dict>
</plist>
