<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_l0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,138}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,191},{218,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,138}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,191},{218,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,138}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,191},{218,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,134},{200,142}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,187},{200,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,134},{200,142}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,187},{200,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,134},{200,142}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,187},{200,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,134},{200,142}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,187},{200,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{202,138}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,207},{202,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{202,138}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,207},{202,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{202,138}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,207},{202,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{202,138}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,207},{202,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,374},{224,72}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,273},{224,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,374},{224,72}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,273},{224,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,374},{224,72}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,273},{224,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,746},{210,70}}</string>
                <key>offset</key>
                <string>{-18,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,272},{210,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,746},{210,70}}</string>
                <key>offset</key>
                <string>{-18,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,272},{210,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,746},{210,70}}</string>
                <key>offset</key>
                <string>{-18,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,272},{210,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,746},{210,70}}</string>
                <key>offset</key>
                <string>{-18,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,272},{210,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,538},{206,72}}</string>
                <key>offset</key>
                <string>{-16,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,263},{206,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,538},{206,72}}</string>
                <key>offset</key>
                <string>{-16,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,263},{206,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,538},{206,72}}</string>
                <key>offset</key>
                <string>{-16,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,263},{206,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,538},{206,72}}</string>
                <key>offset</key>
                <string>{-16,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,263},{206,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,538},{206,72}}</string>
                <key>offset</key>
                <string>{-16,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,263},{206,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,336},{200,96}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,240},{200,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,336},{200,96}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,240},{200,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,336},{200,96}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,240},{200,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,336},{200,96}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,240},{200,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,336},{200,96}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,240},{200,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,600},{218,106}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,230},{218,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,600},{218,106}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,230},{218,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,600},{218,106}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,230},{218,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,600},{218,106}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,230},{218,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,600},{218,106}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,230},{218,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{224,116}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,220},{224,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{224,116}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,220},{224,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{224,116}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,220},{224,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{224,116}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,220},{224,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{224,116}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,220},{224,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{230,120}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,213},{230,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{230,120}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,213},{230,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{230,120}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,213},{230,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{230,120}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,213},{230,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{230,120}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,213},{230,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{236,106}}</string>
                <key>offset</key>
                <string>{-35,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,227},{236,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{236,106}}</string>
                <key>offset</key>
                <string>{-35,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,227},{236,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{236,106}}</string>
                <key>offset</key>
                <string>{-35,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,227},{236,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,142},{220,100}}</string>
                <key>offset</key>
                <string>{-39,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,233},{220,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,142},{220,100}}</string>
                <key>offset</key>
                <string>{-39,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,233},{220,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,142},{220,100}}</string>
                <key>offset</key>
                <string>{-39,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,233},{220,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,142},{220,100}}</string>
                <key>offset</key>
                <string>{-39,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,233},{220,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,142},{220,100}}</string>
                <key>offset</key>
                <string>{-39,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,233},{220,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,580},{204,106}}</string>
                <key>offset</key>
                <string>{-34,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,227},{204,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,580},{204,106}}</string>
                <key>offset</key>
                <string>{-34,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,227},{204,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,580},{204,106}}</string>
                <key>offset</key>
                <string>{-34,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,227},{204,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,580},{204,106}}</string>
                <key>offset</key>
                <string>{-34,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,227},{204,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,820},{174,120}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,213},{174,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,820},{174,120}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,213},{174,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,820},{174,120}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,213},{174,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0616.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,820},{174,120}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,213},{174,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0617.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{174,130}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,203},{174,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0618.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{174,130}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,203},{174,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0619.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{174,130}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,203},{174,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0620.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{174,130}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,203},{174,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0621.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,364},{214,126}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,207},{214,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0622.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,364},{214,126}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,207},{214,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0623.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,364},{214,126}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,207},{214,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0624.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,364},{214,126}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,207},{214,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_43.pvr.ccz</string>
            <key>size</key>
            <string>{410,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8d453c90b9d41a46d05c84eb79ed28c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_43.pvr.ccz</string>
        </dict>
    </dict>
</plist>
