<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_yz0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,490},{202,208}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,140},{202,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,490},{202,208}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,140},{202,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,490},{202,208}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,140},{202,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{170,244}}</string>
                <key>offset</key>
                <string>{-55,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,98},{170,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{170,244}}</string>
                <key>offset</key>
                <string>{-55,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,98},{170,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{170,244}}</string>
                <key>offset</key>
                <string>{-55,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,98},{170,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{170,244}}</string>
                <key>offset</key>
                <string>{-55,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,98},{170,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{170,244}}</string>
                <key>offset</key>
                <string>{-55,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,98},{170,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{170,244}}</string>
                <key>offset</key>
                <string>{-55,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,98},{170,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,248},{146,240}}</string>
                <key>offset</key>
                <string>{-63,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,101},{146,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,248},{146,240}}</string>
                <key>offset</key>
                <string>{-63,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,101},{146,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,248},{146,240}}</string>
                <key>offset</key>
                <string>{-63,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,101},{146,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,248},{146,240}}</string>
                <key>offset</key>
                <string>{-63,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,101},{146,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,514},{226,176}}</string>
                <key>offset</key>
                <string>{-94,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,191},{226,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,514},{226,176}}</string>
                <key>offset</key>
                <string>{-94,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,191},{226,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,514},{226,176}}</string>
                <key>offset</key>
                <string>{-94,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,191},{226,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,514},{226,176}}</string>
                <key>offset</key>
                <string>{-94,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,191},{226,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,466},{222,122}}</string>
                <key>offset</key>
                <string>{-92,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,236},{222,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,466},{222,122}}</string>
                <key>offset</key>
                <string>{-92,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,236},{222,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,466},{222,122}}</string>
                <key>offset</key>
                <string>{-92,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,236},{222,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,466},{222,122}}</string>
                <key>offset</key>
                <string>{-92,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,236},{222,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{256,96}}</string>
                <key>offset</key>
                <string>{-93,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,254},{256,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{256,96}}</string>
                <key>offset</key>
                <string>{-93,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,254},{256,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{256,96}}</string>
                <key>offset</key>
                <string>{-93,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,254},{256,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{256,96}}</string>
                <key>offset</key>
                <string>{-93,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,254},{256,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,166},{188,102}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,237},{188,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,166},{188,102}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,237},{188,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,166},{188,102}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,237},{188,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,166},{188,102}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,237},{188,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,166},{188,102}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,237},{188,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,270},{186,118}}</string>
                <key>offset</key>
                <string>{-58,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,214},{186,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,270},{186,118}}</string>
                <key>offset</key>
                <string>{-58,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,214},{186,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,270},{186,118}}</string>
                <key>offset</key>
                <string>{-58,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,214},{186,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,270},{186,118}}</string>
                <key>offset</key>
                <string>{-58,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,214},{186,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,270},{186,118}}</string>
                <key>offset</key>
                <string>{-58,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,214},{186,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{200,140}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,196},{200,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{200,140}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,196},{200,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{200,140}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,196},{200,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{200,140}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,196},{200,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{200,140}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,196},{200,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,484},{166,160}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,182},{166,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,484},{166,160}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,182},{166,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,484},{166,160}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,182},{166,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,484},{166,160}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,182},{166,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,484},{166,160}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,182},{166,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{188,162}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,194},{188,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{188,162}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,194},{188,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{188,162}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,194},{188,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{188,162}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,194},{188,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{188,162}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,194},{188,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,142}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,196},{286,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,142}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,196},{286,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0528.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,142}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,196},{286,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0529.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,142}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,196},{286,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0530.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,142}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,196},{286,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,238},{226,192}}</string>
                <key>offset</key>
                <string>{-49,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,142},{226,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,238},{226,192}}</string>
                <key>offset</key>
                <string>{-49,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,142},{226,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,270},{196,212}}</string>
                <key>offset</key>
                <string>{-69,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,122},{196,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,270},{196,212}}</string>
                <key>offset</key>
                <string>{-69,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,122},{196,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,270},{196,212}}</string>
                <key>offset</key>
                <string>{-69,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,122},{196,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,270},{196,212}}</string>
                <key>offset</key>
                <string>{-69,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,122},{196,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,270},{196,212}}</string>
                <key>offset</key>
                <string>{-69,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,122},{196,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{220,212}}</string>
                <key>offset</key>
                <string>{-61,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,122},{220,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{220,212}}</string>
                <key>offset</key>
                <string>{-61,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,122},{220,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{220,212}}</string>
                <key>offset</key>
                <string>{-61,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,122},{220,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{234,172}}</string>
                <key>offset</key>
                <string>{-50,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,162},{234,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{234,172}}</string>
                <key>offset</key>
                <string>{-50,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,162},{234,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{234,172}}</string>
                <key>offset</key>
                <string>{-50,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,162},{234,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,260},{252,156}}</string>
                <key>offset</key>
                <string>{-43,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,178},{252,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,260},{252,156}}</string>
                <key>offset</key>
                <string>{-43,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,178},{252,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0616.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,260},{252,156}}</string>
                <key>offset</key>
                <string>{-43,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,178},{252,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0617.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{266,162}}</string>
                <key>offset</key>
                <string>{-36,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,177},{266,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0618.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{266,162}}</string>
                <key>offset</key>
                <string>{-36,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,177},{266,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_yz0619.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{266,162}}</string>
                <key>offset</key>
                <string>{-36,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,177},{266,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_44.pvr.ccz</string>
            <key>size</key>
            <string>{996,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c85438e65c6cbb06d6da2631ac8b1457:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_44.pvr.ccz</string>
        </dict>
    </dict>
</plist>
