<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_ya0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,164},{134,80}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,89},{134,80}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{152,94}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,82},{152,94}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,620},{142,96}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,83},{142,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,592},{134,86}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,90},{134,86}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,680},{90,84}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,70},{90,84}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,680},{88,82}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,74},{88,82}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,238},{160,118}}</string>
                <key>offset</key>
                <string>{-28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{160,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{160,116}}</string>
                <key>offset</key>
                <string>{-28,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{160,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,246},{162,116}}</string>
                <key>offset</key>
                <string>{-30,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{162,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,474},{156,116}}</string>
                <key>offset</key>
                <string>{-34,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{156,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,116}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{184,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,120},{178,116}}</string>
                <key>offset</key>
                <string>{-16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{178,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{178,120}}</string>
                <key>offset</key>
                <string>{-16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{178,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{178,120}}</string>
                <key>offset</key>
                <string>{-16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{178,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{176,116}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{176,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{180,116}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{180,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,582},{154,114}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,37},{154,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,582},{154,114}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,37},{154,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,364},{158,108}}</string>
                <key>offset</key>
                <string>{-32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{158,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{156,136}}</string>
                <key>offset</key>
                <string>{-33,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{156,136}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{156,136}}</string>
                <key>offset</key>
                <string>{-33,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{156,136}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,358},{160,110}}</string>
                <key>offset</key>
                <string>{-27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,62},{160,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,358},{160,110}}</string>
                <key>offset</key>
                <string>{-27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,62},{160,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,470},{158,110}}</string>
                <key>offset</key>
                <string>{-26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,61},{158,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>monster_ya0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_42.pvr.ccz</string>
            <key>size</key>
            <string>{509,774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:446a7bca71a821cb82c1ffc1dd43a79d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_42.pvr.ccz</string>
        </dict>
    </dict>
</plist>
