<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dcq0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,576},{198,192}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,226},{198,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,576},{198,192}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,226},{198,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,576},{198,192}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,226},{198,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,154},{194,126}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,221},{194,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,154},{194,126}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,221},{194,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,154},{194,126}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,221},{194,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,154},{194,126}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,221},{194,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,154},{194,126}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,221},{194,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,858},{140,144}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,283},{140,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,858},{140,144}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,283},{140,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,770},{136,162}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,264},{136,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,770},{136,162}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,264},{136,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{174,136}}</string>
                <key>offset</key>
                <string>{28,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,319},{174,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{174,136}}</string>
                <key>offset</key>
                <string>{28,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,319},{174,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{174,136}}</string>
                <key>offset</key>
                <string>{28,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,319},{174,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,858},{140,144}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,283},{140,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,858},{140,144}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,283},{140,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,770},{136,162}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,264},{136,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,770},{136,162}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,264},{136,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{174,136}}</string>
                <key>offset</key>
                <string>{28,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,319},{174,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{174,136}}</string>
                <key>offset</key>
                <string>{28,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,319},{174,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{174,136}}</string>
                <key>offset</key>
                <string>{28,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,319},{174,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,858},{140,144}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,283},{140,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,858},{140,144}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,283},{140,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,770},{136,162}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,264},{136,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,770},{136,162}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,264},{136,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{174,136}}</string>
                <key>offset</key>
                <string>{28,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,319},{174,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{174,136}}</string>
                <key>offset</key>
                <string>{28,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,319},{174,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{174,136}}</string>
                <key>offset</key>
                <string>{28,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,319},{174,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{150,130}}</string>
                <key>offset</key>
                <string>{-27,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,303},{150,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{150,130}}</string>
                <key>offset</key>
                <string>{-27,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,303},{150,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{164,160}}</string>
                <key>offset</key>
                <string>{13,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,251},{164,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{164,160}}</string>
                <key>offset</key>
                <string>{13,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,251},{164,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{164,160}}</string>
                <key>offset</key>
                <string>{13,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,251},{164,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{214,212}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,199},{214,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{214,212}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,199},{214,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{214,212}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,199},{214,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{214,212}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,199},{214,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{214,212}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,199},{214,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{214,212}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,199},{214,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{262,192}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,252},{262,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{262,192}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,252},{262,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{262,192}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,252},{262,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{262,192}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,252},{262,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,308}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,177},{312,308}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,308}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,177},{312,308}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,350},{178,224}}</string>
                <key>offset</key>
                <string>{-40,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,250},{178,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,350},{178,224}}</string>
                <key>offset</key>
                <string>{-40,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,250},{178,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,154},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,154},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,154},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,154},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,154},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,154},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcqa0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,154},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_35_b.pvr.ccz</string>
            <key>size</key>
            <string>{448,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cead3fbc78ec74555241fdd98f3974e7:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_35_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
