<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_rwx0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,200}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,146},{144,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,200}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,146},{144,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,200}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,146},{144,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,200}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,146},{144,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{124,198}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,149},{124,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{124,198}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,149},{124,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{124,198}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,149},{124,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{124,198}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,149},{124,198}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,128},{104,208}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,140},{104,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,128},{104,208}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,140},{104,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,128},{104,208}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,140},{104,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,128},{104,208}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,140},{104,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{124,204}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,146},{124,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{124,204}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,146},{124,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{124,204}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,146},{124,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{124,204}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,146},{124,204}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,128},{114,202}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,148},{114,202}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,128},{114,202}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,148},{114,202}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,128},{114,202}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,148},{114,202}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,128},{114,202}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,148},{114,202}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,128},{116,208}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,141},{116,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,128},{116,208}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,141},{116,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,128},{116,208}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,141},{116,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,128},{116,208}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,141},{116,208}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{138,200}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{138,200}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{138,200}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{138,200}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{138,200}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{138,200}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{138,200}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{138,200}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{138,200}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{138,200}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{138,200}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{138,200}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{138,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{140,200}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{140,200}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{140,200}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{140,200}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{140,200}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{140,200}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{140,200}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{140,200}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,200}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,200}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,200}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>boss_rwx0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,200}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,154},{140,200}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_20.pvr.ccz</string>
            <key>size</key>
            <string>{980,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb30208c524866bdc93e9d6f51227307:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
