<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lei0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,395},{26,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>monster_adizi0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,413},{137,167}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,155},{137,167}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,413},{137,167}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,155},{137,167}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,413},{137,167}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,155},{137,167}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,582},{123,163}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,159},{123,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,582},{123,163}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,159},{123,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,582},{123,163}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,159},{123,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,582},{123,163}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,159},{123,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,582},{123,163}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,159},{123,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,582},{123,163}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,159},{123,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,582},{123,163}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,159},{123,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{189,163}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,159},{189,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{189,163}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,159},{189,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,179},{211,145}}</string>
                <key>offset</key>
                <string>{52,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,178},{211,145}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,179},{211,145}}</string>
                <key>offset</key>
                <string>{52,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,178},{211,145}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,770},{127,135}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,188},{127,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,770},{127,135}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,188},{127,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,770},{127,135}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,188},{127,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,770},{127,135}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,188},{127,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,770},{127,135}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,188},{127,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,770},{127,135}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,188},{127,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,770},{127,135}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,188},{127,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,770},{127,135}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,188},{127,135}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,615},{153,155}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,167},{153,155}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,615},{153,155}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,167},{153,155}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,615},{153,155}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,167},{153,155}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,326},{67,177}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,146},{67,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,326},{67,177}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,146},{67,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,326},{67,177}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,146},{67,177}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{193,173}}</string>
                <key>offset</key>
                <string>{47,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,150},{193,173}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{193,173}}</string>
                <key>offset</key>
                <string>{47,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,150},{193,173}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{193,173}}</string>
                <key>offset</key>
                <string>{47,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,150},{193,173}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{193,173}}</string>
                <key>offset</key>
                <string>{47,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,150},{193,173}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{195,175}}</string>
                <key>offset</key>
                <string>{43,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{195,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{195,175}}</string>
                <key>offset</key>
                <string>{43,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{195,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{195,175}}</string>
                <key>offset</key>
                <string>{43,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{195,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{195,175}}</string>
                <key>offset</key>
                <string>{43,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{195,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{195,175}}</string>
                <key>offset</key>
                <string>{43,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{195,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{195,175}}</string>
                <key>offset</key>
                <string>{43,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{195,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{195,175}}</string>
                <key>offset</key>
                <string>{43,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{195,175}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,440},{177,173}}</string>
                <key>offset</key>
                <string>{40,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,150},{177,173}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,440},{177,173}}</string>
                <key>offset</key>
                <string>{40,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,150},{177,173}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{141,171}}</string>
                <key>offset</key>
                <string>{25,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,152},{141,171}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{139,163}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,160},{139,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{139,163}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,160},{139,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{139,163}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,160},{139,163}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,747},{145,157}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,166},{145,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,747},{145,157}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,166},{145,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,747},{145,157}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,166},{145,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizi0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,747},{145,157}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,166},{145,157}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,326},{85,45}}</string>
                <key>offset</key>
                <string>{-118,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,116},{85,45}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,326},{85,45}}</string>
                <key>offset</key>
                <string>{-118,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,116},{85,45}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,155},{283,85}}</string>
                <key>offset</key>
                <string>{-16,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,112},{283,85}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,155},{283,85}}</string>
                <key>offset</key>
                <string>{-16,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,112},{283,85}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,151}}</string>
                <key>offset</key>
                <string>{36,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,120},{303,151}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{111,107}}</string>
                <key>offset</key>
                <string>{132,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,167},{111,107}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{111,107}}</string>
                <key>offset</key>
                <string>{132,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,167},{111,107}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{5,3}}</string>
                <key>offset</key>
                <string>{161,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,259},{5,3}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{5,3}}</string>
                <key>offset</key>
                <string>{161,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,259},{5,3}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>monster_adizia0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,7},{1,1}}</string>
                <key>offset</key>
                <string>{-212,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_11.pvr.ccz</string>
            <key>size</key>
            <string>{511,899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a031e66fa02a5b16affedd706ce1be5:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
