<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_xln0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,362},{124,178}}</string>
                <key>offset</key>
                <string>{-27,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,189},{124,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,542},{122,178}}</string>
                <key>offset</key>
                <string>{-31,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,188},{122,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,180}}</string>
                <key>offset</key>
                <string>{-33,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,187},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,248},{120,180}}</string>
                <key>offset</key>
                <string>{-34,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,187},{120,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{118,180}}</string>
                <key>offset</key>
                <string>{-34,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,185},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,706},{110,178}}</string>
                <key>offset</key>
                <string>{-36,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,187},{110,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,182},{126,178}}</string>
                <key>offset</key>
                <string>{-28,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,188},{126,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{114,178}}</string>
                <key>offset</key>
                <string>{-33,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,189},{114,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{118,180}}</string>
                <key>offset</key>
                <string>{-32,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,186},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,126},{120,180}}</string>
                <key>offset</key>
                <string>{-30,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,186},{120,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{122,180}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,185},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,180}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,186},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{126,178}}</string>
                <key>offset</key>
                <string>{-27,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,189},{126,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,362},{124,178}}</string>
                <key>offset</key>
                <string>{-27,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,189},{124,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,362},{124,178}}</string>
                <key>offset</key>
                <string>{-27,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,189},{124,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,362},{124,178}}</string>
                <key>offset</key>
                <string>{-27,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,189},{124,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,362},{124,178}}</string>
                <key>offset</key>
                <string>{-27,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,189},{124,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,180}}</string>
                <key>offset</key>
                <string>{-33,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,187},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,180}}</string>
                <key>offset</key>
                <string>{-33,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,187},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,180}}</string>
                <key>offset</key>
                <string>{-33,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,187},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,180}}</string>
                <key>offset</key>
                <string>{-33,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,187},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{118,180}}</string>
                <key>offset</key>
                <string>{-34,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,185},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{118,180}}</string>
                <key>offset</key>
                <string>{-34,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,185},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{118,180}}</string>
                <key>offset</key>
                <string>{-34,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,185},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{118,180}}</string>
                <key>offset</key>
                <string>{-34,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,185},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,182},{126,178}}</string>
                <key>offset</key>
                <string>{-28,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,188},{126,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,182},{126,178}}</string>
                <key>offset</key>
                <string>{-28,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,188},{126,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,182},{126,178}}</string>
                <key>offset</key>
                <string>{-28,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,188},{126,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,182},{126,178}}</string>
                <key>offset</key>
                <string>{-28,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,188},{126,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{118,180}}</string>
                <key>offset</key>
                <string>{-32,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,186},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{118,180}}</string>
                <key>offset</key>
                <string>{-32,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,186},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{118,180}}</string>
                <key>offset</key>
                <string>{-32,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,186},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{118,180}}</string>
                <key>offset</key>
                <string>{-32,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,186},{118,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{122,180}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,185},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{122,180}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,185},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{122,180}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,185},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{122,180}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,185},{122,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,544},{160,178}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,191},{160,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,544},{160,178}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,191},{160,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,544},{160,178}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,191},{160,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,544},{160,178}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,191},{160,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{164,178}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,193},{164,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{164,178}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,193},{164,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{164,178}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,193},{164,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{164,178}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,193},{164,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,818},{170,174}}</string>
                <key>offset</key>
                <string>{-26,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,195},{170,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,818},{170,174}}</string>
                <key>offset</key>
                <string>{-26,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,195},{170,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,818},{170,174}}</string>
                <key>offset</key>
                <string>{-26,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,195},{170,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,818},{170,174}}</string>
                <key>offset</key>
                <string>{-26,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,195},{170,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,370},{178,172}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,196},{178,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,370},{178,172}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,196},{178,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,370},{178,172}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,196},{178,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,370},{178,172}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,196},{178,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{176,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,194},{176,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{176,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,194},{176,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{176,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,194},{176,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{176,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,194},{176,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,818},{170,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,194},{170,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,818},{170,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,194},{170,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,818},{170,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,194},{170,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xln0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,818},{170,174}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,194},{170,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_38.pvr.ccz</string>
            <key>size</key>
            <string>{524,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30fa549983fb203b94159c1c56edc63a:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_38.pvr.ccz</string>
        </dict>
    </dict>
</plist>
