<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dfbb0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,218},{194,194}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,181},{194,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,218},{194,194}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,181},{194,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{190,188}}</string>
                <key>offset</key>
                <string>{25,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,189},{190,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{190,188}}</string>
                <key>offset</key>
                <string>{25,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,189},{190,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{190,188}}</string>
                <key>offset</key>
                <string>{25,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,189},{190,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{170,178}}</string>
                <key>offset</key>
                <string>{24,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,197},{170,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{170,178}}</string>
                <key>offset</key>
                <string>{24,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,197},{170,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{170,178}}</string>
                <key>offset</key>
                <string>{24,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,197},{170,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,388},{174,178}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,197},{174,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,388},{174,178}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,197},{174,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,388},{174,178}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,197},{174,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,194},{186,192}}</string>
                <key>offset</key>
                <string>{21,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,183},{186,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,194},{186,192}}</string>
                <key>offset</key>
                <string>{21,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,183},{186,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{128,200}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,130},{128,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{128,200}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,130},{128,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{128,200}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,130},{128,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{176,142}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,156},{176,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{176,142}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,156},{176,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,350},{182,142}}</string>
                <key>offset</key>
                <string>{-47,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,228},{182,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,350},{182,142}}</string>
                <key>offset</key>
                <string>{-47,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,228},{182,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,170},{178,150}}</string>
                <key>offset</key>
                <string>{-47,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,238},{178,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,364},{184,132}}</string>
                <key>offset</key>
                <string>{-26,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,256},{184,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,364},{184,132}}</string>
                <key>offset</key>
                <string>{-26,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,256},{184,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,146},{216,102}}</string>
                <key>offset</key>
                <string>{-9,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,317},{216,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,146},{216,102}}</string>
                <key>offset</key>
                <string>{-9,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,317},{216,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,414},{204,148}}</string>
                <key>offset</key>
                <string>{9,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,262},{204,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,414},{204,148}}</string>
                <key>offset</key>
                <string>{9,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,262},{204,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{166,162}}</string>
                <key>offset</key>
                <string>{12,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,245},{166,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{166,162}}</string>
                <key>offset</key>
                <string>{12,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,245},{166,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,334},{150,162}}</string>
                <key>offset</key>
                <string>{17,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,230},{150,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,334},{150,162}}</string>
                <key>offset</key>
                <string>{17,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,230},{150,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,170},{158,162}}</string>
                <key>offset</key>
                <string>{17,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,219},{158,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,170},{158,162}}</string>
                <key>offset</key>
                <string>{17,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,219},{158,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{188,206}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,176},{188,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{188,206}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,176},{188,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,214}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,168},{208,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbb0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,214}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,168},{208,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_10.pvr.ccz</string>
            <key>size</key>
            <string>{1020,564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57f706698933ecec72be5197f4e6b71d:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
