<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jlfw0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,746},{168,216}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,219},{168,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{200,228}}</string>
                <key>offset</key>
                <string>{-12,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,207},{200,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{200,228}}</string>
                <key>offset</key>
                <string>{-12,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,207},{200,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{200,228}}</string>
                <key>offset</key>
                <string>{-12,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,207},{200,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,672},{210,240}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,195},{210,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,672},{210,240}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,195},{210,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,672},{210,240}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,195},{210,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,426},{234,244}}</string>
                <key>offset</key>
                <string>{-8,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,191},{234,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,426},{234,244}}</string>
                <key>offset</key>
                <string>{-8,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,191},{234,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,426},{234,244}}</string>
                <key>offset</key>
                <string>{-8,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,191},{234,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfwa0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,254},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,254},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,250},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{168,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,250},{168,246}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{168,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,498},{172,246}}</string>
                <key>offset</key>
                <string>{-20,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,235},{172,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,498},{172,246}}</string>
                <key>offset</key>
                <string>{-20,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,235},{172,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{168,246}}</string>
                <key>offset</key>
                <string>{-30,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,235},{168,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{168,246}}</string>
                <key>offset</key>
                <string>{-30,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,235},{168,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,750},{206,250}}</string>
                <key>offset</key>
                <string>{-52,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,241},{206,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,750},{206,250}}</string>
                <key>offset</key>
                <string>{-52,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,241},{206,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{448,246}}</string>
                <key>offset</key>
                <string>{69,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,241},{448,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{448,246}}</string>
                <key>offset</key>
                <string>{69,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,241},{448,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{448,246}}</string>
                <key>offset</key>
                <string>{69,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,244},{448,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{448,246}}</string>
                <key>offset</key>
                <string>{69,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,244},{448,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,250}}</string>
                <key>offset</key>
                <string>{71,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,240},{452,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,250}}</string>
                <key>offset</key>
                <string>{71,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,240},{452,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_jlfwa0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{422,234}}</string>
                <key>offset</key>
                <string>{80,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,248},{422,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_8_c.pvr.ccz</string>
            <key>size</key>
            <string>{862,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5991815086e6dfb8f2a7fe3ad39a65b:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_8_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
