<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_hysa0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,182},{90,90}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,87},{90,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,182},{90,90}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,87},{90,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,182},{132,132}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,66},{132,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,182},{132,132}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,66},{132,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{172,172}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,46},{172,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,176},{172,172}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,46},{172,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{164,164}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,50},{164,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{164,164}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,50},{164,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,180}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,42},{176,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,180}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,42},{176,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{172,172}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,46},{172,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{172,172}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,46},{172,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,182},{152,152}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,56},{152,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,182},{152,152}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,56},{152,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{176,178}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,43},{176,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{176,178}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,43},{176,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{178,178}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,43},{178,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{178,178}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,43},{178,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,184},{152,152}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,56},{152,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,184},{152,152}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,56},{152,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{176,178}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,43},{176,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>boss_hysa0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_32_a.pvr.ccz</string>
            <key>size</key>
            <string>{890,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fda248a76d98b2d520b11602384d88fc:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_32_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
