<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1tyn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{244,158}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,221},{244,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{244,158}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,221},{244,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,520},{258,146}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,219},{258,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,520},{258,146}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,219},{258,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,520},{258,146}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,219},{258,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{250,146}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,219},{250,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{250,146}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,219},{250,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{250,146}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,219},{250,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,326},{254,152}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,213},{254,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,326},{254,152}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,213},{254,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,326},{254,152}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,213},{254,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{264,160}}</string>
                <key>offset</key>
                <string>{17,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,205},{264,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{264,160}}</string>
                <key>offset</key>
                <string>{17,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,205},{264,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{264,160}}</string>
                <key>offset</key>
                <string>{17,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,205},{264,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{250,166}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,201},{250,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{250,166}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,201},{250,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{250,166}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,201},{250,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,170}}</string>
                <key>offset</key>
                <string>{64,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,145},{260,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,170}}</string>
                <key>offset</key>
                <string>{64,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,145},{260,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,170}}</string>
                <key>offset</key>
                <string>{64,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,145},{260,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,646},{200,154}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,140},{200,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,646},{200,154}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,140},{200,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,646},{200,154}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,140},{200,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,646},{200,154}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,140},{200,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,646},{200,154}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,140},{200,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{136,226}}</string>
                <key>offset</key>
                <string>{-47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,147},{136,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{136,226}}</string>
                <key>offset</key>
                <string>{-47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,147},{136,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{136,226}}</string>
                <key>offset</key>
                <string>{-47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,147},{136,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{136,226}}</string>
                <key>offset</key>
                <string>{-47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,147},{136,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,480},{164,232}}</string>
                <key>offset</key>
                <string>{-54,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,180},{164,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,480},{164,232}}</string>
                <key>offset</key>
                <string>{-54,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,180},{164,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,480},{164,232}}</string>
                <key>offset</key>
                <string>{-54,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,180},{164,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,870},{242,114}}</string>
                <key>offset</key>
                <string>{-55,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,268},{242,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,870},{242,114}}</string>
                <key>offset</key>
                <string>{-55,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,268},{242,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,870},{242,114}}</string>
                <key>offset</key>
                <string>{-55,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,268},{242,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,780},{238,88}}</string>
                <key>offset</key>
                <string>{-47,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,304},{238,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,780},{238,88}}</string>
                <key>offset</key>
                <string>{-47,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,304},{238,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,780},{238,88}}</string>
                <key>offset</key>
                <string>{-47,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,304},{238,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,502},{280,80}}</string>
                <key>offset</key>
                <string>{-42,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,288},{280,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,502},{280,80}}</string>
                <key>offset</key>
                <string>{-42,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,288},{280,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,502},{280,80}}</string>
                <key>offset</key>
                <string>{-42,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,288},{280,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,502},{280,80}}</string>
                <key>offset</key>
                <string>{-42,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,288},{280,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,802},{278,108}}</string>
                <key>offset</key>
                <string>{-39,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,261},{278,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,802},{278,108}}</string>
                <key>offset</key>
                <string>{-39,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,261},{278,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,802},{278,108}}</string>
                <key>offset</key>
                <string>{-39,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,261},{278,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,802},{278,108}}</string>
                <key>offset</key>
                <string>{-39,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,261},{278,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,912},{268,106}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,256},{268,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,912},{268,106}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,256},{268,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,912},{268,106}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,256},{268,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,912},{268,106}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,256},{268,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,282},{236,136}}</string>
                <key>offset</key>
                <string>{-29,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,248},{236,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,282},{236,136}}</string>
                <key>offset</key>
                <string>{-29,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,248},{236,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,282},{236,136}}</string>
                <key>offset</key>
                <string>{-29,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,248},{236,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,282},{236,136}}</string>
                <key>offset</key>
                <string>{-29,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,248},{236,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{278,140}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,222},{278,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{278,140}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,222},{278,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{278,140}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,222},{278,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{278,140}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,222},{278,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,164},{262,160}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,202},{262,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,164},{262,160}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,202},{262,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,164},{262,160}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,202},{262,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_1tyn0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,164},{262,160}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,202},{262,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_28.pvr.ccz</string>
            <key>size</key>
            <string>{674,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e690baecabf0c656d4fdc7201dc0097:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_28.pvr.ccz</string>
        </dict>
    </dict>
</plist>
