<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_deba0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{162,278}}</string>
                <key>offset</key>
                <string>{60,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,91},{162,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{162,278}}</string>
                <key>offset</key>
                <string>{60,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,91},{162,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,294}}</string>
                <key>offset</key>
                <string>{59,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,82},{186,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,294}}</string>
                <key>offset</key>
                <string>{59,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,82},{186,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{164,290}}</string>
                <key>offset</key>
                <string>{50,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,82},{164,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{164,290}}</string>
                <key>offset</key>
                <string>{50,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,82},{164,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_9_b.pvr.ccz</string>
            <key>size</key>
            <string>{190,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:521e7d806ebb780c3d10ff77e8e90d8f:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_9_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
