<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_sj0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,276}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,371},{358,276}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,276}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,371},{358,276}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,276}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,371},{358,276}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,276}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,371},{358,276}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,278}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,370},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,278}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,370},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,278}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,370},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,278}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,370},{358,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{358,272}}</string>
                <key>offset</key>
                <string>{-36,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{358,272}}</string>
                <key>offset</key>
                <string>{-36,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{358,272}}</string>
                <key>offset</key>
                <string>{-36,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{358,272}}</string>
                <key>offset</key>
                <string>{-36,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{356,272}}</string>
                <key>offset</key>
                <string>{-35,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,376},{356,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{356,272}}</string>
                <key>offset</key>
                <string>{-35,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,376},{356,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{356,272}}</string>
                <key>offset</key>
                <string>{-35,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,376},{356,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{356,272}}</string>
                <key>offset</key>
                <string>{-35,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,376},{356,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,556},{358,270}}</string>
                <key>offset</key>
                <string>{-36,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,270}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,556},{358,270}}</string>
                <key>offset</key>
                <string>{-36,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,270}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,556},{358,270}}</string>
                <key>offset</key>
                <string>{-36,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,270}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,556},{358,270}}</string>
                <key>offset</key>
                <string>{-36,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,376},{358,270}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,556},{360,268}}</string>
                <key>offset</key>
                <string>{-37,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,378},{360,268}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,556},{360,268}}</string>
                <key>offset</key>
                <string>{-37,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,378},{360,268}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,556},{360,268}}</string>
                <key>offset</key>
                <string>{-37,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,378},{360,268}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,556},{360,268}}</string>
                <key>offset</key>
                <string>{-37,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,378},{360,268}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0725.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,280},{360,274}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,372},{360,274}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0726.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,280},{360,274}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,372},{360,274}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0727.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,280},{360,274}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,372},{360,274}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_sj0728.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,280},{360,274}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,372},{360,274}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_46_a.pvr.ccz</string>
            <key>size</key>
            <string>{818,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e5ef1b9f0c0c77914c7df8005037934:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_46_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
