<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bdizi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,386},{125,169}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,215},{125,169}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,386},{125,169}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,215},{125,169}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{107,181}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,203},{107,181}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{107,181}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,203},{107,181}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{107,181}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,203},{107,181}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,334},{121,173}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,211},{121,173}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,334},{121,173}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,211},{121,173}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,334},{121,173}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,211},{121,173}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,183},{113,175}}</string>
                <key>offset</key>
                <string>{10,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,209},{113,175}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,183},{113,175}}</string>
                <key>offset</key>
                <string>{10,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,209},{113,175}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,183},{113,175}}</string>
                <key>offset</key>
                <string>{10,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,209},{113,175}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,185},{107,179}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,205},{107,179}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,185},{107,179}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,205},{107,179}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,185},{107,179}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,205},{107,179}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,207},{127,197}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,187},{127,197}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,207},{127,197}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,187},{127,197}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,207},{127,197}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,187},{127,197}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,237},{145,207}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,177},{145,207}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,237},{145,207}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,177},{145,207}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,237},{145,207}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,177},{145,207}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,406},{105,189}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,188},{105,189}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,406},{105,189}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,188},{105,189}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,406},{105,189}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,188},{105,189}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{173,161}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,192},{173,161}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{173,161}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,192},{173,161}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{173,161}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,192},{173,161}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{173,161}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,192},{173,161}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,197},{187,117}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,216},{187,117}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,197},{187,117}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,216},{187,117}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,197},{187,117}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,216},{187,117}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,197},{187,117}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,216},{187,117}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,360},{153,147}}</string>
                <key>offset</key>
                <string>{-13,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,217},{153,147}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,360},{153,147}}</string>
                <key>offset</key>
                <string>{-13,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,217},{153,147}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,191},{187,105}}</string>
                <key>offset</key>
                <string>{-4,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,272},{187,105}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,191},{187,105}}</string>
                <key>offset</key>
                <string>{-4,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,272},{187,105}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,191},{187,105}}</string>
                <key>offset</key>
                <string>{-4,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,272},{187,105}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{215,57}}</string>
                <key>offset</key>
                <string>{18,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,334},{215,57}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{215,57}}</string>
                <key>offset</key>
                <string>{18,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,334},{215,57}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{215,57}}</string>
                <key>offset</key>
                <string>{18,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,334},{215,57}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{203,77}}</string>
                <key>offset</key>
                <string>{13,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,305},{203,77}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{203,77}}</string>
                <key>offset</key>
                <string>{13,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,305},{203,77}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{203,77}}</string>
                <key>offset</key>
                <string>{13,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,305},{203,77}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{163,101}}</string>
                <key>offset</key>
                <string>{-15,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,284},{163,101}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{163,101}}</string>
                <key>offset</key>
                <string>{-15,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,284},{163,101}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{163,101}}</string>
                <key>offset</key>
                <string>{-15,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,284},{163,101}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{163,101}}</string>
                <key>offset</key>
                <string>{-15,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,284},{163,101}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{179,97}}</string>
                <key>offset</key>
                <string>{-29,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,285},{179,97}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{179,97}}</string>
                <key>offset</key>
                <string>{-29,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,285},{179,97}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{179,97}}</string>
                <key>offset</key>
                <string>{-29,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,285},{179,97}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{179,97}}</string>
                <key>offset</key>
                <string>{-29,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,285},{179,97}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{187,193}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,154},{187,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{187,193}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,154},{187,193}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,233}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,150},{159,233}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,233}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,150},{159,233}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,233}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,150},{159,233}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,366},{141,161}}</string>
                <key>offset</key>
                <string>{31,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,223},{141,161}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,366},{141,161}}</string>
                <key>offset</key>
                <string>{31,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,223},{141,161}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,366},{141,161}}</string>
                <key>offset</key>
                <string>{31,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,223},{141,161}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,177},{125,155}}</string>
                <key>offset</key>
                <string>{29,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,229},{125,155}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,177},{125,155}}</string>
                <key>offset</key>
                <string>{29,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,229},{125,155}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,177},{125,155}}</string>
                <key>offset</key>
                <string>{29,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,229},{125,155}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,177},{125,155}}</string>
                <key>offset</key>
                <string>{29,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,229},{125,155}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,177},{125,155}}</string>
                <key>offset</key>
                <string>{29,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,229},{125,155}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{111,187}}</string>
                <key>offset</key>
                <string>{9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,197},{111,187}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{111,187}}</string>
                <key>offset</key>
                <string>{9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,197},{111,187}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
            <key>monster_bdizi0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{111,187}}</string>
                <key>offset</key>
                <string>{9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,197},{111,187}}</string>
                <key>sourceSize</key>
                <string>{505,505}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_12.pvr.ccz</string>
            <key>size</key>
            <string>{1021,513}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa1c27c5cb888b1f93c1a4d72890e8d9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
