<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_3tyn0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,660},{168,146}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,193},{168,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,660},{168,146}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,193},{168,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,660},{168,146}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,193},{168,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,660},{168,146}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,193},{168,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,436},{218,144}}</string>
                <key>offset</key>
                <string>{-26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,195},{218,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,436},{218,144}}</string>
                <key>offset</key>
                <string>{-26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,195},{218,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,436},{218,144}}</string>
                <key>offset</key>
                <string>{-26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,195},{218,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,442},{100,216}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,128},{100,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,442},{100,216}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,128},{100,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,442},{100,216}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,128},{100,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,296},{228,144}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,195},{228,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,296},{228,144}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,195},{228,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,296},{228,144}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,195},{228,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,456},{144,158}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,181},{144,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,456},{144,158}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,181},{144,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,456},{144,158}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,181},{144,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,296},{146,158}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,181},{146,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,296},{146,158}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,181},{146,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,296},{146,158}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,181},{146,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,656},{230,150}}</string>
                <key>offset</key>
                <string>{40,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,189},{230,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,656},{230,150}}</string>
                <key>offset</key>
                <string>{40,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,189},{230,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,656},{230,150}}</string>
                <key>offset</key>
                <string>{40,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,189},{230,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,650},{180,190}}</string>
                <key>offset</key>
                <string>{50,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,148},{180,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,650},{180,190}}</string>
                <key>offset</key>
                <string>{50,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,148},{180,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,650},{180,190}}</string>
                <key>offset</key>
                <string>{50,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,148},{180,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,648},{108,174}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,165},{108,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,648},{108,174}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,165},{108,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,648},{108,174}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,165},{108,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,436},{212,146}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,193},{212,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{194,202}}</string>
                <key>offset</key>
                <string>{-52,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,137},{194,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{194,202}}</string>
                <key>offset</key>
                <string>{-52,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,137},{194,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,298},{136,248}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,91},{136,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,298},{136,248}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,91},{136,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,298},{136,248}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,91},{136,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,298},{136,248}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,91},{136,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,298},{136,248}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,91},{136,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,298},{136,248}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,91},{136,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,298},{136,248}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,91},{136,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,298},{136,248}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,91},{136,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,442},{144,204}}</string>
                <key>offset</key>
                <string>{-29,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,135},{144,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,442},{144,204}}</string>
                <key>offset</key>
                <string>{-29,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,135},{144,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyn0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,442},{144,204}}</string>
                <key>offset</key>
                <string>{-29,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,135},{144,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_3tyna0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,842},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,842},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,842},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,842},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,842},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,842},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,842},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{296,294}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,136},{296,294}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{296,294}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,136},{296,294}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{320,316}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,130},{320,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{320,316}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,130},{320,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{320,316}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,130},{320,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,328}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,121},{324,328}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,328}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,121},{324,328}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_3tyna0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{294,292}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,139},{294,292}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_30_a.pvr.ccz</string>
            <key>size</key>
            <string>{1014,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c09df07087e0cdb9be979021bd0c25c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_30_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
