<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_hys0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,340},{192,196}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,243},{192,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,340},{192,196}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,243},{192,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,340},{192,196}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,243},{192,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,718},{198,188}}</string>
                <key>offset</key>
                <string>{27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,245},{198,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,718},{198,188}}</string>
                <key>offset</key>
                <string>{27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,245},{198,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,718},{198,188}}</string>
                <key>offset</key>
                <string>{27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,245},{198,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,718},{198,188}}</string>
                <key>offset</key>
                <string>{27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,245},{198,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,216},{254,222}}</string>
                <key>offset</key>
                <string>{86,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,209},{254,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,216},{254,222}}</string>
                <key>offset</key>
                <string>{86,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,209},{254,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,100},{200,238}}</string>
                <key>offset</key>
                <string>{78,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,193},{200,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,100},{200,238}}</string>
                <key>offset</key>
                <string>{78,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,193},{200,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,100},{200,238}}</string>
                <key>offset</key>
                <string>{78,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,193},{200,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,538},{138,212}}</string>
                <key>offset</key>
                <string>{67,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,220},{138,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,538},{138,212}}</string>
                <key>offset</key>
                <string>{67,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,220},{138,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,538},{138,212}}</string>
                <key>offset</key>
                <string>{67,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,220},{138,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,538},{138,212}}</string>
                <key>offset</key>
                <string>{67,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,220},{138,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,538},{138,212}}</string>
                <key>offset</key>
                <string>{67,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,220},{138,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,752},{146,180}}</string>
                <key>offset</key>
                <string>{48,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,263},{146,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,752},{146,180}}</string>
                <key>offset</key>
                <string>{48,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,263},{146,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,714},{154,204}}</string>
                <key>offset</key>
                <string>{35,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,222},{154,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,714},{154,204}}</string>
                <key>offset</key>
                <string>{35,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,222},{154,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,714},{154,204}}</string>
                <key>offset</key>
                <string>{35,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,222},{154,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,714},{154,204}}</string>
                <key>offset</key>
                <string>{35,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,222},{154,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hys0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,714},{154,204}}</string>
                <key>offset</key>
                <string>{35,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,222},{154,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,566},{224,48}}</string>
                <key>offset</key>
                <string>{133,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,216},{224,48}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{300,64}}</string>
                <key>offset</key>
                <string>{62,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,278},{300,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{300,64}}</string>
                <key>offset</key>
                <string>{62,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,278},{300,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{388,100}}</string>
                <key>offset</key>
                <string>{58,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,262},{388,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{388,100}}</string>
                <key>offset</key>
                <string>{58,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,262},{388,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{442,106}}</string>
                <key>offset</key>
                <string>{72,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,258},{442,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{442,106}}</string>
                <key>offset</key>
                <string>{72,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,258},{442,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,104}}</string>
                <key>offset</key>
                <string>{73,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,260},{450,104}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,104}}</string>
                <key>offset</key>
                <string>{73,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,260},{450,104}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{412,96}}</string>
                <key>offset</key>
                <string>{51,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,268},{412,96}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{412,96}}</string>
                <key>offset</key>
                <string>{51,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,268},{412,96}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,472},{244,240}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,181},{244,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,472},{244,240}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,181},{244,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,566},{242,222}}</string>
                <key>offset</key>
                <string>{32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,188},{242,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,566},{242,222}}</string>
                <key>offset</key>
                <string>{32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,188},{242,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{252,240}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,182},{252,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{252,240}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,182},{252,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,100},{252,232}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,190},{252,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,100},{252,232}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,190},{252,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,334},{250,230}}</string>
                <key>offset</key>
                <string>{30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,190},{250,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,334},{250,230}}</string>
                <key>offset</key>
                <string>{30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,190},{250,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,538},{166,100}}</string>
                <key>offset</key>
                <string>{60,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,240},{166,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,538},{166,100}}</string>
                <key>offset</key>
                <string>{60,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,240},{166,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,458},{258,128}}</string>
                <key>offset</key>
                <string>{101,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,229},{258,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,458},{258,128}}</string>
                <key>offset</key>
                <string>{101,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,229},{258,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,790},{238,128}}</string>
                <key>offset</key>
                <string>{106,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,232},{238,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,790},{238,128}}</string>
                <key>offset</key>
                <string>{106,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,232},{238,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,340},{144,92}}</string>
                <key>offset</key>
                <string>{131,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,265},{144,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,340},{144,92}}</string>
                <key>offset</key>
                <string>{131,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,265},{144,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_hysa0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,458},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_32_b.pvr.ccz</string>
            <key>size</key>
            <string>{1020,921}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f8d6c6e53d8573e9fd8260930d7b04c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_32_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
