<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_gj0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{134,164}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,207},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{134,164}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,207},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{134,164}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,207},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{134,164}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,207},{134,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{156,210}}</string>
                <key>offset</key>
                <string>{11,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,94},{156,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{156,210}}</string>
                <key>offset</key>
                <string>{11,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,94},{156,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{156,210}}</string>
                <key>offset</key>
                <string>{11,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,94},{156,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{160,208}}</string>
                <key>offset</key>
                <string>{12,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,84},{160,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{160,208}}</string>
                <key>offset</key>
                <string>{12,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,84},{160,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{160,208}}</string>
                <key>offset</key>
                <string>{12,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,84},{160,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{160,208}}</string>
                <key>offset</key>
                <string>{12,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,84},{160,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{160,208}}</string>
                <key>offset</key>
                <string>{12,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,84},{160,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{164,190}}</string>
                <key>offset</key>
                <string>{15,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,89},{164,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{164,190}}</string>
                <key>offset</key>
                <string>{15,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,89},{164,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{164,190}}</string>
                <key>offset</key>
                <string>{15,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,89},{164,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{164,190}}</string>
                <key>offset</key>
                <string>{15,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,89},{164,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{164,190}}</string>
                <key>offset</key>
                <string>{15,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,89},{164,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{164,190}}</string>
                <key>offset</key>
                <string>{15,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,89},{164,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{164,176}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,95},{164,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{186,176}}</string>
                <key>offset</key>
                <string>{12,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,97},{186,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{186,176}}</string>
                <key>offset</key>
                <string>{12,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,97},{186,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,160},{190,186}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,91},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,160},{190,186}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,91},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,160},{190,186}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,91},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,160},{190,186}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,91},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,160},{190,186}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,91},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,160},{190,186}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,91},{190,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{200,228}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,128},{200,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{200,228}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,128},{200,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{200,228}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,128},{200,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,168},{188,196}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,174},{188,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,168},{188,196}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,174},{188,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gj0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,168},{188,196}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,174},{188,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,352},{274,226}}</string>
                <key>offset</key>
                <string>{26,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,49},{274,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,352},{274,226}}</string>
                <key>offset</key>
                <string>{26,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,49},{274,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,358},{280,242}}</string>
                <key>offset</key>
                <string>{31,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,42},{280,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,358},{280,242}}</string>
                <key>offset</key>
                <string>{31,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,42},{280,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,168},{236,182}}</string>
                <key>offset</key>
                <string>{5,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,41},{236,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,168},{236,182}}</string>
                <key>offset</key>
                <string>{5,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,41},{236,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,168},{232,196}}</string>
                <key>offset</key>
                <string>{-4,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,45},{232,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,168},{232,196}}</string>
                <key>offset</key>
                <string>{-4,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,45},{232,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_gja0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_36_a.pvr.ccz</string>
            <key>size</key>
            <string>{1016,602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f10b06177f729ea51658a74f2e217d0:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_36_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
