<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_oyf0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,146},{166,206}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,162},{166,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,146},{166,206}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,162},{166,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{160,284}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,82},{160,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{160,284}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,82},{160,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{160,284}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,82},{160,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{142,258}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,108},{142,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{142,258}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,108},{142,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{142,258}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,108},{142,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,308}}</string>
                <key>offset</key>
                <string>{-32,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,59},{142,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,308}}</string>
                <key>offset</key>
                <string>{-32,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,59},{142,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,308}}</string>
                <key>offset</key>
                <string>{-32,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,59},{142,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,314},{170,204}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,167},{170,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,314},{170,204}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,167},{170,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,288},{172,206}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,165},{172,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,288},{172,206}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,165},{172,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,288},{172,206}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,165},{172,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,288},{172,206}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,165},{172,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,288},{172,206}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,165},{172,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,288},{172,206}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,165},{172,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,288},{172,206}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,165},{172,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{160,192}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,179},{160,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_oyf0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{160,192}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,179},{160,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_14_b.pvr.ccz</string>
            <key>size</key>
            <string>{568,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb9f0c8841c6ef030e674f32b127daf:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_14_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
