<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dcq0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{194,172}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,272},{194,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{194,172}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,272},{194,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{194,172}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,272},{194,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,612},{254,172}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,215},{254,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,612},{254,172}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,215},{254,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,612},{254,172}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,215},{254,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,612},{254,172}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,215},{254,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{262,150}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,202},{262,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{262,150}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,202},{262,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{262,150}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,202},{262,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{262,150}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,202},{262,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{262,150}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,202},{262,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{262,150}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,202},{262,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{262,150}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,202},{262,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{262,150}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,202},{262,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{262,150}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,202},{262,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{288,150}}</string>
                <key>offset</key>
                <string>{21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,232},{288,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{288,150}}</string>
                <key>offset</key>
                <string>{21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,232},{288,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,126}}</string>
                <key>offset</key>
                <string>{33,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,359},{312,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,126}}</string>
                <key>offset</key>
                <string>{33,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,359},{312,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{290,138}}</string>
                <key>offset</key>
                <string>{24,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,357},{290,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{290,138}}</string>
                <key>offset</key>
                <string>{24,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,357},{290,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,126}}</string>
                <key>offset</key>
                <string>{33,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,359},{312,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,126}}</string>
                <key>offset</key>
                <string>{33,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,359},{312,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,126}}</string>
                <key>offset</key>
                <string>{33,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,359},{312,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,126}}</string>
                <key>offset</key>
                <string>{33,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,359},{312,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{290,138}}</string>
                <key>offset</key>
                <string>{24,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,357},{290,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,612},{262,140}}</string>
                <key>offset</key>
                <string>{25,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,359},{262,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,612},{262,140}}</string>
                <key>offset</key>
                <string>{25,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,359},{262,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,612},{262,140}}</string>
                <key>offset</key>
                <string>{25,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,359},{262,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,612},{262,140}}</string>
                <key>offset</key>
                <string>{25,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,359},{262,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{218,158}}</string>
                <key>offset</key>
                <string>{24,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,332},{218,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{218,158}}</string>
                <key>offset</key>
                <string>{24,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,332},{218,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{218,158}}</string>
                <key>offset</key>
                <string>{24,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,332},{218,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{218,158}}</string>
                <key>offset</key>
                <string>{24,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,332},{218,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{218,158}}</string>
                <key>offset</key>
                <string>{24,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,332},{218,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,414},{196,190}}</string>
                <key>offset</key>
                <string>{15,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,307},{196,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,414},{196,190}}</string>
                <key>offset</key>
                <string>{15,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,307},{196,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,414},{196,190}}</string>
                <key>offset</key>
                <string>{15,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,307},{196,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,414},{196,190}}</string>
                <key>offset</key>
                <string>{15,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,307},{196,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,414},{196,190}}</string>
                <key>offset</key>
                <string>{15,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,307},{196,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,222},{180,190}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,242},{180,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,222},{180,190}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,242},{180,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,222},{180,190}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,242},{180,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_dcq0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,222},{180,190}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,242},{180,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_35_b.pvr.ccz</string>
            <key>size</key>
            <string>{484,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb1f9c0b876efb73630f8b3f20989e23:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_35_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
