<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shitou0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,300}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,13},{226,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,656},{192,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,86},{192,228}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,470},{184,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,83},{184,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,232},{180,236}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,78},{180,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,232},{180,236}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,78},{180,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,266},{208,262}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,52},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,266},{208,262}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,52},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,604},{210,280}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,33},{210,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,604},{210,280}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,33},{210,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,600},{202,290}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,23},{202,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,600},{202,290}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,23},{202,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{224,298}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,15},{224,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{224,298}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,15},{224,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,300}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,13},{226,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,300}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,13},{226,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{182,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,86},{182,228}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,656},{178,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,83},{178,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{180,236}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,78},{180,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{208,262}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,52},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{208,262}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,52},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{208,262}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,52},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{208,262}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,52},{208,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{210,276}}</string>
                <key>offset</key>
                <string>{15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,34},{210,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{210,276}}</string>
                <key>offset</key>
                <string>{15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,34},{210,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{210,276}}</string>
                <key>offset</key>
                <string>{15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,34},{210,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{210,276}}</string>
                <key>offset</key>
                <string>{15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,34},{210,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{204,288}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,22},{204,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{204,288}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,22},{204,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{204,288}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,22},{204,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{204,288}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,22},{204,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,304},{224,294}}</string>
                <key>offset</key>
                <string>{17,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,16},{224,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,304},{224,294}}</string>
                <key>offset</key>
                <string>{17,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,16},{224,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,304},{224,294}}</string>
                <key>offset</key>
                <string>{17,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,16},{224,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,304},{224,294}}</string>
                <key>offset</key>
                <string>{17,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,16},{224,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shitou0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,240},{178,166}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,144},{178,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_1003.pvr.ccz</string>
            <key>size</key>
            <string>{1018,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01ab124b9f50b167250bbb386af33728:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_1003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
