<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jl_mt0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,674},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,674},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,674},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,674},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,674},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,674},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,670},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,670},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,670},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,236},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,236},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,236},{130,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,235},{130,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,236},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,670},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,670},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,670},{132,130}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,237},{132,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,236},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,236},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,236},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,235},{132,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{232,210}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,188},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{232,210}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,188},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{232,210}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,188},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{232,210}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,188},{232,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{302,320}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,131},{302,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{302,320}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,131},{302,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{302,320}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,131},{302,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{302,320}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,131},{302,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{334,354}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,105},{334,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{334,354}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,105},{334,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{334,354}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,105},{334,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{334,354}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,105},{334,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{366,326}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,125},{366,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{366,326}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,125},{366,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{366,326}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,125},{366,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0616.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{366,326}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,125},{366,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0617.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,312}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{368,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0618.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,312}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{368,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0619.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,312}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{368,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0620.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,312}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{368,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0621.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,370},{298,280}}</string>
                <key>offset</key>
                <string>{28,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{298,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0622.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,370},{298,280}}</string>
                <key>offset</key>
                <string>{28,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{298,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0623.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,370},{298,280}}</string>
                <key>offset</key>
                <string>{28,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{298,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>jl_mt0624.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,370},{298,280}}</string>
                <key>offset</key>
                <string>{28,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{298,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_jl_mt_1009.pvr.ccz</string>
            <key>size</key>
            <string>{966,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b338709b22b37ec84c6f5f0f4d7730e:1/1$</string>
            <key>textureFileName</key>
            <string>Role_jl_mt_1009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
