<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_mj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{148,172}}</string>
                <key>offset</key>
                <string>{16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,212},{148,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{148,172}}</string>
                <key>offset</key>
                <string>{16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,212},{148,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,384},{134,176}}</string>
                <key>offset</key>
                <string>{12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,206},{134,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,384},{134,176}}</string>
                <key>offset</key>
                <string>{12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,206},{134,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,176},{132,172}}</string>
                <key>offset</key>
                <string>{14,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,206},{132,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,176},{132,172}}</string>
                <key>offset</key>
                <string>{14,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,206},{132,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,176},{132,172}}</string>
                <key>offset</key>
                <string>{14,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,206},{132,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{138,160}}</string>
                <key>offset</key>
                <string>{17,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,218},{138,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{138,160}}</string>
                <key>offset</key>
                <string>{17,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,218},{138,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{138,160}}</string>
                <key>offset</key>
                <string>{17,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,218},{138,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,164},{136,152}}</string>
                <key>offset</key>
                <string>{21,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,226},{136,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,164},{136,152}}</string>
                <key>offset</key>
                <string>{21,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,226},{136,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,164},{136,152}}</string>
                <key>offset</key>
                <string>{21,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,226},{136,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,186},{130,176}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,203},{130,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,186},{130,176}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,203},{130,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,186},{130,176}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,203},{130,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{110,194}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,186},{110,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{110,194}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,186},{110,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{110,194}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,186},{110,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{116,212}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,154},{116,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{116,212}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,154},{116,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{116,212}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,154},{116,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{116,212}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,154},{116,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,368},{166,150}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,194},{166,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,368},{166,150}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,194},{166,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,368},{166,150}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,194},{166,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,368},{166,150}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,194},{166,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,368},{166,150}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,194},{166,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,176},{140,162}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,207},{140,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,176},{140,162}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,207},{140,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,176},{140,162}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,207},{140,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,176},{140,162}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,207},{140,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{156,122}}</string>
                <key>offset</key>
                <string>{15,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,262},{156,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{156,122}}</string>
                <key>offset</key>
                <string>{15,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,262},{156,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{156,122}}</string>
                <key>offset</key>
                <string>{15,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,262},{156,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{196,96}}</string>
                <key>offset</key>
                <string>{24,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,281},{196,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{196,96}}</string>
                <key>offset</key>
                <string>{24,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,281},{196,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{196,96}}</string>
                <key>offset</key>
                <string>{24,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,281},{196,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{198,66}}</string>
                <key>offset</key>
                <string>{31,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,325},{198,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{198,66}}</string>
                <key>offset</key>
                <string>{31,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,325},{198,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{198,66}}</string>
                <key>offset</key>
                <string>{31,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,325},{198,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,186},{180,88}}</string>
                <key>offset</key>
                <string>{27,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,299},{180,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,186},{180,88}}</string>
                <key>offset</key>
                <string>{27,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,299},{180,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,186},{180,88}}</string>
                <key>offset</key>
                <string>{27,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,299},{180,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,198},{184,110}}</string>
                <key>offset</key>
                <string>{-10,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,263},{184,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,198},{184,110}}</string>
                <key>offset</key>
                <string>{-10,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,263},{184,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,198},{184,110}}</string>
                <key>offset</key>
                <string>{-10,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,263},{184,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{182,146}}</string>
                <key>offset</key>
                <string>{-34,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,165},{182,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{182,146}}</string>
                <key>offset</key>
                <string>{-34,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,165},{182,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,232},{200,150}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,182},{200,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,232},{200,150}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,182},{200,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,228}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,150},{118,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,228}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,150},{118,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,350},{162,150}}</string>
                <key>offset</key>
                <string>{48,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,228},{162,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,350},{162,150}}</string>
                <key>offset</key>
                <string>{48,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,228},{162,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,350},{162,150}}</string>
                <key>offset</key>
                <string>{48,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,228},{162,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,340},{140,146}}</string>
                <key>offset</key>
                <string>{34,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,242},{140,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,340},{140,146}}</string>
                <key>offset</key>
                <string>{34,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,242},{140,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,340},{140,146}}</string>
                <key>offset</key>
                <string>{34,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,242},{140,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,340},{140,146}}</string>
                <key>offset</key>
                <string>{34,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,242},{140,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,340},{140,146}}</string>
                <key>offset</key>
                <string>{34,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,242},{140,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{116,174}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,204},{116,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{116,174}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,204},{116,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_mj0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{116,174}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,204},{116,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_16.pvr.ccz</string>
            <key>size</key>
            <string>{1022,520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e77c80805d22fed6599cfce33d3fdea9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
