<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_lmc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,180}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,173},{204,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,180}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,173},{204,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{196,176}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,176},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{196,176}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,176},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{196,176}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,176},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{196,176}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,176},{196,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,200},{190,176}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,177},{190,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,200},{190,176}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,177},{190,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,200},{190,176}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,177},{190,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,200},{190,176}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,177},{190,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,212},{172,178}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{172,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,212},{172,178}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{172,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,212},{172,178}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{172,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,212},{172,178}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{172,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{150,186}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,171},{150,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{150,186}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,171},{150,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{150,186}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,171},{150,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{150,186}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,171},{150,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,190},{136,196}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,165},{136,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,190},{136,196}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,165},{136,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,190},{136,196}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,165},{136,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,190},{136,196}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,165},{136,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,392},{112,152}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,185},{112,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,392},{112,152}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,185},{112,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,392},{112,152}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,185},{112,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,392},{112,152}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,185},{112,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{180,192}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,139},{180,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{180,192}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,139},{180,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{180,192}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,139},{180,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{180,192}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,139},{180,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{180,192}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,139},{180,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{208,158}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,174},{208,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{208,158}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,174},{208,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{208,158}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,174},{208,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{208,158}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,174},{208,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{192,132}}</string>
                <key>offset</key>
                <string>{15,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,223},{192,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{192,132}}</string>
                <key>offset</key>
                <string>{15,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,223},{192,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{192,132}}</string>
                <key>offset</key>
                <string>{15,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,223},{192,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{192,132}}</string>
                <key>offset</key>
                <string>{15,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,223},{192,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,392},{192,112}}</string>
                <key>offset</key>
                <string>{10,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,255},{192,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,392},{192,112}}</string>
                <key>offset</key>
                <string>{10,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,255},{192,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,392},{192,112}}</string>
                <key>offset</key>
                <string>{10,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,255},{192,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,288},{192,66}}</string>
                <key>offset</key>
                <string>{17,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,299},{192,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,288},{192,66}}</string>
                <key>offset</key>
                <string>{17,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,299},{192,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,288},{192,66}}</string>
                <key>offset</key>
                <string>{17,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,299},{192,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{184,100}}</string>
                <key>offset</key>
                <string>{8,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,292},{184,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{184,100}}</string>
                <key>offset</key>
                <string>{8,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,292},{184,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{184,100}}</string>
                <key>offset</key>
                <string>{8,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,292},{184,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{184,100}}</string>
                <key>offset</key>
                <string>{8,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,292},{184,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,388},{162,116}}</string>
                <key>offset</key>
                <string>{10,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,259},{162,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,388},{162,116}}</string>
                <key>offset</key>
                <string>{10,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,259},{162,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,388},{162,116}}</string>
                <key>offset</key>
                <string>{10,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,259},{162,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,388},{162,116}}</string>
                <key>offset</key>
                <string>{10,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,259},{162,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,356},{158,130}}</string>
                <key>offset</key>
                <string>{14,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,242},{158,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,356},{158,130}}</string>
                <key>offset</key>
                <string>{14,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,242},{158,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,356},{158,130}}</string>
                <key>offset</key>
                <string>{14,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,242},{158,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,356},{158,130}}</string>
                <key>offset</key>
                <string>{14,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,242},{158,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,136},{168,150}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,217},{168,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,136},{168,150}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,217},{168,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,136},{168,150}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,217},{168,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,136},{168,150}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,217},{168,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,188},{124,172}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,185},{124,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,188},{124,172}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,185},{124,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,188},{124,172}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,185},{124,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,188},{124,172}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,185},{124,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{120,184}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,173},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{120,184}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,173},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{120,184}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,173},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_lmc0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{120,184}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,173},{120,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_25.pvr.ccz</string>
            <key>size</key>
            <string>{994,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d22477645410e730730d38a9082f9c8:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_25.pvr.ccz</string>
        </dict>
    </dict>
</plist>
