<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>muzha0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,530},{182,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,50},{182,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,714},{190,300}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,49},{190,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,714},{190,300}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,49},{190,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,714},{184,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,48},{184,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,714},{184,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,48},{184,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,530},{182,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,50},{182,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,530},{182,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,50},{182,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,512},{188,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,51},{188,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{186,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,49},{186,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,320},{190,300}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,49},{190,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,714},{184,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,48},{184,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,346},{182,328}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,20},{182,328}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,346},{182,328}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,20},{182,328}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,388}}</string>
                <key>offset</key>
                <string>{26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{324,388}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,388}}</string>
                <key>offset</key>
                <string>{26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{324,388}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,388}}</string>
                <key>offset</key>
                <string>{26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{324,388}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{340,342}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{340,342}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{340,342}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{340,342}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{340,342}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{340,342}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{322,320}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{322,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{322,320}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{322,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{322,320}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{322,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{316,300}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,48},{316,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{316,300}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,48},{316,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzha0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{316,300}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,48},{316,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_1002_a.pvr.ccz</string>
            <key>size</key>
            <string>{972,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23fff6f3c5d80f96edb390741471afd4:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_1002_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
