<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_cdizi0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,182},{95,187}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,161},{95,187}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,182},{95,187}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,161},{95,187}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,182},{95,187}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,161},{95,187}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{91,191}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,157},{91,191}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{91,191}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,157},{91,191}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{91,191}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,157},{91,191}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,95},{83,191}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,155},{83,191}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,95},{83,191}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,155},{83,191}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,95},{83,191}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,155},{83,191}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,180},{91,185}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,160},{91,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,180},{91,185}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,160},{91,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,180},{91,185}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,160},{91,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,75},{105,183}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,163},{105,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,75},{105,183}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,163},{105,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,75},{105,183}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,163},{105,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,144},{87,185}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,161},{87,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,144},{87,185}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,161},{87,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,144},{87,185}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,161},{87,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,194},{77,183}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,160},{77,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,194},{77,183}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,160},{77,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,194},{77,183}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,160},{77,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,73},{69,193}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{69,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,73},{69,193}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{69,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,73},{69,193}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{69,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{69,193}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{69,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{69,193}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{69,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{69,193}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{69,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{69,193}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{69,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{71,193}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,157},{71,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{71,193}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,157},{71,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{71,193}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,157},{71,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{71,193}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,157},{71,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{71,193}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,157},{71,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{71,193}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,157},{71,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,85},{75,193}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,157},{75,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,85},{75,193}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,157},{75,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,85},{75,193}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,157},{75,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{75,193}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,157},{75,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{75,193}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,157},{75,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{75,193}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,157},{75,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{75,193}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,157},{75,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,85},{73,193}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,157},{73,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,85},{73,193}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,157},{73,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,85},{73,193}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,157},{73,193}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,75},{173,117}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,176},{173,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,75},{173,117}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,176},{173,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,75},{173,117}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,176},{173,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,75},{173,117}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,176},{173,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,75},{173,117}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,176},{173,117}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,81}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,195},{211,81}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,81}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,195},{211,81}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,81}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,195},{211,81}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,81}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,195},{211,81}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,81}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,195},{211,81}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_13.pvr.ccz</string>
            <key>size</key>
            <string>{993,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8eb560b23feefabd06547452b7b0122:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_13.pvr.ccz</string>
        </dict>
    </dict>
</plist>
