<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jl_yqs0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,496},{480,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,84},{480,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,496},{480,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,84},{480,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,496},{480,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,84},{480,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,496},{480,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,84},{480,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{482,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,84},{482,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{482,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,84},{482,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{482,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,84},{482,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{482,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,84},{482,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,84},{482,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,84},{482,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,84},{482,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,84},{482,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>jl_yqs0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{480,492}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,84},{480,492}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_jl_yqs_1012_a.pvr.ccz</string>
            <key>size</key>
            <string>{968,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cc79b68a2f0fda4558ae0e117a95b6f:1/1$</string>
            <key>textureFileName</key>
            <string>Role_jl_yqs_1012_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
