<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_ybq0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,192},{162,188}}</string>
                <key>offset</key>
                <string>{15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,186},{162,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,192},{162,188}}</string>
                <key>offset</key>
                <string>{15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,186},{162,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,192},{162,188}}</string>
                <key>offset</key>
                <string>{15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,186},{162,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,626},{164,218}}</string>
                <key>offset</key>
                <string>{21,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,156},{164,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,626},{164,218}}</string>
                <key>offset</key>
                <string>{21,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,156},{164,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,626},{164,218}}</string>
                <key>offset</key>
                <string>{21,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,156},{164,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,626},{164,218}}</string>
                <key>offset</key>
                <string>{21,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,156},{164,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,626},{164,218}}</string>
                <key>offset</key>
                <string>{21,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,156},{164,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,802},{260,184}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,190},{260,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,802},{260,184}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,190},{260,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,802},{178,182}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,192},{178,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,802},{178,182}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,192},{178,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,802},{178,182}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,192},{178,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,626},{166,182}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,193},{166,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,626},{166,182}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,193},{166,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,626},{166,182}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,193},{166,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,626},{166,182}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,193},{166,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,208},{308,180}}</string>
                <key>offset</key>
                <string>{94,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,194},{308,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,208},{308,180}}</string>
                <key>offset</key>
                <string>{94,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,194},{308,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,356},{176,186}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,188},{176,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,356},{176,186}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,188},{176,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{308,180}}</string>
                <key>offset</key>
                <string>{96,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,194},{308,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{308,180}}</string>
                <key>offset</key>
                <string>{96,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,194},{308,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{308,180}}</string>
                <key>offset</key>
                <string>{96,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,194},{308,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,534},{166,180}}</string>
                <key>offset</key>
                <string>{24,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,194},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,534},{166,180}}</string>
                <key>offset</key>
                <string>{24,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,194},{166,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{308,180}}</string>
                <key>offset</key>
                <string>{96,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,194},{308,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{308,180}}</string>
                <key>offset</key>
                <string>{96,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,194},{308,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{308,180}}</string>
                <key>offset</key>
                <string>{96,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,194},{308,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{308,180}}</string>
                <key>offset</key>
                <string>{96,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,194},{308,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{202,188}}</string>
                <key>offset</key>
                <string>{36,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,186},{202,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{202,188}}</string>
                <key>offset</key>
                <string>{36,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,186},{202,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{202,188}}</string>
                <key>offset</key>
                <string>{36,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,186},{202,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybqa0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,802},{276,178}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,230},{276,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,204}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,221},{354,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{352,204}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,226},{352,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{290,120}}</string>
                <key>offset</key>
                <string>{145,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,261},{290,120}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,508},{294,116}}</string>
                <key>offset</key>
                <string>{149,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,255},{294,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,508},{294,116}}</string>
                <key>offset</key>
                <string>{149,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,255},{294,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,330},{292,104}}</string>
                <key>offset</key>
                <string>{133,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,283},{292,104}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,504},{296,114}}</string>
                <key>offset</key>
                <string>{131,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,278},{296,114}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,504},{296,114}}</string>
                <key>offset</key>
                <string>{131,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,278},{296,114}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,208},{294,106}}</string>
                <key>offset</key>
                <string>{139,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,256},{294,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,390},{304,116}}</string>
                <key>offset</key>
                <string>{144,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,255},{304,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,390},{304,116}}</string>
                <key>offset</key>
                <string>{144,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,255},{304,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ybqa0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_41_a.pvr.ccz</string>
            <key>size</key>
            <string>{921,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a47dddd6d6fc6ef61c44053c854a8d75:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_41_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
