<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_deb0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,392},{226,204}}</string>
                <key>offset</key>
                <string>{-33,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,175},{226,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,392},{226,204}}</string>
                <key>offset</key>
                <string>{-33,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,175},{226,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,392},{226,204}}</string>
                <key>offset</key>
                <string>{-33,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,175},{226,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,598},{266,186}}</string>
                <key>offset</key>
                <string>{91,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,191},{266,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,598},{266,186}}</string>
                <key>offset</key>
                <string>{91,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,191},{266,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,786},{158,196}}</string>
                <key>offset</key>
                <string>{33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,181},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,786},{158,196}}</string>
                <key>offset</key>
                <string>{33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,181},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,786},{158,196}}</string>
                <key>offset</key>
                <string>{33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,181},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,786},{158,196}}</string>
                <key>offset</key>
                <string>{33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,181},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,786},{158,196}}</string>
                <key>offset</key>
                <string>{33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,181},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,786},{158,196}}</string>
                <key>offset</key>
                <string>{33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,181},{158,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,786},{192,194}}</string>
                <key>offset</key>
                <string>{50,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,183},{192,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,786},{192,194}}</string>
                <key>offset</key>
                <string>{50,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,183},{192,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,786},{192,194}}</string>
                <key>offset</key>
                <string>{50,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,183},{192,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,786},{192,194}}</string>
                <key>offset</key>
                <string>{50,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,183},{192,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,780},{268,198}}</string>
                <key>offset</key>
                <string>{92,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,179},{268,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,780},{268,198}}</string>
                <key>offset</key>
                <string>{92,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,179},{268,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{354,214}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,164},{354,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{354,214}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,164},{354,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{354,214}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,164},{354,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{354,214}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,164},{354,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{354,214}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,164},{354,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{354,214}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,164},{354,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deba0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,268}}</string>
                <key>offset</key>
                <string>{-17,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,353},{532,268}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,268}}</string>
                <key>offset</key>
                <string>{-17,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,353},{532,268}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{356,168}}</string>
                <key>offset</key>
                <string>{241,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,354},{356,168}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{356,168}}</string>
                <key>offset</key>
                <string>{241,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,354},{356,168}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{356,168}}</string>
                <key>offset</key>
                <string>{241,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,354},{356,168}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{356,168}}</string>
                <key>offset</key>
                <string>{241,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,354},{356,168}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,588},{346,190}}</string>
                <key>offset</key>
                <string>{235,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,342},{346,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,588},{346,190}}</string>
                <key>offset</key>
                <string>{235,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,342},{346,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,588},{346,190}}</string>
                <key>offset</key>
                <string>{235,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,342},{346,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,588},{346,190}}</string>
                <key>offset</key>
                <string>{235,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,342},{346,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{380,178}}</string>
                <key>offset</key>
                <string>{256,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,359},{380,178}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{380,178}}</string>
                <key>offset</key>
                <string>{256,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,359},{380,178}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{380,178}}</string>
                <key>offset</key>
                <string>{256,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,359},{380,178}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{380,178}}</string>
                <key>offset</key>
                <string>{256,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,359},{380,178}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{384,180}}</string>
                <key>offset</key>
                <string>{258,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,358},{384,180}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{384,180}}</string>
                <key>offset</key>
                <string>{258,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,358},{384,180}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{384,180}}</string>
                <key>offset</key>
                <string>{258,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,358},{384,180}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{384,180}}</string>
                <key>offset</key>
                <string>{258,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,358},{384,180}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,218},{364,172}}</string>
                <key>offset</key>
                <string>{246,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{514,350},{364,172}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,218},{364,172}}</string>
                <key>offset</key>
                <string>{246,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{514,350},{364,172}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,218},{364,172}}</string>
                <key>offset</key>
                <string>{246,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{514,350},{364,172}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,218},{364,172}}</string>
                <key>offset</key>
                <string>{246,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{514,350},{364,172}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{386,188}}</string>
                <key>offset</key>
                <string>{257,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{514,342},{386,188}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{386,188}}</string>
                <key>offset</key>
                <string>{257,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{514,342},{386,188}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{386,188}}</string>
                <key>offset</key>
                <string>{257,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{514,342},{386,188}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{386,188}}</string>
                <key>offset</key>
                <string>{257,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{514,342},{386,188}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,392},{362,194}}</string>
                <key>offset</key>
                <string>{248,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{517,345},{362,194}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,392},{362,194}}</string>
                <key>offset</key>
                <string>{248,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{517,345},{362,194}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,392},{362,194}}</string>
                <key>offset</key>
                <string>{248,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{517,345},{362,194}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,392},{362,194}}</string>
                <key>offset</key>
                <string>{248,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{517,345},{362,194}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>boss_deba0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_9_b.pvr.ccz</string>
            <key>size</key>
            <string>{1010,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc9de1f613fdaca4e49b37badd03ad64:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_9_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
