<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_deb0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,206}}</string>
                <key>offset</key>
                <string>{30,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,173},{236,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,206}}</string>
                <key>offset</key>
                <string>{30,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,173},{236,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,206}}</string>
                <key>offset</key>
                <string>{30,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,173},{236,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,206}}</string>
                <key>offset</key>
                <string>{30,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,173},{236,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{224,200}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,179},{224,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{224,200}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,179},{224,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{224,200}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,179},{224,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{200,202}}</string>
                <key>offset</key>
                <string>{-29,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,177},{200,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{200,202}}</string>
                <key>offset</key>
                <string>{-29,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,177},{200,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{200,202}}</string>
                <key>offset</key>
                <string>{-29,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,177},{200,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,332},{176,210}}</string>
                <key>offset</key>
                <string>{-32,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,169},{176,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,332},{176,210}}</string>
                <key>offset</key>
                <string>{-32,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,169},{176,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,332},{176,210}}</string>
                <key>offset</key>
                <string>{-32,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,169},{176,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,512},{160,176}}</string>
                <key>offset</key>
                <string>{-28,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,206},{160,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,512},{160,176}}</string>
                <key>offset</key>
                <string>{-28,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,206},{160,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,512},{160,176}}</string>
                <key>offset</key>
                <string>{-28,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,206},{160,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,368},{170,188}}</string>
                <key>offset</key>
                <string>{-20,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,190},{170,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,368},{170,188}}</string>
                <key>offset</key>
                <string>{-20,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,190},{170,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,368},{170,188}}</string>
                <key>offset</key>
                <string>{-20,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,190},{170,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,368},{170,188}}</string>
                <key>offset</key>
                <string>{-20,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,190},{170,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,366},{192,174}}</string>
                <key>offset</key>
                <string>{-59,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,207},{192,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,366},{192,174}}</string>
                <key>offset</key>
                <string>{-59,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,207},{192,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,366},{192,174}}</string>
                <key>offset</key>
                <string>{-59,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,207},{192,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,542},{148,158}}</string>
                <key>offset</key>
                <string>{-50,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,260},{148,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,542},{148,158}}</string>
                <key>offset</key>
                <string>{-50,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,260},{148,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,368},{178,142}}</string>
                <key>offset</key>
                <string>{-49,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,266},{178,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,368},{178,142}}</string>
                <key>offset</key>
                <string>{-49,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,266},{178,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{256,100}}</string>
                <key>offset</key>
                <string>{-26,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,317},{256,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{256,100}}</string>
                <key>offset</key>
                <string>{-26,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,317},{256,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,192},{246,138}}</string>
                <key>offset</key>
                <string>{-27,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,295},{246,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,192},{246,138}}</string>
                <key>offset</key>
                <string>{-27,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,295},{246,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,192},{246,138}}</string>
                <key>offset</key>
                <string>{-27,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,295},{246,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,510},{186,158}}</string>
                <key>offset</key>
                <string>{3,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,251},{186,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,510},{186,158}}</string>
                <key>offset</key>
                <string>{3,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,251},{186,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,542},{186,150}}</string>
                <key>offset</key>
                <string>{1,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,252},{186,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,542},{186,150}}</string>
                <key>offset</key>
                <string>{1,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,252},{186,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,180},{196,184}}</string>
                <key>offset</key>
                <string>{21,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,206},{196,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,180},{196,184}}</string>
                <key>offset</key>
                <string>{21,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,206},{196,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,180},{196,184}}</string>
                <key>offset</key>
                <string>{21,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,206},{196,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,194},{172,214}}</string>
                <key>offset</key>
                <string>{22,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,187},{172,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,194},{172,214}}</string>
                <key>offset</key>
                <string>{22,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,187},{172,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,194},{172,214}}</string>
                <key>offset</key>
                <string>{22,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,187},{172,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{176,226}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,177},{176,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{176,226}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,177},{176,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{176,226}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,177},{176,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{188,218}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,172},{188,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{188,218}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,172},{188,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{190,212}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,168},{190,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_deb0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{190,212}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,168},{190,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_9.pvr.ccz</string>
            <key>size</key>
            <string>{1004,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee77f1e2ad23318b3ea46a3a897222f6:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
