<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zzz0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,176},{164,160}}</string>
                <key>offset</key>
                <string>{-21,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,216},{164,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,176},{164,160}}</string>
                <key>offset</key>
                <string>{-21,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,216},{164,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{172,158}}</string>
                <key>offset</key>
                <string>{-15,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,218},{172,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{172,158}}</string>
                <key>offset</key>
                <string>{-15,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,218},{172,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{172,158}}</string>
                <key>offset</key>
                <string>{-15,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,218},{172,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{172,158}}</string>
                <key>offset</key>
                <string>{-15,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,218},{172,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,182},{160,170}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,206},{160,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,182},{160,170}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,206},{160,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,182},{160,170}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,206},{160,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{156,172}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,204},{156,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{156,172}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,204},{156,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{156,172}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,204},{156,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{168,174}}</string>
                <key>offset</key>
                <string>{-19,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,202},{168,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{168,174}}</string>
                <key>offset</key>
                <string>{-19,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,202},{168,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{168,174}}</string>
                <key>offset</key>
                <string>{-19,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,202},{168,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,178}}</string>
                <key>offset</key>
                <string>{-25,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,198},{170,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,178}}</string>
                <key>offset</key>
                <string>{-25,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,198},{170,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,178}}</string>
                <key>offset</key>
                <string>{-25,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,198},{170,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,316},{110,180}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,194},{110,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,316},{110,180}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,194},{110,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,316},{110,180}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,194},{110,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{106,158}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,162},{106,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{106,158}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,162},{106,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{106,158}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,162},{106,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{106,158}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,162},{106,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{156,112}}</string>
                <key>offset</key>
                <string>{-25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,176},{156,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{156,112}}</string>
                <key>offset</key>
                <string>{-25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,176},{156,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{156,112}}</string>
                <key>offset</key>
                <string>{-25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,176},{156,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{156,112}}</string>
                <key>offset</key>
                <string>{-25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,176},{156,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{156,112}}</string>
                <key>offset</key>
                <string>{-25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,176},{156,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,136},{148,134}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,209},{148,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,136},{148,134}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,209},{148,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,136},{148,134}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,209},{148,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,136},{148,134}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,209},{148,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,286},{172,102}}</string>
                <key>offset</key>
                <string>{-36,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,288},{172,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,286},{172,102}}</string>
                <key>offset</key>
                <string>{-36,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,288},{172,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,286},{172,102}}</string>
                <key>offset</key>
                <string>{-36,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,288},{172,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,286},{172,102}}</string>
                <key>offset</key>
                <string>{-36,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,288},{172,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,354},{192,78}}</string>
                <key>offset</key>
                <string>{-25,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,306},{192,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,354},{192,78}}</string>
                <key>offset</key>
                <string>{-25,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,306},{192,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,354},{192,78}}</string>
                <key>offset</key>
                <string>{-25,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,306},{192,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,354},{192,78}}</string>
                <key>offset</key>
                <string>{-25,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,306},{192,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{190,58}}</string>
                <key>offset</key>
                <string>{-19,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,332},{190,58}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{190,58}}</string>
                <key>offset</key>
                <string>{-19,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,332},{190,58}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{190,58}}</string>
                <key>offset</key>
                <string>{-19,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,332},{190,58}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,136},{178,112}}</string>
                <key>offset</key>
                <string>{-1,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,277},{178,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,136},{178,112}}</string>
                <key>offset</key>
                <string>{-1,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,277},{178,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,136},{178,112}}</string>
                <key>offset</key>
                <string>{-1,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,277},{178,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,224},{106,120}}</string>
                <key>offset</key>
                <string>{-8,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,266},{106,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,224},{106,120}}</string>
                <key>offset</key>
                <string>{-8,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,266},{106,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,224},{106,120}}</string>
                <key>offset</key>
                <string>{-8,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,266},{106,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,342},{90,138}}</string>
                <key>offset</key>
                <string>{-7,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,265},{90,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,342},{90,138}}</string>
                <key>offset</key>
                <string>{-7,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,265},{90,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,342},{90,138}}</string>
                <key>offset</key>
                <string>{-7,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,265},{90,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,110},{112,138}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,252},{112,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,110},{112,138}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,252},{112,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,110},{112,138}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,252},{112,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,116},{104,166}}</string>
                <key>offset</key>
                <string>{-9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,211},{104,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,116},{104,166}}</string>
                <key>offset</key>
                <string>{-9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,211},{104,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,116},{104,166}}</string>
                <key>offset</key>
                <string>{-9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,211},{104,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{132,176}}</string>
                <key>offset</key>
                <string>{-21,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,200},{132,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{132,176}}</string>
                <key>offset</key>
                <string>{-21,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,200},{132,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{132,176}}</string>
                <key>offset</key>
                <string>{-21,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,200},{132,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_26.pvr.ccz</string>
            <key>size</key>
            <string>{992,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b07a41f97dae525c2a6966d515ed651c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_26.pvr.ccz</string>
        </dict>
    </dict>
</plist>
