<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_l0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{256,122}}</string>
                <key>offset</key>
                <string>{-21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,213},{256,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{256,122}}</string>
                <key>offset</key>
                <string>{-21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,213},{256,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{256,122}}</string>
                <key>offset</key>
                <string>{-21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,213},{256,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{256,122}}</string>
                <key>offset</key>
                <string>{-21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,213},{256,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{242,120}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,209},{242,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{242,120}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,209},{242,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{242,120}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,209},{242,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{242,120}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,209},{242,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{230,122}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,202},{230,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{230,122}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,202},{230,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{230,122}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,202},{230,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{230,122}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,202},{230,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{232,128}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,202},{232,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{232,128}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,202},{232,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{232,128}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,202},{232,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{232,128}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,202},{232,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{250,122}}</string>
                <key>offset</key>
                <string>{-27,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,204},{250,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{250,122}}</string>
                <key>offset</key>
                <string>{-27,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,204},{250,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{250,122}}</string>
                <key>offset</key>
                <string>{-27,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,204},{250,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{250,122}}</string>
                <key>offset</key>
                <string>{-27,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,204},{250,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,128}}</string>
                <key>offset</key>
                <string>{-30,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,206},{256,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,128}}</string>
                <key>offset</key>
                <string>{-30,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,206},{256,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,128}}</string>
                <key>offset</key>
                <string>{-30,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,206},{256,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,128}}</string>
                <key>offset</key>
                <string>{-30,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,206},{256,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,628},{224,124}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,209},{224,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,628},{224,124}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,209},{224,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,628},{224,124}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,209},{224,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,628},{224,124}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,209},{224,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,502},{226,124}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,209},{226,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,502},{226,124}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,209},{226,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,502},{226,124}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,209},{226,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,502},{226,124}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,209},{226,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,126},{228,126}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,207},{228,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,126},{228,126}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,207},{228,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,126},{228,126}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,207},{228,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,126},{228,126}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,207},{228,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,502},{232,126}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,207},{232,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,502},{232,126}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,207},{232,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,502},{232,126}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,207},{232,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,502},{232,126}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,207},{232,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{238,124}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,209},{238,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{238,124}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,209},{238,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{238,124}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,209},{238,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{238,124}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,209},{238,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,378},{234,122}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,211},{234,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,378},{234,122}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,211},{234,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,378},{234,122}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,211},{234,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,378},{234,122}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,211},{234,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0725.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,254},{228,122}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,211},{228,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0726.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,254},{228,122}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,211},{228,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0727.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,254},{228,122}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,211},{228,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0728.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,254},{228,122}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,211},{228,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,754},{218,138}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,183},{218,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,754},{218,138}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,183},{218,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,754},{218,138}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,183},{218,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,754},{218,138}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,183},{218,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,754},{218,138}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,183},{218,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,754},{202,138}}</string>
                <key>offset</key>
                <string>{-35,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,175},{202,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,754},{202,138}}</string>
                <key>offset</key>
                <string>{-35,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,175},{202,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,754},{202,138}}</string>
                <key>offset</key>
                <string>{-35,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,175},{202,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,754},{202,138}}</string>
                <key>offset</key>
                <string>{-35,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,175},{202,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_l0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,754},{202,138}}</string>
                <key>offset</key>
                <string>{-35,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,175},{202,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_43.pvr.ccz</string>
            <key>size</key>
            <string>{492,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ef828ebb5ff23006eb3f98e4dae1fcc:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_43.pvr.ccz</string>
        </dict>
    </dict>
</plist>
