<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_4tyn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{132,218}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,134},{132,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{132,218}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,134},{132,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,206},{136,200}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,152},{136,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,206},{136,200}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,152},{136,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,206},{136,200}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,152},{136,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,278},{224,196}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,156},{224,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,278},{224,196}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,156},{224,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,278},{224,196}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,156},{224,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{274,182}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,170},{274,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{274,182}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,170},{274,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{274,182}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,170},{274,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,186}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,166},{302,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,186}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,166},{302,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,186}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,166},{302,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{298,190}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,162},{298,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{298,190}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,162},{298,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{298,190}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,162},{298,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,222},{116,206}}</string>
                <key>offset</key>
                <string>{35,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,79},{116,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,222},{116,206}}</string>
                <key>offset</key>
                <string>{35,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,79},{116,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,222},{116,206}}</string>
                <key>offset</key>
                <string>{35,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,79},{116,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{120,202}}</string>
                <key>offset</key>
                <string>{33,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,61},{120,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{120,202}}</string>
                <key>offset</key>
                <string>{33,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,61},{120,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{120,202}}</string>
                <key>offset</key>
                <string>{33,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,61},{120,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{120,202}}</string>
                <key>offset</key>
                <string>{33,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,61},{120,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{120,202}}</string>
                <key>offset</key>
                <string>{33,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,61},{120,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,188},{152,154}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,163},{152,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,188},{152,154}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,163},{152,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,188},{152,154}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,163},{152,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,188},{152,154}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,163},{152,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,152},{164,154}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,193},{164,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,152},{164,154}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,193},{164,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,152},{164,154}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,193},{164,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{176,148}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,215},{176,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{176,148}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,215},{176,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{176,148}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,215},{176,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,504},{200,74}}</string>
                <key>offset</key>
                <string>{13,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,297},{200,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,504},{200,74}}</string>
                <key>offset</key>
                <string>{13,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,297},{200,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,504},{200,74}}</string>
                <key>offset</key>
                <string>{13,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,297},{200,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,430},{192,170}}</string>
                <key>offset</key>
                <string>{26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,194},{192,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,430},{192,170}}</string>
                <key>offset</key>
                <string>{26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,194},{192,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,430},{192,170}}</string>
                <key>offset</key>
                <string>{26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,194},{192,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,308},{162,110}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,245},{162,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,308},{162,110}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,245},{162,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,308},{162,110}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,245},{162,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,408},{188,118}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{188,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,408},{188,118}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{188,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,408},{188,118}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{188,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,408},{188,118}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,238},{188,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,420},{146,152}}</string>
                <key>offset</key>
                <string>{31,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,233},{146,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,420},{146,152}}</string>
                <key>offset</key>
                <string>{31,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,233},{146,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,420},{146,152}}</string>
                <key>offset</key>
                <string>{31,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,233},{146,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,420},{146,152}}</string>
                <key>offset</key>
                <string>{31,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,233},{146,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,420},{142,152}}</string>
                <key>offset</key>
                <string>{44,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,203},{142,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,420},{142,152}}</string>
                <key>offset</key>
                <string>{44,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,203},{142,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,420},{142,152}}</string>
                <key>offset</key>
                <string>{44,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,203},{142,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,420},{142,152}}</string>
                <key>offset</key>
                <string>{44,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,203},{142,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{170,184}}</string>
                <key>offset</key>
                <string>{45,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,171},{170,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{170,184}}</string>
                <key>offset</key>
                <string>{45,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,171},{170,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_4tyn0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{170,184}}</string>
                <key>offset</key>
                <string>{45,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,171},{170,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_31.pvr.ccz</string>
            <key>size</key>
            <string>{1002,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:751b0b7c257283908e7a7c0f6e2562cc:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_31.pvr.ccz</string>
        </dict>
    </dict>
</plist>
