<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dy0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,180},{116,228}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,155},{116,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,180},{116,228}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,155},{116,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,562},{172,230}}</string>
                <key>offset</key>
                <string>{-49,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,153},{172,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,562},{172,230}}</string>
                <key>offset</key>
                <string>{-49,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,153},{172,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,562},{172,230}}</string>
                <key>offset</key>
                <string>{-49,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,153},{172,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,582},{268,222}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,160},{268,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,582},{268,222}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,160},{268,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,794},{188,220}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,162},{188,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,794},{188,220}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,162},{188,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,852},{158,226}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,156},{158,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,852},{158,226}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,156},{158,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,852},{158,226}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,156},{158,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,852},{158,226}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,156},{158,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,610},{284,196}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,186},{284,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,610},{284,196}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,186},{284,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,610},{284,196}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,186},{284,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,610},{284,196}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,186},{284,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,610},{284,196}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,186},{284,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,610},{284,196}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,186},{284,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dy0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,610},{284,196}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,186},{284,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,180},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,180},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,180},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,180},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{332,188}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,168},{332,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{332,188}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,168},{332,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,652},{306,186}}</string>
                <key>offset</key>
                <string>{33,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,166},{306,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,652},{306,186}}</string>
                <key>offset</key>
                <string>{33,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,166},{306,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,896},{192,122}}</string>
                <key>offset</key>
                <string>{60,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,220},{192,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,896},{192,122}}</string>
                <key>offset</key>
                <string>{60,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,220},{192,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,180},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,180},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,180},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,180},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,194}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,159},{450,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{452,192}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,159},{452,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{452,192}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,159},{452,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{452,176}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,165},{452,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{452,176}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,165},{452,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,198},{416,172}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,168},{416,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,198},{416,172}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,168},{416,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,198},{416,172}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,168},{416,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,198},{410,168}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,171},{410,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,198},{410,168}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,171},{410,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,180},{400,164}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,174},{400,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,180},{400,164}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,174},{400,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,180},{380,156}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,178},{380,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dya0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,180},{380,156}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,178},{380,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_18_a.pvr.ccz</string>
            <key>size</key>
            <string>{996,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:959fb09c52d5ab178356f54d5f9db647:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_18_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
