<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_wyy0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{128,182}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,184},{128,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{128,182}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,184},{128,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{128,182}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,184},{128,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,124},{98,186}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,182},{98,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,124},{98,186}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,182},{98,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,124},{98,186}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,182},{98,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,124},{98,186}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,182},{98,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,124},{98,186}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,182},{98,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,124},{98,186}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,182},{98,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,154}}</string>
                <key>offset</key>
                <string>{83,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,215},{236,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,154}}</string>
                <key>offset</key>
                <string>{83,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,215},{236,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,134},{132,150}}</string>
                <key>offset</key>
                <string>{30,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,219},{132,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,134},{132,150}}</string>
                <key>offset</key>
                <string>{30,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,219},{132,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,134},{132,150}}</string>
                <key>offset</key>
                <string>{30,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,219},{132,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,138},{130,174}}</string>
                <key>offset</key>
                <string>{30,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,195},{130,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,138},{130,174}}</string>
                <key>offset</key>
                <string>{30,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,195},{130,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,138},{130,174}}</string>
                <key>offset</key>
                <string>{30,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,195},{130,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,138},{130,174}}</string>
                <key>offset</key>
                <string>{30,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,195},{130,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,138},{130,174}}</string>
                <key>offset</key>
                <string>{30,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,195},{130,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,138},{130,174}}</string>
                <key>offset</key>
                <string>{30,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,195},{130,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,134},{150,152}}</string>
                <key>offset</key>
                <string>{40,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,217},{150,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,134},{150,152}}</string>
                <key>offset</key>
                <string>{40,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,217},{150,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,134},{150,152}}</string>
                <key>offset</key>
                <string>{40,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,217},{150,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{134,174}}</string>
                <key>offset</key>
                <string>{28,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,195},{134,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{134,174}}</string>
                <key>offset</key>
                <string>{28,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,195},{134,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{134,174}}</string>
                <key>offset</key>
                <string>{28,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,195},{134,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,68},{270,54}}</string>
                <key>offset</key>
                <string>{85,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,248},{270,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,68},{270,54}}</string>
                <key>offset</key>
                <string>{85,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,248},{270,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,68},{294,64}}</string>
                <key>offset</key>
                <string>{103,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,238},{294,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,68},{294,64}}</string>
                <key>offset</key>
                <string>{103,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,238},{294,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{296,64}}</string>
                <key>offset</key>
                <string>{102,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,239},{296,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{276,64}}</string>
                <key>offset</key>
                <string>{112,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,238},{276,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{276,64}}</string>
                <key>offset</key>
                <string>{112,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,238},{276,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,224},{170,34}}</string>
                <key>offset</key>
                <string>{136,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,265},{170,34}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyya0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_37_b.pvr.ccz</string>
            <key>size</key>
            <string>{992,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1c32737555c98075f83b21af25da4d8:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_37_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
