<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huopao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,646},{306,358}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,73},{306,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,646},{306,358}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,73},{306,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,364},{320,358}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,73},{320,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,364},{320,358}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,73},{320,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,324},{320,358}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,73},{320,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,324},{320,358}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,73},{320,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,360}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,73},{320,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,360}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,73},{320,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{320,360}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,72},{320,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{320,360}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,72},{320,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,364}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{320,364}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,364}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{320,364}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,358}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,73},{320,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huopao0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,358}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,73},{320,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_8_d.pvr.ccz</string>
            <key>size</key>
            <string>{1006,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbbbc8940c98e84e77ef8397ad568725:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_8_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
