<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_2tyn0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,846},{220,154}}</string>
                <key>offset</key>
                <string>{26,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,204},{220,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,846},{220,154}}</string>
                <key>offset</key>
                <string>{26,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,204},{220,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,846},{220,154}}</string>
                <key>offset</key>
                <string>{26,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,204},{220,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,846},{216,150}}</string>
                <key>offset</key>
                <string>{82,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,208},{216,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,576},{216,150}}</string>
                <key>offset</key>
                <string>{82,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,208},{216,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,422},{104,154}}</string>
                <key>offset</key>
                <string>{26,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,204},{104,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,422},{104,154}}</string>
                <key>offset</key>
                <string>{26,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,204},{104,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,578},{106,154}}</string>
                <key>offset</key>
                <string>{27,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,204},{106,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,578},{106,154}}</string>
                <key>offset</key>
                <string>{27,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,204},{106,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,578},{106,154}}</string>
                <key>offset</key>
                <string>{27,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,204},{106,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,578},{106,154}}</string>
                <key>offset</key>
                <string>{27,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,204},{106,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,578},{106,154}}</string>
                <key>offset</key>
                <string>{27,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,204},{106,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,422},{218,152}}</string>
                <key>offset</key>
                <string>{78,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,204},{218,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,422},{218,152}}</string>
                <key>offset</key>
                <string>{78,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,204},{218,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,824},{144,174}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,182},{144,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,824},{144,174}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,182},{144,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,824},{144,174}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,182},{144,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,824},{144,174}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,182},{144,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{148,172}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,194},{148,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{148,172}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,194},{148,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,242},{116,176}}</string>
                <key>offset</key>
                <string>{60,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,189},{116,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,242},{116,176}}</string>
                <key>offset</key>
                <string>{60,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,189},{116,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,242},{116,176}}</string>
                <key>offset</key>
                <string>{60,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,189},{116,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,242},{116,176}}</string>
                <key>offset</key>
                <string>{60,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,189},{116,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,634},{196,210}}</string>
                <key>offset</key>
                <string>{114,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,156},{196,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,634},{196,210}}</string>
                <key>offset</key>
                <string>{114,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,156},{196,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{284,142}}</string>
                <key>offset</key>
                <string>{84,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,223},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{284,142}}</string>
                <key>offset</key>
                <string>{84,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,223},{284,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{280,140}}</string>
                <key>offset</key>
                <string>{86,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,225},{280,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{280,140}}</string>
                <key>offset</key>
                <string>{86,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,225},{280,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{280,140}}</string>
                <key>offset</key>
                <string>{86,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,225},{280,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{280,140}}</string>
                <key>offset</key>
                <string>{86,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,225},{280,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{280,140}}</string>
                <key>offset</key>
                <string>{86,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,225},{280,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{280,140}}</string>
                <key>offset</key>
                <string>{86,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,225},{280,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,162}}</string>
                <key>offset</key>
                <string>{43,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,203},{308,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,162}}</string>
                <key>offset</key>
                <string>{43,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,203},{308,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,162}}</string>
                <key>offset</key>
                <string>{43,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,203},{308,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,242},{222,178}}</string>
                <key>offset</key>
                <string>{40,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,183},{222,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,242},{222,178}}</string>
                <key>offset</key>
                <string>{40,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,183},{222,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,242},{222,178}}</string>
                <key>offset</key>
                <string>{40,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,183},{222,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyna0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,666},{144,74}}</string>
                <key>offset</key>
                <string>{131,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,355},{144,74}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,510},{154,74}}</string>
                <key>offset</key>
                <string>{129,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,355},{154,74}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,346},{162,74}}</string>
                <key>offset</key>
                <string>{125,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,354},{162,74}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,176},{168,76}}</string>
                <key>offset</key>
                <string>{121,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,352},{168,76}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,812},{140,52}}</string>
                <key>offset</key>
                <string>{123,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,394},{140,52}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,144},{258,96}}</string>
                <key>offset</key>
                <string>{61,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,350},{258,96}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,310},{286,124}}</string>
                <key>offset</key>
                <string>{35,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,320},{286,124}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,728},{212,116}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,312},{212,116}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,734},{130,88}}</string>
                <key>offset</key>
                <string>{-57,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,308},{130,88}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,728},{6,4}}</string>
                <key>offset</key>
                <string>{-94,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,331},{6,4}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{322,98}}</string>
                <key>offset</key>
                <string>{127,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,345},{322,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{322,98}}</string>
                <key>offset</key>
                <string>{127,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,345},{322,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{326,78}}</string>
                <key>offset</key>
                <string>{114,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,364},{326,78}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{326,78}}</string>
                <key>offset</key>
                <string>{114,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,364},{326,78}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,310},{322,74}}</string>
                <key>offset</key>
                <string>{113,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,367},{322,74}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,310},{322,74}}</string>
                <key>offset</key>
                <string>{113,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,367},{322,74}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>boss_2tyna0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_29.pvr.ccz</string>
            <key>size</key>
            <string>{744,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75ca930f70c440593ed1a522345f2984:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_29.pvr.ccz</string>
        </dict>
    </dict>
</plist>
