<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zlca0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,706},{194,178}}</string>
                <key>offset</key>
                <string>{-65,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,192},{194,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{402,178}}</string>
                <key>offset</key>
                <string>{38,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,192},{402,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{402,178}}</string>
                <key>offset</key>
                <string>{38,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,193},{402,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{402,178}}</string>
                <key>offset</key>
                <string>{38,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,193},{402,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,176},{386,166}}</string>
                <key>offset</key>
                <string>{31,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,205},{386,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,176},{386,166}}</string>
                <key>offset</key>
                <string>{31,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,205},{386,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{286,168}}</string>
                <key>offset</key>
                <string>{23,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,200},{286,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{286,168}}</string>
                <key>offset</key>
                <string>{23,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,200},{286,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,712},{282,170}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,197},{282,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,712},{282,170}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,197},{282,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,706},{292,170}}</string>
                <key>offset</key>
                <string>{28,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,197},{292,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,706},{292,170}}</string>
                <key>offset</key>
                <string>{28,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,197},{292,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,344},{306,170}}</string>
                <key>offset</key>
                <string>{59,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,197},{306,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,344},{306,170}}</string>
                <key>offset</key>
                <string>{59,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,197},{306,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{312,172}}</string>
                <key>offset</key>
                <string>{52,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,198},{312,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{312,172}}</string>
                <key>offset</key>
                <string>{52,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,198},{312,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,172}}</string>
                <key>offset</key>
                <string>{-7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,198},{478,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{408,174}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,198},{408,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{408,174}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,198},{408,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,516},{394,188}}</string>
                <key>offset</key>
                <string>{-34,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,185},{394,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zlca0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,516},{394,188}}</string>
                <key>offset</key>
                <string>{-34,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,185},{394,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_40_b.pvr.ccz</string>
            <key>size</key>
            <string>{802,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9fa8fc654a920ee97a9082b27caecc2:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_40_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
