<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bmdizi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,174},{170,208}}</string>
                <key>offset</key>
                <string>{-37,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,164},{170,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,174},{170,208}}</string>
                <key>offset</key>
                <string>{-37,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,164},{170,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,250},{196,220}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,152},{196,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,250},{196,220}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,152},{196,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,250},{196,220}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,152},{196,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{184,216}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,156},{184,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{184,216}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,156},{184,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{184,216}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,156},{184,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,472},{158,212}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,160},{158,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,472},{158,212}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,160},{158,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,472},{158,212}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,160},{158,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,550},{146,206}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,166},{146,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,550},{146,206}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,166},{146,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,550},{146,206}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,166},{146,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,384},{164,212}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,160},{164,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,384},{164,212}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,160},{164,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,384},{164,212}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,160},{164,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,300},{280,188}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,182},{280,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,300},{280,188}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,182},{280,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,300},{280,188}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,182},{280,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,300},{280,188}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,182},{280,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{172,296}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,124},{172,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{172,296}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,124},{172,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{172,296}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,124},{172,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{172,296}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,124},{172,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{172,296}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,124},{172,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{170,182}}</string>
                <key>offset</key>
                <string>{-49,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,218},{170,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{170,182}}</string>
                <key>offset</key>
                <string>{-49,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,218},{170,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{170,182}}</string>
                <key>offset</key>
                <string>{-49,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,218},{170,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{170,182}}</string>
                <key>offset</key>
                <string>{-49,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,218},{170,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{246,202}}</string>
                <key>offset</key>
                <string>{-78,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,239},{246,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{246,202}}</string>
                <key>offset</key>
                <string>{-78,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,239},{246,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{246,202}}</string>
                <key>offset</key>
                <string>{-78,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,239},{246,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{308,162}}</string>
                <key>offset</key>
                <string>{-82,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,257},{308,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{308,162}}</string>
                <key>offset</key>
                <string>{-82,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,257},{308,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{308,162}}</string>
                <key>offset</key>
                <string>{-82,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,257},{308,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,74}}</string>
                <key>offset</key>
                <string>{-75,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,319},{340,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,74}}</string>
                <key>offset</key>
                <string>{-75,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,319},{340,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,74}}</string>
                <key>offset</key>
                <string>{-75,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,319},{340,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,74}}</string>
                <key>offset</key>
                <string>{-75,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,319},{340,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{332,112}}</string>
                <key>offset</key>
                <string>{-77,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,267},{332,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{332,112}}</string>
                <key>offset</key>
                <string>{-77,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,267},{332,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{332,112}}</string>
                <key>offset</key>
                <string>{-77,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,267},{332,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{332,112}}</string>
                <key>offset</key>
                <string>{-77,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,267},{332,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,312},{302,128}}</string>
                <key>offset</key>
                <string>{-89,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,256},{302,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,312},{302,128}}</string>
                <key>offset</key>
                <string>{-89,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,256},{302,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,312},{302,128}}</string>
                <key>offset</key>
                <string>{-89,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,256},{302,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,312},{302,128}}</string>
                <key>offset</key>
                <string>{-89,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,256},{302,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,312},{302,128}}</string>
                <key>offset</key>
                <string>{-89,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,256},{302,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,300},{282,126}}</string>
                <key>offset</key>
                <string>{-77,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,246},{282,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,300},{282,126}}</string>
                <key>offset</key>
                <string>{-77,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,246},{282,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,300},{282,126}}</string>
                <key>offset</key>
                <string>{-77,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,246},{282,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,300},{282,126}}</string>
                <key>offset</key>
                <string>{-77,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,246},{282,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,584},{278,156}}</string>
                <key>offset</key>
                <string>{-59,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,216},{278,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,584},{278,156}}</string>
                <key>offset</key>
                <string>{-59,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,216},{278,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,584},{278,156}}</string>
                <key>offset</key>
                <string>{-59,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,216},{278,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,584},{278,156}}</string>
                <key>offset</key>
                <string>{-59,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,216},{278,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,616},{124,192}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,180},{124,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,616},{124,192}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,180},{124,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,616},{124,192}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,180},{124,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>monster_bmdizi0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,616},{124,192}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,180},{124,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_22.pvr.ccz</string>
            <key>size</key>
            <string>{1010,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b8522b6dfbaf6cedd49dba2440f1227:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_22.pvr.ccz</string>
        </dict>
    </dict>
</plist>
