<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_zzz0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,862},{136,166}}</string>
                <key>offset</key>
                <string>{32,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,219},{136,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,862},{136,166}}</string>
                <key>offset</key>
                <string>{32,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,219},{136,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,862},{136,166}}</string>
                <key>offset</key>
                <string>{32,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,219},{136,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,862},{136,166}}</string>
                <key>offset</key>
                <string>{32,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,219},{136,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,862},{152,148}}</string>
                <key>offset</key>
                <string>{65,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,240},{152,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,862},{152,148}}</string>
                <key>offset</key>
                <string>{65,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,240},{152,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,862},{152,148}}</string>
                <key>offset</key>
                <string>{65,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,240},{152,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{154,150}}</string>
                <key>offset</key>
                <string>{64,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,244},{154,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{154,150}}</string>
                <key>offset</key>
                <string>{64,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,244},{154,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{154,150}}</string>
                <key>offset</key>
                <string>{64,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,244},{154,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,822},{154,154}}</string>
                <key>offset</key>
                <string>{64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,237},{154,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,822},{154,154}}</string>
                <key>offset</key>
                <string>{64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,237},{154,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,822},{154,154}}</string>
                <key>offset</key>
                <string>{64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,237},{154,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,822},{154,154}}</string>
                <key>offset</key>
                <string>{64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,237},{154,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,822},{154,154}}</string>
                <key>offset</key>
                <string>{64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,237},{154,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,822},{154,154}}</string>
                <key>offset</key>
                <string>{64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,237},{154,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,822},{154,154}}</string>
                <key>offset</key>
                <string>{64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,237},{154,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,822},{154,154}}</string>
                <key>offset</key>
                <string>{64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,237},{154,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,274},{192,116}}</string>
                <key>offset</key>
                <string>{115,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,271},{192,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,274},{192,116}}</string>
                <key>offset</key>
                <string>{115,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,271},{192,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,138},{196,134}}</string>
                <key>offset</key>
                <string>{97,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,255},{196,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,138},{196,134}}</string>
                <key>offset</key>
                <string>{97,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,255},{196,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,138},{196,134}}</string>
                <key>offset</key>
                <string>{97,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,255},{196,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,138},{196,134}}</string>
                <key>offset</key>
                <string>{97,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,255},{196,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,138},{196,134}}</string>
                <key>offset</key>
                <string>{97,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,255},{196,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,138},{196,134}}</string>
                <key>offset</key>
                <string>{97,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,255},{196,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,138},{196,134}}</string>
                <key>offset</key>
                <string>{97,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,255},{196,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,138},{196,134}}</string>
                <key>offset</key>
                <string>{97,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,255},{196,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,634},{186,156}}</string>
                <key>offset</key>
                <string>{98,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,248},{186,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,634},{186,156}}</string>
                <key>offset</key>
                <string>{98,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,248},{186,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzz0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,634},{186,156}}</string>
                <key>offset</key>
                <string>{98,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,248},{186,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_zzza0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{210,134}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,375},{210,134}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{210,134}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,375},{210,134}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{304,176}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,331},{304,176}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{304,176}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,331},{304,176}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,392},{468,268}}</string>
                <key>offset</key>
                <string>{-27,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,301},{468,268}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,392},{468,268}}</string>
                <key>offset</key>
                <string>{-27,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,301},{468,268}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,318}}</string>
                <key>offset</key>
                <string>{-40,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,246},{506,318}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,318}}</string>
                <key>offset</key>
                <string>{-40,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,246},{506,318}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{472,310}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,254},{472,310}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>boss_zzza0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{472,310}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,254},{472,310}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_26_a.pvr.ccz</string>
            <key>size</key>
            <string>{746,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33379c1ebb0ec9c1f374a559968097e0:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_26_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
