<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_ryy0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,842},{118,116}}</string>
                <key>offset</key>
                <string>{-18,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,259},{118,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,842},{118,116}}</string>
                <key>offset</key>
                <string>{-18,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,259},{118,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,842},{118,116}}</string>
                <key>offset</key>
                <string>{-18,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,259},{118,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,842},{118,116}}</string>
                <key>offset</key>
                <string>{-18,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,259},{118,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,794},{134,178}}</string>
                <key>offset</key>
                <string>{-28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,203},{134,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,794},{134,178}}</string>
                <key>offset</key>
                <string>{-28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,203},{134,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,794},{134,178}}</string>
                <key>offset</key>
                <string>{-28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,203},{134,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,724},{176,212}}</string>
                <key>offset</key>
                <string>{-37,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,165},{176,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,724},{176,212}}</string>
                <key>offset</key>
                <string>{-37,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,165},{176,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,724},{176,212}}</string>
                <key>offset</key>
                <string>{-37,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,165},{176,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{184,194}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,184},{184,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{184,194}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,184},{184,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{184,194}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,184},{184,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,794},{180,184}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,196},{180,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,794},{180,184}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,196},{180,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,724},{146,116}}</string>
                <key>offset</key>
                <string>{17,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{146,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,724},{146,116}}</string>
                <key>offset</key>
                <string>{17,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{146,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,724},{146,116}}</string>
                <key>offset</key>
                <string>{17,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{146,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,794},{134,178}}</string>
                <key>offset</key>
                <string>{-28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,203},{134,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,794},{134,178}}</string>
                <key>offset</key>
                <string>{-28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,203},{134,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,794},{134,178}}</string>
                <key>offset</key>
                <string>{-28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,203},{134,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,724},{176,212}}</string>
                <key>offset</key>
                <string>{-37,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,165},{176,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,724},{176,212}}</string>
                <key>offset</key>
                <string>{-37,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,165},{176,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,724},{176,212}}</string>
                <key>offset</key>
                <string>{-37,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,165},{176,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{184,194}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,184},{184,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{184,194}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,184},{184,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{184,194}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,184},{184,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,794},{180,184}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,196},{180,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,794},{180,184}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,196},{180,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,724},{146,116}}</string>
                <key>offset</key>
                <string>{17,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{146,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,724},{146,116}}</string>
                <key>offset</key>
                <string>{17,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{146,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,882},{148,116}}</string>
                <key>offset</key>
                <string>{18,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{148,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,882},{148,116}}</string>
                <key>offset</key>
                <string>{18,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{148,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,882},{148,116}}</string>
                <key>offset</key>
                <string>{18,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{148,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,882},{148,116}}</string>
                <key>offset</key>
                <string>{18,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{148,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,882},{148,116}}</string>
                <key>offset</key>
                <string>{18,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{148,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,882},{148,116}}</string>
                <key>offset</key>
                <string>{18,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{148,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,882},{148,116}}</string>
                <key>offset</key>
                <string>{18,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,273},{148,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,724},{148,156}}</string>
                <key>offset</key>
                <string>{9,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,252},{148,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,724},{148,156}}</string>
                <key>offset</key>
                <string>{9,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,252},{148,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryy0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,724},{148,156}}</string>
                <key>offset</key>
                <string>{9,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,252},{148,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ryya0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{452,140}}</string>
                <key>offset</key>
                <string>{-11,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,204},{452,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{452,140}}</string>
                <key>offset</key>
                <string>{-11,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,204},{452,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,436},{480,144}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,205},{480,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,436},{480,144}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,205},{480,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{490,148}}</string>
                <key>offset</key>
                <string>{-28,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,201},{490,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{490,148}}</string>
                <key>offset</key>
                <string>{-28,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,201},{490,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{508,150}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,200},{508,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{508,150}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,200},{508,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,166}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,197},{520,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,166}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,197},{520,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{500,164}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,196},{500,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{500,164}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,196},{500,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{496,154}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,202},{496,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{496,154}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,202},{496,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,286},{468,148}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,201},{468,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,286},{468,148}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,201},{468,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,582},{434,140}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,197},{434,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,582},{434,140}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,197},{434,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,144},{442,140}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,197},{442,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_ryya0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,144},{442,140}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,197},{442,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_27_a.pvr.ccz</string>
            <key>size</key>
            <string>{986,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6ab8449bd0f1d744a674c21b7b5cf5c:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_27_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
