<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_jlfw0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,122}}</string>
                <key>offset</key>
                <string>{-28,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,350},{270,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,122}}</string>
                <key>offset</key>
                <string>{-28,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,350},{270,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,122}}</string>
                <key>offset</key>
                <string>{-28,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,350},{270,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{248,188}}</string>
                <key>offset</key>
                <string>{-22,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,285},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{248,188}}</string>
                <key>offset</key>
                <string>{-22,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,285},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{248,188}}</string>
                <key>offset</key>
                <string>{-22,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,285},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{248,188}}</string>
                <key>offset</key>
                <string>{-22,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,285},{248,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,456},{204,204}}</string>
                <key>offset</key>
                <string>{-30,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,283},{204,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,456},{204,204}}</string>
                <key>offset</key>
                <string>{-30,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,283},{204,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,456},{204,204}}</string>
                <key>offset</key>
                <string>{-30,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,283},{204,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,456},{204,204}}</string>
                <key>offset</key>
                <string>{-30,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,283},{204,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,456},{204,204}}</string>
                <key>offset</key>
                <string>{-30,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,283},{204,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{194,206}}</string>
                <key>offset</key>
                <string>{-30,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,285},{194,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{194,206}}</string>
                <key>offset</key>
                <string>{-30,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,285},{194,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{194,206}}</string>
                <key>offset</key>
                <string>{-30,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,285},{194,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{194,206}}</string>
                <key>offset</key>
                <string>{-30,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,285},{194,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{194,206}}</string>
                <key>offset</key>
                <string>{-30,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,285},{194,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{218,204}}</string>
                <key>offset</key>
                <string>{-11,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,266},{218,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{218,204}}</string>
                <key>offset</key>
                <string>{-11,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,266},{218,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{218,204}}</string>
                <key>offset</key>
                <string>{-11,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,266},{218,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{218,204}}</string>
                <key>offset</key>
                <string>{-11,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,266},{218,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{220,206}}</string>
                <key>offset</key>
                <string>{4,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,225},{220,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{220,206}}</string>
                <key>offset</key>
                <string>{4,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,225},{220,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{220,206}}</string>
                <key>offset</key>
                <string>{4,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,225},{220,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,224},{230,230}}</string>
                <key>offset</key>
                <string>{7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,196},{230,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,224},{230,230}}</string>
                <key>offset</key>
                <string>{7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,196},{230,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_jlfw0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,224},{230,230}}</string>
                <key>offset</key>
                <string>{7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,196},{230,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_sta_8_b.pvr.ccz</string>
            <key>size</key>
            <string>{484,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a89f36d7a528db5f5f52c45ed91ccc62:1/1$</string>
            <key>textureFileName</key>
            <string>Role_sta_8_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
