<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_ybq0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,360},{140,202}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,173},{140,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,360},{140,202}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,173},{140,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,360},{140,202}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,173},{140,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{176,208}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,165},{176,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{176,208}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,165},{176,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,276},{212,212}}</string>
                <key>offset</key>
                <string>{90,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{212,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,276},{212,212}}</string>
                <key>offset</key>
                <string>{90,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{212,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,212},{146,206}}</string>
                <key>offset</key>
                <string>{52,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,166},{146,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,212},{146,206}}</string>
                <key>offset</key>
                <string>{52,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,166},{146,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{134,202}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,170},{134,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{134,202}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,170},{134,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{176,208}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,165},{176,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{176,208}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,165},{176,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{220,194}}</string>
                <key>offset</key>
                <string>{82,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,183},{220,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,180}}</string>
                <key>offset</key>
                <string>{-21,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,194},{304,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,180}}</string>
                <key>offset</key>
                <string>{-21,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,194},{304,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,180}}</string>
                <key>offset</key>
                <string>{-21,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,194},{304,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,180}}</string>
                <key>offset</key>
                <string>{-21,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,194},{304,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{272,228}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,146},{272,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{272,228}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,146},{272,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_ybq0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{272,228}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,146},{272,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_41_a.pvr.ccz</string>
            <key>size</key>
            <string>{728,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a8df4cad96f76114d80c21b1853f0f4:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_41_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
