<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_2tyn0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,238},{138,172}}</string>
                <key>offset</key>
                <string>{-35,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,184},{138,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,238},{138,172}}</string>
                <key>offset</key>
                <string>{-35,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,184},{138,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,506},{220,160}}</string>
                <key>offset</key>
                <string>{-53,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,197},{220,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,506},{220,160}}</string>
                <key>offset</key>
                <string>{-53,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,197},{220,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,506},{220,160}}</string>
                <key>offset</key>
                <string>{-53,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,197},{220,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,668},{190,154}}</string>
                <key>offset</key>
                <string>{-67,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,204},{190,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,668},{190,154}}</string>
                <key>offset</key>
                <string>{-67,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,204},{190,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,668},{190,154}}</string>
                <key>offset</key>
                <string>{-67,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,204},{190,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,668},{190,154}}</string>
                <key>offset</key>
                <string>{-67,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,204},{190,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{302,134}}</string>
                <key>offset</key>
                <string>{65,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,222},{302,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{302,134}}</string>
                <key>offset</key>
                <string>{65,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,222},{302,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{302,130}}</string>
                <key>offset</key>
                <string>{74,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,227},{302,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{302,130}}</string>
                <key>offset</key>
                <string>{74,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,227},{302,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{302,130}}</string>
                <key>offset</key>
                <string>{74,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,227},{302,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{302,130}}</string>
                <key>offset</key>
                <string>{74,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,227},{302,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{302,130}}</string>
                <key>offset</key>
                <string>{74,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,227},{302,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,668},{232,154}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,204},{232,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,668},{232,154}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,204},{232,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,668},{232,154}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,204},{232,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,824},{178,180}}</string>
                <key>offset</key>
                <string>{62,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,177},{178,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,824},{178,180}}</string>
                <key>offset</key>
                <string>{62,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,177},{178,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,412},{136,186}}</string>
                <key>offset</key>
                <string>{46,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,171},{136,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyn0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,412},{136,186}}</string>
                <key>offset</key>
                <string>{46,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,171},{136,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_2tyna0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,78}}</string>
                <key>offset</key>
                <string>{74,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,289},{452,78}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,78}}</string>
                <key>offset</key>
                <string>{74,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,289},{452,78}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{452,76}}</string>
                <key>offset</key>
                <string>{74,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,290},{452,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{452,76}}</string>
                <key>offset</key>
                <string>{74,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,290},{452,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{452,76}}</string>
                <key>offset</key>
                <string>{74,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,290},{452,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{456,76}}</string>
                <key>offset</key>
                <string>{72,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,290},{456,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_2tyna0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,238},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_29.pvr.ccz</string>
            <key>size</key>
            <string>{456,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:327fa60a5131f8499b068a81289954b6:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_29.pvr.ccz</string>
        </dict>
    </dict>
</plist>
