<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_gsza0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,326},{176,84}}</string>
                <key>offset</key>
                <string>{178,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,291},{176,84}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,326},{176,84}}</string>
                <key>offset</key>
                <string>{178,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,291},{176,84}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,326},{176,84}}</string>
                <key>offset</key>
                <string>{178,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,291},{176,84}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,286},{176,98}}</string>
                <key>offset</key>
                <string>{176,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,266},{176,98}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,286},{176,98}}</string>
                <key>offset</key>
                <string>{176,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,266},{176,98}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,140},{184,98}}</string>
                <key>offset</key>
                <string>{162,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,265},{184,98}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,140},{184,98}}</string>
                <key>offset</key>
                <string>{162,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,265},{184,98}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,140},{134,334}}</string>
                <key>offset</key>
                <string>{152,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,79},{134,334}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,140},{134,334}}</string>
                <key>offset</key>
                <string>{152,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,79},{134,334}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{134,334}}</string>
                <key>offset</key>
                <string>{152,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,79},{134,334}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,74},{64,210}}</string>
                <key>offset</key>
                <string>{188,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{491,260},{64,210}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,74},{64,210}}</string>
                <key>offset</key>
                <string>{188,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{491,260},{64,210}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{424,84}}</string>
                <key>offset</key>
                <string>{109,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,278},{424,84}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{424,84}}</string>
                <key>offset</key>
                <string>{109,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,278},{424,84}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{300,70}}</string>
                <key>offset</key>
                <string>{172,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,277},{300,70}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{300,70}}</string>
                <key>offset</key>
                <string>{172,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,277},{300,70}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{430,84}}</string>
                <key>offset</key>
                <string>{62,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,291},{430,84}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{430,84}}</string>
                <key>offset</key>
                <string>{62,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,291},{430,84}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{304,70}}</string>
                <key>offset</key>
                <string>{126,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,290},{304,70}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{304,70}}</string>
                <key>offset</key>
                <string>{126,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,290},{304,70}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,110}}</string>
                <key>offset</key>
                <string>{77,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,288},{456,110}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,110}}</string>
                <key>offset</key>
                <string>{77,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,288},{456,110}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,140},{334,84}}</string>
                <key>offset</key>
                <string>{141,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,312},{334,84}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,140},{334,84}}</string>
                <key>offset</key>
                <string>{141,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,312},{334,84}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
            <key>boss_gsza0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{1,1}}</string>
                <key>offset</key>
                <string>{-334.5,334.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{670,670}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_24_a.pvr.ccz</string>
            <key>size</key>
            <string>{765,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d19f781df6861699c6f0586fda9c4a35:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_24_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
