<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_sja0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,800},{280,56}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,285},{280,56}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{280,56}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,286},{280,56}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,966},{278,54}}</string>
                <key>offset</key>
                <string>{-1,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,287},{278,54}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,202},{280,54}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,287},{280,54}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,484},{282,58}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,284},{282,58}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{280,56}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,285},{280,56}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{30,28}}</string>
                <key>offset</key>
                <string>{8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,255},{30,28}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{100,100}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,224},{100,100}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,858},{104,104}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,221},{104,104}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,858},{106,106}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,220},{106,106}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,858},{106,106}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,218},{106,106}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,920},{98,98}}</string>
                <key>offset</key>
                <string>{9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,221},{98,98}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,920},{82,82}}</string>
                <key>offset</key>
                <string>{10,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,228},{82,82}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,224.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,796},{292,198}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,156},{292,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,796},{292,198}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,156},{292,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{294,198}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,156},{294,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{294,198}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,156},{294,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,202},{300,198}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,156},{300,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,202},{300,198}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,156},{300,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,196},{302,198}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,156},{302,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,196},{302,198}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,156},{302,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{296,198}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,156},{296,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{296,198}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,156},{296,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{304,192}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,159},{304,192}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{304,192}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,159},{304,192}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,602},{294,196}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,158},{294,196}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,602},{294,196}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,158},{294,196}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,596},{294,198}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,156},{294,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,596},{294,198}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,156},{294,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,200}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,155},{306,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,200}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,155},{306,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{300,198}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,156},{300,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{300,198}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,156},{300,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,396},{298,198}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,156},{298,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,396},{298,198}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,156},{298,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{302,198}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,156},{302,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{302,198}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,156},{302,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,402},{294,198}}</string>
                <key>offset</key>
                <string>{7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,156},{294,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>boss_sja0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,402},{294,198}}</string>
                <key>offset</key>
                <string>{7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,156},{294,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_46_e.pvr.ccz</string>
            <key>size</key>
            <string>{972,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99015362cbda205caa492da5e6b1d7fb:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_46_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
