<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thief_0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,222},{106,164}}</string>
                <key>offset</key>
                <string>{22,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,124},{106,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{110,178}}</string>
                <key>offset</key>
                <string>{20,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,110},{110,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{146,218}}</string>
                <key>offset</key>
                <string>{6,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,70},{146,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{152,218}}</string>
                <key>offset</key>
                <string>{-1,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,51},{152,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{160,232}}</string>
                <key>offset</key>
                <string>{-5,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,37},{160,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,236},{158,230}}</string>
                <key>offset</key>
                <string>{-4,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,39},{158,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,518},{150,222}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,47},{150,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{184,188}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,60},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{184,188}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,60},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{184,188}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,60},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{184,188}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,60},{184,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,468},{178,200}}</string>
                <key>offset</key>
                <string>{-31,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,62},{178,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,468},{178,200}}</string>
                <key>offset</key>
                <string>{-31,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,62},{178,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,468},{178,200}}</string>
                <key>offset</key>
                <string>{-31,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,62},{178,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,468},{178,200}}</string>
                <key>offset</key>
                <string>{-31,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,62},{178,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,262},{184,254}}</string>
                <key>offset</key>
                <string>{-40,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,68},{184,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{180,260}}</string>
                <key>offset</key>
                <string>{-38,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,62},{180,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,258}}</string>
                <key>offset</key>
                <string>{-48,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,64},{200,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{240,188}}</string>
                <key>offset</key>
                <string>{-54,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,149},{240,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,244},{238,178}}</string>
                <key>offset</key>
                <string>{-53,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,159},{238,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,484},{238,168}}</string>
                <key>offset</key>
                <string>{-53,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,169},{238,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,192},{256,118}}</string>
                <key>offset</key>
                <string>{-65,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,265},{256,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,330},{254,106}}</string>
                <key>offset</key>
                <string>{-64,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,270},{254,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>thief_0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,330},{254,106}}</string>
                <key>offset</key>
                <string>{-64,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,270},{254,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_standby_1006_b.pvr.ccz</string>
            <key>size</key>
            <string>{1020,672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b25f24376ae78965581569e55455b51:1/1$</string>
            <key>textureFileName</key>
            <string>Role_standby_1006_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
