<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dizipao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,896},{114,46}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{114,46}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dizipao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,730},{118,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,46}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>dizipao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,944},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,46}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>monster_cdizi0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,437},{131,185}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,163},{131,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,437},{131,185}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,163},{131,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,437},{131,185}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,163},{131,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,437},{131,185}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,163},{131,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,624},{175,171}}</string>
                <key>offset</key>
                <string>{-45,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,177},{175,171}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,624},{175,171}}</string>
                <key>offset</key>
                <string>{-45,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,177},{175,171}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,624},{175,171}}</string>
                <key>offset</key>
                <string>{-45,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,177},{175,171}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,624},{175,171}}</string>
                <key>offset</key>
                <string>{-45,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,177},{175,171}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,624},{175,171}}</string>
                <key>offset</key>
                <string>{-45,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,177},{175,171}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,624},{175,171}}</string>
                <key>offset</key>
                <string>{-45,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,177},{175,171}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{253,151}}</string>
                <key>offset</key>
                <string>{55,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,197},{253,151}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{253,151}}</string>
                <key>offset</key>
                <string>{55,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,197},{253,151}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,797},{135,145}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,203},{135,145}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,797},{135,145}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,203},{135,145}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,398},{149,141}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,207},{149,141}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,398},{149,141}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,207},{149,141}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,398},{149,141}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,207},{149,141}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,398},{149,141}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,207},{149,141}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,398},{149,141}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,207},{149,141}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,771},{193,127}}</string>
                <key>offset</key>
                <string>{22,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,222},{193,127}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,771},{193,127}}</string>
                <key>offset</key>
                <string>{22,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,222},{193,127}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,592},{189,177}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,173},{189,177}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,592},{189,177}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,173},{189,177}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,437},{153,201}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,149},{153,201}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,437},{153,201}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,149},{153,201}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,437},{153,201}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,149},{153,201}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,437},{153,201}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,149},{153,201}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,437},{153,201}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,149},{153,201}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,437},{153,201}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,149},{153,201}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{219,155}}</string>
                <key>offset</key>
                <string>{-29,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,195},{219,155}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{219,155}}</string>
                <key>offset</key>
                <string>{-29,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,195},{219,155}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{219,155}}</string>
                <key>offset</key>
                <string>{-29,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,195},{219,155}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,926},{73,187}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,159},{73,187}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,926},{73,187}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,159},{73,187}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,926},{73,187}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,159},{73,187}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,900},{83,183}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,163},{83,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,900},{83,183}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,163},{83,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,900},{83,183}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,163},{83,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,541},{79,181}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,165},{79,181}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,541},{79,181}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,165},{79,181}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,541},{79,181}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,165},{79,181}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,541},{79,181}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,165},{79,181}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,223},{127,173}}</string>
                <key>offset</key>
                <string>{17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,173},{127,173}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,223},{127,173}}</string>
                <key>offset</key>
                <string>{17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,173},{127,173}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,797},{127,173}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,173},{127,173}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,797},{127,173}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,173},{127,173}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,797},{127,173}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,173},{127,173}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,797},{127,173}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,173},{127,173}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,797},{127,173}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,173},{127,173}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,797},{127,173}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,173},{127,173}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,797},{127,173}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,173},{127,173}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{103,183}}</string>
                <key>offset</key>
                <string>{13,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,167},{103,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{103,183}}</string>
                <key>offset</key>
                <string>{13,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,167},{103,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizi0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{103,183}}</string>
                <key>offset</key>
                <string>{13,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,167},{103,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,850},{107,53}}</string>
                <key>offset</key>
                <string>{-162,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,183},{107,53}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,850},{107,53}}</string>
                <key>offset</key>
                <string>{-162,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,183},{107,53}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,336},{287,99}}</string>
                <key>offset</key>
                <string>{-65,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,187},{287,99}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,336},{287,99}}</string>
                <key>offset</key>
                <string>{-65,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,187},{287,99}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,245},{361,89}}</string>
                <key>offset</key>
                <string>{21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,209},{361,89}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,541},{187,35}}</string>
                <key>offset</key>
                <string>{113,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,261},{187,35}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,541},{187,35}}</string>
                <key>offset</key>
                <string>{113,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,261},{187,35}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,541},{187,35}}</string>
                <key>offset</key>
                <string>{113,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,261},{187,35}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{321,243}}</string>
                <key>offset</key>
                <string>{12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,138},{321,243}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{325,241}}</string>
                <key>offset</key>
                <string>{11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,139},{325,241}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{325,241}}</string>
                <key>offset</key>
                <string>{11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,139},{325,241}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,247}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,132},{325,247}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,247}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,132},{325,247}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{325,245}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,133},{325,245}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>monster_cdizia0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,498},{1,1}}</string>
                <key>offset</key>
                <string>{-232,232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_13.pvr.ccz</string>
            <key>size</key>
            <string>{823,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b9fc46703518d7aff52b955e6e07ae7:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_13.pvr.ccz</string>
        </dict>
    </dict>
</plist>
