<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_xz0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,586},{144,196}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,155},{144,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,586},{144,196}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,155},{144,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,386},{132,194}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,157},{132,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,386},{132,194}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,157},{132,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,386},{132,194}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,157},{132,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,386},{132,194}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,157},{132,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{234,176}}</string>
                <key>offset</key>
                <string>{76,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,176},{234,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{234,176}}</string>
                <key>offset</key>
                <string>{76,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,176},{234,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{236,176}}</string>
                <key>offset</key>
                <string>{75,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,176},{236,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{236,176}}</string>
                <key>offset</key>
                <string>{75,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,176},{236,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{236,176}}</string>
                <key>offset</key>
                <string>{75,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,176},{236,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{236,176}}</string>
                <key>offset</key>
                <string>{75,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,176},{236,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{236,176}}</string>
                <key>offset</key>
                <string>{75,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,176},{236,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{236,176}}</string>
                <key>offset</key>
                <string>{75,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,176},{236,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,784},{164,186}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,165},{164,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,784},{164,186}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,165},{164,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,784},{164,186}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,165},{164,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,734},{112,192}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,159},{112,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,734},{112,192}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,159},{112,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,184},{150,194}}</string>
                <key>offset</key>
                <string>{-37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,158},{150,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,184},{150,194}}</string>
                <key>offset</key>
                <string>{-37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,158},{150,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,582},{128,180}}</string>
                <key>offset</key>
                <string>{-29,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,173},{128,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,582},{128,180}}</string>
                <key>offset</key>
                <string>{-29,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,173},{128,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,582},{128,180}}</string>
                <key>offset</key>
                <string>{-29,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,173},{128,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,380},{148,204}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,142},{148,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,380},{148,204}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,142},{148,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,380},{148,204}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,142},{148,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,380},{148,204}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,142},{148,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{262,218}}</string>
                <key>offset</key>
                <string>{48,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,134},{262,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{262,218}}</string>
                <key>offset</key>
                <string>{48,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,134},{262,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{262,218}}</string>
                <key>offset</key>
                <string>{48,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,134},{262,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,568},{220,164}}</string>
                <key>offset</key>
                <string>{-50,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,188},{220,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,568},{220,164}}</string>
                <key>offset</key>
                <string>{-50,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,188},{220,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,848},{166,172}}</string>
                <key>offset</key>
                <string>{-42,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,180},{166,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,848},{166,172}}</string>
                <key>offset</key>
                <string>{-42,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,180},{166,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,848},{166,172}}</string>
                <key>offset</key>
                <string>{-42,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,180},{166,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,848},{166,172}}</string>
                <key>offset</key>
                <string>{-42,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,180},{166,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,848},{166,172}}</string>
                <key>offset</key>
                <string>{-42,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,180},{166,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,848},{166,172}}</string>
                <key>offset</key>
                <string>{-42,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,180},{166,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,764},{176,182}}</string>
                <key>offset</key>
                <string>{-42,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,170},{176,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,764},{176,182}}</string>
                <key>offset</key>
                <string>{-42,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,170},{176,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,764},{176,182}}</string>
                <key>offset</key>
                <string>{-42,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,170},{176,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{190,170}}</string>
                <key>offset</key>
                <string>{-38,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,184},{190,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{190,170}}</string>
                <key>offset</key>
                <string>{-38,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,184},{190,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{244,170}}</string>
                <key>offset</key>
                <string>{39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,185},{244,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{244,170}}</string>
                <key>offset</key>
                <string>{39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,185},{244,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,222},{236,166}}</string>
                <key>offset</key>
                <string>{35,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,189},{236,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,222},{236,166}}</string>
                <key>offset</key>
                <string>{35,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,189},{236,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,222},{236,166}}</string>
                <key>offset</key>
                <string>{35,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,189},{236,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,222},{236,166}}</string>
                <key>offset</key>
                <string>{35,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,189},{236,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,222},{236,166}}</string>
                <key>offset</key>
                <string>{35,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,189},{236,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,390},{220,176}}</string>
                <key>offset</key>
                <string>{34,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,178},{220,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,390},{220,176}}</string>
                <key>offset</key>
                <string>{34,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,178},{220,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{126,182}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,171},{126,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xz0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{126,182}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,171},{126,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_xza0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{382,70}}</string>
                <key>offset</key>
                <string>{62,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,248},{382,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{386,70}}</string>
                <key>offset</key>
                <string>{62,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,248},{386,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{386,70}}</string>
                <key>offset</key>
                <string>{62,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,248},{386,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,70}}</string>
                <key>offset</key>
                <string>{75,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,248},{408,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,70}}</string>
                <key>offset</key>
                <string>{75,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,248},{408,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{384,36}}</string>
                <key>offset</key>
                <string>{63,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,260},{384,36}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{384,36}}</string>
                <key>offset</key>
                <string>{63,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,260},{384,36}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_xza0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_19_a.pvr.ccz</string>
            <key>size</key>
            <string>{772,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:574cb1a5f3e006686d7d9f561ec893b0:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_19_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
