<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dfbba0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{252,276}}</string>
                <key>offset</key>
                <string>{124,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,119},{252,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{252,276}}</string>
                <key>offset</key>
                <string>{124,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,119},{252,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,280},{168,168}}</string>
                <key>offset</key>
                <string>{137,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,173},{168,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,280},{168,168}}</string>
                <key>offset</key>
                <string>{137,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,173},{168,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,444},{30,128}}</string>
                <key>offset</key>
                <string>{136,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,193},{30,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,444},{30,128}}</string>
                <key>offset</key>
                <string>{136,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,193},{30,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,276}}</string>
                <key>offset</key>
                <string>{119,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,95},{262,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,276}}</string>
                <key>offset</key>
                <string>{119,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,95},{262,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,280},{168,168}}</string>
                <key>offset</key>
                <string>{127,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,149},{168,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,280},{168,168}}</string>
                <key>offset</key>
                <string>{127,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,149},{168,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,444},{30,128}}</string>
                <key>offset</key>
                <string>{126,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,169},{30,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,444},{30,128}}</string>
                <key>offset</key>
                <string>{126,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,169},{30,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,310},{138,138}}</string>
                <key>offset</key>
                <string>{120,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,160},{138,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,310},{138,138}}</string>
                <key>offset</key>
                <string>{120,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,160},{138,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,224},{84,84}}</string>
                <key>offset</key>
                <string>{120,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,187},{84,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,224},{84,84}}</string>
                <key>offset</key>
                <string>{120,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,187},{84,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,304},{138,138}}</string>
                <key>offset</key>
                <string>{111,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,187},{138,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,304},{138,138}}</string>
                <key>offset</key>
                <string>{111,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,187},{138,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,122},{84,100}}</string>
                <key>offset</key>
                <string>{111,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,214},{84,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,122},{84,100}}</string>
                <key>offset</key>
                <string>{111,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,214},{84,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{114,118}}</string>
                <key>offset</key>
                <string>{98,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,224},{114,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{114,118}}</string>
                <key>offset</key>
                <string>{98,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,224},{114,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,244},{12,64}}</string>
                <key>offset</key>
                <string>{98,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,254},{12,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,244},{12,64}}</string>
                <key>offset</key>
                <string>{98,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,254},{12,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{304,94}}</string>
                <key>offset</key>
                <string>{55,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,213},{304,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{304,94}}</string>
                <key>offset</key>
                <string>{55,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,213},{304,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{300,90}}</string>
                <key>offset</key>
                <string>{47,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,201},{300,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{300,90}}</string>
                <key>offset</key>
                <string>{47,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,201},{300,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{334,98}}</string>
                <key>offset</key>
                <string>{46,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,185},{334,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{334,98}}</string>
                <key>offset</key>
                <string>{46,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,185},{334,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{300,56}}</string>
                <key>offset</key>
                <string>{47,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,206},{300,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{300,56}}</string>
                <key>offset</key>
                <string>{47,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,206},{300,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_dfbba0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>paozhen0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,122},{120,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,24}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>paozhen0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,450},{120,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,24}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>paozhen0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,450},{120,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,24}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_skill_10_c.pvr.ccz</string>
            <key>size</key>
            <string>{789,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b59c0359ac42cd66b31497f963ebf11a:1/1$</string>
            <key>textureFileName</key>
            <string>Role_skill_10_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
