<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_yg0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,750},{122,196}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,257},{122,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,750},{122,196}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,257},{122,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,750},{122,196}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,257},{122,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,750},{122,196}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,257},{122,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,396},{178,242}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,199},{178,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,396},{178,242}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,199},{178,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,396},{178,242}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,199},{178,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,576},{172,230}}</string>
                <key>offset</key>
                <string>{-46,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,211},{172,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,576},{172,230}}</string>
                <key>offset</key>
                <string>{-46,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,211},{172,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,576},{172,230}}</string>
                <key>offset</key>
                <string>{-46,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,211},{172,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{192,240}}</string>
                <key>offset</key>
                <string>{-61,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,200},{192,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{192,240}}</string>
                <key>offset</key>
                <string>{-61,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,200},{192,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{192,240}}</string>
                <key>offset</key>
                <string>{-61,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,200},{192,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{192,240}}</string>
                <key>offset</key>
                <string>{-61,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,200},{192,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{192,240}}</string>
                <key>offset</key>
                <string>{-61,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,200},{192,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{192,240}}</string>
                <key>offset</key>
                <string>{-61,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,200},{192,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,598},{268,148}}</string>
                <key>offset</key>
                <string>{71,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,302},{268,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{270,144}}</string>
                <key>offset</key>
                <string>{72,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{270,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{270,144}}</string>
                <key>offset</key>
                <string>{72,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{270,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{270,144}}</string>
                <key>offset</key>
                <string>{72,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{270,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{270,144}}</string>
                <key>offset</key>
                <string>{72,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{270,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{270,144}}</string>
                <key>offset</key>
                <string>{72,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{270,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{270,144}}</string>
                <key>offset</key>
                <string>{72,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{270,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{270,144}}</string>
                <key>offset</key>
                <string>{72,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{270,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{270,144}}</string>
                <key>offset</key>
                <string>{72,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{270,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{270,144}}</string>
                <key>offset</key>
                <string>{72,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{270,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{270,144}}</string>
                <key>offset</key>
                <string>{72,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{270,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{196,164}}</string>
                <key>offset</key>
                <string>{34,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,276},{196,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{196,164}}</string>
                <key>offset</key>
                <string>{34,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,276},{196,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{196,164}}</string>
                <key>offset</key>
                <string>{34,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,276},{196,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{196,164}}</string>
                <key>offset</key>
                <string>{34,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,276},{196,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,750},{126,212}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,254},{126,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,750},{126,212}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,254},{126,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yg0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,750},{126,212}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,254},{126,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{392,278}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,165},{392,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{450,296}}</string>
                <key>offset</key>
                <string>{37,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,165},{450,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,296}}</string>
                <key>offset</key>
                <string>{37,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,166},{450,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,750},{244,40}}</string>
                <key>offset</key>
                <string>{140,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,421},{244,40}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,964},{246,42}}</string>
                <key>offset</key>
                <string>{139,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,419},{246,42}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,748},{246,44}}</string>
                <key>offset</key>
                <string>{140,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,418},{246,44}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,748},{246,42}}</string>
                <key>offset</key>
                <string>{139,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,419},{246,42}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>boss_yga0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,576},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_attack_39_a.pvr.ccz</string>
            <key>size</key>
            <string>{734,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9914163974165efc6ee34993db3cef14:1/1$</string>
            <key>textureFileName</key>
            <string>Role_attack_39_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
