<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_wyy0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,192},{80,184}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,180},{80,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,192},{80,184}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,180},{80,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,192},{80,184}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,180},{80,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,192},{80,184}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,180},{80,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{82,188}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,176},{82,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{82,188}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,176},{82,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{82,188}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,176},{82,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{82,188}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,176},{82,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,408},{82,194}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,167},{82,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,408},{82,194}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,167},{82,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,408},{82,194}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,167},{82,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,408},{82,194}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,167},{82,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,320},{86,198}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,166},{86,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,320},{86,198}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,166},{86,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,320},{86,198}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,166},{86,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,320},{86,198}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,166},{86,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{90,196}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,168},{90,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{90,196}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,168},{90,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{90,196}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,168},{90,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{90,196}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,168},{90,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{88,188}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{88,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{88,188}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{88,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{88,188}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{88,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{88,188}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{88,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,108},{102,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,154},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,218},{100,212}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{102,212}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,153},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{102,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{102,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,108},{102,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,154},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,152},{104,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,108},{102,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,154},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,108},{102,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,154},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,108},{102,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,154},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0711.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0712.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0713.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0714.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0715.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,218},{100,212}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0716.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,218},{100,212}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0717.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,218},{100,212}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0718.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,218},{100,212}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{102,212}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,153},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{102,212}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,153},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0721.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{102,212}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,153},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0722.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{102,212}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,153},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0723.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{102,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{102,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0724.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{102,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{102,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0725.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{102,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{102,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0726.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{102,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{102,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0727.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,152},{104,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0728.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,152},{104,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0729.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,152},{104,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0730.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,152},{104,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0731.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,108},{102,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,154},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0732.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0733.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,218},{100,212}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0734.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{102,212}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,153},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0735.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{102,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{102,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0736.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,152},{104,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0737.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,108},{102,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,154},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0738.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,212}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0739.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,218},{100,212}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,154},{100,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0740.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{102,212}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,153},{102,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0741.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{102,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{102,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>boss_wyy0742.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,152},{104,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_stay_37.pvr.ccz</string>
            <key>size</key>
            <string>{508,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a55e182e20a2fbf76baa7399726c3ac5:1/1$</string>
            <key>textureFileName</key>
            <string>Role_stay_37.pvr.ccz</string>
        </dict>
    </dict>
</plist>
