<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_far_scene_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{896,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,493}}</string>
                <key>sourceSize</key>
                <string>{896,493}</string>
            </dict>
            <key>5_land_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,497},{429,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,95}}</string>
                <key>sourceSize</key>
                <string>{429,95}</string>
            </dict>
            <key>5_land_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{713,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{713,485}}</string>
                <key>sourceSize</key>
                <string>{713,485}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1500_c.pvr.ccz</string>
            <key>size</key>
            <string>{900,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d62f5752fd8a6e50a82c669da00e90c7:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1500_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
