<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_mid_scene_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{683,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,430}}</string>
                <key>sourceSize</key>
                <string>{683,430}</string>
            </dict>
            <key>2_mid_scene_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{565,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,386}}</string>
                <key>sourceSize</key>
                <string>{565,386}</string>
            </dict>
            <key>2_mid_scene_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,780},{159,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,209}}</string>
                <key>sourceSize</key>
                <string>{159,209}</string>
            </dict>
            <key>2_mid_scene_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,780},{263,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,239}}</string>
                <key>sourceSize</key>
                <string>{263,239}</string>
            </dict>
            <key>2_mid_scene_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,430},{389,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,350}}</string>
                <key>sourceSize</key>
                <string>{389,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1200_e.pvr.ccz</string>
            <key>size</key>
            <string>{808,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f3f724d1e1323787a0b34a136f6860:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1200_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
