<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8_far_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,391},{280,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,187}}</string>
                <key>sourceSize</key>
                <string>{280,187}</string>
            </dict>
            <key>8_far_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{926,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{926,299}}</string>
                <key>sourceSize</key>
                <string>{926,299}</string>
            </dict>
            <key>8_land_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,580},{231,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,261}}</string>
                <key>sourceSize</key>
                <string>{231,261}</string>
            </dict>
            <key>8_land_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,229},{750,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,110}}</string>
                <key>sourceSize</key>
                <string>{750,110}</string>
            </dict>
            <key>8_land_scene_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,229},{749,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,174}}</string>
                <key>sourceSize</key>
                <string>{749,174}</string>
            </dict>
            <key>8_land_scene_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,229},{323,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,160}}</string>
                <key>sourceSize</key>
                <string>{323,160}</string>
            </dict>
            <key>8_land_scene_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,391},{116,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,535}}</string>
                <key>sourceSize</key>
                <string>{116,535}</string>
            </dict>
            <key>8_mid_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,229},{58,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,91}}</string>
                <key>sourceSize</key>
                <string>{58,91}</string>
            </dict>
            <key>8_mid_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{681,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,225}}</string>
                <key>sourceSize</key>
                <string>{681,225}</string>
            </dict>
            <key>8_mid_scene_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,813},{122,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,257}}</string>
                <key>sourceSize</key>
                <string>{122,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1800_a.pvr.ccz</string>
            <key>size</key>
            <string>{991,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92a770e1f0ff1f78465d8102624be0a4:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1800_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
