<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_far_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{614,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,444}}</string>
                <key>sourceSize</key>
                <string>{614,444}</string>
            </dict>
            <key>0_land_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,346},{137,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{137,57}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
            <key>0_land_scene_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,869},{168,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{168,124}}</string>
                <key>sourceSize</key>
                <string>{168,126}</string>
            </dict>
            <key>0_land_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,606},{75,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,53}</string>
            </dict>
            <key>0_land_scene_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,485},{119,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,56}}</string>
                <key>sourceSize</key>
                <string>{119,56}</string>
            </dict>
            <key>0_land_scene_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{595,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,552}}</string>
                <key>sourceSize</key>
                <string>{595,552}</string>
            </dict>
            <key>0_land_scene_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{720,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,287}}</string>
                <key>sourceSize</key>
                <string>{720,287}</string>
            </dict>
            <key>0_land_scene_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{101,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,160}}</string>
                <key>sourceSize</key>
                <string>{101,160}</string>
            </dict>
            <key>0_land_scene_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,164},{180,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,78}}</string>
                <key>sourceSize</key>
                <string>{180,80}</string>
            </dict>
            <key>0_land_scene_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,869},{204,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,125}}</string>
                <key>sourceSize</key>
                <string>{204,125}</string>
            </dict>
            <key>0_land_scene_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,724},{309,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,143}}</string>
                <key>sourceSize</key>
                <string>{309,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1100_a.pvr.ccz</string>
            <key>size</key>
            <string>{1010,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:175e064d9f8e6bd5301a31fc67c1402f:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1100_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
