<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>90_land_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{628,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,245}}</string>
                <key>sourceSize</key>
                <string>{628,245}</string>
            </dict>
            <key>90_land_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,141},{743,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{743,231}}</string>
                <key>sourceSize</key>
                <string>{743,231}</string>
            </dict>
            <key>90_mid_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,141},{197,106}}</string>
                <key>offset</key>
                <string>{-269,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{197,106}}</string>
                <key>sourceSize</key>
                <string>{735,134}</string>
            </dict>
            <key>90_near_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{952,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{952,139}}</string>
                <key>sourceSize</key>
                <string>{952,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_9000_a.pvr.ccz</string>
            <key>size</key>
            <string>{954,619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbd13f7c1a8e861e5cee60197b7b9d63:1/1$</string>
            <key>textureFileName</key>
            <string>sence_9000_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
