<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_far_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{1020,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,156}}</string>
                <key>sourceSize</key>
                <string>{1020,156}</string>
            </dict>
            <key>3_far_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1020,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,156}}</string>
                <key>sourceSize</key>
                <string>{1020,156}</string>
            </dict>
            <key>3_far_scene_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{407,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,156}}</string>
                <key>sourceSize</key>
                <string>{407,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1300_b.pvr.ccz</string>
            <key>size</key>
            <string>{1020,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:925cc85c686cef31d2e3fdd6b1bc870d:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1300_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
