<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_near_scene_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,186},{183,751}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,751}}</string>
                <key>sourceSize</key>
                <string>{183,751}</string>
            </dict>
            <key>0_near_scene_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{358,233}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{358,233}}</string>
                <key>sourceSize</key>
                <string>{374,233}</string>
            </dict>
            <key>0_near_scene_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,371},{131,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,82}}</string>
                <key>sourceSize</key>
                <string>{131,82}</string>
            </dict>
            <key>0_near_scene_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{926,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{926,182}}</string>
                <key>sourceSize</key>
                <string>{926,182}</string>
            </dict>
            <key>0_near_scene_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,371},{626,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,111}}</string>
                <key>sourceSize</key>
                <string>{626,111}</string>
            </dict>
            <key>0_near_scene_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>0_near_scene_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,91},{46,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,84}}</string>
                <key>sourceSize</key>
                <string>{46,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1100_e.pvr.ccz</string>
            <key>size</key>
            <string>{1005,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c663c648d558e07394444b5153b85b71:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1100_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
