<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6_far_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{671,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,296}}</string>
                <key>sourceSize</key>
                <string>{671,296}</string>
            </dict>
            <key>6_far_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,779},{449,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,187}}</string>
                <key>sourceSize</key>
                <string>{449,187}</string>
            </dict>
            <key>6_land_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{465,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,368}}</string>
                <key>sourceSize</key>
                <string>{465,368}</string>
            </dict>
            <key>6_land_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,968},{31,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,167}}</string>
                <key>sourceSize</key>
                <string>{31,167}</string>
            </dict>
            <key>6_land_scene_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{785,168}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{785,168}}</string>
                <key>sourceSize</key>
                <string>{785,174}</string>
            </dict>
            <key>6_land_scene_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,653},{124,523}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,523}}</string>
                <key>sourceSize</key>
                <string>{124,523}</string>
            </dict>
            <key>6_mid_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,779},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>6_mid_scene_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,276},{201,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,168}}</string>
                <key>sourceSize</key>
                <string>{201,168}</string>
            </dict>
            <key>6_mid_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,178},{173,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,96}}</string>
                <key>sourceSize</key>
                <string>{173,96}</string>
            </dict>
            <key>6_near_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{211,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,174}}</string>
                <key>sourceSize</key>
                <string>{211,174}</string>
            </dict>
            <key>6_near_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{181,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,768}}</string>
                <key>sourceSize</key>
                <string>{181,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1600_a.pvr.ccz</string>
            <key>size</key>
            <string>{994,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cc1eca5095eabd618baae18975056a0:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1600_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
