<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_mid_scene_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{440,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,568}}</string>
                <key>sourceSize</key>
                <string>{440,568}</string>
            </dict>
            <key>0_mid_scene_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,508},{213,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,189}}</string>
                <key>sourceSize</key>
                <string>{213,189}</string>
            </dict>
            <key>0_mid_scene_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{581,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,463}}</string>
                <key>sourceSize</key>
                <string>{581,463}</string>
            </dict>
            <key>0_near_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{83,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,768}}</string>
                <key>sourceSize</key>
                <string>{83,768}</string>
            </dict>
            <key>0_near_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{88,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,768}}</string>
                <key>sourceSize</key>
                <string>{88,768}</string>
            </dict>
            <key>0_near_scene_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>0_near_scene_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,231},{150,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,176}}</string>
                <key>sourceSize</key>
                <string>{150,176}</string>
            </dict>
            <key>0_near_scene_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{504,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,60}}</string>
                <key>sourceSize</key>
                <string>{506,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1100_c.pvr.ccz</string>
            <key>size</key>
            <string>{898,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c33279938af875f004b3181da16762b:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1100_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
