<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_mid_scene_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,467},{1020,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,185}}</string>
                <key>sourceSize</key>
                <string>{1020,185}</string>
            </dict>
            <key>7_near_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,286},{546,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,180}}</string>
                <key>sourceSize</key>
                <string>{546,180}</string>
            </dict>
            <key>7_near_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,183},{844,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,102}}</string>
                <key>sourceSize</key>
                <string>{844,102}</string>
            </dict>
            <key>7_near_scene_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1},{475,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,81}}</string>
                <key>sourceSize</key>
                <string>{475,81}</string>
            </dict>
            <key>7_near_scene_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{759,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{759,99}}</string>
                <key>sourceSize</key>
                <string>{759,99}</string>
            </dict>
            <key>7_near_scene_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{355,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,66}}</string>
                <key>sourceSize</key>
                <string>{355,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1700_e.pvr.ccz</string>
            <key>size</key>
            <string>{1022,653}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cff29d5d14e589f6a28e65a6a0cf0d4:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1700_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
