<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_land_scene_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,485}}</string>
                <key>sourceSize</key>
                <string>{553,485}</string>
            </dict>
            <key>5_land_scene_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,685},{182,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,164}}</string>
                <key>sourceSize</key>
                <string>{182,164}</string>
            </dict>
            <key>5_land_scene_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{539,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,342}}</string>
                <key>sourceSize</key>
                <string>{539,342}</string>
            </dict>
            <key>5_land_scene_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,685},{286,228}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{286,228}}</string>
                <key>sourceSize</key>
                <string>{294,230}</string>
            </dict>
            <key>5_mid_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{681,423}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,423}}</string>
                <key>sourceSize</key>
                <string>{685,423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1500_d.pvr.ccz</string>
            <key>size</key>
            <string>{997,915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d83a2601b1a1dfb302a9a2f4227a76f0:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1500_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
