<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>90_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{292,32}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{292,32}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>90_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{306,32}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{306,32}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>90_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{306,32}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,35},{306,32}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>90_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{306,32}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{306,32}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>90_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{306,32}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{306,32}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>90_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,32}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{306,32}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>90_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{304,32}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{304,32}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>90_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{304,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{304,30}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_9000_c.pvr.ccz</string>
            <key>size</key>
            <string>{310,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:514eaa12be4ec33e4a5e61fd5b62ad0d:1/1$</string>
            <key>textureFileName</key>
            <string>sence_9000_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
