<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_land_scene_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,846},{118,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,93}}</string>
                <key>sourceSize</key>
                <string>{118,93}</string>
            </dict>
            <key>0_land_scene_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,782},{105,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,66}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>0_land_scene_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,508},{127,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,85}}</string>
                <key>sourceSize</key>
                <string>{127,85}</string>
            </dict>
            <key>0_land_scene_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,508},{248,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,204}}</string>
                <key>sourceSize</key>
                <string>{250,204}</string>
            </dict>
            <key>0_land_scene_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{85,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,500}}</string>
                <key>sourceSize</key>
                <string>{85,500}</string>
            </dict>
            <key>0_land_scene_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,714},{66,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,493}}</string>
                <key>sourceSize</key>
                <string>{66,493}</string>
            </dict>
            <key>0_land_scene_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{113,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,504}}</string>
                <key>sourceSize</key>
                <string>{113,504}</string>
            </dict>
            <key>0_land_scene_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,908},{60,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,497}}</string>
                <key>sourceSize</key>
                <string>{60,497}</string>
            </dict>
            <key>0_land_scene_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,626},{213,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,77}}</string>
                <key>sourceSize</key>
                <string>{213,77}</string>
            </dict>
            <key>0_land_scene_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,506},{266,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,86}}</string>
                <key>sourceSize</key>
                <string>{266,86}</string>
            </dict>
            <key>0_land_scene_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,514},{308,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,169}}</string>
                <key>sourceSize</key>
                <string>{308,169}</string>
            </dict>
            <key>0_land_scene_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,517},{170,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,107}}</string>
                <key>sourceSize</key>
                <string>{170,107}</string>
            </dict>
            <key>0_land_scene_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,824},{153,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,146}}</string>
                <key>sourceSize</key>
                <string>{155,146}</string>
            </dict>
            <key>0_land_scene_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,833},{122,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,57}}</string>
                <key>sourceSize</key>
                <string>{122,57}</string>
            </dict>
            <key>0_land_scene_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{109,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,103}}</string>
                <key>sourceSize</key>
                <string>{111,103}</string>
            </dict>
            <key>0_land_scene_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,637},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>0_land_scene_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{308,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,169}}</string>
                <key>sourceSize</key>
                <string>{308,169}</string>
            </dict>
            <key>0_land_scene_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{139,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,500}}</string>
                <key>sourceSize</key>
                <string>{139,500}</string>
            </dict>
            <key>0_land_scene_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{138,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,502}}</string>
                <key>sourceSize</key>
                <string>{138,502}</string>
            </dict>
            <key>0_land_scene_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,846},{60,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,497}}</string>
                <key>sourceSize</key>
                <string>{60,497}</string>
            </dict>
            <key>0_land_scene_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{113,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,504}}</string>
                <key>sourceSize</key>
                <string>{113,504}</string>
            </dict>
            <key>0_land_scene_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{131,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,510}}</string>
                <key>sourceSize</key>
                <string>{131,510}</string>
            </dict>
            <key>0_land_scene_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,782},{62,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,510}}</string>
                <key>sourceSize</key>
                <string>{62,510}</string>
            </dict>
            <key>0_land_scene_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{108,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,513}}</string>
                <key>sourceSize</key>
                <string>{108,513}</string>
            </dict>
            <key>0_land_scene_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,519}}</string>
                <key>sourceSize</key>
                <string>{141,519}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1100_b.pvr.ccz</string>
            <key>size</key>
            <string>{988,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c54892799ffb807fa0b53a51fac9f355:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1100_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
