<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_far_scene_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{837,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,258}}</string>
                <key>sourceSize</key>
                <string>{837,258}</string>
            </dict>
            <key>4_far_scene_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1022,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1022,197}}</string>
                <key>sourceSize</key>
                <string>{1022,197}</string>
            </dict>
            <key>4_far_scene_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,0},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>4_land_scene_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,837},{166,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,75}}</string>
                <key>sourceSize</key>
                <string>{166,75}</string>
            </dict>
            <key>4_land_scene_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,272},{200,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,253}}</string>
                <key>sourceSize</key>
                <string>{200,253}</string>
            </dict>
            <key>4_land_scene_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,747},{228,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,103}}</string>
                <key>sourceSize</key>
                <string>{228,103}</string>
            </dict>
            <key>4_land_scene_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,837},{168,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,75}}</string>
                <key>sourceSize</key>
                <string>{168,75}</string>
            </dict>
            <key>4_land_scene_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,837},{168,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,66}}</string>
                <key>sourceSize</key>
                <string>{168,66}</string>
            </dict>
            <key>4_land_scene_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{315,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,272}}</string>
                <key>sourceSize</key>
                <string>{315,272}</string>
            </dict>
            <key>4_land_scene_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,272},{477,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,270}}</string>
                <key>sourceSize</key>
                <string>{477,270}</string>
            </dict>
            <key>4_land_scene_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,837},{103,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,178}}</string>
                <key>sourceSize</key>
                <string>{103,178}</string>
            </dict>
            <key>4_land_scene_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,525},{222,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,143}}</string>
                <key>sourceSize</key>
                <string>{222,143}</string>
            </dict>
            <key>4_land_scene_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,749},{300,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,261}}</string>
                <key>sourceSize</key>
                <string>{300,261}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1400_b.pvr.ccz</string>
            <key>size</key>
            <string>{925,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5adb5b0e2f0cd0b172da22d26df6499b:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1400_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
