<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6_mid_scene_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,650},{98,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,121}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>6_mid_scene_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{745,646}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{745,646}}</string>
                <key>sourceSize</key>
                <string>{745,646}</string>
            </dict>
            <key>6_mid_scene_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,773},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>6_mid_scene_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,693},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>6_mid_scene_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,854},{177,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,147}}</string>
                <key>sourceSize</key>
                <string>{177,147}</string>
            </dict>
            <key>6_mid_scene_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,452},{400,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,182}}</string>
                <key>sourceSize</key>
                <string>{400,182}</string>
            </dict>
            <key>6_mid_scene_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,854},{167,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,164}}</string>
                <key>sourceSize</key>
                <string>{167,164}</string>
            </dict>
            <key>6_mid_scene_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{632,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,371}}</string>
                <key>sourceSize</key>
                <string>{632,371}</string>
            </dict>
            <key>6_mid_scene_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,773},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>6_mid_scene_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,649},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>6_mid_scene_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,505},{70,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,98}}</string>
                <key>sourceSize</key>
                <string>{70,98}</string>
            </dict>
            <key>6_mid_scene_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,605},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>6_mid_scene_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{448,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,263}}</string>
                <key>sourceSize</key>
                <string>{448,263}</string>
            </dict>
            <key>6_mid_scene_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,452},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1600_b.pvr.ccz</string>
            <key>size</key>
            <string>{1014,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:524935955ac2593f64644be0db7af48c:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1600_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
