<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_land_scene_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,929},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>4_land_scene_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,929},{211,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,74}}</string>
                <key>sourceSize</key>
                <string>{211,74}</string>
            </dict>
            <key>4_land_scene_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,863},{160,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,108}}</string>
                <key>sourceSize</key>
                <string>{160,108}</string>
            </dict>
            <key>4_land_scene_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,953},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>4_land_scene_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1006,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1006,586}}</string>
                <key>sourceSize</key>
                <string>{1006,586}</string>
            </dict>
            <key>4_land_scene_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,863},{55,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,90}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>4_land_scene_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,848},{275,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,154}}</string>
                <key>sourceSize</key>
                <string>{275,154}</string>
            </dict>
            <key>4_land_scene_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{318,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,149}}</string>
                <key>sourceSize</key>
                <string>{318,149}</string>
            </dict>
            <key>4_land_scene_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,780},{116,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,155}}</string>
                <key>sourceSize</key>
                <string>{116,155}</string>
            </dict>
            <key>4_land_scene_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{510,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,194}}</string>
                <key>sourceSize</key>
                <string>{510,194}</string>
            </dict>
            <key>4_land_scene_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,586},{291,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,262}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>4_land_scene_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,586},{162,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,277}}</string>
                <key>sourceSize</key>
                <string>{162,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sence_1400_c.pvr.ccz</string>
            <key>size</key>
            <string>{1006,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:074b1f16f47479cd834895456400b7c9:1/1$</string>
            <key>textureFileName</key>
            <string>sence_1400_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
